Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

deps: Update all non-major dependencies
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dapp: Lower codecov target
  codecov.yml
Due: none

dapp: adapt home page disclaimer for mainnet
  raiden-dapp/src/locales/en.json
Due: dapp

deps: Lock file maintenance typescript
  .github/actions/changelog-reminder/package-lock.json
  package.json
  raiden-cli/package.json
  raiden-dapp/Gemfile.lock
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

cli: extend and improve package.json for releases
  raiden-cli/package.json
Due: none

cli: extend ci setup to release on npm registry
  .circleci/config.yml
Due: none

cli: extend readme on how to run the CLI
  raiden-cli/README.md
Due: none

cli: extend changelog for NPM registry releases
  raiden-cli/CHANGELOG.md
Due: none

cli: adapt package to be installable and executable
  .circleci/config.yml
  raiden-cli/package.json
  raiden-cli/raiden
Due: none

cli: put package into the @raiden_network namespace
  .circleci/config.yml
  prepare-release.sh
  raiden-cli/README.md
  raiden-cli/package.json
  raiden-cli/raiden
Due: none

cli: use the build instead of bundle to publish
  .circleci/config.yml
Due: none

dapp: allow mainnet for production build
  raiden-dapp/.env.production
Due: dapp

sdk: confirm confirmation for channel open & deposit
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: fix tests and add changelog entries to confirmConfirmation
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

cli: publish package without tarball
  .circleci/config.yml
  raiden-cli/package.json
Due: none

chore: Add NOTICE file [skip ci]
  NOTICE.md
Due: none

sdk: improve docstring for waitConfirmation helper
  raiden-ts/src/helpers.ts
Due: sdk, sdk_integration

dapp: fix service worker registration
  raiden-dapp/src/plugins/service-worker-assistant-plugin.ts
Due: dapp

dapp: fix caching of too big vendor chunk
  raiden-dapp/vue.config.js
Due: dapp

Prepare release
  package.json
  raiden-cli/CHANGELOG.md
  raiden-cli/package.json
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

codecov: fix codecov's dapp config
  codecov.yml
Due: none

next: sdk: send service messages through toDevice
  raiden-ts/src/transport/epics/messages.ts
Due: sdk, sdk_integration

next: sdk: don't join PFS & MS global rooms
  raiden-ts/src/config.ts
  raiden-ts/src/transport/epics/helpers.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
