Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Enforce Secret size (already enforced by SCs)
  raiden-ts/src/utils/types.ts
Due: sdk

Simplify raidenConfigUpdate action
  raiden-ts/src/actions.ts
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/reducer.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Accepts Unlock request even after expiration, if secret registered
  raiden-ts/src/transfers/epics.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
Due: sdk

Changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk

Emit transfer.success on confirmed secret register
  raiden-ts/src/transfers/epics.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
Due: sdk

Set RaidenSentTransfer status as 'registered'
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk

Refactor transfer tests for action$/state$, add secret registry tests
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Include SecretRegistry in ContractsInfo
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Move state.secrets to state.sent, adds monitorSecretRegistryEpic
  raiden-ts/src/actions.ts
  raiden-ts/src/migration/1.ts
  raiden-ts/src/migration/index.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/state.spec.ts
  raiden-ts/tests/unit/states/1_full.json
  raiden-ts/tests/unit/states/1_min.json
Due: sdk

Don't expire transfer if secret got registered
  raiden-ts/src/transfers/epics.ts
Due: sdk

Adding SDK-Development to repo
  raiden-ts/SDK-Development.md
Due: sdk

Link to SDK Dev document in README and adding header
  raiden-ts/README.md
  raiden-ts/SDK-Development.md
Due: sdk

Fixing broken link and removing Wiki reference
  docs/sdk-docs/README.md
  raiden-ts/README.md
Due: sdk

Changed error handling for pathfinding and UDC deposit to error message
  raiden-dapp/src/components/ErrorDialog.vue
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/MintDepositDialog.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/OpenChannel.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Export RaidenError from raiden-ts index file
  raiden-dapp/src/components/ErrorDialog.vue
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/MintDepositDialog.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/views/OpenChannel.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/src/views/TransferSteps.vue
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/index.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/unit/actions.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: dapp, sdk

Fixed unit tests
  raiden-dapp/tests/unit/components/mint-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/components/pathfinding-services.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/views/open-channel.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps.spec.ts
  raiden-dapp/tests/unit/views/transfer.spec.ts
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
  raiden-dapp/tests/unit/views/open-channel.spec.ts
Due: dapp

PFS error message handling (#1077)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/ErrorDialog.vue
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/MintDepositDialog.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/OpenChannel.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/src/views/TransferSteps.vue
  raiden-dapp/tests/unit/components/mint-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/components/pathfinding-services.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/views/open-channel.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps.spec.ts
  raiden-dapp/tests/unit/views/transfer.spec.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/index.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/unit/actions.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: dapp, sdk

Made backdrop of RaidenDialog fullscreen
  raiden-dapp/src/components/RaidenDialog.vue
Due: dapp

Made backdrop of RaidenDialog fullscreen (#1079)
  raiden-dapp/src/components/RaidenDialog.vue
Due: dapp

Split transfers epics in their own submodule
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/epics/close.ts
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/index.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/epics/refund.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/utils.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk

Fix some codeclimate issues
  raiden-ts/src/transfers/epics/close.ts
  raiden-ts/src/transfers/epics/refund.ts
  raiden-ts/src/transfers/epics/retry.ts
Due: sdk

Implement isMessageReceivedOfType helper to reduce complexity
  raiden-ts/src/messages/actions.ts
  raiden-ts/src/messages/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/epics/refund.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transport/epics.ts
Due: sdk

Deduplicate and merge *RetryMessageEpic
  raiden-ts/src/transfers/epics/close.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
Due: sdk

Various mobile viewport fixes for splash and transfer screen
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/ActionButton.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/components/Stepper.vue
  raiden-dapp/src/main.scss
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/src/scss/mixins.scss
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Various mobile viewport fixes for splash and transfer screen (#1080)
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/ActionButton.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/components/Stepper.vue
  raiden-dapp/src/main.scss
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/src/scss/mixins.scss
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
