Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

Adjust for mobile
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/transaction-history/TransactionList.vue
  raiden-dapp/src/components/transfer/TransferInputs.vue
  raiden-dapp/src/components/transfer/TransferMenus.vue
Due: dapp

sdk: remove lossless-json dependencies
  pnpm-lock.yaml
  raiden-ts/package.json
Due: sdk, sdk_integration

sdk: remove lossless-json usage, replace with plain JSON functions
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/state.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

cli: bump target & lib to ES2019 (NodeJS 12 LTS)
  raiden-cli/package.json
  raiden-cli/tsconfig.json
Due: none

sdk: bump target/libs to ES2019
  raiden-ts/package.json
  raiden-ts/src/tsconfig.json
  raiden-ts/tests/tsconfig.json
  raiden-ts/tsconfig.cjs.json
  raiden-ts/tsconfig.json
Due: sdk, sdk_integration

sdk: add changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Started adding TransferMenus tests
  raiden-dapp/tests/unit/components/transfer/transfer-menus.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 59e7662e643e5b0a17db8b46a44d29b471b0263d [skip ci]
  staging/index.html
  staging/js/app.00714e17.js
  staging/js/app.05f54ebf.js
  staging/precache-manifest.3d0502316b2ead0a939137c2f406cd3c.js
  staging/service-worker.js
Due: none

sdk: some improvements to refinement types
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

sdk: make timed an extended object instead of a tuple
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/global.d.ts
  raiden-ts/src/messages/types.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/epics/close.ts
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/epics/refund.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

sdk: add migrations and fix tests for timed objects
  raiden-ts/src/migration/6.ts
  raiden-ts/src/migration/index.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/receive.spec.ts
  raiden-ts/tests/unit/epics/send.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/states/6_full.json
  raiden-ts/tests/unit/states/6_min.json
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

Finish adding tests for TransferMenus component
  raiden-dapp/src/components/transfer/TransferMenus.vue
  raiden-dapp/tests/unit/components/transfer/transfer-menus.spec.ts
Due: dapp

TransferInputs test
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
  raiden-dapp/tests/unit/components/transfer/transfer-inputs.spec.ts
  raiden-dapp/tests/unit/components/transfer/transfer-menus.spec.ts
Due: dapp

Lint errors
  raiden-dapp/src/components/transfer/TransferInputs.vue
Due: dapp

Transfer component tests
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Getting open channel and token from mock data
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 0abfd9ee9d4359b150048f7018dd13fe07175086 [skip ci]
  staging/index.html
  staging/js/app.05f54ebf.js
  staging/js/app.1d1fae88.js
  staging/js/chunk-vendors.31e903b9.js
  staging/js/chunk-vendors.f30bbac0.js
  staging/precache-manifest.495d6af4beb99046dd0824960db5067b.js
  staging/service-worker.js
Due: none

Standalone predicate for expired transfers
  raiden-ts/src/transfers/epics/expire.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 934055dd6edb8ba9359acf0bc628076f5699f0e8 [skip ci]
  staging/index.html
  staging/js/app.1d1fae88.js
  staging/js/app.fc970d45.js
  staging/precache-manifest.24388d6eff83b59405779ee0ad713eb7.js
  staging/service-worker.js
Due: none

Standalone predicate for expired transfers
  raiden-ts/src/transfers/reducer.ts
Due: sdk, sdk_integration

Re-Writing the monitorRequestEpic test
  raiden-ts/tests/unit/epics/monitor.spec.ts
Due: sdk, sdk_integration

removing old tests from monitor.spec.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
Due: sdk, sdk_integration

Writing all the monitorRequestEpic tests in new pattern
  raiden-ts/tests/unit/epics/monitor.spec.ts
Due: sdk, sdk_integration

dependencies: Update all non-major dependencies
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Addresses review feedback
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/transfer/TransferHeaders.vue
  raiden-dapp/tests/unit/components/transfer/transfer-menus.spec.ts
Due: dapp
