Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

dependencies: Update typescript-eslint monorepo to v3.3.0
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency stylelint-scss to v3.18.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

sdk: Expose secret on public interface RaidenTransfer
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

sdk: Add changelog for interface changes
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

cli,dApp: Change optional operators
  raiden-cli/src/utils/channels.ts
  raiden-dapp/src/components/navigation/Channels.vue
Due: dapp

sdk: Make public RaidenChannel id, settleTimeout & openBlock required
  raiden-ts/src/channels/state.ts
Due: sdk, sdk_integration

sdk: Add changelog for deposit on openChannel error fix
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: Properly handle estimateGas errors on channelOpen
  raiden-ts/src/channels/epics.ts
Due: sdk, sdk_integration

sdk: add decoding errors for doing a transfer
  raiden-ts/CHANGELOG.md
  raiden-ts/src/errors.json
  raiden-ts/src/raiden.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk, sdk_integration

cli: implement payment endpoints
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/types.ts
  raiden-cli/src/utils/payments.ts
  raiden-cli/src/utils/validation.ts
Due: none

Passing filtered as value to message
  raiden-dapp/src/utils/logstore.ts
Due: dapp

dApp: Serialized error messages for logs (#1742)
  raiden-dapp/src/utils/logstore.ts
Due: dapp

dependencies: Update dependency webpack-cli to v3.3.12
  raiden-cli/package-lock.json
  raiden-cli/package.json
Due: none

cli: enrich transfer errors with PFS error details
  raiden-cli/src/routes/payments.ts
Due: none

infra: Introduce artifact persistence on CI
  .circleci/config.yml
Due: none

infra: Introduce artifact persistence on CI (#1745)
  .circleci/config.yml
Due: none

dependencies: Update dependency vue-property-decorator to v8.5.1
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency vue-property-decorator to v9
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

cli: fix linting and formatting
  raiden-cli/src/utils/payments.ts
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

dapp: build for different modes on CircleCI
  .circleci/config.yml
Due: none

dependencies: Lock file maintenance
  .github/actions/changelog-reminder/package-lock.json
  raiden-cli/package-lock.json
  raiden-dapp/package-lock.json
  raiden-ts/package-lock.json
Due: dapp, sdk, sdk_integration

infra: Fixes workflow for deployment to gh pages
  .circleci/config.yml
Due: none

infra: Fixes workflow for deployment to gh pages (#1760)
  .circleci/config.yml
Due: none

Use relative ./ publicPath on vue's webpack config
  raiden-dapp/src/router/index.ts
  raiden-dapp/vue.config.js
Due: dapp

Introduce serve_pr docker-compose and script
  serve_pr/ci_dapp.sh
  serve_pr/docker-compose.yml
  serve_pr/nginx.conf
Due: none

Build for development on PRs and export .tar.gz artifact
  .circleci/config.yml
Due: none

Fix multiple workflows and add .gitignore
  serve_pr/.gitignore
  serve_pr/ci_dapp.sh
Due: none

Use tar.bz2, port 8080 and add Readme
  .circleci/config.yml
  serve_pr/README.md
  serve_pr/ci_dapp.sh
  serve_pr/docker-compose.yml
  serve_pr/nginx.conf
Due: none

Automated deployment to GitHub Pages: 300a65427ea66b6fd4a7a50bc4c4a22d4dde4d6d [skip ci]
  staging/index.html
  staging/js/app.93069ed1.js
  staging/js/app.f47241f0.js
  staging/js/chunk-vendors.0baff648.js
  staging/precache-manifest.59acb94977fc41cddf88596c3f03719f.js
  staging/precache-manifest.5fa3beb955ce79a39e14a3732740036c.js
  staging/service-worker.js
Due: none

dapp: Fix non-informative error message on SDK's wrapped errors
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

sdk: adjust monitor request epic default behavior
  raiden-ts/CHANGELOG.md
  raiden-ts/src/epics.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 0adf39a9ec32cbfacb98526276d67294f38ab93e [skip ci]
  staging/index.html
  staging/js/app.0ad7c84d.js
  staging/js/app.93069ed1.js
  staging/precache-manifest.e6398d2ba5e5a965f9ef4033526f51aa.js
  staging/service-worker.js
Due: none
