Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dapp: adopt design of channel open route
  raiden-dapp/src/views/OpenChannelRoute.vue
Due: dapp

Automated deployment to GitHub Pages: 841f3891dec11cad503c045385a00e14157924ff [skip ci]
  staging/js/21.js
Due: none

dapp: fix back-button navigation to remember token
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
Due: dapp

dapp: extend changelog for navigation token issue
  raiden-dapp/CHANGELOG.md
Due: dapp

dApp: initial code and test for receiving snackbar
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/ReceivingOngoingSnackbar.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/receiving-ongoing-snackbar.spec.ts
Due: dapp

dApp: fix flickering of ongoing transfer snackbar
  raiden-dapp/src/components/ReceivingOngoingSnackbar.vue
  raiden-dapp/tests/unit/receiving-ongoing-snackbar.spec.ts
  raiden-dapp/tests/unit/utils/data-generator.ts
Due: dapp

dapp: extend changelog for ongoing transfer hint
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 9884205a9f3aa70c3206f74a077bac82fe735a47 [skip ci]
  staging/js/app.js
Due: none

dapp: add navigation for notification snackbars
  raiden-dapp/src/components/notification-panel/NotificationSnackbar.vue
  raiden-dapp/tests/unit/components/notification-panel/notification-snackbar.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
Due: dapp

dapp: extend changelog for notification navigation
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 14c9278dc32bd09812d46091062b9fd6017f550f [skip ci]
  staging/js/app.js
Due: none

sdk: simplify createReducer types
  raiden-ts/src/utils/actions.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 1374f246d21742442f963811eca63e465f063523 [skip ci]
  staging/js/app.js
Due: none

dapp: Fix TransferHeader behaviour with no available capacity
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/transfer/TransferHeaders.vue
  raiden-dapp/tests/unit/components/transfer/transfer-headers.spec.ts
Due: dapp

sdk: some presence cleanups
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

sdk: improvements to matrix login/register workflow
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/utils/error.ts
Due: sdk, sdk_integration

sdk: also use RTC channel state as presence indicator
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

sdk: fix tests for register fixes
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Revert "deps: Update dependency source-map-loader to v2"
  raiden-dapp/package.json
  yarn.lock
Due: dapp

Automated deployment to GitHub Pages: c229014e4bbdfd7b8e39b6df9e4f6d63955c757e [skip ci]
  staging/js/11.js
Due: none

Automated deployment to GitHub Pages: a0dfa85b9aaed51ac66946db8934807bb9f052f1 [skip ci]
  staging/js/app.js
Due: none

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dApp: Adjusting README for mainnet release
  README.md
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
