Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

comment:
  after_n_builds: 2

Allow non-https PFS addresses if not running on production
  raiden-ts/src/helpers.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/tests/unit/helpers.spec.ts
Due: sdk

Add changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk

Automated deployment to GitHub Pages: 2b1b31dab5de420727230ce6a7115a42f171101d [skip ci]
  staging/index.html
  staging/js/app.1763eec7.js
  staging/js/app.ff53fed9.js
  staging/js/chunk-27f3174b.5f77ba5e.js
  staging/js/chunk-27f3174b.696e3873.js
  staging/js/chunk-2a7c1c36.91150986.js
  staging/js/chunk-2a7c1c36.a91eafe8.js
  staging/js/chunk-49ba97a0.3c17f997.js
  staging/js/chunk-49ba97a0.65411055.js
  staging/js/chunk-4c34ba5c.56d65042.js
  staging/js/chunk-4c34ba5c.9a14875d.js
  staging/js/chunk-501c040c.704db8bc.js
  staging/js/chunk-501c040c.9a15a929.js
  staging/js/chunk-552b1730.3a5a6464.js
  staging/js/chunk-552b1730.5af8b01e.js
  staging/js/chunk-5e7189c2.8ee1f500.js
  staging/js/chunk-5e7189c2.eed2dc99.js
  staging/js/chunk-b14359ce.4fb8f868.js
  staging/js/chunk-b14359ce.e1806c7e.js
  staging/js/chunk-d3b2fbc4.385a153e.js
  staging/js/chunk-d3b2fbc4.6006b82b.js
  staging/precache-manifest.08e78d5cebe7d0d4c93f2629c111bd81.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 4098aac4969960970676b9e35f3bf72c454ae3f8 [skip ci]
  staging/index.html
  staging/js/app.1763eec7.js
  staging/js/app.ff53fed9.js
  staging/js/chunk-27f3174b.5f77ba5e.js
  staging/js/chunk-27f3174b.696e3873.js
  staging/js/chunk-2a7c1c36.91150986.js
  staging/js/chunk-2a7c1c36.a91eafe8.js
  staging/js/chunk-49ba97a0.3c17f997.js
  staging/js/chunk-49ba97a0.65411055.js
  staging/js/chunk-4c34ba5c.56d65042.js
  staging/js/chunk-4c34ba5c.9a14875d.js
  staging/js/chunk-501c040c.704db8bc.js
  staging/js/chunk-501c040c.9a15a929.js
  staging/js/chunk-552b1730.3a5a6464.js
  staging/js/chunk-552b1730.5af8b01e.js
  staging/js/chunk-5e7189c2.8ee1f500.js
  staging/js/chunk-5e7189c2.eed2dc99.js
  staging/js/chunk-b14359ce.4fb8f868.js
  staging/js/chunk-b14359ce.e1806c7e.js
  staging/js/chunk-d3b2fbc4.385a153e.js
  staging/js/chunk-d3b2fbc4.6006b82b.js
  staging/precache-manifest.5ea6d1d198babb0f19d5b3413f01f9a0.js
  staging/service-worker.js
Due: none

Match URLs or domains with ports
  raiden-ts/src/helpers.ts
  raiden-ts/src/path/utils.ts
Due: sdk

Automated deployment to GitHub Pages: 1cb2cae8a0be15bd9af6c0e3db162e6ad5f5cd26 [skip ci]
  staging/index.html
  staging/js/app.05f2163e.js
  staging/js/app.1763eec7.js
  staging/js/chunk-27f3174b.07b66501.js
  staging/js/chunk-27f3174b.696e3873.js
  staging/js/chunk-2a7c1c36.91150986.js
  staging/js/chunk-2a7c1c36.a91eafe8.js
  staging/js/chunk-49ba97a0.3c17f997.js
  staging/js/chunk-49ba97a0.65411055.js
  staging/js/chunk-4c34ba5c.56d65042.js
  staging/js/chunk-4c34ba5c.9a14875d.js
  staging/js/chunk-501c040c.64c1b05e.js
  staging/js/chunk-501c040c.704db8bc.js
  staging/js/chunk-552b1730.3a5a6464.js
  staging/js/chunk-552b1730.c13c80a0.js
  staging/js/chunk-5e7189c2.8ee1f500.js
  staging/js/chunk-5e7189c2.eed2dc99.js
  staging/js/chunk-b14359ce.4fb8f868.js
  staging/js/chunk-b14359ce.e1806c7e.js
  staging/js/chunk-d3b2fbc4.232507d7.js
  staging/js/chunk-d3b2fbc4.385a153e.js
  staging/precache-manifest.1d17ef08044957129f9f02857e2dd488.js
  staging/service-worker.js
Due: none

Test domain-only PFS
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Automated deployment to GitHub Pages: a6e456554a56b63aa8306478333257acc44e7775 [skip ci]
  staging/index.html
  staging/js/app.05f2163e.js
  staging/js/app.742e1da0.js
  staging/js/chunk-27f3174b.07b66501.js
  staging/js/chunk-27f3174b.fa296973.js
  staging/js/chunk-2a7c1c36.56cb78b8.js
  staging/js/chunk-2a7c1c36.a91eafe8.js
  staging/js/chunk-488fc1f2.0230bd51.js
  staging/js/chunk-488fc1f2.a01577ae.js
  staging/js/chunk-49ba97a0.3c17f997.js
  staging/js/chunk-49ba97a0.475026be.js
  staging/js/chunk-4c34ba5c.56d65042.js
  staging/js/chunk-4c34ba5c.d7c2f3eb.js
  staging/js/chunk-501c040c.64c1b05e.js
  staging/js/chunk-501c040c.ea49be39.js
  staging/js/chunk-552b1730.c13c80a0.js
  staging/js/chunk-552b1730.ec91f8a0.js
  staging/js/chunk-5e7189c2.2475ba6c.js
  staging/js/chunk-5e7189c2.eed2dc99.js
  staging/js/chunk-b14359ce.2f91c707.js
  staging/js/chunk-b14359ce.e1806c7e.js
  staging/js/chunk-d3b2fbc4.232507d7.js
  staging/js/chunk-d3b2fbc4.596fb8cf.js
  staging/js/chunk-e17a21de.1fadf728.js
  staging/js/chunk-e17a21de.82747369.js
  staging/precache-manifest.02a59320c277de0c3e4811fa109e695e.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: df21f7211894b43b2892e2bf8014fa5a2ee6078f [skip ci]
  staging/index.html
  staging/js/app.5c08748a.js
  staging/js/app.742e1da0.js
  staging/js/chunk-27f3174b.01d1d5a4.js
  staging/js/chunk-27f3174b.fa296973.js
  staging/js/chunk-2a7c1c36.56cb78b8.js
  staging/js/chunk-2a7c1c36.5fe1a7c6.js
  staging/js/chunk-488fc1f2.3e926905.js
  staging/js/chunk-488fc1f2.a01577ae.js
  staging/js/chunk-49ba97a0.2486d20d.js
  staging/js/chunk-49ba97a0.475026be.js
  staging/js/chunk-4c34ba5c.cca5a4c2.js
  staging/js/chunk-4c34ba5c.d7c2f3eb.js
  staging/js/chunk-501c040c.406f1d89.js
  staging/js/chunk-501c040c.ea49be39.js
  staging/js/chunk-552b1730.876a3a94.js
  staging/js/chunk-552b1730.ec91f8a0.js
  staging/js/chunk-5e7189c2.2475ba6c.js
  staging/js/chunk-5e7189c2.49ff5076.js
  staging/js/chunk-b14359ce.2f91c707.js
  staging/js/chunk-b14359ce.b6b24b47.js
  staging/js/chunk-d3b2fbc4.3d334393.js
  staging/js/chunk-d3b2fbc4.596fb8cf.js
  staging/js/chunk-e17a21de.7c4c3278.js
  staging/js/chunk-e17a21de.82747369.js
  staging/precache-manifest.3e0214bf07473079fc115eb8569b4e75.js
  staging/service-worker.js
Due: none

Allow non-https PFS addresses if not running on production (#1344)
  raiden-ts/CHANGELOG.md
  raiden-ts/src/helpers.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/tests/unit/helpers.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Automated deployment to GitHub Pages: d4d82523580f166b3b2f2e9f90941ce59be91a3e [skip ci]
  staging/index.html
  staging/js/app.5b482658.js
  staging/js/app.5c08748a.js
  staging/js/chunk-27f3174b.01d1d5a4.js
  staging/js/chunk-27f3174b.47281578.js
  staging/js/chunk-2a7c1c36.14d1f19d.js
  staging/js/chunk-2a7c1c36.5fe1a7c6.js
  staging/js/chunk-488fc1f2.3e926905.js
  staging/js/chunk-488fc1f2.d1a56757.js
  staging/js/chunk-49ba97a0.2486d20d.js
  staging/js/chunk-49ba97a0.560ef721.js
  staging/js/chunk-4c34ba5c.157c8a47.js
  staging/js/chunk-4c34ba5c.cca5a4c2.js
  staging/js/chunk-501c040c.406f1d89.js
  staging/js/chunk-501c040c.aa2d0099.js
  staging/js/chunk-552b1730.74235ebc.js
  staging/js/chunk-552b1730.876a3a94.js
  staging/js/chunk-5e7189c2.49ff5076.js
  staging/js/chunk-5e7189c2.eed45374.js
  staging/js/chunk-b14359ce.b6b24b47.js
  staging/js/chunk-b14359ce.eae353ec.js
  staging/js/chunk-d3b2fbc4.3d334393.js
  staging/js/chunk-d3b2fbc4.8bf65f91.js
  staging/js/chunk-e17a21de.7bb41b37.js
  staging/js/chunk-e17a21de.7c4c3278.js
  staging/precache-manifest.16209501620fab1331b6cf81eeb32efb.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: ed84a8b464d01ab4221408fdaa3d4abcfeea592b [skip ci]
  staging/index.html
  staging/js/app.5b482658.js
  staging/js/app.b57dfd4c.js
  staging/js/chunk-27f3174b.47281578.js
  staging/js/chunk-27f3174b.b543e323.js
  staging/js/chunk-2a7c1c36.14d1f19d.js
  staging/js/chunk-2a7c1c36.3359ac42.js
  staging/js/chunk-488fc1f2.5dea70e4.js
  staging/js/chunk-488fc1f2.d1a56757.js
  staging/js/chunk-49ba97a0.560ef721.js
  staging/js/chunk-49ba97a0.87012c02.js
  staging/js/chunk-4c34ba5c.0c032db4.js
  staging/js/chunk-4c34ba5c.157c8a47.js
  staging/js/chunk-501c040c.4b5b263b.js
  staging/js/chunk-501c040c.aa2d0099.js
  staging/js/chunk-552b1730.74235ebc.js
  staging/js/chunk-552b1730.a542a143.js
  staging/js/chunk-5e7189c2.145fe830.js
  staging/js/chunk-5e7189c2.eed45374.js
  staging/js/chunk-b14359ce.a3529bac.js
  staging/js/chunk-b14359ce.eae353ec.js
  staging/js/chunk-d3b2fbc4.5c805f3c.js
  staging/js/chunk-d3b2fbc4.8bf65f91.js
  staging/js/chunk-e17a21de.7bb41b37.js
  staging/js/chunk-e17a21de.b9249c4f.js
  staging/precache-manifest.3b0c3370cea42bce616cd42e5014b952.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 4e3ca90b57def6cd9a476a7b06430556307590cf [skip ci]
  staging/index.html
  staging/js/app.58f98df8.js
  staging/js/app.b57dfd4c.js
  staging/js/chunk-27f3174b.b543e323.js
  staging/js/chunk-27f3174b.bdb668d8.js
  staging/js/chunk-2a7c1c36.20d56e14.js
  staging/js/chunk-2a7c1c36.3359ac42.js
  staging/js/chunk-488fc1f2.1c41f1ab.js
  staging/js/chunk-488fc1f2.5dea70e4.js
  staging/js/chunk-49ba97a0.87012c02.js
  staging/js/chunk-49ba97a0.c833e66d.js
  staging/js/chunk-4c34ba5c.0c032db4.js
  staging/js/chunk-4c34ba5c.7c2b5c39.js
  staging/js/chunk-501c040c.4b5b263b.js
  staging/js/chunk-501c040c.924db2bd.js
  staging/js/chunk-552b1730.9bd0b001.js
  staging/js/chunk-552b1730.a542a143.js
  staging/js/chunk-5e7189c2.145fe830.js
  staging/js/chunk-5e7189c2.35bc847b.js
  staging/js/chunk-b14359ce.a3529bac.js
  staging/js/chunk-b14359ce.f1e67a5c.js
  staging/js/chunk-d3b2fbc4.5c805f3c.js
  staging/js/chunk-d3b2fbc4.934d04d1.js
  staging/js/chunk-e17a21de.508fe496.js
  staging/js/chunk-e17a21de.b9249c4f.js
  staging/precache-manifest.1c787820d256386ffbfb37758273f759.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 4dbeb97080d0304374ab5d875e9068d47916c133 [skip ci]
  staging/index.html
  staging/js/app.5054d2a6.js
  staging/js/app.58f98df8.js
  staging/js/chunk-27f3174b.7b6a7c0f.js
  staging/js/chunk-27f3174b.bdb668d8.js
  staging/js/chunk-2a7c1c36.20d56e14.js
  staging/js/chunk-2a7c1c36.d661f032.js
  staging/js/chunk-49ba97a0.24db2674.js
  staging/js/chunk-49ba97a0.c833e66d.js
  staging/js/chunk-4c34ba5c.7c2b5c39.js
  staging/js/chunk-4c34ba5c.b9cbc83a.js
  staging/js/chunk-501c040c.0a906268.js
  staging/js/chunk-501c040c.924db2bd.js
  staging/js/chunk-552b1730.54f0e84f.js
  staging/js/chunk-552b1730.9bd0b001.js
  staging/js/chunk-5e7189c2.35bc847b.js
  staging/js/chunk-5e7189c2.8869615a.js
  staging/js/chunk-b14359ce.799fa47d.js
  staging/js/chunk-b14359ce.f1e67a5c.js
  staging/js/chunk-d3b2fbc4.934d04d1.js
  staging/js/chunk-d3b2fbc4.f971094d.js
  staging/precache-manifest.c96d98050195bd90ee325bb70d029dd0.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: f617435840072c6de01de98ddd169f3b8e95eca8 [skip ci]
  staging/index.html
  staging/js/app.6155acda.js
  staging/js/app.b9a58727.js
  staging/js/chunk-27f3174b.40a6cf27.js
  staging/js/chunk-27f3174b.64a63b6e.js
  staging/js/chunk-2a7c1c36.afff303b.js
  staging/js/chunk-2a7c1c36.dcc17db6.js
  staging/js/chunk-488fc1f2.68312afc.js
  staging/js/chunk-488fc1f2.a513215b.js
  staging/js/chunk-49ba97a0.440b6b4a.js
  staging/js/chunk-49ba97a0.75702472.js
  staging/js/chunk-4c34ba5c.0b8df78f.js
  staging/js/chunk-4c34ba5c.5610b095.js
  staging/js/chunk-501c040c.92a75cb9.js
  staging/js/chunk-501c040c.a579fed1.js
  staging/js/chunk-552b1730.6772c6ba.js
  staging/js/chunk-552b1730.bfd7f892.js
  staging/js/chunk-5e7189c2.99091d9d.js
  staging/js/chunk-5e7189c2.de0e7842.js
  staging/js/chunk-b14359ce.2c71a806.js
  staging/js/chunk-b14359ce.2f0f7de5.js
  staging/js/chunk-d3b2fbc4.1e14cb80.js
  staging/js/chunk-d3b2fbc4.b541d0db.js
  staging/js/chunk-e17a21de.aead2c9b.js
  staging/js/chunk-e17a21de.e149acfb.js
  staging/precache-manifest.270e4bffac682ab63e81452beff0569d.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 52f423907e8a20c2c629d368cdbcf934600e16dd [skip ci]
  staging/index.html
  staging/js/app.3697fc95.js
  staging/js/app.b9a58727.js
  staging/js/chunk-27f3174b.40a6cf27.js
  staging/js/chunk-27f3174b.94a59e63.js
  staging/js/chunk-2a7c1c36.123484ac.js
  staging/js/chunk-2a7c1c36.afff303b.js
  staging/js/chunk-488fc1f2.68312afc.js
  staging/js/chunk-488fc1f2.f9a2ea2b.js
  staging/js/chunk-49ba97a0.59019d9a.js
  staging/js/chunk-49ba97a0.75702472.js
  staging/js/chunk-4c34ba5c.5610b095.js
  staging/js/chunk-4c34ba5c.b6d7ddca.js
  staging/js/chunk-501c040c.504a23a7.js
  staging/js/chunk-501c040c.a579fed1.js
  staging/js/chunk-552b1730.217783ac.js
  staging/js/chunk-552b1730.6772c6ba.js
  staging/js/chunk-5e7189c2.235bce74.js
  staging/js/chunk-5e7189c2.99091d9d.js
  staging/js/chunk-b14359ce.0dd9d017.js
  staging/js/chunk-b14359ce.2c71a806.js
  staging/js/chunk-d3b2fbc4.10bbce34.js
  staging/js/chunk-d3b2fbc4.1e14cb80.js
  staging/js/chunk-e17a21de.a6131200.js
  staging/js/chunk-e17a21de.aead2c9b.js
  staging/precache-manifest.735046cb26670c42e8a7c8d7fed7009e.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: dfa3c77252388a62011b527997b887536a4c3ea4 [skip ci]
  staging/css/chunk-vendors.122b2a61.css
  staging/css/chunk-vendors.38518c68.css
  staging/fonts/materialdesignicons-webfont.2dcce271.woff
  staging/fonts/materialdesignicons-webfont.3e2c1c79.eot
  staging/fonts/materialdesignicons-webfont.63d2a595.woff
  staging/fonts/materialdesignicons-webfont.7fb0e378.woff2
  staging/fonts/materialdesignicons-webfont.a1a0ed86.eot
  staging/fonts/materialdesignicons-webfont.a323c28e.woff2
  staging/fonts/materialdesignicons-webfont.e7dec9c5.ttf
  staging/fonts/materialdesignicons-webfont.fe1545ef.ttf
  staging/index.html
  staging/js/app.3697fc95.js
  staging/js/app.7c65a2f1.js
  staging/js/chunk-27f3174b.4b4cf162.js
  staging/js/chunk-27f3174b.94a59e63.js
  staging/js/chunk-2a7c1c36.091f3bbd.js
  staging/js/chunk-2a7c1c36.123484ac.js
  staging/js/chunk-488fc1f2.45a13c93.js
  staging/js/chunk-488fc1f2.f9a2ea2b.js
  staging/js/chunk-49ba97a0.59019d9a.js
  staging/js/chunk-49ba97a0.a02f690e.js
  staging/js/chunk-4c34ba5c.91694f50.js
  staging/js/chunk-4c34ba5c.b6d7ddca.js
  staging/js/chunk-501c040c.22e0c98e.js
  staging/js/chunk-501c040c.504a23a7.js
  staging/js/chunk-552b1730.217783ac.js
  staging/js/chunk-552b1730.f66265ed.js
  staging/js/chunk-5e7189c2.235bce74.js
  staging/js/chunk-5e7189c2.fce7d44c.js
  staging/js/chunk-b14359ce.0dd9d017.js
  staging/js/chunk-b14359ce.cf71d040.js
  staging/js/chunk-d3b2fbc4.10bbce34.js
  staging/js/chunk-d3b2fbc4.1fad5d42.js
  staging/js/chunk-e17a21de.7cd29f16.js
  staging/js/chunk-e17a21de.a6131200.js
  staging/precache-manifest.4cc13113968cf6c2d8174a7249312b7c.js
  staging/service-worker.js
Due: none

UDC mint & deposit
  raiden-ts/tests/integration/integration.spec.ts
Due: sdk

Refreshing dApp redirects to Home screen
  raiden-dapp/src/App.vue
  raiden-dapp/src/mixins/navigation-mixin.ts
Due: dapp

Define Latest type and use it
  raiden-ts/src/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Split filterMatrixVoipEvents & use ICE servers from config & matrix
  raiden-ts/src/config.ts
  raiden-ts/src/transport/epics.ts
Due: sdk

Tests
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

webRTC
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/transport/actions.ts
  raiden-ts/src/transport/epics.ts
Due: sdk

Initial commit unit tests
  raiden-ts/src/polyfills.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
Due: sdk

Add instanceOf codec factory
  raiden-ts/src/utils/types.ts
Due: sdk

Add wrtc package & polyfills
  raiden-ts/package-lock.json
  raiden-ts/package.json
  raiden-ts/src/global.d.ts
  raiden-ts/src/polyfills.ts
Due: sdk

Add changelog entry for webRTC
  raiden-ts/CHANGELOG.md
Due: sdk

PR review
  raiden-ts/src/transport/epics.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk

Fixes broken tests for App
  raiden-dapp/tests/unit/app.spec.ts
Due: dapp

Fixes remaining broken tests
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
Due: dapp
