Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

Fix observable function name suffix
  raiden-ts/src/transfers/epics.ts
Due: sdk

Extracts transfer retry logic into functions
  raiden-ts/src/transfers/epics.ts
Due: sdk

Extracts dispatchAndWait function
  raiden-ts/src/transfers/epics.ts
Due: sdk

Extended unit test
  raiden-dapp/tests/unit/views/home.spec.ts
Due: dapp

Added changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Fixed empty start screen on 1st time connect (#743)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/views/Home.vue
  raiden-dapp/tests/unit/views/home.spec.ts
Due: dapp

Derived subkey!
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/raiden/helpers.ts
  raiden-ts/src/state.ts
  raiden-ts/src/types.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/tests/unit/helpers.spec.ts
Due: sdk

Add subkey tests
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Add config.subkey
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/raiden/helpers.ts
Due: sdk

Introduce chooseOnchainAccount & getContractWithSigner helpers
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
  raiden-ts/tests/unit/helpers.spec.ts
Due: sdk

Reorg some mocks import to fix patching test issue
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
Due: sdk

Adjust and add config.subkey tests
  raiden-ts/src/raiden.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Fix error because of symbol-observable polyfill
  raiden-ts/src/helpers.ts
  raiden-ts/src/index.ts
  raiden-ts/src/polyfills.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transport/epics.ts
Due: sdk

Update changelog
  raiden-ts/CHANGELOG.md
Due: sdk

Restructuring docs to have categories and sections
  docs/config.js
  docs/generate_documentation.sh
  docs/sdk-docs/README.md
  docs/sdk-docs/closing-channel/README.md
  docs/sdk-docs/connecting/README.md
  docs/sdk-docs/direct-transfer/README.md
  docs/sdk-docs/funding-channel/README.md
  docs/sdk-docs/installing/README.md
  docs/sdk-docs/opening-channel/README.md
  docs/sdk-docs/settling-channel/README.md
Due: none

Fixes AddressInput.vue validity not updating on presence changes
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

Updates CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Updating headers
  raiden-dapp/src/router/index.ts
Due: dapp

Extracts mergeMap of makeAndSign functions
  raiden-ts/src/transfers/epics.ts
Due: sdk

Removes publishReplay pattern and fixes tests
  raiden-ts/src/epics.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
Due: sdk

Splits single declarations to multiple declarations
  raiden-ts/src/transfers/epics.ts
Due: sdk

Extracts a few functions
  raiden-ts/src/transfers/epics.ts
Due: sdk

Replaces some if/throw with assertions
  raiden-ts/src/transfers/epics.ts
Due: sdk

Adds basic codeclimate configuration
  raiden-ts/.codeclimate.yml
Due: sdk
