Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dapp: make sure notification queue is sorted
  raiden-dapp/src/store/notifications/getters.ts
  raiden-dapp/tests/unit/store/notifications/getters.spec.ts
Due: dapp

dapp: fix notification snackbar reactivity
  raiden-dapp/src/components/notification-panel/NotificationSnackbar.vue
  raiden-dapp/tests/unit/components/notification-panel/notification-snackbar.spec.ts
  raiden-dapp/tests/unit/utils/data-generator.ts
Due: dapp

docs: Updating button names in the try out section
  README.md
Due: none

docs: Updating button names
  raiden-ts/docs-source/navigate-dapp.md
Due: sdk, sdk_integration

dapp: simplify e2e tests for notifications
  raiden-dapp/tests/e2e/specs/scenario.spec.ts
  raiden-dapp/tests/e2e/utils/user-interaction.ts
Due: dapp

fixup! dapp: fix connetion router guard for account
  raiden-dapp/src/router/guards/connection.ts
  raiden-dapp/tests/unit/router/guards/connection.spec.ts
Due: dapp

dapp: fix connetion router guard for account
  raiden-dapp/src/router/guards/connection.ts
  raiden-dapp/tests/unit/router/guards/connection.spec.ts
Due: dapp

dapp: extend changelog for no connected token
  raiden-dapp/CHANGELOG.md
Due: dapp

fixup! dapp: add new route when no token is connected
  raiden-dapp/tests/unit/router/guards/no-connected-token.spec.ts
Due: dapp

dapp: make route guards purely functional
  raiden-dapp/src/router/guards/connection.ts
  raiden-dapp/src/router/guards/disclaimer.ts
  raiden-dapp/src/router/guards/global.ts
  raiden-dapp/src/router/guards/types.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/tests/unit/router/guards/connection.spec.ts
  raiden-dapp/tests/unit/router/guards/disclaimer.spec.ts
  raiden-dapp/tests/unit/router/guards/global.spec.ts
Due: dapp

dapp: add new route when no token is connected
  raiden-dapp/src/components/overlays/TokenOverlay.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/router/guards/index.ts
  raiden-dapp/src/router/guards/no-connected-token.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/router/routes.ts
  raiden-dapp/src/views/NoConnectedTokenRoute.vue
  raiden-dapp/src/views/TransferRoute.vue
  raiden-dapp/tests/e2e/utils/navigation.ts
  raiden-dapp/tests/unit/router/guards/no-connected-token.spec.ts
  raiden-dapp/tests/unit/views/no-connected-token-route.spec.ts
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
Due: dapp

dApp: Renaming connection manager buttons
  raiden-dapp/src/locales/en.json
Due: dapp

dapp: reduce usage of themed scrollbar
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/components/notification-panel/NotificationSnackbar.vue
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/src/views/ChannelsRoute.vue
  raiden-dapp/src/views/Home.vue
Due: dapp

dapp: fix token overlay for small screens
  raiden-dapp/src/components/overlays/TokenOverlay.vue
Due: dapp

dapp: fix transaction history on small screens
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/components/transaction-history/transaction.spec.ts
Due: dapp

dapp: add sign prop to amount display component
  raiden-dapp/src/components/AmountDisplay.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/components/amount-display.spec.ts
Due: dapp

dapp: fix channel list on small screens
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/scss/variables.scss
Due: dapp

Automated deployment to GitHub Pages: b92bba2316bec38e271b62562d43468a4ecd02a8 [skip ci]
  staging/js/11.js
Due: none

dapp: fix notification cards on small screens
  raiden-dapp/src/components/notification-panel/NotificationDescriptionDisplay.vue
Due: dapp

dapp: Use demo env on staging temporarily
  raiden-dapp/.env.staging
Due: dapp

Automated deployment to GitHub Pages: 8f1189c19dd11f6fe6a828c82aaafc83cf3a52cf [skip ci]
  staging/js/14.js
Due: none

dapp: align channel list header and items
  raiden-dapp/src/views/ChannelsRoute.vue
Due: dapp

e2e: Remove empty lines
  e2e-environment/geth/deploy.sh
Due: none

e2e: Update service contract deployment calls
  e2e-environment/geth/deploy_contracts.py
Due: none

e2e: Remove room ensurer
  e2e-environment/setup/room_ensurer.py
  e2e-environment/setup/setup_channels.sh
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
