Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Introduces lazy routes that are evaluated after connecting
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/components/navigation/OpenChannel.vue
  raiden-dapp/src/components/navigation/SelectHub.vue
  raiden-dapp/src/components/navigation/SelectToken.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/views/ChannelsRoute.vue
  raiden-dapp/src/views/LazyRoute.vue
  raiden-dapp/src/views/OpenChannelRoute.vue
  raiden-dapp/src/views/SelectHubRoute.vue
  raiden-dapp/src/views/SelectTokenRoute.vue
  raiden-dapp/src/views/TransferRoute.vue
  raiden-dapp/src/views/TransferStepsRoute.vue
  raiden-dapp/tests/unit/components/navigation/channels.spec.ts
  raiden-dapp/tests/unit/components/navigation/open-channel.spec.ts
  raiden-dapp/tests/unit/components/navigation/select-hub.spec.ts
  raiden-dapp/tests/unit/components/navigation/select-token.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer-steps.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
Due: dapp

Adds CHANGELOG entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Add readme
  raiden-cli/README.md
Due: none

Initial version of standalone cli app
  raiden-cli/.gitignore
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/index.ts
  raiden-cli/tsconfig.json
  raiden-cli/webpack.config.js
Due: none

Adds initial work on changelog reminder
  .github/actions/changelog-reminder/.gitignore
  .github/actions/changelog-reminder/action.yml
  .github/actions/changelog-reminder/dist/index.js
  .github/actions/changelog-reminder/index.js
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/workflows/workflow.yml
Due: none

Extending test coverage
  raiden-dapp/tests/unit/components/token-overlay.spec.ts
Due: dapp

Closes overlay when new token is selected (#1433)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/tests/unit/components/token-overlay.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 464b899074d6451c1c23021a88f0f1ad2b9bfe3b [skip ci]
  staging/css/chunk-2dc5c767.3deb3bd7.css
  staging/css/chunk-6685eee8.489fe796.css
  staging/index.html
  staging/js/app.3a2e59b4.js
  staging/js/app.3a2e59b4.js.map
  staging/js/app.f1f0bbaa.js
  staging/js/app.f1f0bbaa.js.map
  staging/js/chunk-2dc5c767.b23255d7.js
  staging/js/chunk-2dc5c767.b23255d7.js.map
  staging/js/chunk-6685eee8.598e0cc4.js
  staging/js/chunk-6685eee8.598e0cc4.js.map
  staging/precache-manifest.8bc12c0e34ea86dd15f57bfe8b804632.js
  staging/service-worker.js
Due: none

Vertically aligns token symbol in input fields
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AmountInput.vue
Due: dapp

Rename path(finder) submodule to services
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/index.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/reducer.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/reducer.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transport/reducer.ts
  raiden-ts/tests/integration/integration.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/fixtures.ts
Due: sdk

Vertically aligns token symbol in input fields (#1436)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AmountInput.vue
Due: dapp

Automated deployment to GitHub Pages: c78203761167aa7ca6d5cc249577354bbf4b521b [skip ci]
  staging/css/chunk-08d0b51d.ead4892f.css
  staging/css/chunk-24410f9b.5c951042.css
  staging/css/chunk-2dc5c767.3deb3bd7.css
  staging/css/chunk-46083d3f.e89e2b9c.css
  staging/css/chunk-4c28a39c.7d667fa8.css
  staging/css/chunk-63a45310.7577e19e.css
  staging/css/chunk-a78f22ee.4fea1a9a.css
  staging/css/chunk-d088a722.d70ab06c.css
  staging/index.html
  staging/js/app.35a4e7ed.js
  staging/js/app.35a4e7ed.js.map
  staging/js/app.3a2e59b4.js
  staging/js/app.3a2e59b4.js.map
  staging/js/chunk-08d0b51d.d54fb8ca.js
  staging/js/chunk-08d0b51d.d54fb8ca.js.map
  staging/js/chunk-24410f9b.0625ee7c.js
  staging/js/chunk-24410f9b.0625ee7c.js.map
  staging/js/chunk-2dc5c767.b23255d7.js
  staging/js/chunk-2dc5c767.b23255d7.js.map
  staging/js/chunk-46083d3f.a9d68fa7.js
  staging/js/chunk-46083d3f.a9d68fa7.js.map
  staging/js/chunk-4c28a39c.23c4ff4a.js
  staging/js/chunk-4c28a39c.23c4ff4a.js.map
  staging/js/chunk-63a45310.0eac43a6.js
  staging/js/chunk-63a45310.0eac43a6.js.map
  staging/js/chunk-a78f22ee.0f8ad300.js
  staging/js/chunk-a78f22ee.0f8ad300.js.map
  staging/js/chunk-d088a722.d168c676.js
  staging/js/chunk-d088a722.d168c676.js.map
  staging/precache-manifest.2f892de868c87cbae1f136061960ba2b.js
  staging/service-worker.js
Due: none

Fixed scroll bar issue in channel list
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/scss/scroll.scss
Due: dapp

Fixed scroll bar issue in channel list (#1440)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/scss/scroll.scss
Due: dapp

Automated deployment to GitHub Pages: 7a339d9de50dbbd88b7708026924861d9a1a9f87 [skip ci]
  staging/css/chunk-08d0b51d.5b30d335.css
  staging/css/chunk-08d0b51d.ead4892f.css
  staging/css/chunk-20adb3c8.5a774b96.css
  staging/css/chunk-20adb3c8.d4fd9cc0.css
  staging/css/chunk-63a45310.7577e19e.css
  staging/css/chunk-83f2575a.015f581c.css
  staging/index.html
  staging/js/app.35a4e7ed.js
  staging/js/app.35a4e7ed.js.map
  staging/js/app.6761431d.js
  staging/js/app.6761431d.js.map
  staging/js/chunk-63a45310.0eac43a6.js
  staging/js/chunk-63a45310.0eac43a6.js.map
  staging/js/chunk-83f2575a.0d858c9d.js
  staging/js/chunk-83f2575a.0d858c9d.js.map
  staging/precache-manifest.1c46a1b271c081e4265263853f47c5a2.js
  staging/service-worker.js
Due: none

Removed global 2nd scroll bar
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/navigation/SelectToken.vue
Due: dapp

Automated deployment to GitHub Pages: d781f60b114db61ce4d59ee751b75be1385c4b53 [skip ci]
  staging/index.html
  staging/js/app.58f14f86.js
  staging/js/app.58f14f86.js.map
  staging/js/app.6761431d.js
  staging/js/app.6761431d.js.map
  staging/precache-manifest.b0d1a862441546aa8ae54b682e57fd38.js
  staging/service-worker.js
Due: none

Removed global 2nd scroll bar (#1441)
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/navigation/SelectToken.vue
Due: dapp

Automated deployment to GitHub Pages: 82255f7672b5a05de5cccfe870fa2edece365886 [skip ci]
  staging/css/app.244760d2.css
  staging/css/app.56d64f81.css
  staging/css/chunk-0ad86ad4.85781be9.css
  staging/css/chunk-20adb3c8.5a774b96.css
  staging/index.html
  staging/js/app.58f14f86.js
  staging/js/app.58f14f86.js.map
  staging/js/app.8586aff7.js
  staging/js/app.8586aff7.js.map
  staging/js/chunk-0ad86ad4.65157950.js
  staging/js/chunk-0ad86ad4.65157950.js.map
  staging/js/chunk-20adb3c8.f5af5955.js
  staging/js/chunk-20adb3c8.f5af5955.js.map
  staging/precache-manifest.789af8822cc8e984bef007b7f4fd1765.js
  staging/service-worker.js
Due: none

Adds a changelog reminder github action
  .github/actions/changelog-reminder/.eslintrc.js
  .github/actions/changelog-reminder/.gitignore
  .github/actions/changelog-reminder/action.yml
  .github/actions/changelog-reminder/dist/index.js
  .github/actions/changelog-reminder/index.js
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/workflows/workflow.yml
Due: none

Adds a changelog reminder github action (#1442)
  .github/actions/changelog-reminder/.eslintrc.js
  .github/actions/changelog-reminder/.gitignore
  .github/actions/changelog-reminder/action.yml
  .github/actions/changelog-reminder/dist/index.js
  .github/actions/changelog-reminder/index.js
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/workflows/workflow.yml
Due: none

Updates all the dependencies
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Sort token list by balance and symbol
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/store/index.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

Get rid of third return to satisfy code climate
  raiden-dapp/src/store/index.ts
Due: dapp

Updates all the dependencies (#1444)
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Sort token list by balance and symbol (#1445)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/store/index.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

Updates codecov bash uploader flag and nightly coverage
  .circleci/config.yml
  codecov.yml
Due: none

Updates codecov bash uploader flag and nightly coverage (#1452)
  .circleci/config.yml
  codecov.yml
Due: none

Monitoring
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/messages/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/types.ts
Due: sdk

Monitoring tests
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Changelog entry for monitoring
  raiden-ts/CHANGELOG.md
Due: sdk

Fix small issue with settling
  raiden-ts/src/channels/epics.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
Due: sdk

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
