Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: wallet, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status: 
    project: 
      default: off
      wallet:
        flags: wallet
      sdk:
        flags: sdk
  
flags:
  wallet:
    paths: 
      - raiden-wallet/
  sdk:
    paths:
      - raiden/

Fixes coverage, ci badges, adds prettier badge
  README.md
Due: none

Adds path fixing for codecov
  .circleci/config.yml
  codecov.yml
Due: none

Adds deposit component tests
  raiden-wallet/src/components/Deposit.vue
  raiden-wallet/tests/unit/components/amount-input.spec.ts
  raiden-wallet/tests/unit/components/deposit.spec.ts
  raiden-wallet/tests/unit/data/mock-data.ts
Due: wallet

Adds test for Home.vue route
  raiden-wallet/tests/unit/views/home.spec.ts
Due: wallet

Adds tests for Connect.vue route
  raiden-wallet/jest.config.js
  raiden-wallet/src/views/Connect.vue
  raiden-wallet/tests/unit/utils/stub.ts
  raiden-wallet/tests/unit/views/connect.spec.ts
Due: wallet

Adds test for SendTokens.vue route
  raiden-wallet/tests/unit/views/send-tokens.spec.ts
Due: wallet

Adds tests for vue filters
  raiden-wallet/src/filters.ts
  raiden-wallet/tests/unit/filters.spec.ts
Due: wallet

Add tokenMonitored event tests
  raiden/tests/unit/epics.spec.ts
  raiden/tests/unit/mocks.ts
  raiden/tests/unit/utils.spec.ts
Due: sdk

Move test token and tokenNetwork to top level describe
  raiden/tests/unit/epics.spec.ts
Due: sdk

Use raidenReducer derived state in epics.spec.ts
  raiden/tests/unit/epics.spec.ts
Due: sdk

Add channelMonitored (deposits) tests
  raiden/tests/unit/actions.spec.ts
  raiden/tests/unit/epics.spec.ts
Due: sdk

Add tests for channelOpen and channelOpened epics
  raiden/src/store/actions.ts
  raiden/src/store/epics.ts
  raiden/tests/unit/epics.spec.ts
Due: sdk

Explicit ABI types
  raiden/src/raiden.ts
Due: sdk

Add channelDepositEpic tests
  raiden/tests/unit/epics.spec.ts
Due: sdk

Add support for async localStorage
  raiden/src/raiden.ts
Due: sdk

Add more integration tests
  raiden/src/raiden.ts
  raiden/src/store/epics.ts
  raiden/tests/e2e/provider.ts
  raiden/tests/e2e/raiden.spec.ts
  raiden/tests/unit/epics.spec.ts
Due: sdk

Use bind instead of arrow function on state/action sinks
  raiden/src/store/epics.ts
Due: sdk

Support JsonRpcProvider instances as Raiden.create connection param
  raiden/src/raiden.ts
  raiden/tests/e2e/provider.ts
Due: sdk

Declare async Storage interface, remove "dom" lib
  raiden/src/raiden.ts
  raiden/src/types.ts
  raiden/tests/unit/utils.spec.ts
  raiden/tsconfig.json
Due: sdk

Deploy contracts on Ganache, add first true integration test
  raiden/contracts.json
  raiden/tests/e2e/epics.spec.ts
  raiden/tests/e2e/provider.ts
  raiden/tests/e2e/raiden.spec.ts
Due: sdk

Add a raidenShutdown action, completes & unsubscribes all epics
  raiden/src/raiden.ts
  raiden/src/store/actions.ts
  raiden/src/store/epics.ts
  raiden/tests/unit/epics.spec.ts
Due: sdk

Add MockStorage, assertions and Raiden.create tests
  raiden/tests/e2e/mocks.ts
  raiden/tests/e2e/raiden.spec.ts
Due: sdk

Use reducers instead of setting state by hand on reducers tests
  raiden/tests/unit/reducers.spec.ts
Due: sdk

Add test to ensure new instances fetches past events
  raiden/package-lock.json
  raiden/package.json
  raiden/src/utils.ts
  raiden/tests/e2e/provider.ts
  raiden/tests/e2e/raiden.spec.ts
Due: sdk
