Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Monitoring tests
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk, sdk_integration

Fix small issue with settling
  raiden-ts/src/channels/epics.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
Due: sdk, sdk_integration

Monitoring
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/messages/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: b9123cf78d9320449f1310ea5691d9ea46b02825 [skip ci]
  staging/index.html
  staging/js/app.7858cae5.js
  staging/js/app.7858cae5.js.map
  staging/js/app.7f0c105b.js
  staging/js/app.7f0c105b.js.map
  staging/precache-manifest.2f581b9674ae99256578187f5bde8579.js
  staging/service-worker.js
Due: none

Monitoring tests
  raiden-ts/tests/unit/epics/monitor.spec.ts
Due: sdk, sdk_integration

Initial commit
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/scss/colors.scss
Due: dapp

Working on layout for transaction item
  raiden-dapp/src/components/transaction-history/Transaction.vue
Due: dapp

Renames general screen to account
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/src/views/account/AccountRoot.vue
  raiden-dapp/src/views/account/BackupState.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
  raiden-dapp/tests/unit/components/account/backup-state/download-state-dialog.spec.ts
  raiden-dapp/tests/unit/components/account/backup-state/upload-state-dialog.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
  raiden-dapp/tests/unit/views/account-route.spec.ts
  raiden-dapp/tests/unit/views/account/account-root.spec.ts
  raiden-dapp/tests/unit/views/account/backup-state.spec.ts
  raiden-dapp/tests/unit/views/account/raiden-account.spec.ts
  raiden-dapp/vue.config.js
Due: dapp

Updates CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Transaction list component
  raiden-dapp/src/assets/received_transfer.svg
  raiden-dapp/src/assets/sent_transfer.svg
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/components/transaction-history/TransactionsList.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Grouping dialogs and overlays
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/ChannelDialogs.vue
  raiden-dapp/src/components/OfflineSnackbar.vue
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/UpdateSnackbar.vue
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/components/dialogs/ConfirmationDialog.vue
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
  raiden-dapp/src/components/dialogs/ErrorDialog.vue
  raiden-dapp/src/components/dialogs/MintDepositDialog.vue
  raiden-dapp/src/components/dialogs/MintDialog.vue
  raiden-dapp/src/components/dialogs/OpenChannelDialog.vue
  raiden-dapp/src/components/dialogs/PfsFeesDialog.vue
  raiden-dapp/src/components/dialogs/RaidenDialog.vue
  raiden-dapp/src/components/dialogs/TransferProgressDialog.vue
  raiden-dapp/src/components/navigation/OpenChannel.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/components/overlays/BlurredOverlay.vue
  raiden-dapp/src/components/overlays/QrCodeOverlay.vue
  raiden-dapp/src/components/overlays/TokenOverlay.vue
  raiden-dapp/src/views/Home.vue
  raiden-dapp/tests/unit/components/channel-deposit.spec.ts
  raiden-dapp/tests/unit/components/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/mint-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/components/mint-dialog.spec.ts
  raiden-dapp/tests/unit/components/qr-code-overlay.spec.ts
  raiden-dapp/tests/unit/components/raiden-dialog.spec.ts
  raiden-dapp/tests/unit/components/token-overlay.spec.ts
  raiden-dapp/tests/unit/components/transfer-progress-dialog.spec.ts
  raiden-dapp/tests/unit/components/transfer-summary.spec.ts
Due: dapp

Grouping dialogs and overlays (#1464)
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/ChannelDialogs.vue
  raiden-dapp/src/components/OfflineSnackbar.vue
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/UpdateSnackbar.vue
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/components/dialogs/ConfirmationDialog.vue
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
  raiden-dapp/src/components/dialogs/ErrorDialog.vue
  raiden-dapp/src/components/dialogs/MintDepositDialog.vue
  raiden-dapp/src/components/dialogs/MintDialog.vue
  raiden-dapp/src/components/dialogs/OpenChannelDialog.vue
  raiden-dapp/src/components/dialogs/PfsFeesDialog.vue
  raiden-dapp/src/components/dialogs/RaidenDialog.vue
  raiden-dapp/src/components/dialogs/TransferProgressDialog.vue
  raiden-dapp/src/components/navigation/OpenChannel.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/components/overlays/BlurredOverlay.vue
  raiden-dapp/src/components/overlays/QrCodeOverlay.vue
  raiden-dapp/src/components/overlays/TokenOverlay.vue
  raiden-dapp/src/views/Home.vue
  raiden-dapp/tests/unit/components/channel-deposit.spec.ts
  raiden-dapp/tests/unit/components/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/mint-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/components/mint-dialog.spec.ts
  raiden-dapp/tests/unit/components/qr-code-overlay.spec.ts
  raiden-dapp/tests/unit/components/raiden-dialog.spec.ts
  raiden-dapp/tests/unit/components/token-overlay.spec.ts
  raiden-dapp/tests/unit/components/transfer-progress-dialog.spec.ts
  raiden-dapp/tests/unit/components/transfer-summary.spec.ts
Due: dapp

[don't merge] Just a test
  raiden-dapp/src/components/ActionButton.vue
Due: dapp

[dont merge] test with branch of core repo
  raiden-dapp/src/components/ActionButton.vue
Due: dapp

Automated deployment to GitHub Pages: 842352ee3f8418d3b6eed71eab365a36dda43da3 [skip ci]
  staging/css/app.536c30a8.css
  staging/css/app.9f0d08b7.css
  staging/css/chunk-08d0b51d.5b30d335.css
  staging/css/chunk-1503d996.711c53d5.css
  staging/css/chunk-24410f9b.5c951042.css
  staging/css/chunk-2f4f6d5e.b2d011aa.css
  staging/css/chunk-31a29a51.39ba85ce.css
  staging/css/chunk-36b5fef4.90c578bf.css
  staging/css/chunk-4bb1700b.f86be718.css
  staging/css/chunk-54fa7be7.6eaf9e5f.css
  staging/css/chunk-5e7189c2.295d09cf.css
  staging/css/chunk-67b172b3.53c90c86.css
  staging/css/chunk-6d35f4f8.18890724.css
  staging/css/chunk-7809f08f.ff672ff1.css
  staging/css/chunk-83f2575a.015f581c.css
  staging/css/chunk-bebefaa6.1b781117.css
  staging/index.html
  staging/js/app.52d83b06.js
  staging/js/app.c6391415.js
  staging/js/chunk-08d0b51d.d52b86e7.js
  staging/js/chunk-1503d996.906a982e.js
  staging/js/chunk-24410f9b.72415ab5.js
  staging/js/chunk-2f4f6d5e.eb31ffc9.js
  staging/js/chunk-31a29a51.7c8b4e96.js
  staging/js/chunk-36b5fef4.ef779db1.js
  staging/js/chunk-4bb1700b.95ab6fc1.js
  staging/js/chunk-54fa7be7.91abf4b7.js
  staging/js/chunk-5e7189c2.6f8794a9.js
  staging/js/chunk-67b172b3.3cfbb5ad.js
  staging/js/chunk-6d35f4f8.25f10cda.js
  staging/js/chunk-7809f08f.48f3ea9b.js
  staging/js/chunk-83f2575a.7ba3f188.js
  staging/js/chunk-bebefaa6.a8121004.js
  staging/precache-manifest.02ff00132b88fb78ee8d43ab0dd11e71.js
  staging/service-worker.js
Due: none

Retry without stored setup if auth fails with config.matrixServer
  raiden-ts/src/transport/epics.ts
Due: sdk, sdk_integration

Add changelog for #1456
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Refactor state.transport
  raiden-ts/src/state.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/transport/reducer.ts
Due: sdk, sdk_integration

Tests
  raiden-ts/src/migration/3.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/mediate.spec.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/receive.spec.ts
  raiden-ts/tests/unit/epics/send.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/state.spec.ts
  raiden-ts/tests/unit/states/3_full.json
  raiden-ts/tests/unit/states/3_min.json
Due: sdk, sdk_integration

Refactor BalanceProof and channel tagged union
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/migration/3.ts
  raiden-ts/src/migration/index.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/tests/unit/epics/send.spec.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/states/3_full.json
  raiden-ts/tests/unit/states/3_min.json
Due: sdk, sdk_integration

Refactor channels state
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/types.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/migration/3.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/reducer.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transport/reducer.ts
Due: dapp, sdk, sdk_integration

Refactor state.path.iou to state.iou
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/reducer.ts
  raiden-ts/src/state.ts
Due: sdk, sdk_integration

PR review & changelog
  raiden-ts/CHANGELOG.md
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/transfers/reducer.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 8d3eb24b6c150d6bd9bfeb635975e4f4b73df711 [skip ci]
  staging/index.html
  staging/js/app.52d83b06.js
  staging/js/app.5c1572e1.js
  staging/precache-manifest.6d22e2208deaeac3fd6d8d11af06b9e7.js
  staging/service-worker.js
Due: none

Grouped transfer and channel components
  raiden-dapp/src/components/Stepper.vue
  raiden-dapp/src/components/channels/ChannelActions.vue
  raiden-dapp/src/components/channels/ChannelDialogs.vue
  raiden-dapp/src/components/channels/ChannelLifeCycle.vue
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/components/icons/Checkmark.vue
  raiden-dapp/src/components/icons/Spinner.vue
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/components/navigation/SelectToken.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/components/transfer/FindRoutes.vue
  raiden-dapp/src/components/transfer/PathfindingServices.vue
  raiden-dapp/src/components/transfer/TransferSummary.vue
  raiden-dapp/tests/unit/components/channel-lifecycle.spec.ts
  raiden-dapp/tests/unit/components/channel-list.spec.ts
  raiden-dapp/tests/unit/components/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/find-routes.spec.ts
  raiden-dapp/tests/unit/components/pathfinding-services.spec.ts
  raiden-dapp/tests/unit/components/transfer-summary.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 312ede16caaf1bb4046d5a46a64c90cabe907f46 [skip ci]
  staging/css/chunk-1ad9c858.160d7216.css
  staging/css/chunk-7809f08f.ff672ff1.css
  staging/index.html
  staging/js/app.5c1572e1.js
  staging/js/app.a90aafab.js
  staging/js/chunk-1ad9c858.edd08744.js
  staging/js/chunk-5dcb669a.fe8f19f1.js
  staging/js/chunk-7809f08f.48f3ea9b.js
  staging/js/chunk-vendors.79a504fb.js
  staging/precache-manifest.6fa3ae53a35483c7141dba43a7164fb1.js
  staging/service-worker.js
Due: none

Grouped transfer and channel components (#1469)
  raiden-dapp/src/components/Stepper.vue
  raiden-dapp/src/components/channels/ChannelActions.vue
  raiden-dapp/src/components/channels/ChannelDialogs.vue
  raiden-dapp/src/components/channels/ChannelLifeCycle.vue
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/components/icons/Checkmark.vue
  raiden-dapp/src/components/icons/Spinner.vue
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/components/navigation/SelectToken.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/components/transfer/FindRoutes.vue
  raiden-dapp/src/components/transfer/PathfindingServices.vue
  raiden-dapp/src/components/transfer/TransferSummary.vue
  raiden-dapp/tests/unit/components/channel-lifecycle.spec.ts
  raiden-dapp/tests/unit/components/channel-list.spec.ts
  raiden-dapp/tests/unit/components/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/find-routes.spec.ts
  raiden-dapp/tests/unit/components/pathfinding-services.spec.ts
  raiden-dapp/tests/unit/components/transfer-summary.spec.ts
Due: dapp

Automated deployment to GitHub Pages: b14ca663d03edb19bae3c6f2b674d619ba4c3cd1 [skip ci]
  staging/css/chunk-0ad86ad4.85781be9.css
  staging/css/chunk-1ad9c858.160d7216.css
  staging/css/chunk-4bb1700b.f86be718.css
  staging/css/chunk-56eafb7a.9b9a3184.css
  staging/css/chunk-6d35f4f8.18890724.css
  staging/css/chunk-7a1b58ac.e4c0c4bb.css
  staging/css/chunk-7ea59430.5f44b0ab.css
  staging/css/chunk-d483edf6.b955e85d.css
  staging/index.html
  staging/js/app.a90aafab.js
  staging/js/app.cce82715.js
  staging/js/chunk-0ad86ad4.1525837e.js
  staging/js/chunk-1ad9c858.edd08744.js
  staging/js/chunk-4bb1700b.95ab6fc1.js
  staging/js/chunk-56eafb7a.b57f70ab.js
  staging/js/chunk-6d35f4f8.25f10cda.js
  staging/js/chunk-7a1b58ac.98cfeb63.js
  staging/js/chunk-7ea59430.aa14026e.js
  staging/js/chunk-d483edf6.e77d58a8.js
  staging/precache-manifest.b5b96db7473941a75050c856e8fde579.js
  staging/service-worker.js
Due: none

Transaction history alignments
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/components/transaction-history/TransactionsList.vue
Due: dapp

Fixing CSS lint errors
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/components/transaction-history/TransactionsList.vue
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
