Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Fixed address and amount input styles
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/ErrorScreen.vue
Due: dapp

Change changelog wording to trigger CI
  raiden-dapp/CHANGELOG.md
Due: dapp

Fixed address and amount input styles (#708)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/ErrorScreen.vue
Due: dapp

Adds pluckDistinct rx operator
  raiden-ts/src/utils/rx.ts
Due: sdk

latest$ deps
  raiden-ts/src/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/types.ts
Due: sdk

Extracts mappings and replaces ternary with switch
  raiden-ts/src/transfers/epics.ts
Due: sdk

Update tests
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

PR review
  raiden-ts/src/epics.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transport/epics.ts
Due: sdk

Moved long observable initializations out of constructor
  raiden-ts/src/raiden.ts
Due: sdk

Ran eslint to turn multi-line declarations into single line ones
  raiden-ts/src/raiden.ts
Due: sdk

Update Typescript to 3.7
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

Workaround Ts@3.7 errors with Promise.all & redux@4.0.4
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
Due: sdk

Update dApp's typescript@3.7
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Fix test fixture
  raiden-ts/tests/e2e/provider.ts
Due: sdk

Fix dApp build error over sdk's typings dependency
  raiden-dapp/tsconfig.json
  raiden-ts/package.json
  raiden-ts/src/types.ts
  raiden-ts/tsconfig.json
Due: dapp, sdk

Moved long raiden.ts code blocks to helper.ts functions
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Reduced return statements for code climate
  raiden-ts/src/helpers.ts
Due: sdk

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
