Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Initial commit
  raiden-dapp/src/assets/udc.svg
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/views/account/UDC.vue
Due: dapp

Added mint & deposit functionality from dialog
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/account/UDC.vue
Due: dapp

Fix existing tests
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

Add change log
  raiden-dapp/CHANGELOG.md
Due: dapp

Add tests
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
  raiden-dapp/tests/unit/views/account/udc.spec.ts
Due: dapp

Added UDC view (#1578)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/assets/udc.svg
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
  raiden-dapp/tests/unit/views/account/udc.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 038b14a877fbc90a8187f7c0339e7f490e9d9687 [skip ci]
  staging/css/chunk-1a96c085.796be383.css
  staging/css/chunk-725ee92b.d84f9e81.css
  staging/css/chunk-778a1868.d669c000.css
  staging/css/chunk-9427fdc4.574e9eb1.css
  staging/img/udc.a4ddd71a.svg
  staging/index.html
  staging/js/app.004a72e3.js
  staging/js/app.62ce9a33.js
  staging/js/chunk-08dab35b.cc989658.js
  staging/js/chunk-08dab35b.fb875e8b.js
  staging/js/chunk-091f4f74.4a6659fe.js
  staging/js/chunk-091f4f74.f2a6c0c4.js
  staging/js/chunk-1a96c085.6e0866d5.js
  staging/js/chunk-320b3e6a.aa97a0e0.js
  staging/js/chunk-320b3e6a.f9367395.js
  staging/js/chunk-3dc42544.f94f00dd.js
  staging/js/chunk-3dc42544.fd07e23e.js
  staging/js/chunk-42bc8b47.598eacd3.js
  staging/js/chunk-42bc8b47.9d5c14d9.js
  staging/js/chunk-45939c11.c7483009.js
  staging/js/chunk-45939c11.c8dd05ed.js
  staging/js/chunk-4d730eb5.da847ff2.js
  staging/js/chunk-4fa672eb.49eb4536.js
  staging/js/chunk-4fa672eb.82c6d4a4.js
  staging/js/chunk-5bd868d6.00593fe6.js
  staging/js/chunk-5bd868d6.efda7da1.js
  staging/js/chunk-6a8b17ac.39a6eac3.js
  staging/js/chunk-6a8b17ac.78b5d758.js
  staging/js/chunk-725ee92b.5e901ac5.js
  staging/js/chunk-778a1868.bb4381c7.js
  staging/js/chunk-7916f8ca.785791dd.js
  staging/js/chunk-7916f8ca.91bf6bdb.js
  staging/js/chunk-9427fdc4.009cf8e7.js
  staging/js/chunk-9596d7b8.7fb014d8.js
  staging/js/chunk-9596d7b8.e1d0c9d1.js
  staging/precache-manifest.7cb9ae12db1b4a933802a694fb2bb2c3.js
  staging/service-worker.js
Due: none

Installs cypress and prepares dApp for integration image
  integration/run-e2e.sh
  raiden-dapp/.env.e2e
  raiden-dapp/.gitignore
  raiden-dapp/cypress.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/services/config-provider.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/services/web3-provider.ts
  raiden-dapp/tests/e2e/.eslintrc.js
  raiden-dapp/tests/e2e/.gitignore
  raiden-dapp/tests/e2e/e2e.json
  raiden-dapp/tests/e2e/plugins/index.js
  raiden-dapp/tests/e2e/specs/dapp.spec.ts
  raiden-dapp/tests/e2e/support/commands.ts
  raiden-dapp/tests/e2e/support/index.ts
  raiden-dapp/tests/e2e/tsconfig.json
  raiden-dapp/tsconfig.json
  raiden-dapp/vue.config.js
Due: dapp

Fixes issue with no provider message on package version
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
Due: dapp

Adds basic test and fixes coverage for cypress
  raiden-dapp/.gitignore
  raiden-dapp/.nycrc.json
  raiden-dapp/babel.config.js
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/tests/e2e/plugins/index.js
  raiden-dapp/tests/e2e/specs/dapp.spec.ts
  raiden-dapp/vue.config.js
Due: dapp

Fixed icon display issues
  raiden-dapp/src/components/dialogs/ReceivingDisabledDialog.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

Removes unnecessary ?? from creation call
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

Automated deployment to GitHub Pages: 3a9bde9d2692ac8c047d0a044086ed06e9445db4 [skip ci]
  staging/css/app.0bfc42c8.css
  staging/css/app.33194862.css
  staging/index.html
  staging/js/app.62ce9a33.js
  staging/js/app.ad9cf4ba.js
  staging/js/chunk-08dab35b.c7d83995.js
  staging/js/chunk-08dab35b.cc989658.js
  staging/js/chunk-091f4f74.f2a6c0c4.js
  staging/js/chunk-091f4f74.f3db2357.js
  staging/js/chunk-25fdc0d3.43a2d9f6.js
  staging/js/chunk-320b3e6a.a834d88e.js
  staging/js/chunk-320b3e6a.f9367395.js
  staging/js/chunk-3dc42544.bcb427cb.js
  staging/js/chunk-3dc42544.fd07e23e.js
  staging/js/chunk-42bc8b47.429ec628.js
  staging/js/chunk-42bc8b47.9d5c14d9.js
  staging/js/chunk-45939c11.7a3ba432.js
  staging/js/chunk-45939c11.c7483009.js
  staging/js/chunk-4fa672eb.49eb4536.js
  staging/js/chunk-4fa672eb.d8fba36e.js
  staging/js/chunk-5bd868d6.ad603e08.js
  staging/js/chunk-5bd868d6.efda7da1.js
  staging/js/chunk-6a8b17ac.39a6eac3.js
  staging/js/chunk-6a8b17ac.82afea0e.js
  staging/js/chunk-725ee92b.04440f8e.js
  staging/js/chunk-725ee92b.5e901ac5.js
  staging/js/chunk-778a1868.bb4381c7.js
  staging/js/chunk-778a1868.de2ed084.js
  staging/js/chunk-7916f8ca.182e1128.js
  staging/js/chunk-7916f8ca.91bf6bdb.js
  staging/js/chunk-9427fdc4.009cf8e7.js
  staging/js/chunk-9427fdc4.7801d646.js
  staging/js/chunk-9596d7b8.7fb014d8.js
  staging/js/chunk-9596d7b8.b60dc93e.js
  staging/precache-manifest.61bc0069a3dd0122a704f1e231781fe9.js
  staging/service-worker.js
Due: none

Fixed icon display issues (#1586)
  raiden-dapp/src/components/dialogs/ReceivingDisabledDialog.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

Automated deployment to GitHub Pages: 955164f3724037f11a9a2753a96026a3b6b8760e [skip ci]
  staging/css/app.33194862.css
  staging/css/app.e5504601.css
  staging/css/chunk-4fa672eb.f9c61aaa.css
  staging/css/chunk-66c53ac6.2e5dc00b.css
  staging/index.html
  staging/js/app.ad9cf4ba.js
  staging/js/app.df0e9bda.js
  staging/js/chunk-4fa672eb.d8fba36e.js
  staging/js/chunk-66c53ac6.81a7b5b0.js
  staging/precache-manifest.c99362760acf24273193b2ee7754a56d.js
  staging/service-worker.js
Due: none

0.8.0 -> v0.9.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Bumped versions in change logs
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

Prepare release v0.9.0 (#1587)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 86d5e560f09447f36b6af80c78442c95c4d261e1 [skip ci]
  staging/index.html
  staging/js/app.cebb50fc.js
  staging/js/app.df0e9bda.js
  staging/js/chunk-08dab35b.88003d5e.js
  staging/js/chunk-091f4f74.2953d2c4.js
  staging/js/chunk-25fdc0d3.966713ae.js
  staging/js/chunk-320b3e6a.3c91e5db.js
  staging/js/chunk-3dc42544.8a4bff35.js
  staging/js/chunk-42bc8b47.39d2d1aa.js
  staging/js/chunk-45939c11.82d973ef.js
  staging/js/chunk-5bd868d6.f69989bb.js
  staging/js/chunk-66c53ac6.23ff0daa.js
  staging/js/chunk-6a8b17ac.30727391.js
  staging/js/chunk-725ee92b.0c443236.js
  staging/js/chunk-778a1868.fa74b924.js
  staging/js/chunk-7916f8ca.29e463a8.js
  staging/js/chunk-9427fdc4.9805fd66.js
  staging/js/chunk-9596d7b8.9044e1a4.js
  staging/precache-manifest.be8208f12dd0f8da7913cb87724cdae8.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: b76f021d28c00257e7a240d38905f562f6c04f40 [skip ci]
  staging/index.html
  staging/js/app.c6b0965e.js
  staging/js/app.d2b28045.js
  staging/js/chunk-08dab35b.52438d26.js
  staging/js/chunk-091f4f74.dabfd283.js
  staging/js/chunk-25fdc0d3.16469c92.js
  staging/js/chunk-320b3e6a.424e7494.js
  staging/js/chunk-3dc42544.292ce291.js
  staging/js/chunk-42bc8b47.26be2566.js
  staging/js/chunk-45939c11.34f262b1.js
  staging/js/chunk-5bd868d6.119f4ae1.js
  staging/js/chunk-66c53ac6.ef308ee4.js
  staging/js/chunk-6a8b17ac.63434630.js
  staging/js/chunk-725ee92b.0917d741.js
  staging/js/chunk-778a1868.37489d6e.js
  staging/js/chunk-7916f8ca.57f18dcb.js
  staging/js/chunk-9427fdc4.acc0d741.js
  staging/js/chunk-9596d7b8.d0b7c28b.js
  staging/precache-manifest.7f8653991a55682252159f796ae91266.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: f104df9bf67240d35d681fc0856d38c8a769388e [skip ci]
  staging/index.html
  staging/js/app.d2b28045.js
  staging/js/app.f10f679c.js
  staging/js/chunk-08dab35b.7a0b572d.js
  staging/js/chunk-091f4f74.32bb46cb.js
  staging/js/chunk-25fdc0d3.051c4e5a.js
  staging/js/chunk-320b3e6a.e2fb1380.js
  staging/js/chunk-3dc42544.eb271069.js
  staging/js/chunk-42bc8b47.ce551f2e.js
  staging/js/chunk-45939c11.f9e07f4b.js
  staging/js/chunk-5bd868d6.ce963cee.js
  staging/js/chunk-66c53ac6.d14b008e.js
  staging/js/chunk-6a8b17ac.2d743314.js
  staging/js/chunk-725ee92b.29022109.js
  staging/js/chunk-778a1868.fd8e4aa8.js
  staging/js/chunk-7916f8ca.d53f8ab0.js
  staging/js/chunk-9427fdc4.f389b576.js
  staging/js/chunk-9596d7b8.22586978.js
  staging/js/chunk-vendors.806c4fd1.js
  staging/precache-manifest.992d12f9d2f043bc71bcef1a2f680a0e.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: ebc3973680c24839de135886993efb31901e436a [skip ci]
  staging/index.html
  staging/js/app.107e64de.js
  staging/js/app.f10f679c.js
  staging/js/chunk-08dab35b.d8569675.js
  staging/js/chunk-091f4f74.65490d82.js
  staging/js/chunk-25fdc0d3.2fb2f616.js
  staging/js/chunk-320b3e6a.06826da6.js
  staging/js/chunk-3dc42544.035752e3.js
  staging/js/chunk-42bc8b47.24955be6.js
  staging/js/chunk-45939c11.e1a9d924.js
  staging/js/chunk-5bd868d6.967d1d7d.js
  staging/js/chunk-66c53ac6.d9f0735c.js
  staging/js/chunk-6a8b17ac.2e221e6a.js
  staging/js/chunk-725ee92b.bf3fe713.js
  staging/js/chunk-778a1868.45c16838.js
  staging/js/chunk-7916f8ca.25204d45.js
  staging/js/chunk-9427fdc4.7fe1ed44.js
  staging/js/chunk-9596d7b8.4480a178.js
  staging/precache-manifest.eafd45765c2263e7177557b4c6356460.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 55d3beb4a1109878e4a9d8cb61e232c94de700ac [skip ci]
  staging/index.html
  staging/js/app.107e64de.js
  staging/js/app.ad0b03e7.js
  staging/js/chunk-08dab35b.8e3ec354.js
  staging/js/chunk-091f4f74.c5b3762f.js
  staging/js/chunk-25fdc0d3.0687f856.js
  staging/js/chunk-320b3e6a.c533eaa4.js
  staging/js/chunk-3dc42544.d049bd0c.js
  staging/js/chunk-42bc8b47.ded8c734.js
  staging/js/chunk-45939c11.53e4ba8b.js
  staging/js/chunk-5bd868d6.165b0801.js
  staging/js/chunk-66c53ac6.ee18d20d.js
  staging/js/chunk-6a8b17ac.edd7157c.js
  staging/js/chunk-725ee92b.09dd54f3.js
  staging/js/chunk-778a1868.0091b6b7.js
  staging/js/chunk-7916f8ca.79bfaad8.js
  staging/js/chunk-9427fdc4.dc05ef2a.js
  staging/js/chunk-9596d7b8.0dc564fe.js
  staging/precache-manifest.cc2bb40249e96580579e8010e3bb9037.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 8d259bd0feb476c515cfbfc9020aafe22046dd45 [skip ci]
  staging/index.html
  staging/js/app.5f3ac19b.js
  staging/js/app.ad0b03e7.js
  staging/js/chunk-08dab35b.b54ad5fa.js
  staging/js/chunk-091f4f74.d5e3899a.js
  staging/js/chunk-25fdc0d3.4cfc6184.js
  staging/js/chunk-320b3e6a.c4f36776.js
  staging/js/chunk-3dc42544.b0c8343a.js
  staging/js/chunk-42bc8b47.5bb156e2.js
  staging/js/chunk-45939c11.322949ea.js
  staging/js/chunk-5bd868d6.dabad45c.js
  staging/js/chunk-66c53ac6.f503cf27.js
  staging/js/chunk-6a8b17ac.d879f7eb.js
  staging/js/chunk-725ee92b.8a226799.js
  staging/js/chunk-778a1868.df1f6489.js
  staging/js/chunk-7916f8ca.bdc9cf4b.js
  staging/js/chunk-9427fdc4.5ce5538b.js
  staging/js/chunk-9596d7b8.8447a32d.js
  staging/precache-manifest.d74d6fc38ff2a1d997d0955e28b80753.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: d80bc0a32836a0c7949ed2f4f940776800179a55 [skip ci]
  staging/index.html
  staging/js/app.1e103732.js
  staging/js/app.5f3ac19b.js
  staging/js/chunk-08dab35b.0dfb4da7.js
  staging/js/chunk-091f4f74.1628c6c1.js
  staging/js/chunk-25fdc0d3.6085e563.js
  staging/js/chunk-320b3e6a.a1575010.js
  staging/js/chunk-3dc42544.be9e4e1c.js
  staging/js/chunk-42bc8b47.5fccf089.js
  staging/js/chunk-45939c11.e27ac5e6.js
  staging/js/chunk-5bd868d6.d347f3b8.js
  staging/js/chunk-66c53ac6.9b76ac01.js
  staging/js/chunk-6a8b17ac.aeedfe15.js
  staging/js/chunk-725ee92b.026aaf77.js
  staging/js/chunk-778a1868.07dbed8b.js
  staging/js/chunk-7916f8ca.d8ff7fa4.js
  staging/js/chunk-9427fdc4.6587c065.js
  staging/js/chunk-9596d7b8.74bd9e45.js
  staging/precache-manifest.f1fefc89c6bb2080c3159b2c8611b2d6.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: f66961e5cddd9f4d57b7d157811965db6536638b [skip ci]
  staging/index.html
  staging/js/app.1e103732.js
  staging/js/app.7688105f.js
  staging/js/chunk-08dab35b.f59a7d9b.js
  staging/js/chunk-091f4f74.900e997e.js
  staging/js/chunk-25fdc0d3.9eee740c.js
  staging/js/chunk-320b3e6a.8d8511be.js
  staging/js/chunk-3dc42544.bef21dce.js
  staging/js/chunk-42bc8b47.fa80d317.js
  staging/js/chunk-45939c11.073bcb92.js
  staging/js/chunk-5bd868d6.9efb0190.js
  staging/js/chunk-66c53ac6.1a8eb813.js
  staging/js/chunk-6a8b17ac.ef985bc8.js
  staging/js/chunk-725ee92b.8790dbcc.js
  staging/js/chunk-778a1868.05162dc1.js
  staging/js/chunk-7916f8ca.94b037cf.js
  staging/js/chunk-9427fdc4.771ce619.js
  staging/js/chunk-9596d7b8.8586beb4.js
  staging/js/chunk-vendors.7acf59be.js
  staging/js/chunk-vendors.806c4fd1.js
  staging/precache-manifest.2a5785b52e55da43ab2f3cc32bcbd67c.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 78d54dfb8992084aac661c4c83c88be652f366c4 [skip ci]
  staging/index.html
  staging/js/app.1e103732.js
  staging/js/app.7688105f.js
  staging/js/chunk-08dab35b.0dfb4da7.js
  staging/js/chunk-091f4f74.1628c6c1.js
  staging/js/chunk-25fdc0d3.6085e563.js
  staging/js/chunk-320b3e6a.a1575010.js
  staging/js/chunk-3dc42544.be9e4e1c.js
  staging/js/chunk-42bc8b47.5fccf089.js
  staging/js/chunk-45939c11.e27ac5e6.js
  staging/js/chunk-5bd868d6.d347f3b8.js
  staging/js/chunk-66c53ac6.9b76ac01.js
  staging/js/chunk-6a8b17ac.aeedfe15.js
  staging/js/chunk-725ee92b.026aaf77.js
  staging/js/chunk-778a1868.07dbed8b.js
  staging/js/chunk-7916f8ca.d8ff7fa4.js
  staging/js/chunk-9427fdc4.6587c065.js
  staging/js/chunk-9596d7b8.74bd9e45.js
  staging/js/chunk-vendors.7acf59be.js
  staging/js/chunk-vendors.806c4fd1.js
  staging/precache-manifest.f1fefc89c6bb2080c3159b2c8611b2d6.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 5ffe33707868022126be5c38deff853c61d20b7d [skip ci]
  staging/index.html
  staging/js/app.1e103732.js
  staging/js/app.a60e0f9e.js
  staging/js/chunk-08dab35b.ea572431.js
  staging/js/chunk-091f4f74.0281c5b7.js
  staging/js/chunk-25fdc0d3.2358c7c1.js
  staging/js/chunk-320b3e6a.b448494a.js
  staging/js/chunk-3dc42544.c9752edf.js
  staging/js/chunk-42bc8b47.9f46c6a6.js
  staging/js/chunk-45939c11.dffcd58d.js
  staging/js/chunk-5bd868d6.11e7cf41.js
  staging/js/chunk-66c53ac6.7002f028.js
  staging/js/chunk-6a8b17ac.9fa478c7.js
  staging/js/chunk-725ee92b.9dd72425.js
  staging/js/chunk-778a1868.0a9c3e84.js
  staging/js/chunk-7916f8ca.5a2d935d.js
  staging/js/chunk-9427fdc4.bd6cfc52.js
  staging/js/chunk-9596d7b8.3ddc1a03.js
  staging/js/chunk-vendors.7acf59be.js
  staging/js/chunk-vendors.806c4fd1.js
  staging/precache-manifest.87618a8762a4a640d113d69f4847c504.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 94f874dbc29374d7003cfa2f9e6e2019dd391d26 [skip ci]
  staging/index.html
  staging/js/app.a60e0f9e.js
  staging/js/app.b6f4e8b8.js
  staging/js/chunk-08dab35b.55edcfce.js
  staging/js/chunk-091f4f74.be53427b.js
  staging/js/chunk-25fdc0d3.0fb71d37.js
  staging/js/chunk-320b3e6a.0133886b.js
  staging/js/chunk-3dc42544.a2a812cd.js
  staging/js/chunk-42bc8b47.a8512ac5.js
  staging/js/chunk-45939c11.a6b27563.js
  staging/js/chunk-5bd868d6.a2e4077d.js
  staging/js/chunk-66c53ac6.7953b57a.js
  staging/js/chunk-6a8b17ac.f06af0f0.js
  staging/js/chunk-725ee92b.b8b19dad.js
  staging/js/chunk-778a1868.60675932.js
  staging/js/chunk-7916f8ca.8e0b24a0.js
  staging/js/chunk-9427fdc4.f4abef15.js
  staging/js/chunk-9596d7b8.ae644d99.js
  staging/precache-manifest.0dfdef0be226a6e0d991023f73b24730.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: dc0a2b558b7ca03fd4896e05bab073de837c21a2 [skip ci]
  staging/index.html
  staging/js/app.a5b7d446.js
  staging/js/app.b6f4e8b8.js
  staging/js/chunk-08dab35b.cdc5b500.js
  staging/js/chunk-091f4f74.64878d83.js
  staging/js/chunk-25fdc0d3.82424746.js
  staging/js/chunk-320b3e6a.bd0cca1e.js
  staging/js/chunk-3dc42544.4bde7f22.js
  staging/js/chunk-42bc8b47.773b853e.js
  staging/js/chunk-45939c11.263ce91a.js
  staging/js/chunk-5bd868d6.2dd33f0f.js
  staging/js/chunk-66c53ac6.9f8641e6.js
  staging/js/chunk-6a8b17ac.ba31c5e5.js
  staging/js/chunk-725ee92b.9051e8e0.js
  staging/js/chunk-778a1868.0f44b27d.js
  staging/js/chunk-7916f8ca.f163034b.js
  staging/js/chunk-9427fdc4.b48a469b.js
  staging/js/chunk-9596d7b8.18bfdf93.js
  staging/precache-manifest.6e908fb7c791209c22dcfe8d8a163fda.js
  staging/service-worker.js
Due: none

Extract packIOU & signIOU utils
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

Test fixes for the dynamic wallet/key/address generation
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 6f65f2d6ba0221a8ecc774e207c6782e71c1ab02 [skip ci]
  staging/index.html
  staging/js/app.5774fbf6.js
  staging/js/app.a5b7d446.js
  staging/js/chunk-08dab35b.55edcfce.js
  staging/js/chunk-091f4f74.be53427b.js
  staging/js/chunk-25fdc0d3.0fb71d37.js
  staging/js/chunk-320b3e6a.0133886b.js
  staging/js/chunk-3dc42544.a2a812cd.js
  staging/js/chunk-42bc8b47.a8512ac5.js
  staging/js/chunk-45939c11.a6b27563.js
  staging/js/chunk-5bd868d6.a2e4077d.js
  staging/js/chunk-66c53ac6.7953b57a.js
  staging/js/chunk-6a8b17ac.f06af0f0.js
  staging/js/chunk-725ee92b.b8b19dad.js
  staging/js/chunk-778a1868.60675932.js
  staging/js/chunk-7916f8ca.8e0b24a0.js
  staging/js/chunk-9427fdc4.f4abef15.js
  staging/js/chunk-9596d7b8.ae644d99.js
  staging/precache-manifest.cc5738c354aecbaf95f8b68a90163a1b.js
  staging/service-worker.js
Due: none

Upgrade dApp dependencies and fix linting issues
  raiden-dapp/.eslintrc.js
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/filters.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/e2e/.eslintrc.js
  raiden-dapp/tests/unit/balance-utils.spec.ts
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
  raiden-dapp/tests/unit/components/mint-dialog.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer-steps.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
  raiden-dapp/tests/unit/identicon-cache.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/views/account/raiden-account.spec.ts
Due: dapp

Upgrade CLI dependencies
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/index.ts
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
