Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Update README.md
  README.md
Due: none

docs: Extending dApp README
  README.md
  raiden-dapp/README.md
Due: dapp

Updating the README.md and raiden-dapp/README.md after handling all the merge conflicts rebasing on top of master
  README.md
  raiden-dapp/README.md
Due: dapp

cli: add BigNumber logging improvements
  raiden-cli/src/utils/logging.ts
Due: none

sdk: passthrough PouchDB options object
  raiden-ts/src/helpers.ts
Due: sdk, sdk_integration

sdk: declarative members and state machine params in constructor
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: tests: improve BigNumber inspected output
  raiden-ts/tests/setup.ts
Due: sdk, sdk_integration

sdk: tests: buffer logs and output only if test fails
  raiden-ts/package.json
  raiden-ts/tests/global.d.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/setupAfter.ts
Due: sdk, sdk_integration

sdk: add mocks and first unit test for Raiden public class
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

Mocking URL.createObjectURL
  raiden-dapp/jest.setup.js
Due: dapp

deps: Update dependency vue-i18n to v9
  raiden-dapp/package.json
  yarn.lock
Due: dapp

Automated deployment to GitHub Pages: 8a703421161dbed19ed1728d0c29dccec26ad670 [skip ci]
  staging/js/6.js
Due: none

dapp: Add cordova-sqlite backend for mobile
  raiden-dapp/package.json
  raiden-dapp/src/services/raiden-service.ts
  yarn.lock
Due: dapp

ci: change base executor image to ruby version
  .circleci/config.yml
Due: none

fixup: Enable sqlite plugin depending on environment
  raiden-dapp/.env.capacitor
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

e2e: Remove `beforeExit` hook
  raiden-ts/tests/e2e/e2e.spec.ts
Due: sdk, sdk_integration

Removing duplicated sentence
  README.md
Due: none

dapp: fix issue with blocked hubs for transfers
  raiden-dapp/src/components/transfer/TransferInputs.vue
Due: dapp

dapp: remove address input block property
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/components/address-input.spec.ts
Due: dapp

dapp: extend changelog for address input fix
  raiden-dapp/CHANGELOG.md
Due: dapp

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: Use new contracts on goerli by default
  raiden-ts/src/helpers.ts
Due: sdk, sdk_integration

cli: Remove unnecessary code
  raiden-cli/src/index.ts
Due: none

dapp: Set VUE_APP_UDC_ADDRESS for stable hosted dapp
  raiden-dapp/.env.production
Due: dapp

dapp: Use UDC address from env when given
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
