Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

Expose findRoutes & transfer routes as Paths & RaidePaths
  raiden-ts/src/index.ts
  raiden-ts/src/path/actions.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/types.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk

Add Int sized types
  raiden-ts/src/utils/types.ts
Due: sdk

Add types::decode helper, generate missing paymentId on Raiden.transfer
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/fixtures.ts
Due: sdk

Tests
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Make [Raiden]Paths arrays, expose the routes directly
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/types.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/fixtures.ts
Due: sdk

Test
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/Payment.vue
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/views/payment.spec.ts
Due: dapp

Added mediation fee dialog
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/components/ChannelDeposit.vue
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/Tokens.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/plugins/vuetify.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/Payment.vue
Due: dapp

Changed overall modal width
  raiden-dapp/src/views/Payment.vue
Due: dapp

Updated to new RaidenPaths type
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/Payment.vue
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/views/payment.spec.ts
Due: dapp

Fixed fee display issue in vuetify's datatable
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/model/types.ts
Due: dapp

Fetching target's availability before trying to find suitable routes
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

Close FindRoutes modal after successful transfer
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/views/Payment.vue
Due: dapp

TotalAmount simplification
  raiden-dapp/src/components/FindRoutes.vue
Due: dapp

Feature/mediation fee dialog (#392)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/components/ChannelDeposit.vue
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/Tokens.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/plugins/vuetify.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/Payment.vue
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/views/payment.spec.ts
Due: dapp

"Try Out" section updated for Alderaan
  README.md
Due: none

Reorganized content and small edits
  README.md
Due: none

RaidenConfig goes to RaidenState.config
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/reducer.ts
  raiden-ts/src/state.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Tests
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/state.spec.ts
Due: sdk

Reorganized content after review feedback
  README.md
Due: none

Added PFS safety margin
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/src/config.ts
  raiden-ts/src/path/epics.ts
Due: dapp, sdk

Changed default PFS servers
  raiden-ts/src/config.ts
Due: sdk

Tests
  raiden-ts/src/path/epics.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Adds eslint rule to put content in newline
  raiden-dapp/.eslintrc.js
  raiden-dapp/src/components/ErrorScreen.vue
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/views/Payment.vue
Due: dapp

Adds v-bind and v-on style to eslintrc
  raiden-dapp/.eslintrc.js
Due: dapp

Kill ongoing requests after network change by reloading the page
  raiden-dapp/src/services/web3-provider.ts
Due: dapp

Addressing pull request review comments
  raiden-ts/src/path/epics.ts
  raiden-ts/src/raiden.ts
Due: sdk

Fix/secret request too small (#409)
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/src/config.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: dapp, sdk
