Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

Fixing CSS lint error
  raiden-dapp/src/components/transaction-history/TransactionsList.vue
Due: dapp

Tests for Transaction component
  raiden-dapp/tests/unit/components/transaction.spec.ts
Due: dapp

Updated icons
  raiden-dapp/src/assets/received_transfer.svg
  raiden-dapp/src/assets/sent_transfer.svg
Due: dapp

Dependency upgrades
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Fix issues
  raiden-ts/package.json
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/redux.ts
  raiden-ts/src/utils/rx.ts
  raiden-ts/tests/e2e/mocks.ts
  raiden-ts/tests/setup.ts
  raiden-ts/tests/tsconfig.json
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: c90c7fc8ae9359e362da3e6e8bbcfaa4b76e992f [skip ci]
  staging/css/chunk-7ea59430.5f44b0ab.css
  staging/css/chunk-7ea59430.c5adc0ad.css
  staging/css/chunk-895be7da.b86104e5.css
  staging/css/chunk-895be7da.c5984820.css
  staging/index.html
  staging/js/app.66113dc9.js
  staging/js/app.cce82715.js
  staging/js/chunk-1503d996.0bf9ae71.js
  staging/js/chunk-1503d996.906a982e.js
  staging/js/chunk-15f0b7af.b5319531.js
  staging/js/chunk-36b5fef4.cf453415.js
  staging/js/chunk-36b5fef4.ef779db1.js
  staging/js/chunk-56eafb7a.651f81d2.js
  staging/js/chunk-56eafb7a.b57f70ab.js
  staging/js/chunk-5dcb669a.535c9d99.js
  staging/js/chunk-5dcb669a.fe8f19f1.js
  staging/js/chunk-67b172b3.3cfbb5ad.js
  staging/js/chunk-67b172b3.97fd3c49.js
  staging/js/chunk-73a2659e.39c7792f.js
  staging/js/chunk-73a2659e.d527e161.js
  staging/js/chunk-7a1b58ac.8ef548fc.js
  staging/js/chunk-7a1b58ac.98cfeb63.js
  staging/js/chunk-7ea59430.1e0ac891.js
  staging/js/chunk-7ea59430.aa14026e.js
  staging/js/chunk-895be7da.c7504a3a.js
  staging/js/chunk-895be7da.e57cd428.js
  staging/js/chunk-bebefaa6.a8121004.js
  staging/js/chunk-bebefaa6.dc2d6106.js
  staging/js/chunk-d03713e2.28382d95.js
  staging/js/chunk-d03713e2.9b0a12b4.js
  staging/js/chunk-d483edf6.5cba24b1.js
  staging/js/chunk-d483edf6.e77d58a8.js
  staging/js/chunk-f9c339fe.09d0c4bd.js
  staging/js/chunk-f9c339fe.277bd0f5.js
  staging/js/chunk-vendors.24fe2cef.js
  staging/js/chunk-vendors.79a504fb.js
  staging/precache-manifest.687a4124dfcff4dca9edb9f8e4d27f2f.js
  staging/service-worker.js
Due: none

Refactor channelMonitor logic
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/types.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/utils/error.ts
Due: sdk, sdk_integration

Fix creating rooms on transfers while mediating and receiving
  raiden-ts/src/transport/epics.ts
Due: sdk, sdk_integration

Tests
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk, sdk_integration

Add changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Initial commit
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/assets/gear.svg
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/account/Settings.vue
Due: dapp

Store and read settings from local storage
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/account/Settings.vue
Due: dapp

Fix lint error
  raiden-dapp/src/views/account/Settings.vue
Due: dapp

Fix tests
  raiden-dapp/tests/unit/views/home.spec.ts
Due: dapp

Input error messages styling
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

More tests
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
  raiden-dapp/tests/unit/components/connect-dialog.spec.ts
Due: dapp

More tests
  raiden-dapp/tests/unit/views/account/settings.spec.ts
Due: dapp

Automated deployment to GitHub Pages: c6802740409ac47dd5077d0657dfe83ba7b1a7d6 [skip ci]
  staging/index.html
  staging/js/app.42b12967.js
  staging/js/app.66113dc9.js
  staging/js/chunk-vendors.72073448.js
  staging/precache-manifest.9626ad8f5718fd74d04fb2baebbb9be4.js
  staging/service-worker.js
Due: none

Fixes layout for mobile
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/transaction-history/TransactionsList.vue
Due: dapp

Sorts transactions by latest transaction first
  raiden-dapp/src/components/transaction-history/TransactionsList.vue
Due: dapp

Small test for the transaction list component
  raiden-dapp/tests/unit/components/transactions-list.spec.ts
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Split transport epics
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/index.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 1a1558b032f89d4d29e2bb8df40ea621e0367e33 [skip ci]
  staging/index.html
  staging/js/app.42b12967.js
  staging/js/app.4f716c47.js
  staging/precache-manifest.5c273f02ea14e7f0509cec2b071ca063.js
  staging/service-worker.js
Due: none

0.6.0 -> v0.7.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Update change log
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

Prepare release v0.7.0 (#1482)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Update change log
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 1abd668a684bf0510b08ca3e4ca368570aac091d [skip ci]
  staging/index.html
  staging/js/app.4f716c47.js
  staging/js/app.70974969.js
  staging/js/chunk-1503d996.0bf9ae71.js
  staging/js/chunk-1503d996.64a64d9f.js
  staging/js/chunk-36b5fef4.4fa36ca9.js
  staging/js/chunk-36b5fef4.cf453415.js
  staging/js/chunk-56eafb7a.651f81d2.js
  staging/js/chunk-56eafb7a.a5adf5cb.js
  staging/js/chunk-5dcb669a.535c9d99.js
  staging/js/chunk-5dcb669a.74a6226d.js
  staging/js/chunk-67b172b3.7b2ee774.js
  staging/js/chunk-67b172b3.97fd3c49.js
  staging/js/chunk-73a2659e.39c7792f.js
  staging/js/chunk-73a2659e.58d934f3.js
  staging/js/chunk-7a1b58ac.8ef548fc.js
  staging/js/chunk-7a1b58ac.a1359eb9.js
  staging/js/chunk-7ea59430.1e0ac891.js
  staging/js/chunk-7ea59430.573cfd46.js
  staging/js/chunk-bebefaa6.56484fb3.js
  staging/js/chunk-bebefaa6.dc2d6106.js
  staging/js/chunk-d03713e2.649710bf.js
  staging/js/chunk-d03713e2.9b0a12b4.js
  staging/js/chunk-d483edf6.5cba24b1.js
  staging/js/chunk-d483edf6.ecdecf64.js
  staging/js/chunk-f9c339fe.ecd95c00.js
  staging/precache-manifest.c76245b32290b642d65a4c57fcae78ce.js
  staging/service-worker.js
Due: none

Update caps on config change and react on peers
  raiden-ts/CHANGELOG.md
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration
