Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

sdk: Add `effectiveGasPrice`, `type` to tx receipt mock
  raiden-ts/tests/integration/raiden.spec.ts
Due: sdk, sdk_integration

deps: Update all non-major dependencies
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency matrix-js-sdk to v12
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

dapp: add EthCC event prize for transfers
  raiden-dapp/src/components/dialogs/TransferProgressDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/TransferStepsRoute.vue
Due: dapp

deps: Update all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Lock file maintenance typescript
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/Gemfile.lock
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: add Capabilities.IMMUTABLE_METADATA
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
Due: sdk, sdk_integration

sdk: do not prune routes if Capabilities.IMMUTABLE_METADATA is true
  raiden-ts/src/messages/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/mediate/epics.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

sdk: use Capabilities.IMMUTABLE_METADATA to properly verify signature
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/tests/unit/messages.spec.ts
Due: sdk, sdk_integration

sdk: fix tests and add changelog entry for immutableMetadata
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/e2e/e2e.spec.ts
  raiden-ts/tests/integration/fixtures.ts
  raiden-ts/tests/integration/mediate.spec.ts
  raiden-ts/tests/integration/path.spec.ts
Due: sdk, sdk_integration

sdk: add eciesjs & @ethersproject/hash dependencies
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

sdk: add pubkey property to matrixPresence.success action
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/transport/actions.ts
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

sdk: send encrypted secret if partner supports it
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

sdk: improve some statements in transfer and 'Last' type
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

sdk: improve utils and add PublicKey type
  raiden-ts/src/utils/rx.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

sdk: add config.encryptSecret
  raiden-ts/src/config.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: no need to open RTC channel if secret is present in transfer
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

sdk: split Raiden.transfer logic into transferRequestResolveEpic
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/mediate/epics.ts
Due: sdk, sdk_integration

sdk: fix and add tests for transfer resolving and pubkey in presence
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/fixtures.ts
  raiden-ts/tests/integration/mediate.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/patches.ts
  raiden-ts/tests/integration/path.spec.ts
  raiden-ts/tests/integration/send.spec.ts
  raiden-ts/tests/integration/transport.spec.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
  raiden-ts/tests/utils.ts
Due: sdk, sdk_integration

sdk: WithdrawRequest.coop_settle doesn't send tx
  raiden-ts/src/messages/types.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: create WithdrawRequest with coop_settle from request if it's valid
  raiden-ts/src/errors.json
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

sdk: reply to coopSettle request and emit settle request
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: use coopSettle contracts and implement tx logic
  raiden-ts/src/channels/epics.ts
Due: sdk, sdk_integration

deps: Update all non-major dependencies
  package.json
  raiden-cli/package.json
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

dapp: remove idb package usage for service worker
  raiden-dapp/src/service-worker/worker/database.js
Due: dapp

dapp: add unit tests for service worker database
  raiden-dapp/jest.config.js
  raiden-dapp/jest.setup.js
  raiden-dapp/tests/unit/service-worker/worker/database.spec.ts
  raiden-dapp/tests/unit/utils/mocks/index.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/environment.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/index.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/indexeddb.ts
  raiden-dapp/tsconfig.json
Due: dapp

dapp: add unit tests for service worker caches
  raiden-dapp/src/service-worker/worker/cache.js
  raiden-dapp/tests/unit/service-worker/worker/cache.spec.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/cache-storage.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/environment.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/index.ts
Due: dapp

dapp: add unit tests for service worker clients
  raiden-dapp/tests/unit/service-worker/worker/clients.spec.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/clients.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/index.ts
Due: dapp

dapp: add unit tests for service worker index
  raiden-dapp/src/service-worker/worker/index.js
  raiden-dapp/tests/unit/service-worker/worker/index.spec.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/environment.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/events.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/fetch.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/index.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/registration.ts
Due: dapp
