Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

deps: Update all non-major dependencies and lockFile maintenance
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk,cli: address some codeclimate complaints
  raiden-cli/src/options.ts
  raiden-cli/src/routes/api.v1.ts
Due: none

deps: Update all non-major dependencies and lockFile maintenance
  raiden-dapp/package.json
  yarn.lock
Due: dapp

cli: refactor: move options to own module, split Cli & App types
  raiden-cli/src/cli.ts
  raiden-cli/src/index.ts
  raiden-cli/src/options.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/types.ts
Due: none

sdk: unit: fix test with estimateGas changes on onchain txs
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

deps: Update dependency typescript to v4.5.5
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: refactor: ensure unique message and paymentIds
  raiden-ts/src/db/utils.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: ensure monitor epic gets completed before latest$
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/epics.ts
Due: sdk, sdk_integration

deps: Update dependency minimist to 1.2.6 [SECURITY]
  .github/actions/changelog-reminder/package-lock.json
Due: none

deps: Update dependency typechain to v8
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

sdk: Raiden.transferOnchainBalance whole balance on arbitrum
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: ensure presence requests use valid PFSs only
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/tests/integration/fixtures.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/path.spec.ts
  raiden-ts/tests/integration/transport.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

docs: remove python client Bespin reference
  raiden-ts/README.md
Due: sdk, sdk_integration

cli: expose revealTimeout in channels & support --gasPrice normal
  raiden-cli/src/options.ts
  raiden-cli/src/routes/channels.ts
Due: none

cli: add /_testing endpoints: /exit, /tokens and /balance
  raiden-cli/src/routes/connections.ts
  raiden-cli/src/routes/testing.ts
Due: none

sdk: refactor: promote and rename getPfsInfo$ to choosePfs$
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

sdk: improve logging and error details in case of decode error
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

fixup! sdk: refactor: adapt some deprecated functions
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

sdk: ensure fromEthersEvent work with confirmationBlocks=0
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: add matrixServer to PFS info and use it in auto-matrixServer
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

sdk: add getBlockTimestamp and settleTimeout$ epics deps
  raiden-ts/src/helpers.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency jest-extended to v2
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: Update dependency typechain to v7
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

sdk: improve PFS IOU logging
  raiden-ts/src/services/epics/helpers.ts
Due: sdk, sdk_integration

cli: add some more information to address and user_deposit endpoints
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/userDeposit.ts
Due: none

deps: Update dependency typescript to v4.6.3
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: dapp: add @babel/plugin-proposal-class-static-block
  raiden-dapp/babel.config.js
  raiden-dapp/package.json
  raiden-dapp/tests/unit/utils/data-generator.ts
  yarn.lock
Due: dapp

sdk: add channelUpdate logs
  raiden-ts/src/channels/epics/close.ts
Due: sdk, sdk_integration

sdk: refactor: don't stale before initial sync and refactor blockTimeEpic
  raiden-ts/src/channels/epics/block.ts
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

stable: add changelogs to sdk & cli and adjust some tests
  raiden-cli/CHANGELOG.md
  raiden-dapp/tests/unit/components/transfer/pathfinding-services.spec.ts
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/send.spec.ts
Due: dapp, sdk, sdk_integration

sdk: refactor: read contractsInfo at runtime if needed
  raiden-ts/src/helpers.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

deps: upgrade @typechain/ethers-v5 to v9
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: Update dependency matrix-js-sdk to v16
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: pin single loglevel resolve and add fake-timers devDep
  package.json
  yarn.lock
Due: none
