Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

Added route guard for routes with a token network address
  raiden-dapp/src/router.ts
  raiden-dapp/tests/unit/guards.spec.ts
Due: dapp

Added route guard for routes with a token network address (#323)
  raiden-dapp/src/router.ts
  raiden-dapp/tests/unit/guards.spec.ts
Due: dapp

Get rid of RaidenContracts, use momoized factories instead
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Get rid of TokenInfo, use memoized member function instead
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
Due: sdk

Memoize and share getPresences$ observable
  raiden-ts/src/transport/utils.ts
Due: sdk

Use fromBlock instead of first to tokenMonitored action
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/tests/unit/epics.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Move typechain contracts to src/contracts
  raiden-ts/package.json
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Add chainId and registry address to state
  raiden-ts/package.json
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics.spec.ts
  raiden-ts/tests/unit/state.spec.ts
Due: sdk

Add contracts postbuild step, copy contracts *.d.ts to outDir
  raiden-ts/package.json
  raiden-ts/scripts/copyContracts.js
  raiden-ts/src/tsconfig.json
Due: sdk

PR review
  raiden-ts/scripts/copyContracts.js
  raiden-ts/src/raiden.ts
Due: sdk

Sync with next branch
  README.md
  raiden-dapp/src/router.ts
  raiden-dapp/tests/unit/guards.spec.ts
  raiden-ts/package.json
  raiden-ts/scripts/copyContracts.js
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/tsconfig.json
  raiden-ts/src/types.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/state.spec.ts
Due: dapp, sdk

Added SDK configuration
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/index.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Close deposit modal on payment screen after deposit
  raiden-dapp/src/views/Payment.vue
  raiden-dapp/tests/unit/views/payment.spec.ts
Due: dapp

Improve eslint config and fix warnings and errors
  raiden-ts/.eslintignore
  raiden-ts/package.json
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/reducer.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/transport/reducer.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/lru.ts
  raiden-ts/src/utils/matrix.ts
  raiden-ts/src/utils/redux.ts
  raiden-ts/src/utils/rxjs.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Make Raiden.transfer options para consistent with openChannel
  raiden-ts/src/raiden.ts
Due: sdk

Ensure matrix reauth if matrixServer config changed
  raiden-ts/src/transport/epics.ts
Due: sdk

Improve eslint config and fix warnings and errors
  raiden-ts/.eslintignore
  raiden-ts/package.json
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/reducer.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/transport/reducer.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/lru.ts
  raiden-ts/src/utils/matrix.ts
  raiden-ts/src/utils/redux.ts
  raiden-ts/src/utils/rxjs.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Prevent users from paying/depositing when there's no open channel
  raiden-dapp/src/components/Tokens.vue
Due: dapp

Update dependencies
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/views/SelectHub.vue
  raiden-dapp/tests/unit/components/address-input.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/vue.config.js
  raiden-ts/package-lock.json
  raiden-ts/package.json
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/tests/e2e/mocks.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: dapp, sdk

Loading local config for Raiden package builds
  raiden-dapp/.env.raiden-package
  raiden-dapp/.gitignore
  raiden-dapp/package.json
  raiden-dapp/public/wizard.json.example
  raiden-dapp/src/services/config-provider.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/services/web3-provider.ts
Due: dapp

Fetching local config depending on .env file
  raiden-dapp/.env.raiden-package
  raiden-dapp/.gitignore
  raiden-dapp/package.json
  raiden-dapp/public/wizard.json.example
  raiden-dapp/src/services/config-provider.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/services/web3-provider.ts
Due: dapp
