Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

next: sdk: optimization: send messages via userId
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/utils.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

next: sdk: clean paths coming from dApp
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

next: sdk: send our address_metadata for direct transfers
  raiden-ts/src/services/epics/helpers.ts
Due: sdk, sdk_integration

next: sdk: revert passing route unchanged, clean it
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/transfers/mediate/epics.ts
Due: sdk, sdk_integration

next: sdk: receive address_metadata and use it for transfer.request
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/mediate/epics.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

dapp: fix: pass through routes instead of assuming properties
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/TransferStepsRoute.vue
  raiden-dapp/tests/unit/views/transfer-steps-route.spec.ts
Due: dapp

sdk: tests: refactor messages tests to use PC's JSON examples
  raiden-ts/src/messages/utils.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/messages/Delivered.json
  raiden-ts/tests/unit/messages/LockExpired.json
  raiden-ts/tests/unit/messages/LockedTransfer.json
  raiden-ts/tests/unit/messages/PFSCapacityUpdate.json
  raiden-ts/tests/unit/messages/PFSFeeUpdate.json
  raiden-ts/tests/unit/messages/Processed.json
  raiden-ts/tests/unit/messages/RequestMonitoring.json
  raiden-ts/tests/unit/messages/RevealSecret.json
  raiden-ts/tests/unit/messages/SecretRequest.json
  raiden-ts/tests/unit/messages/Unlock.json
  raiden-ts/tests/unit/messages/WithdrawConfirmation.json
  raiden-ts/tests/unit/messages/WithdrawExpired.json
  raiden-ts/tests/unit/messages/WithdrawRequest.json
  raiden-ts/tests/unit/state.spec.ts
Due: sdk, sdk_integration

sdk: refactor: improve secret request errors
  raiden-ts/src/transfers/epics/secret.ts
Due: sdk, sdk_integration

dapp: declare custom vuetify styling variables
  raiden-dapp/src/scss/variables.scss
Due: dapp

dapp: simplify and improve action button component
  raiden-dapp/src/components/ActionButton.vue
  raiden-dapp/tests/unit/components/account/backup-state/download-state-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/mint-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/udc-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/views/account/raiden-account.spec.ts
  raiden-dapp/tests/unit/views/open-channel-route.spec.ts
  raiden-dapp/tests/unit/views/select-hub-route.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps-route.spec.ts
Due: dapp

dapp: simplify all dialog components
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/components/dialogs/ChannelWithdrawDialog.vue
  raiden-dapp/src/components/dialogs/ConfirmationDialog.vue
  raiden-dapp/src/components/dialogs/ConnectionPendingDialog.vue
  raiden-dapp/src/components/dialogs/ErrorDialog.vue
  raiden-dapp/src/components/dialogs/MintDialog.vue
  raiden-dapp/src/components/dialogs/NoChannelsDialog.vue
  raiden-dapp/src/components/dialogs/OpenChannelDialog.vue
  raiden-dapp/src/components/dialogs/PfsFeesDialog.vue
  raiden-dapp/src/components/dialogs/RaidenDialog.vue
  raiden-dapp/src/components/dialogs/TransferProgressDialog.vue
  raiden-dapp/src/components/dialogs/UdcDepositDialog.vue
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
Due: dapp

dapp: reduce spacing for small devices and simply
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/ConnectionManager.vue
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/components/icons/Spinner.vue
  raiden-dapp/src/components/transfer/PathfindingServices.vue
  raiden-dapp/src/components/transfer/TransferHeaders.vue
  raiden-dapp/src/components/transfer/TransferInputs.vue
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/account/AccountRoot.vue
Due: dapp

dapp: use more sticky buttons for routes
  raiden-dapp/src/views/OpenChannelRoute.vue
  raiden-dapp/src/views/SelectHubRoute.vue
  raiden-dapp/src/views/TransferRoute.vue
  raiden-dapp/src/views/TransferStepsRoute.vue
Due: dapp

dapp: reduce header height on small screens
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/AppHeader.vue
Due: dapp

dapp: fix formatting
  raiden-dapp/tests/unit/components/account/backup-state/download-state-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/mint-dialog.spec.ts
  raiden-dapp/tests/unit/views/account/raiden-account.spec.ts
  raiden-dapp/tests/unit/views/open-channel-route.spec.ts
  raiden-dapp/tests/unit/views/select-hub-route.spec.ts
Due: dapp

sdk: replace fp-ts's deprecated `either` with pipe+chain
  raiden-ts/src/actions.ts
Due: sdk, sdk_integration

dapp: allow providers to be disabled by config
  raiden-dapp/src/services/config-provider.ts
  raiden-dapp/src/services/ethereum-provider/types.ts
  raiden-dapp/tests/unit/services/ethereum-provider/types.spec.ts
Due: dapp

dapp: hide disabled provider in connection manager
  raiden-dapp/public/config.json.example
  raiden-dapp/src/components/ConnectionManager.vue
  raiden-dapp/src/services/ethereum-provider/__mocks__/direct-rpc-provider.ts
  raiden-dapp/src/services/ethereum-provider/__mocks__/injected-provider.ts
  raiden-dapp/src/services/ethereum-provider/__mocks__/wallet-connect-provider.ts
  raiden-dapp/tests/unit/components/connection-manager.spec.ts
  raiden-dapp/tests/unit/services/ethereum-provider/injected-provider.spec.ts
Due: dapp

dapp: disable direct rpc provider for production
  raiden-dapp/.env.production
  raiden-dapp/public/config.production.json
Due: dapp

sdk: move UnionToIntersection to utils/types.ts
  raiden-ts/src/global.d.ts
  raiden-ts/src/transfers/mediate/types.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

deps: add webpack as explicit devDependency
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: fix unknown Object.values assignment issue with TS 4.3
  raiden-ts/src/db/utils.ts
Due: sdk, sdk_integration

lint: disable jsdoc/valid-types, since they're enforced by TS itself
  .eslintrc.json
  raiden-ts/src/channels/utils.ts
  raiden-ts/tests/integration/fixtures.ts
Due: sdk, sdk_integration

Revert "lint: disable import/no-extraneous-dependencies rule"
  .eslintrc.json
Due: none

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: revert TypeScript to 4.2.4 due to some Vue test issues
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration
