Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dapp: adapt connection manager to be more generic
  raiden-dapp/src/components/ConnectionManager.vue
Due: dapp

dapp: hide disabled provider in connection manager
  raiden-dapp/public/config.json.example
  raiden-dapp/src/components/ConnectionManager.vue
  raiden-dapp/src/services/ethereum-provider/__mocks__/direct-rpc-provider.ts
  raiden-dapp/src/services/ethereum-provider/__mocks__/injected-provider.ts
  raiden-dapp/src/services/ethereum-provider/__mocks__/wallet-connect-provider.ts
  raiden-dapp/tests/unit/components/connection-manager.spec.ts
  raiden-dapp/tests/unit/services/ethereum-provider/injected-provider.spec.ts
Due: dapp

dapp: fix e2e tests for connection manager
  raiden-dapp/src/components/ConnectionManager.vue
  raiden-dapp/tests/e2e/utils/user-interaction.ts
Due: dapp

dapp: add changelog entry for mobile improvements
  raiden-dapp/CHANGELOG.md
Due: dapp

dapp: fix duplicated navigation error
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

chore: add github action to block fixup commits
  .github/workflows/workflow.yml
Due: none

dapp: make unit tests fail on console errors
  raiden-dapp/jest.setup-after.ts
  raiden-dapp/package.json
  yarn.lock
Due: dapp

dapp: fix incomplete mocks for unit tests
  raiden-dapp/src/mixins/__mocks__/ethereum-provider-dialog-mixin.ts
  raiden-dapp/src/services/ethereum-provider/__mocks__/direct-rpc-provider.ts
  raiden-dapp/src/services/ethereum-provider/__mocks__/wallet-connect-provider.ts
  raiden-dapp/src/views/account/Settings.vue
  raiden-dapp/tests/unit/components/account/withdrawal.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
  raiden-dapp/tests/unit/views/open-channel-route.spec.ts
Due: dapp

cli: Enable mediation by default
  raiden-cli/src/index.ts
Due: none

Automated deployment to GitHub Pages: cd8991ba691957fa178c873f34e19960fa57b835 [skip ci]
  staging/js/27.js
Due: none

deps: Lock file maintenance all non-major dependencies
  .github/workflows/workflow.yml
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: revert TypeScript to 4.2.4 due to some Vue test issues
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency ts-jest to v27
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update jest monorepo
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

chore: Update typescript independently from other packages
  .github/renovate.json
Due: none

deps: Update dependency @types/matrix-js-sdk to v11
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: fix lint issues
  raiden-ts/src/utils/ethers.ts
  raiden-ts/tests/integration/mocks.ts
Due: sdk, sdk_integration

deps: fix type issues with jest jsdom
  package.json
  yarn.lock
Due: none

dapp: enable code optimization for capacitor build
  raiden-dapp/.env.capacitor
Due: dapp

sdk: replace bignumber.js with decimal.js
  raiden-ts/package.json
  raiden-ts/tests/setup.ts
  yarn.lock
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
