Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

Automated deployment to GitHub Pages: edcea76b4b5761dc13be7874b39602707ffe032d [skip ci]
  staging/index.html
  staging/js/app.eefaafb3.js
  staging/js/app.f28e8245.js
  staging/precache-manifest.0e3b221790b14b498df5a9db5da8cab8.js
  staging/service-worker.js
Due: none

sdk: name some codecs for better error messages
  pnpm-lock.yaml
  raiden-ts/src/channels/state.ts
  raiden-ts/src/state.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

dependencies: Update dependency typescript to v4
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: bc2d62c395249bf016aa620d4c09a1c56c904173 [skip ci]
  staging/index.html
  staging/js/app.a85409e2.js
  staging/js/app.f28e8245.js
  staging/js/chunk-05ba6fd4.b3a48448.js
  staging/js/chunk-268d0000.ef214857.js
  staging/js/chunk-27e352e2.3b438c6f.js
  staging/js/chunk-2cafc4df.0ac82790.js
  staging/js/chunk-2fa3338b.bf618977.js
  staging/js/chunk-37d6e619.17afec70.js
  staging/js/chunk-3fd32db8.08294fd2.js
  staging/js/chunk-407a22ab.f287e509.js
  staging/js/chunk-509f5419.31d4a91b.js
  staging/js/chunk-532b51dc.0ec8f478.js
  staging/js/chunk-5953b1d8.5343f843.js
  staging/js/chunk-5ac8ed3e.0ff6b449.js
  staging/js/chunk-5f615f6b.228fa269.js
  staging/js/chunk-6d4d98e2.7725a65a.js
  staging/js/chunk-74fd7562.42e5c9f5.js
  staging/js/chunk-7d3c4dbe.dbe8ff63.js
  staging/js/chunk-a74fed60.56e36862.js
  staging/js/chunk-f1427f6a.cb9a5417.js
  staging/js/chunk-vendors.b17e58c6.js
  staging/precache-manifest.cf8de9213a46ebbb314b3f116dbfde64.js
  staging/service-worker.js
Due: none

dependencies: Update all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

deps: lock @types/express@4.17.7
  pnpm-lock.yaml
  raiden-cli/package.json
Due: none

Reduce empty space between input and button
  raiden-dapp/src/components/transfer/TransferInputs.vue
Due: dapp

dependencies: Update all non-major dependencies
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Reduce empty space between input and button (#2127)
  raiden-dapp/src/components/transfer/TransferInputs.vue
Due: dapp

Automated deployment to GitHub Pages: 2a1724000b0a4896c162481a75cb1e4fa5f4daff [skip ci]
  staging/css/chunk-7529484a.6122d73d.css
  staging/css/chunk-9f8ebf08.090f7f3e.css
  staging/index.html
  staging/js/app.3d170b69.js
  staging/js/app.59ba9cf6.js
  staging/js/chunk-7529484a.feb53c83.js
  staging/js/chunk-9f8ebf08.5c7b0379.js
  staging/precache-manifest.01339fa445f5be22b97aeda19f0e4923.js
  staging/service-worker.js
Due: none

deps: pin @babel/core to prevent type issue on dapp
  pnpm-lock.yaml
  raiden-cli/package.json
  raiden-dapp/package.json
Due: dapp

Automated deployment to GitHub Pages: 3f04d4b626acc953ee8d0adb3758e1cda609e2dd [skip ci]
  staging/index.html
  staging/js/app.59ba9cf6.js
  staging/js/app.608d8bb8.js
  staging/js/chunk-vendors.2cdae791.js
  staging/js/chunk-vendors.82b71e7a.js
  staging/precache-manifest.c4b35a9b98ebf095122b69ce0f91ce1e.js
  staging/service-worker.js
Due: none

dependencies: Update dependency yargs to v16
  raiden-cli/package.json
Due: none

Automated deployment to GitHub Pages: ebcff226345401752a4773ee60faf215e8284ab9 [skip ci]
  staging/css/chunk-3fb2eaaf.90ab4677.css
  staging/index.html
  staging/js/app.608d8bb8.js
  staging/js/app.caa52ed3.js
  staging/js/chunk-05b95e84.6e6da153.js
  staging/js/chunk-0c91f132.74dfa457.js
  staging/js/chunk-11516bec.f71304b8.js
  staging/js/chunk-285c82c0.0794e369.js
  staging/js/chunk-2caf02c8.db2d5b20.js
  staging/js/chunk-2fd3fb14.9e73dbcd.js
  staging/js/chunk-33802159.b558a941.js
  staging/js/chunk-3fb2eaaf.d1d81757.js
  staging/js/chunk-55791a67.5c48cd24.js
  staging/js/chunk-557d7648.e8e0ba5d.js
  staging/js/chunk-59bd4970.b3de7a6a.js
  staging/js/chunk-676bcc50.55691589.js
  staging/js/chunk-7529484a.2d7c751f.js
  staging/js/chunk-7aab278a.40c63566.js
  staging/js/chunk-822ad1ce.dcb70047.js
  staging/js/chunk-84c70856.1e1d68cb.js
  staging/js/chunk-8758b04a.81f6cebc.js
  staging/js/chunk-ebdeebf2.362c6f03.js
  staging/js/chunk-fda6e23e.6c0822ea.js
  staging/js/chunk-vendors.2cdae791.js
  staging/js/chunk-vendors.577efd39.js
  staging/precache-manifest.b473b84f8708696b78d7f6e73768d700.js
  staging/service-worker.js
Due: none

dApp: improve logging on errors, and fix reset before state upload
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/views/Home.vue
Due: dapp

dApp: clear some Metamask warnings, fix transfer progress dialog
  raiden-dapp/src/services/web3-provider.ts
  raiden-dapp/src/store/index.ts
Due: dapp

Expose channel open success event
  raiden-ts/src/actions.ts
Due: sdk, sdk_integration

Preparations to pass target confirmation block number to channel open notification
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

deps: pin @types/node to fix webpack-env type issue
  pnpm-lock.yaml
  raiden-cli/package.json
Due: none

Automated deployment to GitHub Pages: 69cb985be54ac813174c8665fd23d7932816aaaf [skip ci]
  staging/css/chunk-4db027b9.90ab4677.css
  staging/index.html
  staging/js/app.3a8fb5c9.js
  staging/js/app.caa52ed3.js
  staging/js/chunk-3fb2eaaf.d1d81757.js
  staging/js/chunk-4db027b9.8a05e3a1.js
  staging/js/chunk-vendors.577efd39.js
  staging/js/chunk-vendors.f408839e.js
  staging/precache-manifest.17cb30153080c6dc42ae6748e87b24a9.js
  staging/service-worker.js
Due: none

Refactoring notification store to either add or update a notification
  raiden-dapp/src/store/notifications/actions.ts
  raiden-dapp/src/store/notifications/getters.ts
  raiden-dapp/src/store/notifications/mutations.ts
  raiden-dapp/src/store/notifications/types.d.ts
Due: dapp

Update data passed to the notification success helper function
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

dapp: remove buggy LazyRoute component
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/components/navigation/OpenChannel.vue
  raiden-dapp/src/components/navigation/SelectHub.vue
  raiden-dapp/src/components/navigation/SelectToken.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/views/ChannelsRoute.vue
  raiden-dapp/src/views/LazyRoute.vue
  raiden-dapp/src/views/OpenChannelRoute.vue
  raiden-dapp/src/views/SelectHubRoute.vue
  raiden-dapp/src/views/SelectTokenRoute.vue
  raiden-dapp/src/views/TransferRoute.vue
  raiden-dapp/src/views/TransferStepsRoute.vue
  raiden-dapp/tests/unit/components/navigation/channels.spec.ts
  raiden-dapp/tests/unit/components/navigation/open-channel.spec.ts
  raiden-dapp/tests/unit/components/navigation/select-hub.spec.ts
  raiden-dapp/tests/unit/components/navigation/select-token.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer-steps.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
  raiden-dapp/tests/unit/views/channels-route.spec.ts
  raiden-dapp/tests/unit/views/lazy-route.spec.ts
  raiden-dapp/tests/unit/views/open-channel-route.spec.ts
  raiden-dapp/tests/unit/views/select-hub-route.spec.ts
  raiden-dapp/tests/unit/views/select-token-route.spec.ts
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps-route.spec.ts
Due: dapp

dapp: use alias for scss imports in all components
  raiden-dapp/src/components/ActionButton.vue
  raiden-dapp/src/components/AddressDisplay.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/Divider.vue
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/HeaderIdenticon.vue
  raiden-dapp/src/components/ListHeader.vue
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
  raiden-dapp/src/components/icons/QrCode.vue
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/components/navigation/OpenChannel.vue
  raiden-dapp/src/components/navigation/SelectToken.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/components/transaction-history/TransactionList.vue
  raiden-dapp/src/components/transfer/TransferHeaders.vue
  raiden-dapp/src/components/transfer/TransferInputs.vue
  raiden-dapp/src/views/DisclaimerRoute.vue
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/TransferStepsRoute.vue
  raiden-dapp/src/views/account/BackupState.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

Fixes bugs where id could reach infinity and wrongly typed notifications
  raiden-dapp/src/store/notifications/getters.ts
  raiden-dapp/src/store/notifications/state.ts
Due: dapp

Improve contribution docs
  CONTRIBUTING.md
  raiden-ts/SDK-Development.md
Due: sdk, sdk_integration
