Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

Unit tests for notification store getters
  raiden-dapp/src/store/notifications/getters.ts
  raiden-dapp/tests/unit/store/notifications/getters.spec.ts
Due: dapp

cli: fix bundling, replace plain webpack with ncc
  raiden-cli/.gitignore
  raiden-cli/package.json
  raiden-cli/src/index.ts
  raiden-cli/webpack.config.js
Due: none

cli: build bundle & expose artifact in circleci
  .circleci/config.yml
  raiden-cli/package.json
  raiden-cli/raiden
Due: none

Istanbul ignore raiden connect
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
Due: dapp

deps: bump lock and add changelog
  pnpm-lock.yaml
  raiden-cli/CHANGELOG.md
Due: none

sdk: adapt WebRTC protocol to comply with python client
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

sdk: simplify & split waitMemberAndSend$ helper function
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

sdk: add changelog and fix tests for webRTC protocol
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Converting PFS refucer tests to new pattern
  raiden-ts/tests/unit/epics/path.spec.ts
Due: sdk, sdk_integration

Addresses review feedback
  raiden-dapp/tests/unit/store/notifications/getters.spec.ts
  raiden-dapp/tests/unit/store/notifications/mutations.spec.ts
Due: dapp

dApp: Unit tests for notifications store (#2171)
  raiden-dapp/src/store/notifications/getters.ts
  raiden-dapp/tests/unit/store/notifications/getters.spec.ts
  raiden-dapp/tests/unit/store/notifications/mutations.spec.ts
Due: dapp

dapp: fix incomplete Raiden service mocks in tests
  raiden-dapp/tests/unit/views/account/udc.spec.ts
  raiden-dapp/tests/unit/views/select-hub-route.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps-route.spec.ts
Due: dapp

sdk: review comments
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 52606040298fbc6a44d2d6cdecd85c352d3dc074 [skip ci]
  staging/index.html
  staging/js/app.0271778a.js
  staging/js/app.abfdfcad.js
  staging/js/chunk-vendors.a52bab82.js
  staging/precache-manifest.93bee04882440e382b5cadec82aa37d3.js
  staging/service-worker.js
Due: none

dapp: add new token list (item) component(s)
  raiden-dapp/src/components/tokens/TokenList.vue
  raiden-dapp/src/components/tokens/TokenListItem.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/components/tokens/token-list-item.spec.ts
  raiden-dapp/tests/unit/components/tokens/token-list.spec.ts
Due: dapp

dapp: make use of new token list component
  raiden-dapp/src/components/overlays/TokenOverlay.vue
  raiden-dapp/src/components/transfer/TransferHeaders.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/SelectTokenRoute.vue
  raiden-dapp/tests/unit/views/select-token-route.spec.ts
Due: dapp

dapp: fix typo preventing to switch token
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

dapp: fix correct parsing of empty token parameter
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

dapp: simplify token overlay template and styling
  raiden-dapp/src/components/overlays/TokenOverlay.vue
  raiden-dapp/tests/unit/components/overlays/token-overlay.spec.ts
Due: dapp

dapp: extend changelog for fixing token overlay
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 8e4f139e9b9ea5be7cd514ca79c3580d4ff701e1 [skip ci]
  staging/css/chunk-0466bfdd.0be479e4.css
  staging/css/chunk-0466bfdd.f0caf6ea.css
  staging/css/chunk-0544b749.1157883c.css
  staging/css/chunk-168f1962.cc3b308c.css
  staging/css/chunk-1978ba43.96bf5c72.css
  staging/css/chunk-361f058e.9902be96.css
  staging/css/chunk-5bd716cd.1eaab978.css
  staging/css/chunk-6126e665.b60c66cc.css
  staging/css/chunk-6742db46.e7cb60cc.css
  staging/css/chunk-c280f1a0.e711201e.css
  staging/css/chunk-c511bfe6.9e6706e2.css
  staging/index.html
  staging/js/app.0271778a.js
  staging/js/app.a7d51d1a.js
  staging/js/chunk-0544b749.b406d8e8.js
  staging/js/chunk-168f1962.0cc8a901.js
  staging/js/chunk-1978ba43.226ab41b.js
  staging/js/chunk-361f058e.1b50d37c.js
  staging/js/chunk-5bd716cd.a9bb9c08.js
  staging/js/chunk-6126e665.3ae51420.js
  staging/js/chunk-6742db46.cf8160ec.js
  staging/js/chunk-c280f1a0.603be36e.js
  staging/js/chunk-c511bfe6.62c0e1df.js
  staging/js/chunk-fbca7872.5f9cf6d2.js
  staging/precache-manifest.0f35523801c214a6bfa61627f2623166.js
  staging/service-worker.js
Due: none

dependencies: Update all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Babel dependency
  raiden-dapp/package.json
Due: dapp

Test for accepting disclaimer
  raiden-dapp/src/views/DisclaimerRoute.vue
  raiden-dapp/tests/e2e/specs/accept-disclaimer.spec.ts
Due: dapp

Changing function order
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
Due: dapp

dApp: redirect on state upload when connected (#2170)
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
  raiden-dapp/tests/unit/components/account/backup-state/upload-state-dialog.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 9c54007a9180433b780db5a08c4a85e5631a418b [skip ci]
  staging/css/chunk-34020bf8.e6751f10.css
  staging/css/chunk-4346a685.3e1f23dd.css
  staging/index.html
  staging/js/app.a7d51d1a.js
  staging/js/app.e7cf996c.js
  staging/js/chunk-34020bf8.f38a375b.js
  staging/js/chunk-4346a685.be9f4ae0.js
  staging/precache-manifest.e0ccd5731f84ff52e7386404fa1b37ab.js
  staging/service-worker.js
Due: none
