Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

deps: Lock file maintenance
  .github/actions/changelog-reminder/package-lock.json
Due: none

sdk: Disable Redux DevTools Browser Extension in production
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: Enable Redux DevTools Browser Extension
  raiden-ts/package.json
  raiden-ts/src/raiden.ts
  yarn.lock
Due: sdk, sdk_integration

sdk: Add an explanation about the Redux DevTools to the docs
  raiden-ts/docs-source/SDK-Development.md
Due: sdk, sdk_integration

sdk: Add changelog entry for Redux DevTools Extension
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

dapp: fix update event of service worker
  raiden-dapp/src/registerServiceWorker.ts
Due: dapp

dapp: add initial pre-caching to service worker
  raiden-dapp/src/sw.js
Due: dapp

dapp: extend raiden shutdown to navigate back home
  raiden-dapp/src/plugins/raiden.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/channels/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/udc-withdrawal-dialog.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/views/channels-route.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
  raiden-dapp/tests/unit/views/open-channel-route.spec.ts
Due: dapp

dapp: use workbox directory instead of vue plugin
  raiden-dapp/package.json
  raiden-dapp/src/sw.js
  raiden-dapp/vue.config.js
  yarn.lock
Due: dapp

dapp: register service worker via vue plugin
  raiden-dapp/package.json
  raiden-dapp/src/main.ts
  raiden-dapp/src/plugins/service-worker-assistant-plugin.ts
  raiden-dapp/src/registerServiceWorker.ts
  yarn.lock
Due: dapp

dapp: extend and attach application manifest
  raiden-dapp/public/index.html
  raiden-dapp/public/manifest.json
Due: dapp

dapp: prevent automatic update by service worker
  raiden-dapp/package.json
  raiden-dapp/src/service-worker/worker/index.js
  raiden-dapp/src/service-worker/worker/utilities.js
  raiden-dapp/src/sw.js
  raiden-dapp/vue.config.js
Due: dapp

dapp: add generation of version variable and file
  raiden-dapp/package.json
  raiden-dapp/version.ejs
  raiden-dapp/vue.config.js
Due: dapp

dapp: add regular check for available version
  raiden-dapp/package.json
  raiden-dapp/src/plugins/service-worker-assistant-plugin.ts
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/src/service-worker/worker/index.js
  raiden-dapp/src/service-worker/worker/utilities.js
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/store.spec.ts
  yarn.lock
Due: dapp

dapp: adopt update snackbar to use store
  raiden-dapp/src/components/UpdateSnackbar.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/components/update-snackbar.spec.ts
Due: dapp

dapp: add actual update mechanism
  raiden-dapp/src/components/UpdateSnackbar.vue
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/src/service-worker/messages.ts
  raiden-dapp/src/service-worker/worker/index.js
  raiden-dapp/src/service-worker/worker/utilities.js
  raiden-dapp/tests/unit/components/update-snackbar.spec.ts
Due: dapp

deps: Update dependency typedoc to v0.20.18
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

dapp: extend service worker to check cache on fail
  raiden-dapp/src/components/UpdateSnackbar.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/src/service-worker/messages.ts
  raiden-dapp/src/service-worker/worker/index.js
  raiden-dapp/src/service-worker/worker/utilities.js
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/components/update-snackbar.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

dapp: add regular cache integrity check
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/src/service-worker/messages.ts
  raiden-dapp/src/service-worker/worker/index.js
  raiden-dapp/src/service-worker/worker/utilities.js
Due: dapp

dapp: add install banner component
  raiden-dapp/public/manifest.json
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/InstallBanner.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/types.d.ts
Due: dapp

dapp: extend changelog for offline/update feature
  raiden-dapp/CHANGELOG.md
Due: dapp

dapp: reduce unnecessary install of service worker
  raiden-dapp/src/plugins/service-worker-assistant-plugin.ts
Due: dapp

dapp: add service worker database functionality
  raiden-dapp/package.json
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/src/service-worker/messages.ts
  raiden-dapp/src/service-worker/worker/cache.js
  raiden-dapp/src/service-worker/worker/clients.js
  raiden-dapp/src/service-worker/worker/database.js
  raiden-dapp/src/service-worker/worker/index.js
  raiden-dapp/src/service-worker/worker/utilities.js
  yarn.lock
Due: dapp

dapp: fix insecure window reload of sw assistant
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/src/service-worker/worker/index.js
Due: dapp

Fix CircleCI caching issues for yarn
  .circleci/config.yml
Due: none

dapp: disable sw assistant when no sw is available
  raiden-dapp/src/service-worker/assistant.ts
Due: dapp

dapp: fix sw to take over local version of dApp
  raiden-dapp/src/service-worker/worker/index.js
Due: dapp

dapp: improve testability of sw assistant
  raiden-dapp/src/service-worker/assistant.ts
Due: dapp

dapp: add unit tests for the sw assistant
  raiden-dapp/jest.setup.js
  raiden-dapp/package.json
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/tests/unit/service-worker/assistant.spec.ts
Due: dapp

dapp: split webpack setup to reduce complexity
  raiden-dapp/vue.config.js
Due: dapp

dapp: add unit tests for InstallBanner component
  raiden-dapp/src/components/InstallBanner.vue
  raiden-dapp/tests/unit/components/install-banner.spec.ts
Due: dapp

deps: Update dependency typedoc to v0.20.19
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

Updating disclaimers
  raiden-cli/src/disclaimer.json
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/DisclaimerRoute.vue
  raiden-ts/README.md
Due: dapp, sdk, sdk_integration
