Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

sdk: ensure unlock fetches latest transferState from db if needed
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

sdk,cli: address some codeclimate complaints
  raiden-cli/src/options.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

sdk: adapt PFS IOU expiration to claimable_until timestamp
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

sdk: tests: fix PFS and add transport tests
  raiden-ts/tests/integration/path.spec.ts
  raiden-ts/tests/integration/send.spec.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

sdk: await until withdrawableAfter on Raiden.withdrawFromUDC
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: ensure monitor epic gets completed before latest$
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

cli: refactor: move options to own module, split Cli & App types
  raiden-cli/src/cli.ts
  raiden-cli/src/index.ts
  raiden-cli/src/options.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/types.ts
Due: none

sdk: expose Raiden.settleTimeout constant getter
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: use half settleTimeout as upperbound for transfer expiration
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

dapp: remove all occurrences of settle timeout
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/channels/channel-list.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/utils/data-generator.ts
Due: dapp

sdk: refactor: promote and rename getPfsInfo$ to choosePfs$
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

sdk: ensure fromEthersEvent work with confirmationBlocks=0
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

dapp: fix tests after matrix from PFS changes
  raiden-dapp/tests/unit/components/transfer/pathfinding-services.spec.ts
Due: dapp

sdk: remove config.settleTimeout and make timestamp'd revealTimeout
  raiden-ts/src/channels/epics/monitor.ts
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
Due: sdk, sdk_integration

cli: adapt to settleTimeout removal from channel state
  raiden-cli/src/index.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/userDeposit.ts
Due: none

cli: fix parsing fee options addresses as numbers
  raiden-cli/src/options.ts
Due: none

deps: Update actions/checkout action
  .github/workflows/workflow.yml
Due: none

deps: Update eslint
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  e2e-environment/Dockerfile
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: remove @ethersproject/networks pin
  package.json
  raiden-ts/tests/integration/patches.ts
  yarn.lock
Due: sdk, sdk_integration

deps: Update dependency typescript to v4.6.2
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: dapp: add @babel/plugin-proposal-class-static-block
  raiden-dapp/babel.config.js
  raiden-dapp/package.json
  raiden-dapp/tests/unit/utils/data-generator.ts
  yarn.lock
Due: dapp

sdk: improve PFS IOU logging
  raiden-ts/src/services/epics/helpers.ts
Due: sdk, sdk_integration

sdk,cli: move some default configs to constants and use them in CLI
  raiden-cli/src/options.ts
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
Due: sdk, sdk_integration
