Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

dApp: adding disconnect button
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

dapp: allow address input to get reset externally
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

dapp: fix router errors due to bad navigation
  raiden-dapp/src/components/transfer/TransferInputs.vue
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

dapp: update and improve tests for transfer route
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
Due: dapp

dapp: extend CHANGELOG for transfer route fixes
  raiden-dapp/CHANGELOG.md
Due: dapp

dApp: adjusting tests for disconnect button
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

sdk: make bignumber.js available for usage
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

sdk: refactor: introduce mergeWith rx op and fix some codesmells
  raiden-ts/src/services/epics.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

sdk: allow to set fee and amount safety margins
  raiden-cli/src/config.json
  raiden-cli/src/index.ts
  raiden-ts/src/config.ts
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

sdk: refactor: extract addFeeSafetyMargin to its own function
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

sdk,cli: add changelog entry for new safety margin feature
  raiden-cli/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: remove p2p rooms and room-keeping logic, use only toDevice & RTC
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/messages/actions.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transport/actions.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/src/transport/reducer.ts
Due: sdk, sdk_integration

sdk: optimize matrixMessageSendEpic to batch multiple recipients
  raiden-ts/src/transport/epics/messages.ts
Due: sdk, sdk_integration

sdk: clean and fix tests for p2p room removal, add changelog entry
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk, sdk_integration

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: none

deps: Update dependency eslint-plugin-jsdoc to v32
  package.json
  yarn.lock
Due: none

deps: Update dependency inquirer to v8
  raiden-cli/package.json
  yarn.lock
Due: none

sdk: small migration type improvement
  raiden-ts/src/db/types.ts
  raiden-ts/src/db/utils.ts
  raiden-ts/src/persister.ts
Due: sdk, sdk_integration
