Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

ci: update changelog reminder
  .github/actions/changelog-reminder/index.js
Due: none

deps: Update dependency @actions/github to v5
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
Due: none

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  e2e-environment/Dockerfile
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

lint: disable import/no-extraneous-dependencies rule
  .eslintrc.json
Due: none

lint: sdk from new eslint version
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/transfers/epics/utils.ts
  raiden-ts/src/transfers/mediate/types.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/rx.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/e2e/e2e.spec.ts
  raiden-ts/tests/integration/epics/path.spec.ts
  raiden-ts/tests/integration/epics/transport.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

deps: pin @types/anymatch<3 which conflicts with @types/webpack
  package.json
  yarn.lock
Due: none

lint: dApp
  raiden-dapp/src/components/AddressDisplay.vue
  raiden-dapp/src/components/dialogs/WalletConnectProviderDialog.vue
  raiden-dapp/src/services/config-provider.ts
  raiden-dapp/src/views/NotificationPanel.vue
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/components/channels/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/no-channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/udc-withdrawal-dialog.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
  raiden-dapp/tests/unit/components/no-tokens.spec.ts
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
  raiden-dapp/tests/unit/components/transfer/transfer-headers.spec.ts
  raiden-dapp/tests/unit/components/transfer/transfer-inputs.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/router/guards/account.spec.ts
  raiden-dapp/tests/unit/router/guards/disclaimer.spec.ts
  raiden-dapp/tests/unit/router/guards/notifications.spec.ts
  raiden-dapp/tests/unit/views/account-route.spec.ts
  raiden-dapp/tests/unit/views/channels-route.spec.ts
  raiden-dapp/tests/unit/views/notification-panel.spec.ts
  raiden-dapp/tests/unit/views/open-channel-route.spec.ts
  raiden-dapp/tests/unit/views/select-hub-route.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps-route.spec.ts
  raiden-dapp/vue.config.js
Due: dapp

lint: CLI
  raiden-cli/src/index.ts
Due: none

deps: fix jsdom@>11 for ShadowDom support & fix dApp tests
  package.json
  raiden-dapp/tests/unit/service-worker/assistant.spec.ts
  yarn.lock
Due: dapp

deps: Update dependency yargs to v17
  raiden-cli/package.json
  yarn.lock
Due: none

deps: Lock file maintenance
  yarn.lock
Due: none

cli: adjust coerce parseFeeOption to yargs@17
  raiden-cli/src/index.ts
Due: none

deps: Update dependency @typechain/ethers-v5 to v7
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: Update dependency eslint-plugin-jsdoc to v34
  package.json
  yarn.lock
Due: none

deps: Update dependency typechain to v5
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

lint: adjust dapp lint for jsdoc
  raiden-dapp/src/utils/logstore.ts
Due: dapp

deps: adapt typechain --out-dir param
  raiden-ts/package.json
Due: sdk, sdk_integration
