Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dapp: simplify AddressInput's rxjs usage with lodash's debounce
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/tests/unit/components/address-input.spec.ts
Due: dapp

dApp: use webpack config output path
  raiden-dapp/vue.config.js
Due: dapp

dApp: force build mode for dApp in for e2e tests
  raiden-dapp/run-cypress.sh
Due: dapp

dApp: optimize CI workflow dependencies
  .circleci/config.yml
Due: none

sdk: fix any RaidenEvent type
  raiden-ts/src/actions.ts
  raiden-ts/src/utils/actions.ts
Due: sdk, sdk_integration

deps: dapp,cli:: update rxjs@7 and fix typing errors
  raiden-cli/package.json
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/connections.ts
  raiden-cli/src/routes/tokens.ts
  raiden-dapp/package.json
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

deps: sdk: adapt tests to rxjs@7
  raiden-ts/tests/e2e/e2e.spec.ts
  raiden-ts/tests/integration/channels.spec.ts
  raiden-ts/tests/integration/fixtures.ts
  raiden-ts/tests/integration/mediate.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/monitor.spec.ts
  raiden-ts/tests/integration/path.spec.ts
  raiden-ts/tests/integration/raiden.spec.ts
  raiden-ts/tests/integration/receive.spec.ts
  raiden-ts/tests/integration/send.spec.ts
  raiden-ts/tests/integration/transport.spec.ts
  raiden-ts/tests/integration/udc.spec.ts
  raiden-ts/tests/unit/error.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

deps: sdk: update to rxjs@^7.3 & redux-observable@^2.0
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: sdk: adapt src to rxjs@7
  raiden-ts/src/channels/epics/deposit.ts
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/db/utils.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

cli: change output directory
  raiden-cli/.gitignore
  raiden-cli/README.md
  raiden-cli/package.json
  raiden-cli/raiden
  raiden-cli/raspberrypi.md
  raiden-cli/tsconfig.json
Due: none

chore: fix staging CI workflow
  .circleci/config.yml
Due: none

deps: Lock file maintenance typescript
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/Gemfile.lock
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: sdk: pin @types/node@^14 for TS 4.3 compatibility
  package.json
  raiden-ts/src/utils/actions.ts
  yarn.lock
Due: sdk, sdk_integration

deps: dapp: fix vue-property-decorator issues with TS@4.3
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/TextInputWithToggle.vue
  raiden-dapp/tsconfig.json
Due: dapp

deps: Update dependency eslint-plugin-jsdoc to v36
  package.json
  yarn.lock
Due: none

1.0.0 -> 1.1.0
  package.json
  raiden-cli/CHANGELOG.md
  raiden-cli/package.json
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

testing only...
  .circleci/config.yml
Due: none

deps: Lock file maintenance
  .github/actions/changelog-reminder/package-lock.json
  raiden-dapp/Gemfile.lock
  yarn.lock
Due: dapp

deps: Update all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

sdk: create WithdrawRequest with coop_settle from request if it's valid
  raiden-ts/src/errors.json
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

sdk: introduce withdrawResolve, to check partner's presence
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
