Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Have caps derived from config, not strictly equal
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/mediate.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/transport/types.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

New icon color and wording changes
  raiden-dapp/src/assets/received_transfer.svg
  raiden-dapp/src/assets/sent_transfer.svg
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/components/transaction-history/TransactionsList.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Fixing failing tests
  raiden-dapp/tests/unit/components/transaction.spec.ts
  raiden-dapp/tests/unit/components/transactions-list.spec.ts
Due: dapp

Introduces withdrawal screen
  raiden-dapp/src/assets/withdrawal.svg
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/account/WithdrawalRoute.vue
Due: dapp

Adds empty screen and finalizes withdrawal
  raiden-dapp/src/components/AmountDisplay.vue
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/account/WithdrawalRoute.vue
Due: dapp

Adds test for Raiden account balances
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Adds tests for the components
  raiden-dapp/tests/unit/components/account/withdrawal.spec.ts
  raiden-dapp/tests/unit/views/account/withdrawal-route.spec.ts
Due: dapp

Optimizes token loading for withdrawal
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/account/withdrawal.spec.ts
Due: dapp

Updates CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Refactors the raiden-service.ts unit tests
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Fixes no eth error always displaying
  raiden-dapp/src/components/account/Withdrawal.vue
Due: dapp

Mark channel locks as registered
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/types.ts
Due: sdk, sdk_integration

config.rateToSvt => monitor only if set for token and economically viable
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/config.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transport/utils.ts
Due: sdk, sdk_integration

Tests: monitoring threshold
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/epics/receive.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Add changelog for monitoring threshold
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Changed how settings are set on first visit * Keeps settings when resetting state * Shows error alert * Displays Raiden Account on first visit as enabled * Changed wording
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/views/Home.vue
Due: dapp

Update package-lock.json
  raiden-dapp/package-lock.json
Due: dapp

Fix tests
  raiden-dapp/src/store/index.ts
  raiden-dapp/tests/unit/views/home.spec.ts
Due: dapp

Removing hardcoded colors from template
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/plugins/vuetify.ts
  raiden-dapp/src/scss/colors.scss
Due: dapp

Filter for formatting date
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/filters.ts
Due: dapp

Moving chip colors to main.scss
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/main.scss
  raiden-dapp/src/scss/colors.scss
Due: dapp

Hiding scroll bar
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

Fixes lint issue and review feedback
  raiden-dapp/src/components/account/Withdrawal.vue
Due: dapp

Automated deployment to GitHub Pages: bf500890b558ae38c6080489840bf7a1147fb7dc [skip ci]
  staging/css/chunk-32fd2afa.86b81acc.css
  staging/css/chunk-3da9b662.58883fb2.css
  staging/css/chunk-680153dc.9e129671.css
  staging/css/chunk-73a2659e.90ce0cc7.css
  staging/css/chunk-7916f8ca.665ed9bd.css
  staging/css/chunk-795f4e24.3e5a8903.css
  staging/css/chunk-7a1b58ac.e4c0c4bb.css
  staging/css/chunk-7ea59430.c5adc0ad.css
  staging/css/chunk-d483edf6.b955e85d.css
  staging/img/withdrawal.c80c3337.svg
  staging/index.html
  staging/js/app.759059a0.js
  staging/js/app.efa0096f.js
  staging/js/chunk-32fd2afa.1e1a80ff.js
  staging/js/chunk-3da9b662.7c02fd89.js
  staging/js/chunk-680153dc.1a4e79bc.js
  staging/js/chunk-73a2659e.538598b7.js
  staging/js/chunk-7916f8ca.cee19845.js
  staging/js/chunk-795f4e24.0ed33b39.js
  staging/js/chunk-7a1b58ac.22256b37.js
  staging/js/chunk-7ea59430.2f5a512c.js
  staging/js/chunk-d483edf6.b87530e6.js
  staging/precache-manifest.417ef0d52cfb8a4e8cc02e60eade7a81.js
  staging/service-worker.js
Due: none

Fixes issues with hidden scrollbar
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

Adds check for optional properties
  raiden-dapp/src/components/TokenInformation.vue
Due: dapp

Additional scroll fix
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

Transaction history (#1454)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/assets/received_transfer.svg
  raiden-dapp/src/assets/sent_transfer.svg
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/components/transaction-history/TransactionsList.vue
  raiden-dapp/src/filters.ts
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/main.scss
  raiden-dapp/src/plugins/vuetify.ts
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/tests/unit/components/transaction.spec.ts
  raiden-dapp/tests/unit/components/transactions-list.spec.ts
Due: dapp

Support paymentId in cli API
  raiden-cli/src/index.ts
Due: none

Automated deployment to GitHub Pages: 72b07b83309a9c2c1af19821360d2de81728fed4 [skip ci]
  staging/css/app.9a2dd54e.css
  staging/css/app.9f0d08b7.css
  staging/css/chunk-082755c3.ad0887cb.css
  staging/css/chunk-1503d996.711c53d5.css
  staging/css/chunk-2d492006.fda36d4f.css
  staging/css/chunk-2deecff1.58883fb2.css
  staging/css/chunk-32fd2afa.86b81acc.css
  staging/css/chunk-36b5fef4.90c578bf.css
  staging/css/chunk-378229a1.2bbdb8f0.css
  staging/css/chunk-56eafb7a.9b9a3184.css
  staging/css/chunk-a09b6ac0.1cab8a99.css
  staging/css/chunk-d03713e2.a811d323.css
  staging/css/chunk-e9e0608e.d9afbd11.css
  staging/css/chunk-f335460c.9e129671.css
  staging/img/received_transfer.ef6596cc.svg
  staging/img/sent_transfer.087bd404.svg
  staging/index.html
  staging/js/app.759059a0.js
  staging/js/app.bc832556.js
  staging/js/chunk-082755c3.05550768.js
  staging/js/chunk-1503d996.274c99a5.js
  staging/js/chunk-2d492006.a329d670.js
  staging/js/chunk-2deecff1.cdbbf6c1.js
  staging/js/chunk-32fd2afa.1e1a80ff.js
  staging/js/chunk-36b5fef4.111cb12e.js
  staging/js/chunk-378229a1.ee1b3745.js
  staging/js/chunk-3da9b662.7c02fd89.js
  staging/js/chunk-56eafb7a.9d9b4048.js
  staging/js/chunk-680153dc.1a4e79bc.js
  staging/js/chunk-a09b6ac0.b929b5f5.js
  staging/js/chunk-d03713e2.863ffaca.js
  staging/js/chunk-e9e0608e.423db7d8.js
  staging/js/chunk-f335460c.f0d23c86.js
  staging/precache-manifest.4efb9b9dd9c4b9f141b7d69154826e25.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 323596d7945c0e09a2b1b5b43bb94a091fbca919 [skip ci]
  staging/index.html
  staging/js/app.75f3e345.js
  staging/js/app.bc832556.js
  staging/precache-manifest.071fa43210ba3d561012fd119ee0eab2.js
  staging/service-worker.js
Due: none

Uses locally hosted version of icons and fonts
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/public/index.html
  raiden-dapp/src/plugins/vuetify.ts
Due: dapp

Automated deployment to GitHub Pages: a1e0461d20d28b7a3fc9fc95a8ee07816ea591e3 [skip ci]
  staging/css/chunk-7c07f9a4.cf48c70b.css
  staging/css/chunk-bebefaa6.1b781117.css
  staging/index.html
  staging/js/app.75f3e345.js
  staging/js/app.902a6c77.js
  staging/js/chunk-7c07f9a4.10237efc.js
  staging/js/chunk-bebefaa6.134ee34a.js
  staging/precache-manifest.4ecdf3f16ab048e3ce09432726cf25e4.js
  staging/service-worker.js
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
