Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

deps: Update eslint
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency idb to v7
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency typedoc to v0.22.9
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

sdk: fix dangling promise rejecting in openChannel
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

cli: ensure unhandled rejections don't shut down process
  raiden-cli/src/index.ts
Due: none

deps: Update all non-major dependencies and lockFile maintenance
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: lint auto-fix
  raiden-dapp/src/views/NotificationPanel.vue
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency typescript to v4.5.3
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency typescript to v4.5.4
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

e2e: update docker image to contracts@v0.40.0 and raiden@v3.0.0rc9
  .circleci/config.yml
  e2e-environment/Dockerfile
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
  e2e-environment/deployment_information/version
  e2e-environment/shared-script.sh
  e2e-environment/supervisord.conf
Due: none

sdk,dapp: fix tests for PFS containing validTill timestamp
  raiden-dapp/tests/unit/components/transfer/pathfinding-services.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/path.spec.ts
Due: dapp, sdk, sdk_integration

sdk: include validTill in PFS and warn when using invalid
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

sdk: try to use cached service validity before fetching on-chain
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration
