Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 7b2efba59157db7777d69f6b2ab383af9866a9ea [skip ci]
  staging/index.html
  staging/js/app.03018465.js
  staging/js/app.9e41d350.js
  staging/js/chunk-0d08a80c.10da9095.js
  staging/js/chunk-0d08a80c.4102b05a.js
  staging/js/chunk-45939c11.47c318e2.js
  staging/js/chunk-45939c11.65ff85a3.js
  staging/js/chunk-535fe504.5986ffd4.js
  staging/js/chunk-535fe504.713eb2b6.js
  staging/js/chunk-67b172b3.2f575939.js
  staging/js/chunk-67b172b3.88004249.js
  staging/js/chunk-7916f8ca.783401c4.js
  staging/js/chunk-7916f8ca.8d112925.js
  staging/js/chunk-7c07f9a4.5074d6b4.js
  staging/js/chunk-7c07f9a4.594b2e4c.js
  staging/js/chunk-7d0a5698.58ab399c.js
  staging/js/chunk-7d0a5698.bcd2fd04.js
  staging/js/chunk-9596d7b8.4a3a99d6.js
  staging/js/chunk-9596d7b8.f52aae74.js
  staging/js/chunk-a09b6ac0.1bbe9259.js
  staging/js/chunk-a09b6ac0.2689cbad.js
  staging/js/chunk-e9e0608e.c7c23327.js
  staging/js/chunk-e9e0608e.cec73779.js
  staging/precache-manifest.1a043ad9d2793ab81ed21fa3dc4e763f.js
  staging/service-worker.js
Due: none

Add properties docstrings
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/migration/index.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics/close.ts
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/mediate.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 53338f87f2989d85e75d24b9e39fb33e20652743 [skip ci]
  staging/index.html
  staging/js/app.9e41d350.js
  staging/js/app.d744fbf8.js
  staging/js/chunk-45939c11.47c318e2.js
  staging/js/chunk-45939c11.65ff85a3.js
  staging/js/chunk-535fe504.713eb2b6.js
  staging/js/chunk-535fe504.962e842e.js
  staging/js/chunk-7916f8ca.8d112925.js
  staging/js/chunk-7916f8ca.d435e2d4.js
  staging/js/chunk-795f4e24.0e8b3c24.js
  staging/js/chunk-795f4e24.26928ec8.js
  staging/js/chunk-7c07f9a4.5074d6b4.js
  staging/js/chunk-7c07f9a4.d464f285.js
  staging/js/chunk-9596d7b8.e2706343.js
  staging/js/chunk-9596d7b8.f52aae74.js
  staging/precache-manifest.44c5eab79fe9e8b87a6bedc76f2fb3a8.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 7e7a43e5a98421df02b9b6a1318118bb267e131d [skip ci]
  staging/index.html
  staging/js/app.4d13bb98.js
  staging/js/app.d744fbf8.js
  staging/js/chunk-0d08a80c.4102b05a.js
  staging/js/chunk-0d08a80c.ec9bd158.js
  staging/js/chunk-217a8cc3.dfb68396.js
  staging/js/chunk-25fdc0d3.25ee4cd0.js
  staging/js/chunk-42bc8b47.f7233fe4.js
  staging/js/chunk-45939c11.3d3a37f8.js
  staging/js/chunk-535fe504.962e842e.js
  staging/js/chunk-535fe504.a685df86.js
  staging/js/chunk-67b172b3.7c00da41.js
  staging/js/chunk-67b172b3.88004249.js
  staging/js/chunk-7916f8ca.c24b4f8e.js
  staging/js/chunk-7916f8ca.d435e2d4.js
  staging/js/chunk-795f4e24.0e8b3c24.js
  staging/js/chunk-795f4e24.7ffd2991.js
  staging/js/chunk-7c07f9a4.d365dde3.js
  staging/js/chunk-7c07f9a4.d464f285.js
  staging/js/chunk-7d0a5698.1699b536.js
  staging/js/chunk-7d0a5698.58ab399c.js
  staging/js/chunk-9596d7b8.e2706343.js
  staging/js/chunk-9596d7b8.e63d3fe2.js
  staging/js/chunk-a09b6ac0.1bbe9259.js
  staging/js/chunk-a09b6ac0.af394eac.js
  staging/js/chunk-e9e0608e.4635a3ff.js
  staging/js/chunk-e9e0608e.c7c23327.js
  staging/precache-manifest.eab1b5acf876c9b2724882b2a8012e05.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: e5dbe70af536c33fa30fc49ce0c91aecb26c5295 [skip ci]
  staging/index.html
  staging/js/app.4d13bb98.js
  staging/js/app.b4885e03.js
  staging/js/chunk-0d08a80c.62716cb9.js
  staging/js/chunk-0d08a80c.ec9bd158.js
  staging/js/chunk-217a8cc3.1b6b11dc.js
  staging/js/chunk-25fdc0d3.1e38ac7a.js
  staging/js/chunk-42bc8b47.1d7968b8.js
  staging/js/chunk-45939c11.278eb32a.js
  staging/js/chunk-45939c11.3d3a37f8.js
  staging/js/chunk-535fe504.53173613.js
  staging/js/chunk-535fe504.a685df86.js
  staging/js/chunk-67b172b3.4fa04318.js
  staging/js/chunk-67b172b3.7c00da41.js
  staging/js/chunk-7916f8ca.3f8f79c9.js
  staging/js/chunk-7916f8ca.c24b4f8e.js
  staging/js/chunk-795f4e24.230e80aa.js
  staging/js/chunk-795f4e24.7ffd2991.js
  staging/js/chunk-7c07f9a4.99b2a28d.js
  staging/js/chunk-7c07f9a4.d365dde3.js
  staging/js/chunk-7d0a5698.1699b536.js
  staging/js/chunk-7d0a5698.a5ea53f9.js
  staging/js/chunk-9596d7b8.e63d3fe2.js
  staging/js/chunk-9596d7b8.e6f6f82c.js
  staging/js/chunk-a09b6ac0.af394eac.js
  staging/js/chunk-a09b6ac0.fa6b91a7.js
  staging/js/chunk-e9e0608e.abb3c641.js
  staging/js/chunk-vendors.a7d5f412.js
  staging/precache-manifest.d08e4e6ee4d336d6887323ea49dc1164.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: ac091a5b3adc929ec0b8c7aa1932b181c503cce7 [skip ci]
  staging/index.html
  staging/js/app.b4885e03.js
  staging/js/app.cfaecf67.js
  staging/js/chunk-0d08a80c.1bfcf8d7.js
  staging/js/chunk-0d08a80c.62716cb9.js
  staging/js/chunk-45939c11.278eb32a.js
  staging/js/chunk-45939c11.8237a9d1.js
  staging/js/chunk-535fe504.53173613.js
  staging/js/chunk-535fe504.91e2ccab.js
  staging/js/chunk-67b172b3.4fa04318.js
  staging/js/chunk-67b172b3.fe41b7b4.js
  staging/js/chunk-7916f8ca.3f8f79c9.js
  staging/js/chunk-7916f8ca.9a1a4ab8.js
  staging/js/chunk-795f4e24.219d6db9.js
  staging/js/chunk-795f4e24.230e80aa.js
  staging/js/chunk-7c07f9a4.6f2c3b3f.js
  staging/js/chunk-7c07f9a4.99b2a28d.js
  staging/js/chunk-7d0a5698.3809d212.js
  staging/js/chunk-7d0a5698.a5ea53f9.js
  staging/js/chunk-9596d7b8.e6f6f82c.js
  staging/js/chunk-9596d7b8.ee818abe.js
  staging/js/chunk-a09b6ac0.7e7a858e.js
  staging/js/chunk-a09b6ac0.fa6b91a7.js
  staging/precache-manifest.8c638d3f5baf3230b0d3dd98efb3e91a.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 35f421fff37dc483d455dadb3ae3f264aaa7b979 [skip ci]
  staging/css/chunk-vendors.53d92e1f.css
  staging/css/chunk-vendors.d1be0d9f.css
  staging/fonts/materialdesignicons-webfont.2dcce271.woff
  staging/fonts/materialdesignicons-webfont.3a0b3b12.woff2
  staging/fonts/materialdesignicons-webfont.3e2c1c79.eot
  staging/fonts/materialdesignicons-webfont.3e81ae3d.ttf
  staging/fonts/materialdesignicons-webfont.92b71685.woff
  staging/fonts/materialdesignicons-webfont.a323c28e.woff2
  staging/fonts/materialdesignicons-webfont.cdac4fb8.eot
  staging/fonts/materialdesignicons-webfont.e7dec9c5.ttf
  staging/index.html
  staging/js/app.cd35ac1d.js
  staging/js/app.cfaecf67.js
  staging/js/chunk-0d08a80c.56516efd.js
  staging/js/chunk-217a8cc3.ee20a0a7.js
  staging/js/chunk-25fdc0d3.f03b4f74.js
  staging/js/chunk-42bc8b47.4ea42e84.js
  staging/js/chunk-45939c11.74eba6b0.js
  staging/js/chunk-535fe504.236367a1.js
  staging/js/chunk-67b172b3.5a2ed289.js
  staging/js/chunk-7916f8ca.f920b537.js
  staging/js/chunk-795f4e24.4e44f2c3.js
  staging/js/chunk-7c07f9a4.310e4e4a.js
  staging/js/chunk-7d0a5698.61f46530.js
  staging/js/chunk-9596d7b8.1dd374f9.js
  staging/js/chunk-a09b6ac0.52004871.js
  staging/js/chunk-e9e0608e.bc31c124.js
  staging/precache-manifest.20af2359e3cda5740c8904fa6da92c94.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: ddfd5d7d4ca69de8f4e95b5480cd2fa8ac26f086 [skip ci]
  staging/css/chunk-vendors.53d92e1f.css
  staging/css/chunk-vendors.d1be0d9f.css
  staging/fonts/materialdesignicons-webfont.2dcce271.woff
  staging/fonts/materialdesignicons-webfont.3a0b3b12.woff2
  staging/fonts/materialdesignicons-webfont.3e2c1c79.eot
  staging/fonts/materialdesignicons-webfont.3e81ae3d.ttf
  staging/fonts/materialdesignicons-webfont.92b71685.woff
  staging/fonts/materialdesignicons-webfont.a323c28e.woff2
  staging/fonts/materialdesignicons-webfont.cdac4fb8.eot
  staging/fonts/materialdesignicons-webfont.e7dec9c5.ttf
  staging/index.html
  staging/js/app.cc670fcc.js
  staging/js/app.cd35ac1d.js
  staging/js/chunk-0d08a80c.10da9095.js
  staging/js/chunk-217a8cc3.5003f9d4.js
  staging/js/chunk-25fdc0d3.ada4e93f.js
  staging/js/chunk-42bc8b47.94e11636.js
  staging/js/chunk-45939c11.65ff85a3.js
  staging/js/chunk-535fe504.5986ffd4.js
  staging/js/chunk-67b172b3.2f575939.js
  staging/js/chunk-7916f8ca.783401c4.js
  staging/js/chunk-795f4e24.26928ec8.js
  staging/js/chunk-7c07f9a4.594b2e4c.js
  staging/js/chunk-7d0a5698.bcd2fd04.js
  staging/js/chunk-9596d7b8.4a3a99d6.js
  staging/js/chunk-a09b6ac0.2689cbad.js
  staging/js/chunk-e9e0608e.cec73779.js
  staging/js/chunk-vendors.8e6a3c77.js
  staging/precache-manifest.892aa35aff049c1f40cb7620ec22f130.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 8d7b65e5aaddd9bbcf4d018769a0894aa1b68eca [skip ci]
  staging/css/chunk-vendors.53d92e1f.css
  staging/css/chunk-vendors.d1be0d9f.css
  staging/fonts/materialdesignicons-webfont.2dcce271.woff
  staging/fonts/materialdesignicons-webfont.3a0b3b12.woff2
  staging/fonts/materialdesignicons-webfont.3e2c1c79.eot
  staging/fonts/materialdesignicons-webfont.3e81ae3d.ttf
  staging/fonts/materialdesignicons-webfont.92b71685.woff
  staging/fonts/materialdesignicons-webfont.a323c28e.woff2
  staging/fonts/materialdesignicons-webfont.cdac4fb8.eot
  staging/fonts/materialdesignicons-webfont.e7dec9c5.ttf
  staging/index.html
  staging/js/app.acea3f4e.js
  staging/js/app.cc670fcc.js
  staging/js/chunk-0d08a80c.10da9095.js
  staging/js/chunk-0d08a80c.cf765765.js
  staging/js/chunk-217a8cc3.85c4fa99.js
  staging/js/chunk-25fdc0d3.4d06aba6.js
  staging/js/chunk-42bc8b47.22bb08a2.js
  staging/js/chunk-45939c11.8056fe08.js
  staging/js/chunk-535fe504.16930aeb.js
  staging/js/chunk-67b172b3.cba4a2f2.js
  staging/js/chunk-7916f8ca.f668d900.js
  staging/js/chunk-795f4e24.92950bd6.js
  staging/js/chunk-7c07f9a4.ac165f3d.js
  staging/js/chunk-7d0a5698.a5551f3c.js
  staging/js/chunk-9596d7b8.c331aa0d.js
  staging/js/chunk-a09b6ac0.a101fa3d.js
  staging/js/chunk-e9e0608e.14bc0355.js
  staging/js/chunk-vendors.0f39726c.js
  staging/precache-manifest.dfc83ebcaa8e94205a8efecb2bf50a6d.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 01321994f32f1ee7a7a3f5db9fcd83aaa2ae93ea [skip ci]
  staging/index.html
  staging/js/app.acea3f4e.js
  staging/js/app.d694a5ef.js
  staging/js/chunk-0d08a80c.6d721e9f.js
  staging/js/chunk-0d08a80c.cf765765.js
  staging/js/chunk-217a8cc3.e98c489f.js
  staging/js/chunk-25fdc0d3.6195c940.js
  staging/js/chunk-42bc8b47.c49d4c62.js
  staging/js/chunk-45939c11.9fc45dbf.js
  staging/js/chunk-535fe504.93cf9979.js
  staging/js/chunk-67b172b3.a54d45d3.js
  staging/js/chunk-7916f8ca.4b3b27cf.js
  staging/js/chunk-795f4e24.b4d0200a.js
  staging/js/chunk-7c07f9a4.e80135ac.js
  staging/js/chunk-7d0a5698.21ac6cd8.js
  staging/js/chunk-9596d7b8.8c33a97c.js
  staging/js/chunk-a09b6ac0.e9612814.js
  staging/js/chunk-e9e0608e.6365251a.js
  staging/js/chunk-vendors.a7d5f412.js
  staging/precache-manifest.ceafbaa9a65995685489832fa3c0bb76.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: a34d1014155e7cf160eae261aaacff9402ebb548 [skip ci]
  staging/index.html
  staging/js/app.b1642d44.js
  staging/js/app.d694a5ef.js
  staging/js/chunk-0d08a80c.6d721e9f.js
  staging/js/chunk-0d08a80c.dffceabc.js
  staging/js/chunk-217a8cc3.ae652af9.js
  staging/js/chunk-25fdc0d3.342551f3.js
  staging/js/chunk-42bc8b47.122698df.js
  staging/js/chunk-45939c11.7a004996.js
  staging/js/chunk-535fe504.b475e541.js
  staging/js/chunk-67b172b3.373a3094.js
  staging/js/chunk-7916f8ca.678fe6f9.js
  staging/js/chunk-795f4e24.ae63f4c3.js
  staging/js/chunk-7c07f9a4.b78a5c24.js
  staging/js/chunk-7d0a5698.0c05bb4e.js
  staging/js/chunk-9596d7b8.170106eb.js
  staging/js/chunk-a09b6ac0.cb2b3c57.js
  staging/js/chunk-e9e0608e.b9cc8e39.js
  staging/js/chunk-vendors.0f39726c.js
  staging/precache-manifest.d9687a08951abe488f514657c810540b.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: a47df4afa85b38a8b8ecf193f49e2d408cf5ca0f [skip ci]
  staging/css/chunk-vendors.988a932b.css
  staging/css/chunk-vendors.d1be0d9f.css
  staging/index.html
  staging/js/app.8a2ca31b.js
  staging/js/app.b1642d44.js
  staging/js/chunk-0d08a80c.6ae59df7.js
  staging/js/chunk-217a8cc3.b9e66ad7.js
  staging/js/chunk-25fdc0d3.7e3713f4.js
  staging/js/chunk-42bc8b47.122698df.js
  staging/js/chunk-42bc8b47.a4972b3a.js
  staging/js/chunk-45939c11.327eed28.js
  staging/js/chunk-535fe504.15b92842.js
  staging/js/chunk-67b172b3.7b0ea57e.js
  staging/js/chunk-7916f8ca.4d8c59db.js
  staging/js/chunk-795f4e24.88914fee.js
  staging/js/chunk-7c07f9a4.9fede120.js
  staging/js/chunk-7d0a5698.bf6faf32.js
  staging/js/chunk-9596d7b8.170106eb.js
  staging/js/chunk-9596d7b8.23b9c7c6.js
  staging/js/chunk-a09b6ac0.75f58dbe.js
  staging/js/chunk-e9e0608e.d91e47a9.js
  staging/js/chunk-vendors.4be3bb70.js
  staging/precache-manifest.766aeac592e354a0f82e381999cc1013.js
  staging/service-worker.js
Due: none

Fixed token list sorting
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/store/index.ts
Due: dapp

Removed fixed height from amount input error label & transfer section
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

Fixed token list sorting (#1539)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/store/index.ts
Due: dapp

Automated deployment to GitHub Pages: dbb3d286e0f836de522437a823dbbc9558b1af12 [skip ci]
  staging/index.html
  staging/js/app.0f8accca.js
  staging/js/app.8a2ca31b.js
  staging/precache-manifest.3755eb7fbce5eaf308064832bb5ee0a8.js
  staging/service-worker.js
Due: none

Properly handles tokens with zero decimals
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/components/navigation/OpenChannel.vue
  raiden-dapp/src/components/navigation/Transfer.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/filters.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/utils/balance-utils.ts
  raiden-dapp/tests/unit/balance-utils.spec.ts
  raiden-dapp/tests/unit/components/amount-input.spec.ts
  raiden-dapp/tests/unit/components/transaction.spec.ts
Due: dapp

Updates CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Fix review comments and update tests
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/filters.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/utils/balance-utils.ts
  raiden-dapp/tests/unit/balance-utils.spec.ts
  raiden-dapp/tests/unit/components/channel-deposit.spec.ts
  raiden-dapp/tests/unit/filters.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 6cc0d00aaa6df5dfa44238d560e874ccedde035c [skip ci]
  staging/css/chunk-30418a4b.724c46c8.css
  staging/css/chunk-535fe504.22fd4a69.css
  staging/css/chunk-76fcfd0c.9bcfa614.css
  staging/css/chunk-7a35274b.4fd3139f.css
  staging/css/chunk-7d0a5698.80a2a61c.css
  staging/css/chunk-a09b6ac0.1cab8a99.css
  staging/css/chunk-e9e0608e.d9afbd11.css
  staging/css/chunk-efd1d386.8310f29f.css
  staging/index.html
  staging/js/app.0f8accca.js
  staging/js/app.bb5b7ee4.js
  staging/js/chunk-30418a4b.5c24c9b7.js
  staging/js/chunk-535fe504.15b92842.js
  staging/js/chunk-76fcfd0c.35b88973.js
  staging/js/chunk-7a35274b.e5f0d5f3.js
  staging/js/chunk-7d0a5698.bf6faf32.js
  staging/js/chunk-a09b6ac0.75f58dbe.js
  staging/js/chunk-e9e0608e.d91e47a9.js
  staging/js/chunk-efd1d386.5a8ae205.js
  staging/precache-manifest.11cad5ae5ad8675732cd1ec8029d6f83.js
  staging/service-worker.js
Due: none

Fixed amount input error label
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

Change log
  raiden-dapp/CHANGELOG.md
Due: dapp

Removed fixed height from amount input error label & transfer section (#1542)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

Automated deployment to GitHub Pages: e25a2ba1bfd0d1cda52a61e345c6d420fdae4f99 [skip ci]
  staging/css/chunk-30418a4b.724c46c8.css
  staging/css/chunk-3db3614f.007fc6b7.css
  staging/css/chunk-4d730eb5.d84f9e81.css
  staging/css/chunk-6a8b17ac.2e6a0e49.css
  staging/css/chunk-76fcfd0c.9bcfa614.css
  staging/css/chunk-7a35274b.4fd3139f.css
  staging/css/chunk-d2121fc2.f4e6a22c.css
  staging/css/chunk-efd1d386.8310f29f.css
  staging/index.html
  staging/js/app.a9688bc1.js
  staging/js/app.bb5b7ee4.js
  staging/js/chunk-30418a4b.5c24c9b7.js
  staging/js/chunk-3db3614f.6907f06d.js
  staging/js/chunk-4d730eb5.301eb592.js
  staging/js/chunk-6a8b17ac.24828368.js
  staging/js/chunk-76fcfd0c.35b88973.js
  staging/js/chunk-7a35274b.e5f0d5f3.js
  staging/js/chunk-d2121fc2.2a1218de.js
  staging/js/chunk-efd1d386.5a8ae205.js
  staging/precache-manifest.55d2db24b8aba6a8a785ab5506506691.js
  staging/service-worker.js
Due: none

Enabling main net in SDK
  raiden-ts/src/helpers.ts
Due: sdk, sdk_integration

Truncates Account screen address on mobile
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

Throw if current web3 provider is on main net but env vars disable it
  raiden-dapp/.env.development
  raiden-dapp/.env.ghpages
  raiden-dapp/.env.raiden-package
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

Change log
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

Fix lint error
  raiden-ts/src/helpers.ts
Due: sdk, sdk_integration

Fix unit test
  raiden-ts/tests/unit/helpers.spec.ts
Due: sdk, sdk_integration

Add unit test
  raiden-ts/tests/unit/helpers.spec.ts
Due: sdk, sdk_integration

Changed changelog wording
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Don't enforce test nets (#1546)
  raiden-dapp/.env.development
  raiden-dapp/.env.ghpages
  raiden-dapp/.env.raiden-package
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/CHANGELOG.md
  raiden-ts/src/helpers.ts
  raiden-ts/tests/unit/helpers.spec.ts
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 0fc9eb8dabdaf809da9abd31cc4c1a017c034f22 [skip ci]
  staging/index.html
  staging/js/app.0c1055ab.js
  staging/js/app.a9688bc1.js
  staging/js/chunk-25fdc0d3.7e3713f4.js
  staging/js/chunk-25fdc0d3.cc6de175.js
  staging/js/chunk-3db3614f.9756e7a3.js
  staging/js/chunk-6a8b17ac.6946063c.js
  staging/js/chunk-vendors.2aebea44.js
  staging/precache-manifest.176857d5996daea861ea9afab6fc12d0.js
  staging/service-worker.js
Due: none

Fixing overlapping text bug
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Attempt to fix CSS lint error
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

Attempt to fix lintint errors
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

Truncates Account screen address on mobile (#1545)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
