Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: Use emitted room object on matrixLeaveUnknownRoomsEpic
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

sdk: Fix tests for new fromEthersEvent utility
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/receive.spec.ts
  raiden-ts/tests/unit/epics/send.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

sdk: Use range-based for Provider's new events monitoring
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: Add changelog for fromEthersEvent refactor
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: Fix nonce race when open+approve concurrently with Wallet
  raiden-ts/CHANGELOG.md
  raiden-ts/src/channels/epics.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: f2baf5a27c8b59464280462ce75ee689d37d6198 [skip ci]
  staging/index.html
  staging/js/app.9cf3e467.js
  staging/js/app.a775b618.js
  staging/precache-manifest.9126707323410a65a6296eefc19e58f9.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 4ee8dd4503f377a32a34d0eae7105c946cabc9a8 [skip ci]
  staging/index.html
  staging/js/app.519d41cc.js
  staging/js/app.9cf3e467.js
  staging/precache-manifest.c1d0e5c9bf90bc2fc28eb7a82aeeecad.js
  staging/service-worker.js
Due: none

dapp: Introduces network monitoring configuration
  raiden-dapp/.env.e2e
  raiden-dapp/.env.raiden-package
  raiden-dapp/public/config.json
  raiden-dapp/public/config.json.example
  raiden-dapp/public/wizard.json.example
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
  raiden-dapp/src/components/navigation/OpenChannel.vue
  raiden-dapp/src/components/navigation/SelectHub.vue
  raiden-dapp/src/services/config-provider.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/services/web3-provider.ts
  raiden-dapp/src/views/Home.vue
  raiden-dapp/tests/e2e/e2e.json
  raiden-dapp/tests/unit/components/dialogs/connect-dialog.spec.ts
  raiden-dapp/tests/unit/components/navigation/select-hub.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

dapp: Updates CHANGELOG
  raiden-dapp/CHANGELOG.md
Due: dapp

dapp: Converts configuration paths to relative
  raiden-dapp/.env.e2e
  raiden-dapp/.env.raiden-package
  raiden-dapp/src/services/config-provider.ts
Due: dapp

Automated deployment to GitHub Pages: 08d8c56adf5c0f9fbd981483f4d329b22727ec12 [skip ci]
  staging/config.json
  staging/config.json.example
  staging/css/app.06d0621a.css
  staging/css/app.736d90ac.css
  staging/css/chunk-84ee7d30.578150b2.css
  staging/css/chunk-a4e4053e.48e81a98.css
  staging/css/chunk-ad2e144a.61b9b5c4.css
  staging/css/chunk-cdb8998e.6da3c99e.css
  staging/index.html
  staging/js/app.031b5ddf.js
  staging/js/app.519d41cc.js
  staging/js/chunk-84ee7d30.977331d3.js
  staging/js/chunk-a4e4053e.9587ebaa.js
  staging/js/chunk-ad2e144a.a27a0697.js
  staging/js/chunk-cdb8998e.f3f513bf.js
  staging/precache-manifest.90b82e7ae1e8aebdea0eac24b7e87c96.js
  staging/service-worker.js
  staging/wizard.json.example
Due: none

infra: introduces pnpm
  .gitignore
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  postcss.config.js
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

infra: Use pnpm in circle ci
  .circleci/config.yml
Due: none

infra: Modifying codecov flags
  .circleci/config.yml
  codecov.yml
  pnpm-lock.yaml
Due: none

infra: Adds custom Dockerfile with pnpm installed
  .circleci/Dockerfile
  .circleci/README.md
Due: none

infra: split sdk test run into unit and e2e
  .circleci/config.yml
  codecov.yml
  raiden-ts/package.json
Due: sdk, sdk_integration

infra: fixes tar command
  .circleci/config.yml
Due: none

docs: Replace references to npm with pnpm
  CONTRIBUTING.md
  README.md
  RELEASE.md
  UPGRADE-TESTENV.md
  docs/generate_documentation.sh
  docs/sdk-docs/connecting/README.md
  docs/sdk-docs/installing-dapp/README.md
  raiden-cli/README.md
  raiden-dapp/README.md
  raiden-ts/SDK-Development.md
Due: dapp, sdk, sdk_integration

infra: Updates release script
  prepare-release.sh
  raiden-ts/package.json
Due: sdk, sdk_integration

dapp: extend gitignore for server PR cache
  .gitignore
Due: none

dapp: extend gitignore for server PR cache
  .gitignore
  serve_pr/.gitignore
Due: none

dependencies: Pin dependencies
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
