Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Adds new modal design to pfs dialog
  raiden-dapp/src/components/PfsFeesDialog.vue
  raiden-dapp/src/components/RaidenDialog.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Initial proposal
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/unit/error.spec.ts
Due: sdk

Updates the token address on etherscan
  README.md
Due: none

Updates the token address on etherscan (#1041)
  README.md
Due: none

Moved/altered error codec & added PFS errors
  raiden-ts/src/actions.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/errors.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/error.spec.ts
Due: sdk

Make channelClose & channelSettle success actions confirmable
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/reducer.ts
Due: sdk

Tests
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

PR review
  raiden-ts/src/transfers/reducer.ts
Due: sdk

Address codec can decode lowercase addresses
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Add changelog entries for this and #613
  raiden-ts/CHANGELOG.md
Due: sdk

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
