Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency copy-webpack-plugin to v10
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency jest-extended to v2
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: Update dependency sass-loader to v12
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency source-map-loader to v3
  raiden-dapp/package.json
  yarn.lock
Due: dapp

sdk: replace settleTimeout with timestamps
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics/monitor.ts
  raiden-ts/src/channels/epics/open.ts
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/src/transfers/epics/coopsettle.ts
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transport/utils.ts
Due: sdk, sdk_integration

sdk: remove config.settleTimeout and make timestamp'd revealTimeout
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
Due: sdk, sdk_integration

sdk: adapt PFS IOU expiration to claimable_until timestamp
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

sdk: add getBlockTimestamp and settleTimeout$ epics deps
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

sdk: adapt transfers and withdraw to timestamp expiration
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/coopsettle.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

cli: adapt to settleTimeout removal from channel state
  raiden-cli/src/index.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/userDeposit.ts
Due: none

sdk: ensure monitor epic gets completed before latest$
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: refactor: adapt some deprecated functions
  raiden-ts/src/db/utils.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: expose Raiden.settleTimeout constant getter
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

dapp: remove all occurrences of settle timeout
  raiden-dapp/.env.e2e
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/channels/channel-list.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/utils/data-generator.ts
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dapp: adapt to new UDC withdraw plans
  raiden-dapp/src/components/PlannedUdcWithdrawalInformation.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/user-deposit-contract/types.ts
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/unit/components/planned-udc-withdrawal-information.spec.ts
  raiden-dapp/tests/unit/store/user-deposit-contract/mutations.spec.ts
Due: dapp

remove python client Bespin reference
  raiden-ts/README.md
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

replace python with light client for e2e tests
  .circleci/config.yml
  e2e-environment/Dockerfile
  e2e-environment/build-e2e-environment.sh
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
  e2e-environment/deployment_information/version
  e2e-environment/geth/deploy.sh
  e2e-environment/raiden/node1.toml
  e2e-environment/raiden/node2.toml
  e2e-environment/setup/pfs-entrypoint.sh
  e2e-environment/setup/setup_channels.sh
  e2e-environment/shared-script.sh
  e2e-environment/supervisord.conf
  raiden-dapp/.env.e2e
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: ensure (transfer|withdraw)Expire & secretRegister are time-based
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transfers/reducer.ts
Due: sdk, sdk_integration
