Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

deps: remove explicit raiden-ts dependency present in workspace
  .eslintrc.json
  .github/renovate.json
  package.json
Due: none

dapp: simplify download state button to fix cypress test
  e2e-environment/run-e2e-tests.sh
  raiden-dapp/src/components/ActionButton.vue
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/tests/e2e/specs/scenario.spec.ts
  raiden-dapp/tests/e2e/utils/navigation.ts
  raiden-dapp/tests/e2e/utils/user-interaction.ts
  raiden-dapp/tests/unit/components/account/backup-state/download-state-dialog.spec.ts
  raiden-dapp/tests/unit/views/account/backup-state.spec.ts
Due: dapp

deps: Update dependency matrix-js-sdk to v18
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: pin @babel/core to same version
  package.json
  yarn.lock
Due: none

sdk: chore: retry transferOnchainBalance's estimateGas
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: remove tiny-async-pool
  raiden-dapp/package.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: update @vue/cli to v5, with webpack v5
  package.json
  raiden-dapp/.browserslistrc
  raiden-dapp/package.json
  raiden-dapp/tests/unit/components/transfer/transfer-inputs.spec.ts
  raiden-dapp/tests/unit/utils/mocks/service-worker/registration.ts
  raiden-dapp/vue.config.js
  yarn.lock
Due: dapp

deps: some adjustments to typescript 4.7
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

cli: add /state.json download endpoint and --load-state parameter
  raiden-cli/CHANGELOG.md
  raiden-cli/src/index.ts
  raiden-cli/src/options.ts
  raiden-cli/src/routes/api.v1.ts
Due: none

deps: fix mock on non-hoisted @ethersproject/signing-key pkg
  package.json
  raiden-ts/tests/integration/patches.ts
  yarn.lock
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update eslint
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  yarn.lock
Due: none

deps: Update dependency typescript to v4.7.2
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update eslint
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
Due: none

chore: renovate config to blacklist sass update
  .github/renovate.json
  raiden-cli/package.json
  raiden-dapp/package.json
Due: dapp

deps: simplify matrix usage and remove @types/matrix-js-sdk
  package.json
  raiden-cli/package.json
  raiden-dapp/tsconfig.json
  raiden-ts/package.json
  raiden-ts/src/global.d.ts
  raiden-ts/src/polyfills.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/utils/matrix.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/transport.spec.ts
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: upgrade eslint to v8
  package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

sdk: change dumpDatabase to return AsyncIterable of rows
  raiden-ts/CHANGELOG.md
  raiden-ts/src/db/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/tests/unit/raiden.spec.ts
  raiden-ts/tests/unit/state.spec.ts
Due: sdk, sdk_integration

3.0.0 -> 3.1.0
  raiden-cli/CHANGELOG.md
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

chore: sdk: split tsconfig.esm, to reuse skipLibCheck in typedoc
  raiden-ts/package.json
  raiden-ts/tsconfig.cjs.json
  raiden-ts/tsconfig.esm.json
Due: sdk, sdk_integration

sdk: optimize getTokenList to rescan only on-demand
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

chore: build_sdk also build webui
  .circleci/config.yml
Due: none

deps: sdk: fix transport matrix.register type
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/tests/integration/path.spec.ts
Due: sdk, sdk_integration

sdk: expose Raiden.provider for advanced usage
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

chore: persist build_cli output, cli build before pack/publish
  .circleci/config.yml
  raiden-cli/package.json
Due: none

cli: make /payments compatible with webUI and use Raiden.getTransfers
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/routes/pendingTransfers.ts
  raiden-cli/src/utils/validation.ts
Due: none

chore: fix circleci publish_production pipeline on tag
  .circleci/config.yml
Due: none

deps: adapt to cypress 10
  raiden-dapp/cypress.config.ts
  raiden-dapp/cypress.json
  raiden-dapp/tests/e2e/plugins/index.js
  raiden-dapp/tests/e2e/specs/scenario.cy.ts
Due: dapp

cli: /payments: respond peer offline as E409
  raiden-cli/src/routes/payments.ts
Due: none

cli: add build:webui script to download webUI to /build/ui
  raiden-cli/package.json
Due: none

sdk,cli: add tests and changelog for getTransfers and --web-ui option
  raiden-cli/CHANGELOG.md
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/raiden.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

cli: add --web-ui/--no-web-ui options
  raiden-cli/src/app.ts
  raiden-cli/src/index.ts
  raiden-cli/src/options.ts
Due: none

sdk: add Raiden.getTransfers method with promise to transfers array
  raiden-ts/src/db/utils.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

deps: dapp: adjust test to @types/node@v16
  raiden-dapp/tests/unit/service-worker/assistant.spec.ts
Due: dapp

Revert "deps: Update dependency inquirer to v9"
  raiden-cli/package.json
  yarn.lock
Due: none

chore: cli: smoketest cli after build
  .circleci/config.yml
Due: none

deps: dapp: update vue dependencies and fix eslint
  raiden-dapp/.eslintrc.json
  raiden-dapp/package.json
  raiden-dapp/tsconfig.json
  yarn.lock
Due: dapp

deps: adjust to jest v28
  package.json
  raiden-dapp/jest.config.js
  raiden-dapp/package.json
  raiden-dapp/tests/unit/components/address-input.spec.ts
  raiden-ts/tests/logenv.ts
  yarn.lock
Due: dapp, sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
