Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

dApp: add auto-focus to channel action form
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/channels/ChannelActionForm.vue
Due: dapp

dApp: improve error handling for quick pay route
  raiden-dapp/src/views/QuickPayRoute.vue
  raiden-dapp/tests/unit/components/mixins/action-mixin.spec.ts
  raiden-dapp/tests/unit/views/quick-pay-route.spec.ts
Due: dapp

dApp: hide single steps from action progress
  raiden-dapp/src/components/ActionProgressCard.vue
  raiden-dapp/tests/unit/components/action-progress-card.spec.ts
Due: dapp

Change the filter tag regex so that publish_production workflow also works for pre-releases
  .circleci/config.yml
Due: none

v2.0.0-rc.1->v2.0.0-rc.2
  package.json
  raiden-cli/CHANGELOG.md
  raiden-cli/package.json
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

deps: Lock file maintenance
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/license-checker/yarn.lock
  raiden-dapp/Gemfile.lock
  yarn.lock
Due: dapp

Downgrading typedoc version so that it plays well with the @sastan/typedoc-plugin-pages package
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: move typedoc and plugins to their own group in renovate config
  .github/renovate.json
Due: none

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: don't throw on waitForPFSCapacityUpdate
  raiden-ts/src/helpers.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

cli: passthrough /payments body, including 'paths'
  raiden-cli/src/routes/payments.ts
Due: none

sdk: broaden transfer's options.paths to InputPaths
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/transfers/actions.ts
Due: sdk, sdk_integration

sdk: refactor: introduce and use alias/codec/type Fee=Int(32)
  raiden-ts/src/messages/types.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/mediate/epics.ts
  raiden-ts/src/transfers/mediate/types.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

dapp: simplify some types using RaidenPaths
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

sdk: refactor: move address metadata and pfs codecs
  raiden-ts/src/messages/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

sdk,cli: add changelog entries
  raiden-cli/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: apply gasPriceFactor to maxPriorityFeePerGas post-london
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

sdk: adapt txs to spread Latest.gasPrice
  raiden-ts/src/channels/epics/close.ts
  raiden-ts/src/channels/epics/deposit.ts
  raiden-ts/src/channels/epics/open.ts
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: fix tests and add changelog for new gasPriceFactor behavior
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/channels.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/withdraw.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration
