Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

deps: dapp: update vue dependencies and fix eslint
  raiden-dapp/.eslintrc.json
  raiden-dapp/package.json
  raiden-dapp/tsconfig.json
  yarn.lock
Due: dapp

deps: adjust to jest v28
  package.json
  raiden-dapp/jest.config.js
  raiden-dapp/package.json
  raiden-dapp/tests/unit/components/address-input.spec.ts
  raiden-ts/tests/logenv.ts
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: dapp: adjust test to @types/node@v16
  raiden-dapp/tests/unit/service-worker/assistant.spec.ts
Due: dapp

Revert "deps: Update dependency inquirer to v9"
  raiden-cli/package.json
  yarn.lock
Due: none

chore: cli: smoketest cli after build
  .circleci/config.yml
Due: none

sdk,cli: addressed comments
  raiden-cli/src/routes/userDeposit.ts
  raiden-ts/src/services/epics/helpers.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 1ef2b117a0b4f69f64eb5c1c3534a5eb7078eb26 [skip ci]
  staging/css/chunk-vendors.b6eb1073.css
  staging/fonts/materialdesignicons-webfont.015e7571.ttf
  staging/fonts/materialdesignicons-webfont.1dab7af5.woff
  staging/fonts/materialdesignicons-webfont.2474c2c1.woff2
  staging/fonts/materialdesignicons-webfont.43f2dfd1.woff2
  staging/fonts/materialdesignicons-webfont.52fd8e4e.woff
  staging/fonts/materialdesignicons-webfont.85d55efc.eot
  staging/fonts/materialdesignicons-webfont.a1c852b2.eot
  staging/fonts/materialdesignicons-webfont.b33ccf64.ttf
  staging/index.html
Due: none

deps: Update dependency typescript to v4.6.4
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: bump raiden-ts deps in dApp and CLI, and yarn.lock
  raiden-cli/package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

dapp: extend changelog for quick pay delay
  raiden-dapp/CHANGELOG.md
Due: dapp

2.2.0 -> 3.0.0
  raiden-cli/CHANGELOG.md
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

deps: Update dependency @typechain/ethers-v5 to v10
  raiden-ts/package.json
Due: sdk, sdk_integration

fix too quick channel interactions for quick-pay
  raiden-dapp/src/components/channels/ChannelDepositAndTransferAction.vue
  raiden-dapp/src/components/channels/ChannelOpenAndTransferAction.vue
  raiden-dapp/tests/unit/components/channels/channel-deposit-and-transfer-action.spec.ts
  raiden-dapp/tests/unit/components/channels/channel-open-and-transfer-action.spec.ts
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dapp: adapt update message to express the risk
  raiden-dapp/src/locales/en.json
Due: dapp

cli: fix circleCI bundle and artifacts, and update docs
  .circleci/config.yml
  raiden-cli/README.md
  raiden-cli/raiden
  raiden-cli/tsconfig.json
Due: none

chore: improve circleci conditionals
  .circleci/config.yml
  serve_pr/ci_dapp.sh
Due: none

arbitrum: add changelog entries
  raiden-cli/CHANGELOG.md
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

dapp: backup state doesn't require shutting down SDK anymore
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/e2e/specs/scenario.spec.ts
  raiden-dapp/tests/e2e/utils/navigation.ts
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
