Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

sdk: validate status in confirmationsEpic
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/errors.json
Due: sdk, sdk_integration

sdk: add changelog and fix tests for confirmation fixes
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/withdraw.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Removing pending transfers from identicon
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/HeaderIdenticon.vue
  raiden-dapp/src/locales/en.json
Due: dapp

dependencies: Update all non-major dependencies
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency jest to ^26.2.1
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency matrix-js-sdk to v8
  raiden-ts/package.json
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 70717a1f3442cab39572e9eb7c19d6de3d350392 [skip ci]
  staging/index.html
  staging/js/app.2326f18a.js
  staging/js/app.c72dce26.js
  staging/js/chunk-vendors.714e5a13.js
  staging/js/chunk-vendors.eff14050.js
  staging/precache-manifest.165e6458d33b95f3f6479b097edbc556.js
  staging/service-worker.js
Due: none

dApp: rename VUE_APP_TRANSPORT and support VUE_APP_MATRIX_LIST_URL envar
  raiden-dapp/.env.development
  raiden-dapp/.env.e2e
  raiden-dapp/.env.ghpages
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

sdk: retryAsync$ setupMatrixClient$ requests upon rate-limiting
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

cli: move retryAsync$ to utils/rx, and simplify pluckDistinct signature
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

dApp: Mainnet deposit dialog (#1980)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/dialogs/UdcDepositDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/dialogs/udc-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 335cf61617c47854329c4664b428ab95d76329a9 [skip ci]
  staging/index.html
  staging/js/app.2326f18a.js
  staging/js/app.9c6d4d93.js
  staging/precache-manifest.34813676fd828c9109decfa250cc1664.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: ed7c24e786d5f62cd6e95e44bf6022ffb7af4e46 [skip ci]
  staging/css/chunk-2bfea517.27c85d4e.css
  staging/css/chunk-2db7a90f.05dfb660.css
  staging/css/chunk-3ef19614.abf5d772.css
  staging/css/chunk-5d3b2a50.afe9b41e.css
  staging/css/chunk-b0964c66.423bfba4.css
  staging/css/chunk-c901c198.b37fe2cb.css
  staging/index.html
  staging/js/app.9c6d4d93.js
  staging/js/app.b1cb0c36.js
  staging/js/chunk-2bfea517.f61bb202.js
  staging/js/chunk-2db7a90f.52d3a2d8.js
  staging/js/chunk-3ef19614.7f6a0b92.js
  staging/js/chunk-5d3b2a50.c959dc63.js
  staging/js/chunk-b0964c66.43a683eb.js
  staging/js/chunk-c901c198.9c8da99a.js
  staging/precache-manifest.dd7e70087c02ee0d17546f4e9bde2091.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: b51b2a3ea206544fae04dbe1cc34313b892bdf77 [skip ci]
  staging/index.html
  staging/js/app.28c4b7e6.js
  staging/js/app.b1cb0c36.js
  staging/js/chunk-vendors.92b8eeb8.js
  staging/precache-manifest.10270930a0312ad6d9ed50efaf56cfdb.js
  staging/service-worker.js
Due: none

Removing pending transfers from identicon (#2003)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/HeaderIdenticon.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Automated deployment to GitHub Pages: 18cb3685b58c6bcc7970028c5c57bfcdae1aae6e [skip ci]
  staging/css/app.9b0effa9.css
  staging/css/app.eb0b879b.css
  staging/css/chunk-vendors.598f1e49.css
  staging/css/chunk-vendors.d0c7ac35.css
  staging/index.html
  staging/js/app.28c4b7e6.js
  staging/js/app.683a65dd.js
  staging/precache-manifest.c0bb9d8052af2a0a2737dba7df50093b.js
  staging/service-worker.js
Due: none

sdk: fetch events happening in deploy block and some confirmations
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
Due: sdk, sdk_integration

sdk: include transactionIndex in sortBy of fetched past channel events
  raiden-ts/src/channels/epics.ts
Due: sdk, sdk_integration

sdk: introduce 'last' util and use it to infer tuple's last element
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
Due: sdk, sdk_integration

Fixes icons not visiblie in Firefox bug
  raiden-dapp/src/components/channels/ChannelList.vue
Due: dapp

Displays amount placeholder on open channel input field
  raiden-dapp/src/components/navigation/OpenChannel.vue
Due: dapp

Fixes icons not visiblie in Firefox bug (#2016)
  raiden-dapp/src/components/channels/ChannelList.vue
Due: dapp

Displays amount placeholder on open channel input field (#2017)
  raiden-dapp/src/components/navigation/OpenChannel.vue
Due: dapp

Automated deployment to GitHub Pages: 514598ad8849302a4e726dba9410364b7d9c97ac [skip ci]
  staging/css/chunk-44afd318.f2d71480.css
  staging/css/chunk-52abfed0.9ddd6f20.css
  staging/css/chunk-618b5a2b.4641a76f.css
  staging/css/chunk-7e0b0fb0.4634161c.css
  staging/index.html
  staging/js/app.80d27b4d.js
  staging/js/app.e7b5843e.js
  staging/js/chunk-44afd318.9bfc8574.js
  staging/js/chunk-52abfed0.591a4cbe.js
  staging/js/chunk-618b5a2b.ed40a94c.js
  staging/js/chunk-7e0b0fb0.2f9ec970.js
  staging/precache-manifest.76003a791e6db3f3f3297abc5b716af2.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: d00d4bce99f51626a0926fdb5319d363d209139c [skip ci]
  staging/css/chunk-44afd318.f2d71480.css
  staging/css/chunk-52abfed0.9ddd6f20.css
  staging/index.html
  staging/js/app.43eaacb7.js
  staging/js/app.e7b5843e.js
  staging/js/chunk-44afd318.9bfc8574.js
  staging/js/chunk-52abfed0.591a4cbe.js
  staging/precache-manifest.bdddf698a8cd98132f6da2d6e5661b78.js
  staging/service-worker.js
Due: none

dapp: Simplify how AppHeader retrieves title
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/locales/en.json
Due: dapp

dapp: Prevent routing before disclaimer accepted
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/DisclaimerRoute.vue
Due: dapp

dapp: Add checkboxes to disclaimer route
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/DisclaimerRoute.vue
Due: dapp

dapp: Add first simple version of the disclaimer
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/views/DisclaimerRoute.vue
Due: dapp
