Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

sdk: Simplify imports and use `import type` when possible
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/integration/provider.ts
  raiden-ts/tests/integration/raiden.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

deps: Update dependency @typechain/ethers-v5 to v4
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

sdk: Adapt to latest typechain update
  raiden-ts/scripts/copyContracts.js
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

deps: Update all non-major dependencies
  yarn.lock
Due: none

Automated deployment to GitHub Pages: 3a7918c64d8b35b982f6b9fe4afab089f4451d1c [skip ci]
  staging/img/navigation-arrow.d184f6aa.svg
  staging/img/status-icon-pending.cd303cd6.svg
  staging/img/status-icon-ready.5a7696c1.svg
  staging/js/14.js
  staging/js/15.js
  staging/js/16.js
  staging/js/17.js
  staging/js/18.js
  staging/js/app.js
Due: none

sdk: adapt matrix events types and Ts4.1 features
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/polyfills.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/tests/tsconfig.json
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tsconfig.json
Due: sdk, sdk_integration

dapp: extend amount input for autofocus
  raiden-dapp/src/components/AmountInput.vue
Due: dapp

dapp: adjust udc withdrawal dialog component
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/locales/en.json
Due: dapp

dapp: rework UDC screen according to new design
  raiden-dapp/src/assets/icon-deposit.svg
  raiden-dapp/src/assets/icon-withdraw.svg
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/account/UDC.vue
Due: dapp

dapp: increase font size for some UDC screens
  raiden-dapp/src/components/PlannedUdcWithdrawalInformation.vue
  raiden-dapp/src/views/account/UDC.vue
Due: dapp

dapp: fix e2e tests for UDC component refactoring
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/e2e/utils/blockchain-interaction.ts
  raiden-dapp/tests/e2e/utils/user-interaction.ts
  raiden-dapp/tests/unit/views/account/udc.spec.ts
Due: dapp

dapp: extend changelog for re-design of UDC screen
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 5edf3fad3792d6bfe7c6d942bf80a7b908f8dd0a [skip ci]
  staging/js/app.js
Due: none

Automated deployment to GitHub Pages: 5837274ca6345171d796262cc8f298e001e64202 [skip ci]
  staging/img/icon-deposit.83f3ca48.svg
  staging/img/icon-withdraw.2858f46f.svg
  staging/js/1.js
  staging/js/14.js
  staging/js/app.js
Due: none

dApp: Moving header related icons to sub dir
  raiden-dapp/src/assets/app-header/back_arrow.svg
  raiden-dapp/src/assets/app-header/info.svg
  raiden-dapp/src/assets/info-overlay/placeholder.svg
Due: dapp

dApp: InfoOverlay texts and route adjustments
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/routes.ts
Due: dapp

dApp: Refactoring out AppHeader content
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/HeaderContent.vue
Due: dapp

dApp: Creating InfoOverlay component
  raiden-dapp/src/components/overlays/InfoOverlay.vue
Due: dapp

dApp: AccountRoute uses shared header
  raiden-dapp/src/views/AccountRoute.vue
Due: dapp

dApp: Extending and adding tests for InfoOverlay
  raiden-dapp/tests/e2e/utils/navigation.ts
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/components/header-content.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
  raiden-dapp/tests/unit/components/overlays/info-overlay.spec.ts
  raiden-dapp/tests/unit/views/account-route.spec.ts
Due: dapp

dApp: Changelog entry for InfoOverlay
  raiden-dapp/CHANGELOG.md
Due: dapp

sdk: shut down if database is deleted
  raiden-ts/CHANGELOG.md
  raiden-ts/src/db/types.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/errors.json
  raiden-ts/src/global.d.ts
  raiden-ts/src/persister.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 4bbdb658a472d9ce6c900ec1fa13d837074068c0 [skip ci]
  staging/js/app.js
Due: none

dapp: apply design changes to account withdrawal
  raiden-dapp/src/assets/info-gray.svg
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/components/account/withdrawal.spec.ts
Due: dapp

dapp: add changelog entry for withdrawal screen
  raiden-dapp/CHANGELOG.md
Due: dapp

chore: remove 'v' from release script
  prepare-release.sh
Due: none

Automated deployment to GitHub Pages: 93263276b56923cd649e20382b90b69cb158d3b8 [skip ci]
  staging/img/info-gray.db875af8.svg
  staging/js/16.js
  staging/js/app.js
Due: none

dApp: fix Raiden Account tokens not showing up for withdrawal
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/components/account/withdrawal.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

dApp: update tokens balances on some other components
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/components/dialogs/ChannelWithdrawDialog.vue
  raiden-dapp/src/components/dialogs/MintDialog.vue
  raiden-dapp/src/components/tokens/TokenList.vue
  raiden-dapp/tests/unit/components/channels/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/channel-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/channel-withdraw-dialog.spec.ts
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
  raiden-dapp/tests/unit/components/overlays/token-overlay.spec.ts
  raiden-dapp/tests/unit/components/tokens/token-list.spec.ts
Due: dapp

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 7f44a416092a5d866232cef386c900223f79791c [skip ci]
  staging/js/13.js
  staging/js/16.js
  staging/js/7.js
  staging/js/8.js
  staging/js/9.js
  staging/js/app.js
Due: none
