Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Changes components and labels from Payment to Transfer
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/src/components/Tokens.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/route-names.ts
  raiden-dapp/src/router.ts
  raiden-dapp/src/views/OpenChannel.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
  raiden-dapp/tests/unit/views/open-channel.spec.ts
  raiden-dapp/tests/unit/views/transfer.spec.ts
Due: dapp

Removes kovan support
  raiden-ts/README.md
  raiden-ts/src/raiden.ts
Due: sdk

Updated copy on image from "Payments" to "Transfers"
  README.md
Due: none

Changed wording from "Payment" to "Transfer"
  raiden-ts/README.md
Due: sdk

Updates to vue-cli 4.x
  raiden-dapp/babel.config.js
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/main.ts
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/plugins/raiden.ts
  raiden-dapp/src/registerServiceWorker.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/address-input.spec.ts
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/components/channel-list.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
  raiden-dapp/tests/unit/components/pathfinding-services.spec.ts
  raiden-dapp/tests/unit/components/splash-screen.spec.ts
  raiden-dapp/tests/unit/components/token-overlay.spec.ts
  raiden-dapp/tests/unit/components/tokens.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/views/channels.spec.ts
  raiden-dapp/tests/unit/views/open-channel.spec.ts
  raiden-dapp/tests/unit/views/select-hub.spec.ts
  raiden-dapp/tests/unit/views/transfer.spec.ts
  raiden-dapp/vue.config.js
Due: dapp

Adds @typescript-eslint dependencies to the project
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Updates tsconfig.json to fix build issues
  raiden-dapp/tsconfig.json
Due: dapp

Adds a few tests for raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Bump typechain version & adding typechain-target-ethers as new dep
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
