Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

cli: adapt --gas-price help string for new behavior
  raiden-cli/src/index.ts
Due: none

sdk: adapt txs to spread Latest.gasPrice
  raiden-ts/src/channels/epics/close.ts
  raiden-ts/src/channels/epics/deposit.ts
  raiden-ts/src/channels/epics/open.ts
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: apply gasPriceFactor to maxPriorityFeePerGas post-london
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

sdk: fix tests and add changelog for new gasPriceFactor behavior
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/channels.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/withdraw.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

dApp: split transfer action into two
  raiden-dapp/src/components/transfer/DirectTransferAction.vue
  raiden-dapp/src/components/transfer/MediatedTransferAction.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/components/transfer/direct-transfer-action.spec.ts
  raiden-dapp/tests/unit/components/transfer/mediated-transfer-action.spec.ts
Due: dapp

Update user message to deposit the required service tokens by keeping a 10 percent margin
  raiden-dapp/src/views/account/UDC.vue
Due: dapp

deps: Update dependency matrix-js-sdk to v13
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: Update dependency ansi-regex to 5.0.1 [SECURITY]
  .github/actions/changelog-reminder/package-lock.json
Due: none

deps: Update all non-major dependencies and lockFile maintenance
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: refactor: replace `using` with `latestEpic`
  raiden-ts/src/epics.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  e2e-environment/Dockerfile
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: revert Dockerfile python bump and enable dashboard
  .github/renovate.json
  e2e-environment/Dockerfile
Due: none

deps: Update dependency jest-junit to v13
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: implement transact util for contracts txs
  raiden-ts/src/channels/utils.ts
Due: sdk, sdk_integration

sdk: replace standalone contract calls with transact
  raiden-ts/src/channels/epics/close.ts
  raiden-ts/src/channels/epics/deposit.ts
  raiden-ts/src/channels/epics/open.ts
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: refactor: get rid of subkey options in some public methods
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/errors.json
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/transfers/actions.ts
Due: sdk, sdk_integration

sdk: add changelog and fix tests for +5% gasLimit and subkey opt removal
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: refactor: rename rxjs custom utils mergeWith -> withMergeFrom
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/rx.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
