Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

Updated contribution guide
  CONTRIBUTING.md
Due: none

Fixes JSDoc and return types
  raiden-ts/src/transfers/epics.ts
Due: sdk

Providing link to the getting started guide
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Extracts dispatchAndWait function
  raiden-ts/src/transfers/epics.ts
Due: sdk

Extracts a few functions
  raiden-ts/src/transfers/epics.ts
Due: sdk

Extracts mappings and replaces ternary with switch
  raiden-ts/src/transfers/epics.ts
Due: sdk

Replaces some if/throw with assertions
  raiden-ts/src/transfers/epics.ts
Due: sdk

Splits single declarations to multiple declarations
  raiden-ts/src/transfers/epics.ts
Due: sdk

Fix observable function name suffix
  raiden-ts/src/transfers/epics.ts
Due: sdk

Adds basic codeclimate configuration
  raiden-ts/.codeclimate.yml
Due: sdk

Extracts mergeMap of makeAndSign functions
  raiden-ts/src/transfers/epics.ts
Due: sdk

Extracts transfer retry logic into functions
  raiden-ts/src/transfers/epics.ts
Due: sdk

Removes publishReplay pattern and fixes tests
  raiden-ts/src/epics.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
Due: sdk

Moves CodeClimate initial configuration to root
  .codeclimate.yml
Due: none

Changing to use i18n instead of v-html
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Updated contribution guide (#753)
  CONTRIBUTING.md
Due: none

Very small fix for depositToUDC from main account
  raiden-ts/src/raiden.ts
Due: sdk

Fixes vue renderer evaluation warning
  raiden-dapp/src/components/TokenOverlay.vue
Due: dapp

Fixes wrong structure in .codeclimate.yml
  .codeclimate.yml
Due: none
