Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dapp: prevent unintended/automatic unloading/stop
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

dependencies: Update dependency fp-ts to v2.6.7
  raiden-ts/package.json
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 13bfe019eea82d0dc0d08a8956739cdbf9b8c557 [skip ci]
  staging/index.html
  staging/js/app.1acf09fa.js
  staging/js/app.2e6bedb2.js
  staging/precache-manifest.f97ac28bd42775d5a2fe10c07e263ff9.js
  staging/service-worker.js
Due: none

dependencies: Update dependency copy-webpack-plugin to v6.0.3
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency http-errors to v1.8.0
  raiden-cli/package.json
Due: none

dependencies: Update dependency rxjs to v6.6.0
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 183001ac88eb486ffbe2bb9a8a7934bc3d9c0b01 [skip ci]
  staging/index.html
  staging/js/app.2e6bedb2.js
  staging/js/app.c5cf2aba.js
  staging/js/chunk-vendors.8dd5edc2.js
  staging/js/chunk-vendors.be3c9f62.js
  staging/precache-manifest.bec8b641d7fc17cefdd08a1914c88f78.js
  staging/service-worker.js
Due: none

dependencies: Update dependency sass-loader to v9
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency typedoc to v0.17.8
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency vuex to v3.5.1
  raiden-dapp/package.json
Due: dapp

Automated deployment to GitHub Pages: a2f480f4e8858b8b16a1155f66eb4ac1c17990e8 [skip ci]
  staging/css/chunk-3284767e.5f3a5d8d.css
  staging/css/chunk-39b0fc89.e65b95d7.css
  staging/css/chunk-4a94025a.bde0c05a.css
  staging/css/chunk-59233c3d.9e64696d.css
  staging/index.html
  staging/js/app.13323a9b.js
  staging/js/app.65b9f8a4.js
  staging/js/chunk-0840f7b4.80931e1b.js
  staging/js/chunk-3284767e.4b47fd5e.js
  staging/js/chunk-38128184.5583afc7.js
  staging/js/chunk-39b0fc89.8ff8c845.js
  staging/js/chunk-4a94025a.e5005613.js
  staging/js/chunk-54fec2d8.32e2dab3.js
  staging/js/chunk-59233c3d.af3eea9f.js
  staging/js/chunk-7281a2e4.c4e546e4.js
  staging/js/chunk-vendors.2205c75f.js
  staging/js/chunk-vendors.be3c9f62.js
  staging/precache-manifest.ebea15d35140b3d047df4a137602cc95.js
  staging/service-worker.js
Due: none

dependencies: Update dependency source-map-loader to v1.0.1
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency yargs to v15.4.0
  raiden-cli/package.json
Due: none

Automated deployment to GitHub Pages: a706875101720d9534279a5b642a433447aee986 [skip ci]
  staging/index.html
  staging/js/app.65b9f8a4.js
  staging/js/app.9794d40e.js
  staging/js/chunk-17c87963.87e6c573.js
  staging/js/chunk-17c87963.c46ef560.js
  staging/js/chunk-24604f94.5ed8d283.js
  staging/js/chunk-24604f94.f098169d.js
  staging/js/chunk-2576fd6c.2d60d8aa.js
  staging/js/chunk-2576fd6c.ce32c361.js
  staging/js/chunk-2cc0f8bd.414b6f0d.js
  staging/js/chunk-2cc0f8bd.5643166c.js
  staging/js/chunk-3284767e.4b47fd5e.js
  staging/js/chunk-3284767e.c0de5ca4.js
  staging/js/chunk-33bb99e5.7556368f.js
  staging/js/chunk-33bb99e5.def741ec.js
  staging/js/chunk-382d1ffe.0601daa4.js
  staging/js/chunk-382d1ffe.760ce6b0.js
  staging/js/chunk-39b0fc89.8ff8c845.js
  staging/js/chunk-39b0fc89.985295f7.js
  staging/js/chunk-41492adc.184d0664.js
  staging/js/chunk-41492adc.28cd1a65.js
  staging/js/chunk-4a94025a.15a96b75.js
  staging/js/chunk-4a94025a.e5005613.js
  staging/js/chunk-4e36395b.5cb42b59.js
  staging/js/chunk-4e36395b.b32c0d19.js
  staging/js/chunk-59233c3d.9290c35a.js
  staging/js/chunk-59233c3d.af3eea9f.js
  staging/js/chunk-6503ad80.2434ff68.js
  staging/js/chunk-6503ad80.f822767a.js
  staging/js/chunk-68352b0c.7632b704.js
  staging/js/chunk-68352b0c.e6b3b0ba.js
  staging/js/chunk-ecb3c59c.68ae1ada.js
  staging/js/chunk-ecb3c59c.942ba3aa.js
  staging/js/chunk-vendors.8aa53862.js
  staging/precache-manifest.79e00709e5baad76e539a47e8e8f831b.js
  staging/service-worker.js
Due: none

sdk: Optimize types
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/types.ts
  raiden-ts/src/messages/types.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 64dc5069edc502d7b03ae43555c3079367091d60 [skip ci]
  staging/index.html
  staging/js/app.9794d40e.js
  staging/js/app.b85ee10d.js
  staging/precache-manifest.700609fafe9705b321fc57a0d9b3e4d0.js
  staging/service-worker.js
Due: none

Hide error label and emit error message
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

Remove console.log and fix prop type error
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

Colors for new transfer screen
  raiden-dapp/src/plugins/vuetify.ts
  raiden-dapp/src/scss/colors.scss
Due: dapp

infra: Update integration image to include pnpm
  .circleci/config.yml
  integration/Dockerfile
Due: none

infra: Introduces rule to reduce renovate PRs
  .github/renovate.json
Due: none

dependencies: Lock file maintenance all dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  pnpm-lock.yaml
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
