Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

comment:
  after_n_builds: 2

Fixes comments on RELEASE.md
  RELEASE.md
Due: none

Adds a bash script to handle releasing
  prepare-release.sh
Due: none

Adds RELEASE.md to document the release process
  RELEASE.md
Due: none

Closing deposit window after setTimeout
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Adding back indetifier
  raiden-dapp/src/components/ChannelDepositDialog.vue
Due: dapp

Fixing failing tests and review feedback changes
  raiden-dapp/src/components/ChannelDepositDialog.vue
  raiden-dapp/src/components/ErrorDialog.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/tests/unit/components/channel-deposit.spec.ts
  raiden-dapp/tests/unit/components/raiden-dialog.spec.ts
  raiden-dapp/tests/unit/views/transfer.spec.ts
Due: dapp

Adding vuetify to wrapper
  raiden-dapp/tests/unit/components/channel-deposit.spec.ts
Due: dapp

Fixing lint errors
  raiden-dapp/src/components/ChannelList.vue
  raiden-dapp/src/components/RaidenDialog.vue
Due: dapp

Fixing undefined error that occures in depositTokens()
  raiden-dapp/src/components/ChannelDepositDialog.vue
Due: dapp

Adds a matrix filter before starting the initial sync
  raiden-ts/src/transport/epics.ts
  raiden-ts/typings/matrix-js-sdk/index.d.ts
Due: sdk

Moves join of broadcast rooms adds createFilter to the rx chain
  raiden-ts/src/transport/epics.ts
Due: sdk

Sets display name when searching for presence
  raiden-ts/src/transport/epics.ts
  raiden-ts/typings/matrix-js-sdk/index.d.ts
Due: sdk

Fixes wrong filter on presence property
  raiden-ts/src/transport/epics.ts
Due: sdk

Enables lazy load members on room filter
  raiden-ts/src/transport/epics.ts
  raiden-ts/typings/matrix-js-sdk/index.d.ts
Due: sdk

Use getServerName
  raiden-ts/src/transport/epics.ts
Due: sdk

Fixes the test setup
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Fetch displayName when missing on presence events
  raiden-ts/src/transport/epics.ts
  raiden-ts/typings/matrix-js-sdk/index.d.ts
Due: sdk

Optimize message decoding
  raiden-ts/src/messages/utils.ts
  raiden-ts/tests/unit/messages.spec.ts
Due: sdk

Replacing string with boolean for hide-overlay
  raiden-dapp/src/components/RaidenDialog.vue
Due: dapp

Adding RaidenDialog as stub to take care of infinite loop error
  raiden-dapp/tests/unit/components/channel-deposit.spec.ts
Due: dapp

Display complete address when hovering one
  raiden-dapp/src/components/AddressDisplay.vue
Due: dapp

Remove unused CSS
  raiden-dapp/src/components/AddressDisplay.vue
Due: dapp

Add changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Fixed broken tests
  raiden-dapp/tests/unit/components/address-display.spec.ts
Due: dapp

Removed unnecessary textarea casting
  raiden-dapp/src/components/AddressDisplay.vue
Due: dapp

Emitting close event when user clicks outside of dialog
  raiden-dapp/src/components/RaidenDialog.vue
Due: dapp

Fixed deposit dialog on channel list view
  raiden-dapp/src/components/ChannelList.vue
Due: dapp

Fixed deposit dialog on channel list view
  raiden-dapp/src/components/ChannelDepositDialog.vue
  raiden-dapp/src/components/ChannelList.vue
Due: dapp

Display complete address when hovering one (#979)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AddressDisplay.vue
  raiden-dapp/tests/unit/components/address-display.spec.ts
Due: dapp

Fixed handlebar spam messages from code coverage report generation
  raiden-dapp/package-lock.json
Due: dapp

Fixed handlebar spam messages from code coverage report generation (#980)
  raiden-dapp/package-lock.json
Due: dapp

Starting to rewrite deposit tests
  raiden-dapp/tests/unit/components/channel-list.spec.ts
Due: dapp

Converts the input validation flow to an rx-chain
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

Fixes validation of AddressInput
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

Removes paste button from AddressInput.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/locales/en.json
Due: dapp
