Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

infra: Update renovate configuration (#1666)
  .github/renovate.json
Due: none

infra: Fixes schedule with renovate bot
  .github/renovate.json
Due: none

infra: Fixes schedule with renovate bot (#1667)
  .github/renovate.json
Due: none

dependencies: Update dependency @actions/github to v2.2.0
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
Due: none

dependencies: Update dependency @zeit/ncc to v0.22.3
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
Due: none

dependencies: Update dependency @actions/core to v1.2.4
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
Due: none

dependencies: Update dependency eslint to v7.2.0
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: f96d7f576a25e0457f10ee0e4c0cbf611a668f71 [skip ci]
  staging/index.html
  staging/js/app.2d094006.js
  staging/js/app.cc46c9fe.js
  staging/js/chunk-08dab35b.13cb478a.js
  staging/js/chunk-08e9ead2.cf3cc391.js
  staging/js/chunk-091f4f74.ffd99d48.js
  staging/js/chunk-0a9c6d1a.bd0fa5fe.js
  staging/js/chunk-28bce315.073e5870.js
  staging/js/chunk-320b3e6a.c9e8a0ad.js
  staging/js/chunk-42bc8b47.aa5d94c6.js
  staging/js/chunk-4d730eb5.70503090.js
  staging/js/chunk-5bd868d6.c0b66925.js
  staging/js/chunk-66c53ac6.6be007cc.js
  staging/js/chunk-778a1868.55003788.js
  staging/js/chunk-7916f8ca.f704e500.js
  staging/js/chunk-89906324.f69fe5b5.js
  staging/js/chunk-e8fa3e66.da5776a7.js
  staging/js/chunk-f60d6c70.02ecf30f.js
  staging/js/chunk-f675d0fe.aad6d6c9.js
  staging/precache-manifest.0e9c22e13af85fd1504a625ae29f3d2d.js
  staging/service-worker.js
Due: none

dependencies: Update dependency eslint-config-airbnb-base to v14.2.0
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
Due: none

dependencies: Update dependency eslint-plugin-jsdoc to v27.0.6
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency fp-ts to v2.6.5
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency matrix-js-sdk to v6.2.1
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency sass to v1.26.8
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency stylelint to v13.6.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Automated deployment to GitHub Pages: e52fb9f9ebe48b7646699c6836db2dd6e5479de9 [skip ci]
  staging/index.html
  staging/js/chunk-vendors.58fe6d7d.js
  staging/js/chunk-vendors.e2cad8c9.js
  staging/precache-manifest.740c4607dcc3f8bb886b4dd547696318.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: ac76248ee1468644cb526e130b1f07b138302648 [skip ci]
  staging/index.html
  staging/js/chunk-vendors.58fe6d7d.js
  staging/js/chunk-vendors.e2cad8c9.js
  staging/precache-manifest.0e9c22e13af85fd1504a625ae29f3d2d.js
  staging/service-worker.js
Due: none

dependencies: Update dependency eslint-plugin-import to v2.21.2
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 1afc961c43985ef8eb9f5b8aec87b7be90dad543 [skip ci]
  staging/index.html
  staging/js/chunk-vendors.956c9eef.js
  staging/js/chunk-vendors.e2cad8c9.js
  staging/precache-manifest.b1adfdc31e3644b542e4ab733e48effc.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 904e8863db0b77cc3293ac77e342277a88e956ee [skip ci]
  staging/index.html
  staging/js/app.28348709.js
  staging/js/app.cc46c9fe.js
  staging/js/chunk-08dab35b.d38f3a1a.js
  staging/js/chunk-08e9ead2.e6a7e4d2.js
  staging/js/chunk-091f4f74.5e83185b.js
  staging/js/chunk-0a9c6d1a.fa77c445.js
  staging/js/chunk-28bce315.7d40ac2c.js
  staging/js/chunk-320b3e6a.4f313e6e.js
  staging/js/chunk-42bc8b47.7d5457cb.js
  staging/js/chunk-4d730eb5.8bcd60f3.js
  staging/js/chunk-5bd868d6.ba94c85e.js
  staging/js/chunk-66c53ac6.fe18bec9.js
  staging/js/chunk-778a1868.4876284e.js
  staging/js/chunk-7916f8ca.4e6faafe.js
  staging/js/chunk-89906324.b5b38978.js
  staging/js/chunk-e8fa3e66.c5ba3701.js
  staging/js/chunk-f60d6c70.a5db55ed.js
  staging/js/chunk-f675d0fe.abbd5c42.js
  staging/precache-manifest.e4a20c629c374a84a2828ffdf2cfcf9e.js
  staging/service-worker.js
Due: none

Fix migration 4 for oldChannels
  raiden-ts/src/migration/4.ts
  raiden-ts/src/state.ts
  raiden-ts/tests/unit/states/3_full.json
  raiden-ts/tests/unit/states/4_full.json
Due: sdk, sdk_integration

dependencies: Update dependency typedoc-plugin-markdown to v2.3.1
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency vue-i18n to v8.18.2
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency vuepress to v1.5.1
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: b8b2e8b0a9260176b57fd55bd521fca177011db4 [skip ci]
  staging/index.html
  staging/js/app.28348709.js
  staging/js/app.8cad4e8e.js
  staging/js/chunk-08dab35b.1441ea4b.js
  staging/js/chunk-08e9ead2.54dbd3a8.js
  staging/js/chunk-091f4f74.8bf5e9d9.js
  staging/js/chunk-0a9c6d1a.8b929af3.js
  staging/js/chunk-28bce315.e069e6f8.js
  staging/js/chunk-320b3e6a.8abcb4cb.js
  staging/js/chunk-42bc8b47.a05bad20.js
  staging/js/chunk-4d730eb5.13bb6cc5.js
  staging/js/chunk-5bd868d6.8e314378.js
  staging/js/chunk-66c53ac6.260dd708.js
  staging/js/chunk-778a1868.8ba2965f.js
  staging/js/chunk-7916f8ca.e08da358.js
  staging/js/chunk-89906324.b73c9c67.js
  staging/js/chunk-e8fa3e66.affc27af.js
  staging/js/chunk-f60d6c70.429d6503.js
  staging/js/chunk-f675d0fe.62876588.js
  staging/precache-manifest.5124af713f42a045de69ec0a0b23d48a.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 4d08020bac5630d6c43b955bf16f19f06e6e4e18 [skip ci]
  staging/index.html
  staging/js/app.3d7d064e.js
  staging/js/app.8cad4e8e.js
  staging/js/chunk-08dab35b.69aa16e1.js
  staging/js/chunk-08e9ead2.9f803f14.js
  staging/js/chunk-091f4f74.661281b4.js
  staging/js/chunk-0a9c6d1a.06e93803.js
  staging/js/chunk-28bce315.12c4e12e.js
  staging/js/chunk-320b3e6a.6ae7526f.js
  staging/js/chunk-42bc8b47.362f1d70.js
  staging/js/chunk-4d730eb5.3a8fdaaa.js
  staging/js/chunk-5bd868d6.282fdeb7.js
  staging/js/chunk-66c53ac6.0ef954e7.js
  staging/js/chunk-778a1868.93445292.js
  staging/js/chunk-7916f8ca.1c76cff6.js
  staging/js/chunk-89906324.86958c44.js
  staging/js/chunk-e8fa3e66.56b8fdb7.js
  staging/js/chunk-f60d6c70.dc862a7e.js
  staging/js/chunk-f675d0fe.5d511f2b.js
  staging/precache-manifest.7da7f15bfdaa8f9d9cf752e5bc89b0bb.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 9b922e2171c3a25d432ea3c043cad0db6ffec33b [skip ci]
  staging/index.html
  staging/js/app.147c0804.js
  staging/js/app.3d7d064e.js
  staging/js/chunk-08dab35b.1c7aa854.js
  staging/js/chunk-08dab35b.69aa16e1.js
  staging/js/chunk-08e9ead2.9f803f14.js
  staging/js/chunk-08e9ead2.c8c18f3f.js
  staging/js/chunk-091f4f74.661281b4.js
  staging/js/chunk-091f4f74.dd7e6ed1.js
  staging/js/chunk-28bce315.12c4e12e.js
  staging/js/chunk-28bce315.22bcbbcc.js
  staging/js/chunk-320b3e6a.6ae7526f.js
  staging/js/chunk-320b3e6a.e490b9eb.js
  staging/js/chunk-4d730eb5.3a8fdaaa.js
  staging/js/chunk-4d730eb5.77805b40.js
  staging/js/chunk-5bd868d6.282fdeb7.js
  staging/js/chunk-5bd868d6.c532e72a.js
  staging/js/chunk-66c53ac6.0a5314f9.js
  staging/js/chunk-66c53ac6.0ef954e7.js
  staging/js/chunk-7916f8ca.1c76cff6.js
  staging/js/chunk-7916f8ca.f4ddc108.js
  staging/js/chunk-89906324.6d4c4020.js
  staging/js/chunk-89906324.86958c44.js
  staging/js/chunk-e8fa3e66.56b8fdb7.js
  staging/js/chunk-e8fa3e66.702e84b4.js
  staging/js/chunk-f60d6c70.c0c808c3.js
  staging/js/chunk-f60d6c70.dc862a7e.js
  staging/js/chunk-f675d0fe.49d02924.js
  staging/js/chunk-f675d0fe.5d511f2b.js
  staging/precache-manifest.adb091417448104a31ff78e0947e0652.js
  staging/service-worker.js
Due: none

dependencies: Update dependency typescript to v3.9.5
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 4ec5f7a4dd51ba79e22e4a605d927c84a62f02e4 [skip ci]
  staging/index.html
  staging/js/app.147c0804.js
  staging/js/app.3503028e.js
  staging/js/chunk-08dab35b.1c7aa854.js
  staging/js/chunk-08dab35b.e23c8464.js
  staging/js/chunk-08e9ead2.21fc17fe.js
  staging/js/chunk-08e9ead2.c8c18f3f.js
  staging/js/chunk-091f4f74.26f6cb40.js
  staging/js/chunk-091f4f74.dd7e6ed1.js
  staging/js/chunk-0a9c6d1a.97b23bd8.js
  staging/js/chunk-28bce315.22bcbbcc.js
  staging/js/chunk-28bce315.ef4d0b57.js
  staging/js/chunk-320b3e6a.c2ef94cc.js
  staging/js/chunk-320b3e6a.e490b9eb.js
  staging/js/chunk-42bc8b47.10526e8a.js
  staging/js/chunk-4d730eb5.77805b40.js
  staging/js/chunk-4d730eb5.844dfb23.js
  staging/js/chunk-5bd868d6.c52b8f42.js
  staging/js/chunk-5bd868d6.c532e72a.js
  staging/js/chunk-66c53ac6.0a5314f9.js
  staging/js/chunk-66c53ac6.f01b2c83.js
  staging/js/chunk-778a1868.8b750deb.js
  staging/js/chunk-7916f8ca.a371b39f.js
  staging/js/chunk-7916f8ca.f4ddc108.js
  staging/js/chunk-89906324.6d4c4020.js
  staging/js/chunk-89906324.e0c6128a.js
  staging/js/chunk-e8fa3e66.4b50e35a.js
  staging/js/chunk-e8fa3e66.702e84b4.js
  staging/js/chunk-f60d6c70.1c597426.js
  staging/js/chunk-f60d6c70.c0c808c3.js
  staging/js/chunk-f675d0fe.47ffa23a.js
  staging/js/chunk-f675d0fe.49d02924.js
  staging/js/chunk-vendors.956c9eef.js
  staging/js/chunk-vendors.e2cad8c9.js
  staging/precache-manifest.3191b1c70efb503a9c24573ce127fb01.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 7ab6d160373ded78099168e7fff59e4274b9c3ef [skip ci]
  staging/index.html
  staging/js/app.3503028e.js
  staging/js/app.6650a690.js
  staging/js/chunk-08dab35b.149d0c2e.js
  staging/js/chunk-08e9ead2.0253b566.js
  staging/js/chunk-091f4f74.7072d746.js
  staging/js/chunk-0a9c6d1a.2d6524bd.js
  staging/js/chunk-28bce315.5e55d01a.js
  staging/js/chunk-320b3e6a.2606b62e.js
  staging/js/chunk-42bc8b47.d826c96c.js
  staging/js/chunk-4d730eb5.e0b861ee.js
  staging/js/chunk-5bd868d6.218f7a0d.js
  staging/js/chunk-66c53ac6.363ec855.js
  staging/js/chunk-778a1868.fb597a46.js
  staging/js/chunk-7916f8ca.39b5dbfd.js
  staging/js/chunk-89906324.fe836cc8.js
  staging/js/chunk-e8fa3e66.09afdcbd.js
  staging/js/chunk-f60d6c70.9bcd06e6.js
  staging/js/chunk-f675d0fe.61ede158.js
  staging/js/chunk-vendors.840d8164.js
  staging/precache-manifest.8034d6493c28517d26f920f41f5ba906.js
  staging/service-worker.js
Due: none

dependencies: Update dependency vuetify to v2.2.34
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: Update python Docker tag to v3.8
  integration/Dockerfile
Due: none

dependencies: Update typescript-eslint monorepo to v3.2.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency @actions/github to v3
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
Due: none

dependencies: Update dependency @types/jest to v26
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration
