Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

dependencies: Update Node.js to v12.18.2
  raiden-dapp/.nvmrc
  raiden-ts/.nvmrc
Due: dapp, sdk, sdk_integration

Updates lockfile properly
  pnpm-lock.yaml
Due: none

dependencies: Pin dependencies
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: c76edc80865b1a46b739a819de69e313c2d32fdb [skip ci]
  staging/index.html
  staging/js/app.8be2d071.js
  staging/js/app.a9c2475f.js
  staging/js/chunk-044bcf18.c129e678.js
  staging/js/chunk-0f537c67.8fbe5b21.js
  staging/js/chunk-0f72fa02.aec8d488.js
  staging/js/chunk-1dac58dc.97fe5a85.js
  staging/js/chunk-23caa142.4ad816e2.js
  staging/js/chunk-2caf3af7.89307526.js
  staging/js/chunk-57338717.e2331a2a.js
  staging/js/chunk-61922e88.3802167d.js
  staging/js/chunk-6423beac.8769e81c.js
  staging/js/chunk-7cebb301.1e8dba8a.js
  staging/js/chunk-7e5946fa.02c403a5.js
  staging/js/chunk-7e95698d.d8828727.js
  staging/js/chunk-8a6d8b22.b49b47bd.js
  staging/js/chunk-9438be1e.3e3ab5cc.js
  staging/js/chunk-df3876ba.fea67e79.js
  staging/js/chunk-e0cbbf86.49c91c93.js
  staging/js/chunk-f98b1fda.9a9a23c1.js
  staging/precache-manifest.cbdc2b2578c15193ac50e34575ac1bde.js
  staging/service-worker.js
Due: none

infra: updates ci to prefer frozen lockfile
  .circleci/config.yml
Due: none

dependencies: Update babel monorepo to v7.10.4
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency vuetify to v2.3.3
  raiden-dapp/package.json
Due: dapp

dependencies: Update typescript-eslint monorepo to v3.5.0
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency @actions/github to v4
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
Due: none

dependencies: Update dependency eslint-plugin-import to v2.22.0
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency typescript to v3.9.6
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency eslint-plugin-jsdoc to v28.6.1
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 0f0b437867faf74d0c26b6f0d3f20dda4c21cd7c [skip ci]
  staging/index.html
  staging/js/app.9f9aedf9.js
  staging/js/app.c597e1fe.js
  staging/js/chunk-02d5d732.7f6a4e31.js
  staging/js/chunk-18886262.444bfeec.js
  staging/js/chunk-1a61e885.3c18fbde.js
  staging/js/chunk-2597c14c.e53bdc35.js
  staging/js/chunk-2fbfb683.34f40248.js
  staging/js/chunk-30c5202c.5d57fc3e.js
  staging/js/chunk-4c3fb596.3db6d0be.js
  staging/js/chunk-506775f4.7a2375e0.js
  staging/js/chunk-697dfc5c.e1966677.js
  staging/js/chunk-7795140d.d9dc34d9.js
  staging/js/chunk-7c7113dd.bb165a5b.js
  staging/js/chunk-7d5b2eb2.1a86ee0d.js
  staging/js/chunk-928c1b30.36126783.js
  staging/js/chunk-b6a512e8.ef3ec8a0.js
  staging/js/chunk-c9a1e9aa.7731ddbb.js
  staging/js/chunk-e8710c98.cfe13ab3.js
  staging/js/chunk-f6c4511a.08f9a9b8.js
  staging/precache-manifest.c654e45aaec32105825e477c2ed2e2ac.js
  staging/service-worker.js
Due: none

dependencies: Update dependency io-ts to v2.2.7
  raiden-ts/package.json
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 86902268a4026ba725999ef29dd39745465022b7 [skip ci]
  staging/index.html
  staging/js/app.1acf09fa.js
  staging/js/app.c597e1fe.js
  staging/js/chunk-vendors.471b79ea.js
  staging/js/chunk-vendors.8dd5edc2.js
  staging/precache-manifest.c2cd881b4686bee38b5728b58d9032ca.js
  staging/service-worker.js
Due: none

dependencies: Update dependency inquirer to v7.3.0
  raiden-cli/package.json
Due: none

dapp: prevent unintended/automatic unloading/stop
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

dependencies: Update dependency fp-ts to v2.6.7
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency http-errors to v1.8.0
  raiden-cli/package.json
Due: none
