Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Added changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Updated contribution guide
  CONTRIBUTING.md
Due: none

PR feedback: Refactored transfer summary tests
  raiden-dapp/tests/unit/components/transfer-summary.spec.ts
Due: dapp

Fixed weird auto formatting
  raiden-dapp/src/components/TransferSummary.vue
Due: dapp

Updated contribution guide (#1010)
  CONTRIBUTING.md
Due: none

Finetune transfer steps (#1003)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/TransferSummary.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/TransferSteps.vue
  raiden-dapp/tests/unit/components/transfer-summary.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
Due: dapp

Initial commit of OpenChannelDialog component
  raiden-dapp/src/components/OpenChannelDialog.vue
Due: dapp

Adjusting ChannelDepositDialog to fullscreen
  raiden-dapp/src/components/ChannelDepositDialog.vue
Due: dapp

Adding spinner and done icon
  raiden-dapp/src/components/OpenChannelDialog.vue
Due: dapp

Removing public property
  raiden-dapp/src/components/ConfirmationDialog.vue
Due: dapp

Displays step title and description only if they exist in array
  raiden-dapp/src/components/OpenChannelDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/OpenChannel.vue
Due: dapp

Removing abundant v-row and v-col
  raiden-dapp/src/components/ConfirmationDialog.vue
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Changes callback to provide events
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
Due: dapp, sdk

Adds information about the current udc deposit progress
  raiden-dapp/src/components/MintDepositDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/TransferSteps.vue
  raiden-ts/src/raiden.ts
Due: dapp, sdk

Fixes failing tests and removes unneeded mocks
  raiden-dapp/tests/unit/components/mint-deposit-dialog.spec.ts
Due: dapp

Removes fullscreen property from RaidenDialog implementations
  raiden-dapp/src/components/ChannelDepositDialog.vue
  raiden-dapp/src/components/ConfirmationDialog.vue
  raiden-dapp/src/components/ErrorDialog.vue
  raiden-dapp/src/components/RaidenDialog.vue
Due: dapp

Fixes guarding and renames enum
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
Due: dapp, sdk

Add confirmation actions for channleOpen.success
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/config.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/redux.ts
Due: sdk

Tests
  .circleci/config.yml
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/state.spec.ts
Due: sdk

PR review
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
Due: sdk

Make channelDeposit.success & channelWithdrawn ConfirmableActions
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/raiden.ts
Due: sdk

Tests
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Adds new modal design to pfs dialog
  raiden-dapp/src/components/PfsFeesDialog.vue
  raiden-dapp/src/components/RaidenDialog.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
