Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

Improve e2e script for MacOS and being more rebust
  e2e-environment/run-e2e-tests.sh
Due: none

sdk: handle network errors on monitorUdcBalanceEpic
  raiden-ts/src/services/epics.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
Due: sdk, sdk_integration

sdk: convert epics to non-arrow functions
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/db/epics.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/mediate.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

cli: ensure force-shutdown also happens on SDK-self-shutdown
  raiden-cli/src/index.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/payments.ts
Due: none

Automated deployment to GitHub Pages: c666432af0ba53e9aa3972b17351048ec91b4d8c [skip ci]
  staging/index.html
  staging/js/app.368c20b0.js
  staging/js/app.8cbcae21.js
  staging/precache-manifest.37f9947360b66e1768c8509d4a2b202f.js
  staging/service-worker.js
Due: none

Tests from launching dApp to connecting
  raiden-dapp/tests/e2e/utils/navigation.ts
  raiden-dapp/tests/e2e/utils/user-interaction.ts
Due: dapp

Hook to delete indexedDBs before a test run
  raiden-dapp/tests/e2e/specs/scenario.spec.ts
Due: dapp

Tests to open channel
  raiden-dapp/tests/e2e/specs/scenario.spec.ts
  raiden-dapp/tests/e2e/utils/blockchain-interaction.ts
  raiden-dapp/tests/e2e/utils/navigation.ts
  raiden-dapp/tests/e2e/utils/user-interaction.ts
Due: dapp

dependencies: Update dependency typechain to v3
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency webpack to v5
  raiden-dapp/package.json
Due: dapp

deps: remove webpack as a direct dependency
  pnpm-lock.yaml
  raiden-dapp/package.json
Due: dapp

dApp: exchange depracted robo font dependency
  raiden-dapp/package.json
  raiden-dapp/src/plugins/vuetify.ts
Due: dapp

dependencies: Update dependency jest-junit to v12
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency cypress to v5
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency @vue/eslint-config-typescript to v7
  raiden-dapp/package.json
Due: dapp

dependencies: Update all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: a8e4ecdc43ceeffa5f825489e08596c6f565bbcc [skip ci]
  staging/css/chunk-vendors.a9e1338d.css
  staging/css/chunk-vendors.ee019a4a.css
  staging/fonts/roboto-latin-100-italic.f8b1df51.woff2
  staging/fonts/roboto-latin-100-italic.f9e8e590.woff
  staging/fonts/roboto-latin-100-normal.5cb7edfc.woff
  staging/fonts/roboto-latin-100-normal.7370c367.woff2
  staging/fonts/roboto-latin-300-italic.14286f3b.woff2
  staging/fonts/roboto-latin-300-italic.4df32891.woff
  staging/fonts/roboto-latin-300-normal.b00849e0.woff
  staging/fonts/roboto-latin-300-normal.ef7c6637.woff2
  staging/fonts/roboto-latin-400-italic.51521a2a.woff2
  staging/fonts/roboto-latin-400-italic.fe65b833.woff
  staging/fonts/roboto-latin-400-normal.479970ff.woff2
  staging/fonts/roboto-latin-400-normal.60fa3c06.woff
  staging/fonts/roboto-latin-500-italic.288ad9c6.woff
  staging/fonts/roboto-latin-500-italic.db4a2a23.woff2
  staging/fonts/roboto-latin-500-normal.020c97dc.woff2
  staging/fonts/roboto-latin-500-normal.87284894.woff
  staging/fonts/roboto-latin-700-italic.81f57861.woff
  staging/fonts/roboto-latin-700-italic.da0e7178.woff2
  staging/fonts/roboto-latin-700-normal.2735a3a6.woff2
  staging/fonts/roboto-latin-700-normal.adcde98f.woff
  staging/fonts/roboto-latin-900-italic.28f91510.woff
  staging/fonts/roboto-latin-900-italic.ebf6d164.woff2
  staging/fonts/roboto-latin-900-normal.9b3766ef.woff2
  staging/fonts/roboto-latin-900-normal.bb1e4dc6.woff
  staging/index.html
  staging/js/app.5fe198b8.js
  staging/js/app.edff5371.js
  staging/js/chunk-vendors.0e31500f.js
  staging/precache-manifest.b1870de74329e26d0268ea8ce6014935.js
  staging/service-worker.js
Due: none

dApp: require mainnet to be explicitly enabled
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

sdk: clean some matrix rtc monkeypatch and use same callID as PC
  raiden-ts/src/global.d.ts
  raiden-ts/src/polyfills.ts
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: e30c4e65786e7e6ade9e0205089db39666776454 [skip ci]
  staging/index.html
  staging/js/app.061a7b54.js
  staging/js/app.edff5371.js
  staging/precache-manifest.18be9a4f0e025cb2e8d179d969f51424.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 29bd594060a2f1f7611b48ba6a6783f93e264032 [skip ci]
  staging/index.html
  staging/js/app.39f784f6.js
  staging/precache-manifest.6eb1c32e6be867951da039d1cea09bce.js
  staging/service-worker.js
Due: none

circleci: add parameter for dApp build mode
  .circleci/config.yml
Due: none

Adds UDC token to withdrawal screen
  raiden-dapp/src/components/account/Withdrawal.vue
Due: dapp
