Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

sdk: extend fromEthersEvent to notify past scan completion
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

dapp: add first basic setup for Capacitor
  .gitignore
  raiden-dapp/capacitor.config.json
  raiden-dapp/package.json
  raiden-dapp/src/main.ts
  yarn.lock
Due: dapp

dapp: disable feature check for Capacitor tests
  raiden-dapp/public/index.html
Due: dapp

dapp: add mode and config to test Capacitor
  raiden-dapp/.env.capacitor
  raiden-dapp/package.json
  raiden-dapp/public/config.capacitor.json
Due: dapp

Correcting the names of variables syncedTarget, syncedAmount
  raiden-dapp/src/components/transfer/TransferInputs.vue
Due: dapp

Automated deployment to GitHub Pages: 19acd68cec302b09807b3477855bfaa0f5a3c530 [skip ci]
  staging/js/11.js
Due: none

sdk: adapt initTokensRegistryEpic to scan all TNs at once
  raiden-ts/src/channels/epics.ts
Due: sdk, sdk_integration

sdk: replace pfsListUpdate with servicesValid action
  raiden-ts/src/db/migrations.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/reducer.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

sdk: adapt fromEthersEvent usage to new pattern
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/secret.ts
Due: sdk, sdk_integration

sdk: tmp fix sync on accounts without channels
  raiden-ts/src/channels/epics.ts
Due: sdk, sdk_integration

sdk: adds initial PFSFeeUpdate messageGlobalSend to init$
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

sdk: getLogsByChunk$ to support multi-contract fetching
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sd: add changelog entry and fix tests for sync filters
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/raiden.spec.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

deps: fix prettier eslint config change
  .eslintrc.json
Due: none

deps: Update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: none

sdk: move default confirmation blocks into constant
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: small migration type improvement
  raiden-ts/src/db/types.ts
  raiden-ts/src/db/utils.ts
  raiden-ts/src/persister.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 660ec581edcfacc2dc66c079f5de1d9b53d491de [skip ci]
  staging/js/app.js
Due: none

sdk: fix leading-zeroes on getLogs call
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 295f1f637f60034540955f3da5a3783028e8b013 [skip ci]
  staging/js/app.js
Due: none

sdk: add totalCapacity as part of ChannelAmounts interface
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/utils.ts
Due: sdk, sdk_integration

dapp: add script for capacitor initialization
  raiden-dapp/package.json
Due: dapp

sdk: add FeeModel types and utils
  raiden-ts/src/global.d.ts
  raiden-ts/src/transfers/mediate/types.ts
Due: sdk, sdk_integration

sdk: send PFSFeeUpdate whenever fee_schedule changes
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

sdk: move mediate epic to src/transfers/mediate
  raiden-ts/src/transfers/epics/index.ts
  raiden-ts/src/transfers/epics/mediate.ts
  raiden-ts/src/transfers/mediate/epics.ts
Due: sdk, sdk_integration

cli: expose --flat-fee option to set fixed mediation fees
  raiden-cli/src/index.ts
Due: none
