Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

deps: Update all non-major dependencies
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

sdk: refactor: avoid race on channelDeposit
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics/deposit.ts
  raiden-ts/src/channels/epics/open.ts
  raiden-ts/tests/integration/channels.spec.ts
Due: sdk, sdk_integration

sdk: also prevent resolving deposit promise on partner's deposit
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: allow parallel deposits per tokenNetwork if allowance is big
  raiden-ts/src/channels/epics/deposit.ts
  raiden-ts/src/channels/epics/open.ts
Due: sdk, sdk_integration

sdk: tests: fix some more flakyness on target/partner presence
  raiden-ts/tests/integration/path.spec.ts
Due: sdk, sdk_integration

deps: Update dependency @mdi/font to v6
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency @types/inquirer to v8
  raiden-cli/package.json
  yarn.lock
Due: none

deps: Update dependency eslint-plugin-prettier to v4
  package.json
  yarn.lock
Due: none

sdk: test: another flakyness fix
  raiden-ts/tests/integration/path.spec.ts
Due: sdk, sdk_integration

e2e: Update image
  .circleci/config.yml
  e2e-environment/Dockerfile
  e2e-environment/README.md
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
  e2e-environment/deployment_information/version
  e2e-environment/shared-script.sh
Due: none

Update contracts to 0.40.0rc
  raiden-ts/scripts/versions.js
Due: sdk, sdk_integration

e2e: update e2e to post-London geth private chain
  .circleci/config.yml
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
  e2e-environment/deployment_information/version
  e2e-environment/geth/genesis.py
  e2e-environment/shared-script.sh
Due: none

e2e: tests: adapt to coop-settled channels
  raiden-dapp/tests/e2e/specs/scenario.spec.ts
  raiden-dapp/tests/e2e/utils/blockchain-interaction.ts
  raiden-ts/tests/e2e/e2e.spec.ts
Due: dapp, sdk, sdk_integration

deps: Update jest monorepo
  package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: fix upgrade to jest@27
  package.json
  raiden-dapp/jest.config.js
  raiden-dapp/package.json
  raiden-dapp/src/plugins/vuetify.ts
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: fix code and move log environment to new jest-circus
  raiden-dapp/tests/unit/components/channels/channel-action-form.spec.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/tests/global.d.ts
  raiden-ts/tests/logenv.ts
  raiden-ts/tests/setupAfter.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: dapp, sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
