Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: Fix waiting for failed deposit on Raiden.openChannel
  raiden-ts/CHANGELOG.md
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 7e770c83772acf464a8920a6ad39dc526944ba1c [skip ci]
  staging/index.html
  staging/js/app.0ad7c84d.js
  staging/js/app.afcb54b0.js
  staging/precache-manifest.c1cd08e96f041cd4e234866942573096.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 678f90e22c8af927a5ee416c2f3ff8e173bdefa0 [skip ci]
  staging/index.html
  staging/js/app.afcb54b0.js
  staging/js/app.d8c06cbb.js
  staging/precache-manifest.ea51509c5268c7a76870724930d5e040.js
  staging/service-worker.js
Due: none

Try to fix base url for staging
  raiden-dapp/src/router/index.ts
Due: dapp

Automated deployment to GitHub Pages: b68acb2cef78982d9165144067e31ffe5f2a5870 [skip ci]
  staging/index.html
  staging/js/app.d8c06cbb.js
  staging/js/app.f9832136.js
  staging/precache-manifest.9cade90a95f7b5da91afcb94dddb29cd.js
  staging/service-worker.js
Due: none

Fix staging deployment BASE_URL
  raiden-dapp/src/router/index.ts
  raiden-dapp/vue.config.js
Due: dapp

Automated deployment to GitHub Pages: fa3d5991c62fb1278f5969be8b02cc660928fade [skip ci]
  staging/index.html
  staging/js/app.7963cd2a.js
  staging/js/app.f9832136.js
  staging/js/chunk-vendors.f9dc44e1.js
  staging/precache-manifest.9cade90a95f7b5da91afcb94dddb29cd.js
  staging/precache-manifest.9d5cd19bb1cdbd2358e245fc49e1b153.js
  staging/service-worker.js
Due: none

dapp: Introduces tests for the notifications
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/views/notification-panel.spec.ts
Due: dapp

dapp: Introduces notifications
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/plugins/vuetify.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/NotificationPanel.vue
Due: dapp

dapp: Integrating notifications with the SDK
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/filters.ts
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/store/notifications/actions.ts
  raiden-dapp/src/store/notifications/getters.ts
  raiden-dapp/src/store/notifications/index.ts
  raiden-dapp/src/store/notifications/mutations.ts
  raiden-dapp/src/store/notifications/state.ts
  raiden-dapp/src/store/notifications/types.d.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/NotificationPanel.vue
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/account/withdrawal.spec.ts
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/components/channels/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/udc-withdrawal-dialog.spec.ts
  raiden-dapp/tests/unit/components/navigation/channels.spec.ts
  raiden-dapp/tests/unit/components/navigation/open-channel.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/plugins.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
  raiden-ts/src/errors.json
  raiden-ts/src/services/epics.ts
Due: dapp, sdk, sdk_integration

dapp: Extracts notification methods fixes coverage
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

sdk: search also for settled channels on ms/balanceProof event
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

dapp: Fixes duplicate notification and layout
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

dapp: Update CHANGELOG
  raiden-dapp/CHANGELOG.md
Due: dapp

dapp: Fixes notification breaking on long messages
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Fix emiting global room and it being left as unknown
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

Improve pfsCapacityUpdateEpic debouncing behavior, convert tests
  raiden-ts/src/services/epics.ts
  raiden-ts/tests/unit/epics/path.spec.ts
Due: sdk, sdk_integration

Improve debounce algorithm for MonitoringRequest
  raiden-ts/src/services/epics.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: c297433348f32b768b055ca9b1ed1d292995085d [skip ci]
  staging/index.html
  staging/js/app.80334f1c.js
  staging/js/app.d9426278.js
  staging/js/chunk-vendors.bfdd5602.js
  staging/js/chunk-vendors.e97a3a8b.js
  staging/precache-manifest.97ca85d50ed6fa3b8445cc82324f4bd1.js
  staging/service-worker.js
Due: none

dapp: Fixes duplicate withdrawn notification
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Automated deployment to GitHub Pages: d0576356edef16ede39d14fab1542a74729849f8 [skip ci]
  staging/index.html
  staging/js/app.263a6733.js
  staging/js/app.80334f1c.js
  staging/precache-manifest.293c8a51cbd2a0f11a9db90c41fe18b1.js
  staging/service-worker.js
Due: none

First updates
  README.md
Due: none

Mentions the CLI
  README.md
Due: none

Use tar.gz build artifacts compatible with buster docker image
  .circleci/config.yml
  serve_pr/ci_dapp.sh
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
