Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: d0e6e9e3b51e04285aa217ffda8dae3b13565d62 [skip ci]
  staging/index.html
  staging/js/app.6650a690.js
  staging/js/app.d9c2b5ce.js
  staging/js/chunk-08dab35b.149d0c2e.js
  staging/js/chunk-08dab35b.fb9fd3ee.js
  staging/js/chunk-08e9ead2.0253b566.js
  staging/js/chunk-08e9ead2.51cdef47.js
  staging/js/chunk-091f4f74.7072d746.js
  staging/js/chunk-091f4f74.84a4c840.js
  staging/js/chunk-0a9c6d1a.2d6524bd.js
  staging/js/chunk-0a9c6d1a.3c0db975.js
  staging/js/chunk-28bce315.5e55d01a.js
  staging/js/chunk-28bce315.f9324537.js
  staging/js/chunk-320b3e6a.2606b62e.js
  staging/js/chunk-320b3e6a.b8a51319.js
  staging/js/chunk-42bc8b47.4f595a32.js
  staging/js/chunk-42bc8b47.d826c96c.js
  staging/js/chunk-4d730eb5.80c82cbf.js
  staging/js/chunk-4d730eb5.e0b861ee.js
  staging/js/chunk-5bd868d6.218f7a0d.js
  staging/js/chunk-5bd868d6.33fc8bb3.js
  staging/js/chunk-66c53ac6.363ec855.js
  staging/js/chunk-66c53ac6.67dfde1b.js
  staging/js/chunk-778a1868.063778df.js
  staging/js/chunk-778a1868.fb597a46.js
  staging/js/chunk-7916f8ca.39b5dbfd.js
  staging/js/chunk-7916f8ca.606b18b5.js
  staging/js/chunk-89906324.4dbe1903.js
  staging/js/chunk-89906324.fe836cc8.js
  staging/js/chunk-e8fa3e66.09afdcbd.js
  staging/js/chunk-e8fa3e66.f9d18291.js
  staging/js/chunk-f60d6c70.685e9281.js
  staging/js/chunk-f60d6c70.9bcd06e6.js
  staging/js/chunk-f675d0fe.276f5743.js
  staging/js/chunk-f675d0fe.61ede158.js
  staging/precache-manifest.41f39440ffb8939b78dd6d139f2e18f1.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 208a9ca44103e91eaca28a5575cfa311b5c41c25 [skip ci]
  staging/css/chunk-f675d0fe.379309b5.css
  staging/css/chunk-f675d0fe.775e569b.css
  staging/index.html
  staging/js/app.44927d00.js
  staging/js/app.d9c2b5ce.js
  staging/js/chunk-08dab35b.a0756d5b.js
  staging/js/chunk-08e9ead2.18c38377.js
  staging/js/chunk-091f4f74.511b4988.js
  staging/js/chunk-0a9c6d1a.e0501c37.js
  staging/js/chunk-28bce315.89cf7d41.js
  staging/js/chunk-320b3e6a.71225688.js
  staging/js/chunk-42bc8b47.3d2ba623.js
  staging/js/chunk-4d730eb5.49dbf01b.js
  staging/js/chunk-531a2bb8.40f88b39.js
  staging/js/chunk-531a2bb8.7822ec93.js
  staging/js/chunk-579e1ea3.0d8ed848.js
  staging/js/chunk-579e1ea3.efabdc9a.js
  staging/js/chunk-5bd868d6.f4a0d245.js
  staging/js/chunk-66c53ac6.050b0566.js
  staging/js/chunk-778a1868.5b63828f.js
  staging/js/chunk-7916f8ca.d0c557f5.js
  staging/js/chunk-89906324.4c4f22d8.js
  staging/js/chunk-e8fa3e66.d82a92f7.js
  staging/js/chunk-f60d6c70.bdf20d98.js
  staging/js/chunk-f675d0fe.276f5743.js
  staging/js/chunk-f675d0fe.4e838304.js
  staging/js/chunk-vendors.da1a576d.js
  staging/precache-manifest.16fcf6646af26d6bd27070df8897321b.js
  staging/service-worker.js
Due: none

sdk: Get rid of transferClear
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk, sdk_integration

sdk: Make 'createBalanceHash' receive a subset of a BalanceProof
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/messages.spec.ts
Due: sdk, sdk_integration

sdk: Introduce BalanceProofZero
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/types.ts
  raiden-ts/src/migration/3.ts
  raiden-ts/tests/unit/state.spec.ts
Due: sdk, sdk_integration

sdk: Search matching BalanceProof for balanceHash on channelSettle
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/errors.json
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

sdk: Add regression tests for channelSettle with outdated balanceHash
  raiden-ts/tests/unit/epics/channels.spec.ts
Due: sdk, sdk_integration

sdk: Add changelog for bugfix of settling with outdated BP
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Filters out non-relevant tokens from token select
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
Due: dapp

Fixing failing tests
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 9161ce48f38af6d6052e8cbcc90f5ca239778eda [skip ci]
  staging/index.html
  staging/js/app.44927d00.js
  staging/js/app.db052cd3.js
  staging/js/chunk-08dab35b.10a2022a.js
  staging/js/chunk-08e9ead2.c1490c29.js
  staging/js/chunk-091f4f74.fec90e9b.js
  staging/js/chunk-0a9c6d1a.6afd8bae.js
  staging/js/chunk-28bce315.4a8a561b.js
  staging/js/chunk-320b3e6a.52388d89.js
  staging/js/chunk-42bc8b47.e31d8533.js
  staging/js/chunk-4d730eb5.8afad6eb.js
  staging/js/chunk-5bd868d6.1d257d15.js
  staging/js/chunk-66c53ac6.3366a5ce.js
  staging/js/chunk-778a1868.89a25803.js
  staging/js/chunk-7916f8ca.058fe450.js
  staging/js/chunk-89906324.f41a8bd2.js
  staging/js/chunk-e8fa3e66.a654b10d.js
  staging/js/chunk-f60d6c70.ccdb9b42.js
  staging/js/chunk-f675d0fe.a89724b0.js
  staging/precache-manifest.71ec0282c98ee1000a1f20c21eac0064.js
  staging/service-worker.js
Due: none

dependencies: Lock file maintenance
  .github/actions/changelog-reminder/package-lock.json
  raiden-cli/package-lock.json
  raiden-dapp/package-lock.json
  raiden-ts/package-lock.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: f436cf9a5b88187dbd2c72427af1ef146940b9bc [skip ci]
  staging/index.html
  staging/js/app.83e640bc.js
  staging/js/app.db052cd3.js
  staging/js/chunk-08dab35b.d10a951a.js
  staging/js/chunk-08e9ead2.1ad1feb9.js
  staging/js/chunk-091f4f74.28e4d647.js
  staging/js/chunk-0a9c6d1a.00949c72.js
  staging/js/chunk-28bce315.5639e762.js
  staging/js/chunk-320b3e6a.0ea21dba.js
  staging/js/chunk-42bc8b47.caae34f9.js
  staging/js/chunk-4d730eb5.fb1e78bb.js
  staging/js/chunk-5bd868d6.4bd12db8.js
  staging/js/chunk-66c53ac6.66cfa38b.js
  staging/js/chunk-778a1868.23eba13d.js
  staging/js/chunk-7916f8ca.b429b49a.js
  staging/js/chunk-89906324.26947b9a.js
  staging/js/chunk-e8fa3e66.043f0cc6.js
  staging/js/chunk-f60d6c70.c02b90bc.js
  staging/js/chunk-f675d0fe.be92a3c1.js
  staging/js/chunk-vendors.5b9939f1.js
  staging/js/chunk-vendors.da1a576d.js
  staging/precache-manifest.a2baf804da59f637f3ea49ab6b6c4680.js
  staging/service-worker.js
Due: none

Filter berfore sorting
  raiden-dapp/src/store/index.ts
Due: dapp

Filters out service tokens from token select (#1694)
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 4c5e87c1b308eb3b0bd18236e0291b1a9d94a425 [skip ci]
  staging/index.html
  staging/js/app.83e640bc.js
  staging/js/app.b4331fd9.js
  staging/precache-manifest.94323748d594a198184b597728cba925.js
  staging/service-worker.js
Due: none

Removes sign transaction message from transfer dialog
  raiden-dapp/src/components/dialogs/TransferProgressDialog.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Updates integration image to Alderaan
  integration/Dockerfile
Due: none

Removes sign transaction message from transfer dialog (#1702)
  raiden-dapp/src/components/dialogs/TransferProgressDialog.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Adds nicer icon to empty withdrawal screen
  raiden-dapp/src/assets/info.svg
  raiden-dapp/src/components/account/Withdrawal.vue
Due: dapp

sdk: Make ConfirmableAction any action which matches schema
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk, sdk_integration

sdk: Make ConfirmableAction decode using original action codec
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/tests/unit/actions.spec.ts
Due: sdk, sdk_integration

sdk: assertTx return validated receipt
  raiden-ts/src/channels/utils.ts
Due: sdk, sdk_integration

sdk: Fix tests for ConfirmableAction and assertTx changes
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/receive.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Minor changes to icon design
  raiden-dapp/src/assets/info.svg
Due: dapp

sdk: Introduces epics to handle udc withdrawal
  raiden-ts/src/errors.json
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

Updates CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: Fixes broken tests and PR feedback
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Introduces start method for mockRaiden
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Adds udcWithdraw.failure and udcWithdraw to events
  raiden-ts/src/actions.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
