Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

Added SVT mint and deposit dialog to select hub view
  raiden-dapp/src/components/navigation/SelectHub.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Implement and share distinctRecordValues rx operator
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

Introduce transferKey and support received transfers$
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk, sdk_integration

Adapt dApp to received transfers by key
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/components/transaction.spec.ts
  raiden-dapp/tests/unit/components/transfer-progress-dialog.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

Add changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Adapt CLI
  raiden-cli/src/index.ts
Due: none

Only show connect dialog on first connect and if raiden account is used
  raiden-dapp/src/views/Home.vue
Due: dapp

Check if udc balance is sufficient for monitoring reward
  raiden-dapp/src/components/navigation/SelectHub.vue
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

Update change log
  raiden-dapp/CHANGELOG.md
Due: dapp

Add tests
  raiden-dapp/tests/unit/components/navigation/select-hub.spec.ts
Due: dapp

Satisfy code cov
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/navigation/select-hub.spec.ts
Due: dapp

Added SVT mint and deposit dialog to select hub view (#1500)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/navigation/SelectHub.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/navigation/select-hub.spec.ts
Due: dapp

Automated deployment to GitHub Pages: ac2d7dc6081698967968972c78c540c3d33ba2a7 [skip ci]
  staging/css/chunk-0d08a80c.76fab812.css
  staging/css/chunk-10c113c9.baccc0c0.css
  staging/css/chunk-2b2ca4ea.370906c3.css
  staging/css/chunk-2d492006.fda36d4f.css
  staging/css/chunk-378229a1.2bbdb8f0.css
  staging/css/chunk-45939c11.d1a04ae7.css
  staging/css/chunk-522217e3.9e129671.css
  staging/css/chunk-5dcb669a.0727a159.css
  staging/index.html
  staging/js/app.902a6c77.js
  staging/js/app.d7480a6f.js
  staging/js/chunk-0d08a80c.25b78bb1.js
  staging/js/chunk-10c113c9.08f81063.js
  staging/js/chunk-2b2ca4ea.bb5a1595.js
  staging/js/chunk-2d492006.a329d670.js
  staging/js/chunk-378229a1.ee1b3745.js
  staging/js/chunk-45939c11.db69e598.js
  staging/js/chunk-522217e3.8d7a24fd.js
  staging/js/chunk-5dcb669a.7b1d36ca.js
  staging/js/chunk-f335460c.f0d23c86.js
  staging/js/chunk-f9c339fe.ecd95c00.js
  staging/precache-manifest.ce25513d318a59d545620ea128bf0426.js
  staging/service-worker.js
Due: none

Fixes scrollbar always visible in Channels.vue
  raiden-dapp/src/components/navigation/Channels.vue
Due: dapp

Updates CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 399fb0ae18259df283d88a88100bd47d78f496b1 [skip ci]
  staging/css/chunk-10c113c9.baccc0c0.css
  staging/css/chunk-7d0a5698.80a2a61c.css
  staging/index.html
  staging/js/app.a72356e6.js
  staging/js/app.ca8823e3.js
  staging/js/chunk-10c113c9.0355638a.js
  staging/js/chunk-7d0a5698.bdb5ad76.js
  staging/js/chunk-vendors.00431162.js
  staging/precache-manifest.abd30fd7167adf657a6d7e8bed8c0230.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: cd9f2537ecdb699b7dd35d03c42df4c2426c3da6 [skip ci]
  staging/css/chunk-082755c3.ad0887cb.css
  staging/css/chunk-535fe504.22fd4a69.css
  staging/index.html
  staging/js/app.0d4a45f0.js
  staging/js/app.a72356e6.js
  staging/js/chunk-082755c3.5a7288f3.js
  staging/js/chunk-535fe504.04ec5ddf.js
  staging/precache-manifest.460cc4bd27c7ee89b951a95d3843bdde.js
  staging/service-worker.js
Due: none

Raiden account as default connect method (#1476)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/assets/gear.svg
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/account/Settings.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
  raiden-dapp/tests/unit/components/connect-dialog.spec.ts
  raiden-dapp/tests/unit/views/account/settings.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
Due: dapp

Automated deployment to GitHub Pages: dfea1450198d87f7dc278c9577cd9ad4e382694d [skip ci]
  staging/css/app.2af8aaeb.css
  staging/css/app.9a2dd54e.css
  staging/css/chunk-217a8cc3.1c4eb2b4.css
  staging/css/chunk-25fdc0d3.8d1d0b4a.css
  staging/css/chunk-2b2ca4ea.370906c3.css
  staging/css/chunk-2deecff1.58883fb2.css
  staging/css/chunk-42bc8b47.50c8bcda.css
  staging/css/chunk-9596d7b8.9e129671.css
  staging/img/gear.263a7ddf.svg
  staging/index.html
  staging/js/app.0d4a45f0.js
  staging/js/app.e79ef971.js
  staging/js/chunk-0d08a80c.73700c49.js
  staging/js/chunk-15f0b7af.22823f45.js
  staging/js/chunk-217a8cc3.23da7296.js
  staging/js/chunk-25fdc0d3.f0b599bb.js
  staging/js/chunk-2b2ca4ea.95dac50a.js
  staging/js/chunk-2deecff1.a65d19ae.js
  staging/js/chunk-42bc8b47.435f00d0.js
  staging/js/chunk-45939c11.1e15efc9.js
  staging/js/chunk-522217e3.d3ae1740.js
  staging/js/chunk-535fe504.04ec5ddf.js
  staging/js/chunk-535fe504.e805fee2.js
  staging/js/chunk-67b172b3.5fdf4524.js
  staging/js/chunk-7916f8ca.2fc25e2b.js
  staging/js/chunk-795f4e24.1b3b144b.js
  staging/js/chunk-7c07f9a4.581c40b3.js
  staging/js/chunk-7d0a5698.2a5e8ba1.js
  staging/js/chunk-9596d7b8.6a7ca73f.js
  staging/js/chunk-a09b6ac0.feeb64bb.js
  staging/js/chunk-e9e0608e.41f3e748.js
  staging/js/chunk-vendors.00431162.js
  staging/js/chunk-vendors.aede6441.js
  staging/precache-manifest.fb8795d4af6830ced04c6f6ac72a533c.js
  staging/service-worker.js
Due: none

0.7.0 -> v0.8.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Update change logs
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

Prepare release v0.8.0 (#1517)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 008b04ccb023975a639811ede6731f633f87daa5 [skip ci]
  staging/index.html
  staging/js/app.a08121b4.js
  staging/js/app.e79ef971.js
  staging/js/chunk-0d08a80c.10da9095.js
  staging/js/chunk-217a8cc3.5003f9d4.js
  staging/js/chunk-25fdc0d3.ada4e93f.js
  staging/js/chunk-42bc8b47.94e11636.js
  staging/js/chunk-45939c11.65ff85a3.js
  staging/js/chunk-535fe504.5986ffd4.js
  staging/js/chunk-67b172b3.2f575939.js
  staging/js/chunk-7916f8ca.783401c4.js
  staging/js/chunk-795f4e24.26928ec8.js
  staging/js/chunk-7c07f9a4.594b2e4c.js
  staging/js/chunk-7d0a5698.bcd2fd04.js
  staging/js/chunk-9596d7b8.4a3a99d6.js
  staging/js/chunk-a09b6ac0.2689cbad.js
  staging/js/chunk-e9e0608e.cec73779.js
  staging/precache-manifest.c3934416a9858d3566bccba0ebbd6294.js
  staging/service-worker.js
Due: none

Added lerna
  lerna.json
  package.json
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Fix TS@3.9 issues
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

Fix unknown jest.requireActual
  raiden-ts/tests/unit/patches.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 1abc2c4b8cfdb82848b4997b6ac472dc77e38582 [skip ci]
  staging/index.html
  staging/js/chunk-vendors.03fa638b.js
  staging/precache-manifest.9ded8370fd5a5576385bfa9618815481.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: de0b2aa226126a3746dc0c8234f900c163168893 [skip ci]
  staging/index.html
  staging/js/chunk-vendors.aede6441.js
  staging/precache-manifest.25538110362c53a4721c755e281c60d0.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 32ef34c615b94e1de929b142e8964968e115b503 [skip ci]
  staging/index.html
  staging/js/chunk-vendors.8e6a3c77.js
  staging/js/chunk-vendors.aede6441.js
  staging/precache-manifest.42c7310a93ac45e161cde89886f5964f.js
  staging/service-worker.js
Due: none
