Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

0.17.0 -> 1.0.0
  package.json
  raiden-cli/CHANGELOG.md
  raiden-cli/package.json
  raiden-dapp/.env.capacitor
  raiden-dapp/.env.production
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

docs: Fix broken links to documentation
  README.md
  raiden-ts/docs-source/private-chain.md
Due: sdk, sdk_integration

deps: Lock file maintenance typescript
  .github/actions/changelog-reminder/package-lock.json
  package.json
  raiden-cli/package.json
  raiden-dapp/Gemfile.lock
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

chore: add new github action to check licenses
  .github/actions/license-checker/action.yml
  .github/actions/license-checker/dist/index.js
  .github/actions/license-checker/package.json
  .github/actions/license-checker/src/index.js
  .github/actions/license-checker/yarn.lock
Due: none

chore: move license check task to github action
  .circleci/config.yml
  .github/workflows/workflow.yml
Due: none

chore: extend list of accepted license
  .github/workflows/workflow.yml
Due: none

deps: Update all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: fix possibly undefined on dApp
  raiden-dapp/src/components/HeaderContent.vue
Due: dapp

sdk: fix outdated unconfirmed udcDeposit.success actions
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/tests/integration/udc.spec.ts
Due: sdk, sdk_integration

sdk: update capabilities only after matrix is ready
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

sdk: force PFS presence update when capabilities change
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

sdk: quickfix re-throw login error if register also fails
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

sdk: add changelog to capabilities update fix
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: update udcDeposit only from confirmed balances
  raiden-ts/src/epics.ts
  raiden-ts/src/services/epics/udc.ts
Due: sdk, sdk_integration

deps: Lock file maintenance typescript
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/Gemfile.lock
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
