Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Use tar.gz build artifacts compatible with buster docker image
  .circleci/config.yml
  serve_pr/ci_dapp.sh
Due: none

dependencies: Update dependency @babel/plugin-proposal-optional-chaining to v7.10.3
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency @types/jest to v26.0.3
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency @types/matrix-js-sdk to v5.1.1
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency @types/node to v14.0.14
  raiden-cli/package-lock.json
  raiden-cli/package.json
Due: none

dependencies: Update dependency eslint to v7.3.1
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency jest to v26.1.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency rxjs-marbles to v6.0.1
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency sass to v1.26.9
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Automated deployment to GitHub Pages: 98a40220757c8f36b75367a3956dc1288c55df32 [skip ci]
  staging/index.html
  staging/js/app.22463584.js
  staging/js/app.263a6733.js
  staging/js/chunk-08dab35b.d3ef5b64.js
  staging/js/chunk-0a1aad5a.f7c2e0ff.js
  staging/js/chunk-0a9c6d1a.c4026140.js
  staging/js/chunk-12baf7f0.9c23522a.js
  staging/js/chunk-192741ba.b797e0ae.js
  staging/js/chunk-1c4c3756.3b5d1392.js
  staging/js/chunk-29ded97f.d01d28b5.js
  staging/js/chunk-2fc925ad.0f409b95.js
  staging/js/chunk-42bc8b47.12af7567.js
  staging/js/chunk-481c5204.7557d6c4.js
  staging/js/chunk-4d730eb5.5248ff69.js
  staging/js/chunk-4dbd0956.e6a5bb59.js
  staging/js/chunk-5340b808.e41ca350.js
  staging/js/chunk-7916f8ca.051ad923.js
  staging/js/chunk-7b0391a4.d972bf86.js
  staging/js/chunk-ef6e3450.2603f62c.js
  staging/precache-manifest.a523b44022b8025be272570e52fa8d62.js
  staging/service-worker.js
Due: none

dependencies: Update dependency ts-jest to v26.1.1
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency @types/lodash to v4.14.157
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: e7e4199657921b1079302b22113ad17f6e467953 [skip ci]
  staging/index.html
  staging/js/app.22463584.js
  staging/js/app.7fd1e56a.js
  staging/js/chunk-08dab35b.3042e6ed.js
  staging/js/chunk-0a1aad5a.df5e6d65.js
  staging/js/chunk-0a9c6d1a.ed253553.js
  staging/js/chunk-12baf7f0.6b66f29c.js
  staging/js/chunk-192741ba.c2eaf690.js
  staging/js/chunk-1c4c3756.12650445.js
  staging/js/chunk-29ded97f.9e6e41e2.js
  staging/js/chunk-2fc925ad.6c27f1a6.js
  staging/js/chunk-42bc8b47.f26426fa.js
  staging/js/chunk-481c5204.259058fe.js
  staging/js/chunk-4d730eb5.7bb52d93.js
  staging/js/chunk-4dbd0956.fe5644ef.js
  staging/js/chunk-5340b808.0d27e0b9.js
  staging/js/chunk-7916f8ca.9185c289.js
  staging/js/chunk-7b0391a4.5affc244.js
  staging/js/chunk-ef6e3450.4ca78798.js
  staging/precache-manifest.330935a4727caea04f84a152b1f48a0f.js
  staging/service-worker.js
Due: none

dependencies: Update dependency vue-cli-plugin-vuetify to v2.0.6
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency vuetify to v2.3.2
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

infra: adds team as reviewers for dependency PRs
  .github/renovate.json
Due: none

Automated deployment to GitHub Pages: d84505409346fbdc9afb35c937db4a6874a93538 [skip ci]
  staging/index.html
  staging/js/app.7fd1e56a.js
  staging/js/app.d5dedbba.js
  staging/js/chunk-08dab35b.9097ee0f.js
  staging/js/chunk-0a1aad5a.fe9914c3.js
  staging/js/chunk-0a9c6d1a.f99c988c.js
  staging/js/chunk-12baf7f0.04ad7265.js
  staging/js/chunk-192741ba.dbdb0e98.js
  staging/js/chunk-1c4c3756.2b6d2ec8.js
  staging/js/chunk-29ded97f.1e7d8d90.js
  staging/js/chunk-2fc925ad.b3e651f4.js
  staging/js/chunk-42bc8b47.f35f2988.js
  staging/js/chunk-481c5204.37b24f28.js
  staging/js/chunk-4d730eb5.697a24d4.js
  staging/js/chunk-4dbd0956.dee1bfeb.js
  staging/js/chunk-5340b808.9350135c.js
  staging/js/chunk-7916f8ca.0d017a06.js
  staging/js/chunk-7b0391a4.cd18facd.js
  staging/js/chunk-ef6e3450.08eaa461.js
  staging/precache-manifest.b73edb80091be081850d9e4aa2fcb265.js
  staging/service-worker.js
Due: none

dependencies: Update typescript-eslint monorepo to v3.4.0
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: b67b72d914ae649e16700fa5379ac324235cc323 [skip ci]
  staging/index.html
  staging/js/app.d5dedbba.js
  staging/js/app.e3ac0eb8.js
  staging/js/chunk-08dab35b.0593f7f2.js
  staging/js/chunk-0a1aad5a.ac03a74d.js
  staging/js/chunk-0a9c6d1a.49b9bf23.js
  staging/js/chunk-12baf7f0.205c2191.js
  staging/js/chunk-192741ba.ef8a20bf.js
  staging/js/chunk-1c4c3756.caf3806e.js
  staging/js/chunk-29ded97f.72402723.js
  staging/js/chunk-2fc925ad.b042c10f.js
  staging/js/chunk-42bc8b47.8ec61d16.js
  staging/js/chunk-481c5204.20a5bf69.js
  staging/js/chunk-4d730eb5.b319a11a.js
  staging/js/chunk-4dbd0956.b8e3e04a.js
  staging/js/chunk-5340b808.4d346e2d.js
  staging/js/chunk-7916f8ca.8fabf7a2.js
  staging/js/chunk-7b0391a4.197f72ed.js
  staging/js/chunk-ef6e3450.ca4b5ae9.js
  staging/precache-manifest.3791cf9439b9be996629e537a0f97b9f.js
  staging/service-worker.js
Due: none

infra: adds team as reviewers for dependency PRs (#1808)
  .github/renovate.json
Due: none

Automated deployment to GitHub Pages: 596684930b116ee2eb7d35802ee5f8fdf6013332 [skip ci]
  staging/index.html
  staging/js/app.d5dedbba.js
  staging/js/app.e3ac0eb8.js
  staging/js/chunk-08dab35b.9097ee0f.js
  staging/js/chunk-0a1aad5a.fe9914c3.js
  staging/js/chunk-0a9c6d1a.f99c988c.js
  staging/js/chunk-12baf7f0.04ad7265.js
  staging/js/chunk-192741ba.dbdb0e98.js
  staging/js/chunk-1c4c3756.2b6d2ec8.js
  staging/js/chunk-29ded97f.1e7d8d90.js
  staging/js/chunk-2fc925ad.b3e651f4.js
  staging/js/chunk-42bc8b47.f35f2988.js
  staging/js/chunk-481c5204.37b24f28.js
  staging/js/chunk-4d730eb5.697a24d4.js
  staging/js/chunk-4dbd0956.dee1bfeb.js
  staging/js/chunk-5340b808.9350135c.js
  staging/js/chunk-7916f8ca.0d017a06.js
  staging/js/chunk-7b0391a4.cd18facd.js
  staging/js/chunk-ef6e3450.08eaa461.js
  staging/precache-manifest.b73edb80091be081850d9e4aa2fcb265.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: bc2659853a05e10425a46bcd4eedaff7729f594b [skip ci]
  staging/index.html
  staging/js/app.52021610.js
  staging/js/app.d5dedbba.js
  staging/js/chunk-08dab35b.fd92bac8.js
  staging/js/chunk-0a1aad5a.071bea8e.js
  staging/js/chunk-0a9c6d1a.39ed3f6b.js
  staging/js/chunk-12baf7f0.8d42759b.js
  staging/js/chunk-192741ba.ef4bbdbc.js
  staging/js/chunk-1c4c3756.cb01ff4c.js
  staging/js/chunk-29ded97f.0c806576.js
  staging/js/chunk-2fc925ad.514d59b1.js
  staging/js/chunk-42bc8b47.2af05a92.js
  staging/js/chunk-481c5204.9dcea525.js
  staging/js/chunk-4d730eb5.ff382b8b.js
  staging/js/chunk-4dbd0956.b8123601.js
  staging/js/chunk-5340b808.23345b18.js
  staging/js/chunk-7916f8ca.3af3c289.js
  staging/js/chunk-7b0391a4.59a64fe4.js
  staging/js/chunk-ef6e3450.5f525839.js
  staging/precache-manifest.94190e4021ac1824d21b81003deb5d0c.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: f351ea1efeb7af7c5821cb90f1618580e6e93a5b [skip ci]
  staging/index.html
  staging/js/app.52021610.js
  staging/js/app.aa037093.js
  staging/js/chunk-08dab35b.e0e2570e.js
  staging/js/chunk-0a1aad5a.6012cca8.js
  staging/js/chunk-0a9c6d1a.224f019e.js
  staging/js/chunk-12baf7f0.e5f98f7e.js
  staging/js/chunk-192741ba.215c510b.js
  staging/js/chunk-1c4c3756.82a93f95.js
  staging/js/chunk-29ded97f.afb19996.js
  staging/js/chunk-2fc925ad.25d4c1fa.js
  staging/js/chunk-42bc8b47.48d73219.js
  staging/js/chunk-481c5204.130fe86d.js
  staging/js/chunk-4d730eb5.34a4ec91.js
  staging/js/chunk-4dbd0956.2c2f6969.js
  staging/js/chunk-5340b808.99dfcb6d.js
  staging/js/chunk-7916f8ca.e6f72817.js
  staging/js/chunk-7b0391a4.17fcc9a0.js
  staging/js/chunk-ef6e3450.0d508156.js
  staging/precache-manifest.1a0ca639dead8ec55c5b311fa46b6427.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 5b1a36b36f076c58f59edf7707d6eecaa38c598a [skip ci]
  staging/css/chunk-481c5204.36154c83.css
  staging/css/chunk-481c5204.5f15e8b5.css
  staging/css/chunk-7b0391a4.35805819.css
  staging/css/chunk-7b0391a4.799c11d3.css
  staging/css/chunk-vendors.9658ffce.css
  staging/css/chunk-vendors.c53efd65.css
  staging/index.html
  staging/js/app.aa037093.js
  staging/js/app.f5489782.js
  staging/js/chunk-08dab35b.e8939a88.js
  staging/js/chunk-0a1aad5a.9f36137b.js
  staging/js/chunk-0a9c6d1a.dccc9f28.js
  staging/js/chunk-12baf7f0.abdaf1d5.js
  staging/js/chunk-192741ba.487ee187.js
  staging/js/chunk-1c4c3756.cc52a08f.js
  staging/js/chunk-29ded97f.c9e1c56c.js
  staging/js/chunk-2fc925ad.3b50498b.js
  staging/js/chunk-42bc8b47.2be4a2bb.js
  staging/js/chunk-481c5204.899601e5.js
  staging/js/chunk-4d730eb5.42f311e5.js
  staging/js/chunk-4dbd0956.11da1b6d.js
  staging/js/chunk-5340b808.08454ba9.js
  staging/js/chunk-7916f8ca.37ba7a8a.js
  staging/js/chunk-7b0391a4.ad020b65.js
  staging/js/chunk-ef6e3450.9a4310bb.js
  staging/js/chunk-vendors.137e699f.js
  staging/precache-manifest.5cdfafe4c2b3e7488f7f47dfecdc0ac4.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 6910a4701996148436b4b76ff90767a07ff5223b [skip ci]
  staging/index.html
  staging/js/app.8f90e213.js
  staging/js/app.f5489782.js
  staging/js/chunk-08dab35b.8b778f77.js
  staging/js/chunk-0a1aad5a.b6b7455b.js
  staging/js/chunk-0a9c6d1a.d7d09c51.js
  staging/js/chunk-12baf7f0.44f1da92.js
  staging/js/chunk-192741ba.12269589.js
  staging/js/chunk-1c4c3756.ad6f8693.js
  staging/js/chunk-29ded97f.4c24d038.js
  staging/js/chunk-2fc925ad.260159d6.js
  staging/js/chunk-42bc8b47.7044d434.js
  staging/js/chunk-481c5204.95a07079.js
  staging/js/chunk-4d730eb5.965f5610.js
  staging/js/chunk-4dbd0956.92d938bf.js
  staging/js/chunk-5340b808.95fe41e0.js
  staging/js/chunk-7916f8ca.f10e6440.js
  staging/js/chunk-7b0391a4.aa416775.js
  staging/js/chunk-ef6e3450.f7cc0fe4.js
  staging/precache-manifest.611dc65ca525e53c5f40d27c8d647dd2.js
  staging/service-worker.js
Due: none

dependencies: Update vue monorepo to v4.4.6
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency eslint-plugin-jsdoc to v28
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency jest-junit to v11
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency matrix-js-sdk to v7
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: ca8110c39fcaafb78534163a3bab230431d40be5 [skip ci]
  staging/index.html
  staging/js/app.89ab5cd8.js
  staging/js/app.8f90e213.js
  staging/js/chunk-08dab35b.7fdc8efa.js
  staging/js/chunk-0a1aad5a.78cf661c.js
  staging/js/chunk-0a9c6d1a.9c19bb86.js
  staging/js/chunk-12baf7f0.542e4fb2.js
  staging/js/chunk-192741ba.51850f5d.js
  staging/js/chunk-1c4c3756.24df37f5.js
  staging/js/chunk-29ded97f.c8caa2a2.js
  staging/js/chunk-2fc925ad.3c6ee846.js
  staging/js/chunk-42bc8b47.c2f0adea.js
  staging/js/chunk-481c5204.73127089.js
  staging/js/chunk-4d730eb5.496033fa.js
  staging/js/chunk-4dbd0956.76666c82.js
  staging/js/chunk-5340b808.ed8df28d.js
  staging/js/chunk-7916f8ca.2f1986b4.js
  staging/js/chunk-7b0391a4.fe67d8cc.js
  staging/js/chunk-ef6e3450.5b5342b4.js
  staging/precache-manifest.76f2b8957c3e3fc979111ddca00f3bf8.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 771d79b5f63c2bca78bf073d3c6d8bfc75e35c05 [skip ci]
  staging/index.html
  staging/js/app.64f4de8d.js
  staging/js/app.89ab5cd8.js
  staging/js/chunk-08dab35b.06833fac.js
  staging/js/chunk-0a1aad5a.41234fa8.js
  staging/js/chunk-0a9c6d1a.c09b7963.js
  staging/js/chunk-12baf7f0.6b6b6b43.js
  staging/js/chunk-192741ba.c15fd9cf.js
  staging/js/chunk-1c4c3756.b43f6b84.js
  staging/js/chunk-29ded97f.839f9e50.js
  staging/js/chunk-2fc925ad.b8f5f67c.js
  staging/js/chunk-42bc8b47.4fcae8e6.js
  staging/js/chunk-481c5204.299f492e.js
  staging/js/chunk-4d730eb5.3738e895.js
  staging/js/chunk-4dbd0956.29a37522.js
  staging/js/chunk-5340b808.1effd1c2.js
  staging/js/chunk-7916f8ca.c6d65854.js
  staging/js/chunk-7b0391a4.03f1a63a.js
  staging/js/chunk-ef6e3450.5168268a.js
  staging/precache-manifest.86b6c06e8b410172878449044d27cd72.js
  staging/service-worker.js
Due: none

Fix linting issues
  raiden-ts/src/utils/actions.ts
  raiden-ts/tests/unit/fixtures.ts
Due: sdk, sdk_integration

Update README.md
  README.md
Due: none

Addresses review feedback
  README.md
Due: none

Main README update (#1784)
  README.md
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
