Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

comment:
  after_n_builds: 2

Move @types/lodash to SDK's devDependencies, and update package-locks
  raiden-dapp/package-lock.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Stores invalid SecretRequest & set transfer's status as failed
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
Due: sdk

Adds Raiden.waitTransfer method, adapts dApp
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-ts/src/raiden.ts
Due: dapp, sdk

Reducer test
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Removing sticky prop from udc mint and deposit modal
  raiden-dapp/src/components/MintDepositDialog.vue
Due: dapp

Attempt e2e test fix
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk

PR review
  raiden-ts/src/transfers/utils.ts
Due: sdk

Introduces vuetify, removes localVue, stubs v-dialog in dApp tests
  raiden-dapp/tests/unit/components/address-display.spec.ts
  raiden-dapp/tests/unit/components/address-input.spec.ts
  raiden-dapp/tests/unit/components/amount-input.spec.ts
  raiden-dapp/tests/unit/components/channel-deposit.spec.ts
  raiden-dapp/tests/unit/components/channel-lifecycle.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
  raiden-dapp/tests/unit/components/no-access-message.spec.ts
  raiden-dapp/tests/unit/components/offline-snackbar.spec.ts
  raiden-dapp/tests/unit/components/splash-screen.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/utils/dialog.ts
  raiden-dapp/tests/unit/views/home.spec.ts
  raiden-dapp/tests/unit/views/open-channel.spec.ts
  raiden-dapp/tests/unit/views/select-hub.spec.ts
  raiden-dapp/tests/unit/views/select-token.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps.spec.ts
  raiden-dapp/tests/unit/views/transfer.spec.ts
Due: dapp

Restructures Channel list component and sub-components
  raiden-dapp/src/components/ChannelActions.vue
  raiden-dapp/src/components/ChannelDepositDialog.vue
  raiden-dapp/src/components/ChannelDialogs.vue
  raiden-dapp/src/components/ChannelList.vue
  raiden-dapp/src/components/ConfirmationDialog.vue
  raiden-dapp/src/components/PfsFeesDialog.vue
  raiden-dapp/src/components/RaidenDialog.vue
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/Channels.vue
Due: dapp

Adds new tests and removes old tests for channel components
  raiden-dapp/src/views/Channels.vue
  raiden-dapp/tests/unit/components/channel-list.spec.ts
  raiden-dapp/tests/unit/components/channels-dialog.spec.ts
  raiden-dapp/tests/unit/views/channels.spec.ts
Due: dapp

Remove ts-custom-error & fix ErrorCodec & tests
  raiden-ts/package-lock.json
  raiden-ts/package.json
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Added waitTransfer error
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/error.ts
Due: sdk

Added changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk

Implement SDK error handling (#1014)
  raiden-ts/CHANGELOG.md
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/actions.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Updates dependencies
  raiden-dapp/.eslintrc.js
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Adds more prominent warning when udc balance is to low
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Adding changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Include SecretRegistry in ContractsInfo
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Added error message component
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/locales/en.json
  raiden-ts/src/utils/error.ts
Due: dapp, sdk

Added error locales & problem/solution focus
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Added solution step support to ErrorMessage
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Move state.secrets to state.sent, adds monitorSecretRegistryEpic
  raiden-ts/src/actions.ts
  raiden-ts/src/migration/1.ts
  raiden-ts/src/migration/index.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/state.spec.ts
  raiden-ts/tests/unit/states/1_full.json
  raiden-ts/tests/unit/states/1_min.json
Due: sdk

Don't expire transfer if secret got registered
  raiden-ts/src/transfers/epics.ts
Due: sdk

Refactor transfer tests for action$/state$, add secret registry tests
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Emit transfer.success on confirmed secret register
  raiden-ts/src/transfers/epics.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
Due: sdk

Set RaidenSentTransfer status as 'registered'
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk
