Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Added hint that additional messages may pop up and require signing
  raiden-dapp/src/locales/en.json
Due: dapp

Switching dependabot config back to weekly schedule
  .dependabot/config.yml
Due: none

Switching dependabot config back to weekly schedule (#512)
  .dependabot/config.yml
Due: none

Ensure getEventsStream past & new ranges don't intersect
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Fix past getLogs ordering, optimize channel events filter
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Fix issue with memoized getTokenInfo not picking correct this
  raiden-ts/src/raiden.ts
Due: sdk

Add some logs for message signature prompts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/transport/epics.ts
Due: sdk

Support domain-only PFS urls, require HTTPS otherwise
  raiden-ts/src/path/utils.ts
  raiden-ts/tests/unit/epics/path.spec.ts
Due: sdk

Replace isNil usage
  raiden-ts/src/path/epics.ts
Due: sdk

Address PR comments
  raiden-ts/src/channels/epics.ts
Due: sdk

Added token minting feature to SDK
  raiden-ts/src/raiden.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Moved contract factory import to other factory imports
  raiden-ts/src/raiden.ts
Due: sdk

Checking for main net instead of "not test net" when minting
  raiden-ts/src/raiden.ts
Due: sdk

Address code review feedback
  raiden-ts/src/raiden.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Add minting to RaidenService in dapp
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

Bumped eslint-plugin-vue to 6.0.0 and fixed resulting linter errors
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/ActionButton.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/ChannelActions.vue
  raiden-dapp/src/components/ChannelDeposit.vue
  raiden-dapp/src/components/Confirmation.vue
  raiden-dapp/src/components/ConfirmationDialog.vue
  raiden-dapp/src/components/ErrorScreen.vue
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/src/components/Tokens.vue
  raiden-dapp/src/views/Channels.vue
  raiden-dapp/src/views/OpenChannel.vue
  raiden-dapp/src/views/SelectHub.vue
  raiden-dapp/src/views/SelectToken.vue
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Added v-slot-style linter rule
  raiden-dapp/.eslintrc.js
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/views/SelectToken.vue
Due: dapp

Bumped eslint-plugin-vue to 6.0.0 and fixed resulting linter errors (#518)
  raiden-dapp/.eslintrc.js
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/ActionButton.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/ChannelActions.vue
  raiden-dapp/src/components/ChannelDeposit.vue
  raiden-dapp/src/components/Confirmation.vue
  raiden-dapp/src/components/ConfirmationDialog.vue
  raiden-dapp/src/components/ErrorScreen.vue
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/src/components/Tokens.vue
  raiden-dapp/src/views/Channels.vue
  raiden-dapp/src/views/OpenChannel.vue
  raiden-dapp/src/views/SelectHub.vue
  raiden-dapp/src/views/SelectToken.vue
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
