Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: RTC: don't listen for toDevice if not enabled
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

sdk: fetch presence explicitly on presence events
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

sdk: address review comments and codeclimate issues
  raiden-ts/src/persister.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

sdk: add changelog and fix tests
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

sdk: simplify messageSend epics and utilities
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/messages.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 6966aca4841411b2db7516d71416263e40ead7e9 [skip ci]
  staging/js/app.js
Due: none

Add new version to CHANGELOGs
  raiden-cli/CHANGELOG.md
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

0.11.1 -> v0.12.0
  package.json
  pnpm-lock.yaml
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: afdba60405db033dbb563b60288442f250a08750 [skip ci]
  staging/js/app.js
Due: none

ci: run all test jobs on master for CodeCov issue
  .circleci/config.yml
Due: none

ci: add missing CodeCov flag for SDK e2e job
  .circleci/config.yml
Due: none

ci: fix not executed jobs for production workflow
  .circleci/config.yml
Due: none

Update release docs
  RELEASE.md
  prepare-release.sh
Due: none

Converting transport tests to new pattern with additions and corrections
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

Corrections, additions, review comments for transport tests
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

taking care of merge conflicts and introducing changes in protocol tests for new pattern
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

Adapting transport tests for todevice changes
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Remove the old transport tests
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

New matrix server list json response
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Adapting the new pattern tests for nonce mismatch issue
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

Update e2e environment
  e2e-environment/Dockerfile
Due: none

REMOVE ME: test e2e build
  .circleci/config.yml
Due: none

sdk: cleanup and adapt transport tests
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Add changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
