Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

sdk: add and fix tests for txs gasPrice
  raiden-ts/tests/integration/channels.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/receive.spec.ts
  raiden-ts/tests/integration/udc.spec.ts
  raiden-ts/tests/integration/withdraw.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

cli: add --gasPrice strategy option
  raiden-cli/src/index.ts
Due: none

sdk,cli: add changelog entries for gasPrice strategy handling
  raiden-cli/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: adapt all transactions to use Latest.gasPrice
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: add Latest.gasPrice and blockGasPriceEpic to update it
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

dapp: extend fastlane docs for troubleshooting
  raiden-dapp/fastlane/README.md
Due: dapp

Correct doc links to classes and remove links which dont work
  raiden-ts/docs-source/SDK-Development.md
Due: sdk, sdk_integration

dapp: fix capacitor configuration
  raiden-dapp/public/config.capacitor.json
Due: dapp

dapp: fix service workers for capacitor build
  raiden-dapp/.env
  raiden-dapp/.env.capacitor
  raiden-dapp/public/index.html
  raiden-dapp/src/plugins/service-worker-assistant-plugin.ts
Due: dapp

dapp: merge production into capacitor environment
  raiden-dapp/.env.capacitor
Due: dapp

cli: support multiple --gas-price but use only last
  raiden-cli/src/index.ts
Due: none

sdk: ensure toRtc$ triggers only if rtcChannel.readyState is 'open'
  raiden-ts/src/transport/epics/messages.ts
Due: sdk, sdk_integration

sdk: send Processed for outdated withdrawExpire
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

sdk: add changelog entry for withdraw nonce retry issue
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: only emit withdraw.failure after a sent withdrawExpired processed
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: don't send parallel withdraw requests
  raiden-ts/src/errors.json
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

cli: add default mediation fee configuration
  raiden-cli/src/config.json
Due: none

cli: extend changelog for mediation fee config
  raiden-cli/CHANGELOG.md
Due: none

cli: remove enable mediation argument
  raiden-cli/src/index.ts
Due: none

cli: explicitly set the mediation fee capability
  raiden-cli/src/config.json
Due: none

cli: apply default fees for incomplete tokens
  raiden-cli/src/index.ts
Due: none

dapp: Lower codecov target
  codecov.yml
Due: none
