Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  .github/workflows/workflow.yml
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

docs: adapt readmes to current state
  README.md
  raiden-ts/README.md
Due: sdk, sdk_integration

docs: extend and update SDK-Development guide
  raiden-ts/README.md
  raiden-ts/docs-source/SDK-Development.md
Due: sdk, sdk_integration

deps: Update dependency stylelint to v14
  raiden-dapp/package.json
  yarn.lock
Due: dapp

docs: apply suggestions from code review
  raiden-ts/README.md
Due: sdk, sdk_integration

docs: adjust bespin link as latest release
  raiden-ts/README.md
Due: sdk, sdk_integration

deps: stylelint upgrade and adapt rules
  raiden-dapp/.stylelintrc
  raiden-dapp/package.json
  yarn.lock
Due: dapp

lint: adapt to new stylelint changes
  raiden-dapp/src/components/tokens/TokenList.vue
  raiden-dapp/src/scss/scroll.scss
  raiden-dapp/src/scss/variables.scss
  raiden-dapp/src/views/DisclaimerRoute.vue
Due: dapp

deps: Update dependency matrix-js-sdk to v15
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

dapp: disable service worker for staging
  raiden-dapp/.env.staging
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dApp: rework additional action component props
  raiden-dapp/src/components/channels/ChannelDepositAndTransferAction.vue
  raiden-dapp/src/components/channels/ChannelOpenAndTransferAction.vue
  raiden-dapp/src/components/transfer/DirectTransferAction.vue
  raiden-dapp/src/components/transfer/MediatedTransferAction.vue
  raiden-dapp/src/mixins/action-mixin.ts
  raiden-dapp/tests/unit/components/channels/channel-deposit-and-transfer-action.spec.ts
  raiden-dapp/tests/unit/components/channels/channel-open-and-transfer-action.spec.ts
  raiden-dapp/tests/unit/components/transfer/direct-transfer-action.spec.ts
  raiden-dapp/tests/unit/components/transfer/mediated-transfer-action.spec.ts
Due: dapp

dApp: add slot feature to amount display
  raiden-dapp/src/components/AmountDisplay.vue
  raiden-dapp/tests/unit/components/amount-display.spec.ts
Due: dapp

dApp: allow action form to have no focus
  raiden-dapp/src/components/channels/ChannelActionForm.vue
Due: dapp

dApp: add warning feature to amount display
  raiden-dapp/src/components/AmountDisplay.vue
Due: dapp

dApp: adapt quick pay feature for transparency
  raiden-dapp/src/components/icons/Spinner.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/QuickPayRoute.vue
  raiden-dapp/tests/unit/views/quick-pay-route.spec.ts
Due: dapp

dapp: add exception to no connected token
  raiden-dapp/src/router/guards/no-connected-token.ts
  raiden-dapp/tests/unit/router/guards/no-connected-token.spec.ts
Due: dapp

dapp: add tests for channel action form autofocus
  raiden-dapp/tests/unit/components/channels/channel-action-form.spec.ts
Due: dapp
