Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dApp: changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 7c4a60570305b61d72dc9a7b7aa2408195c41f5f [skip ci]
  staging/js/app.js
Due: none

dApp: addresses review feedback
  raiden-dapp/src/components/HubList.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/SelectHubRoute.vue
  raiden-dapp/tests/unit/utils/data-generator.ts
  raiden-dapp/tests/unit/views/select-hub-route.spec.ts
Due: dapp

Automated deployment to GitHub Pages: f1ce32fd2b019652bd9e7c490c0dba1aaac0350f [skip ci]
  staging/img/hub-healthy.64a31c75.svg
  staging/img/hub-selected.ba4772c1.svg
  staging/js/20.js
  staging/js/21.js
  staging/js/22.js
  staging/js/23.js
  staging/js/9.js
  staging/js/app.js
Due: none

deploy: Run staging and local develop on development env
  raiden-dapp/.env.development
  raiden-dapp/.env.staging
Due: dapp

sdk: Add `expiryFactor` to config and use it to calculate lock expiry
  raiden-ts/src/config.ts
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

dapp: Set lower default `expiryFactor` and make it configurable
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/src/config.ts
Due: dapp, sdk, sdk_integration

chore: Add changelog entries for #2409
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

sdk: Adapt python client LockedTransfers forwarding rules
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

sdk: Adjust test to check for expiration explicitly
  raiden-ts/tests/unit/epics/send.spec.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: b07d8850e455af51ad2603cb8775abdf7ef5014e [skip ci]
  staging/js/app.js
Due: none

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: fix compile errors
  raiden-ts/src/utils/error.ts
Due: sdk, sdk_integration

sdk: use adaptative ranges in getLogsByChunk$
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: add tests and changelog entry for adaptative sync
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: f566a7cf12117dd57807192a46074803b13ed11a [skip ci]
  staging/js/app.js
Due: none

Apply suggestions from code review
  raiden-ts/docs-source/hub-selection-channel-opening.md
  raiden-ts/docs-source/navigate-dapp.md
  raiden-ts/docs-source/using-dapp.md
  raiden-ts/typedoc.json
Due: sdk, sdk_integration

Account and channel screen docs
  raiden-ts/docs-source/account.md
  raiden-ts/docs-source/channels.md
  raiden-ts/typedoc.json
Due: sdk, sdk_integration

User documentation for the Raiden dapp
  raiden-ts/docs-source/hub-selection-channel-opening.md
  raiden-ts/docs-source/images/after_minting_select_hub.png
  raiden-ts/docs-source/images/channels_screen.png
  raiden-ts/docs-source/images/connect-to-select-hub-screen.gif
  raiden-ts/docs-source/images/connect_screen.png
  raiden-ts/docs-source/images/disclaimer.png
  raiden-ts/docs-source/images/mint_udc_ttt_combined.png
  raiden-ts/docs-source/images/select-button-click.gif
  raiden-ts/docs-source/images/select_hub.png
  raiden-ts/docs-source/images/select_token.png
  raiden-ts/docs-source/images/transfer_screen_after_select_hub.png
  raiden-ts/docs-source/navigate-dapp.md
  raiden-ts/docs-source/using-dapp.md
  raiden-ts/package.json
  raiden-ts/typedoc.json
Due: sdk, sdk_integration

Apply suggestions from 2nd review
  raiden-ts/docs-source/account.md
  raiden-ts/docs-source/hub-selection-channel-opening.md
  raiden-ts/docs-source/navigate-dapp.md
  raiden-ts/docs-source/transfers.md
  raiden-ts/docs-source/using-dapp.md
Due: sdk, sdk_integration

Changing image links to github issue
  raiden-ts/docs-source/hub-selection-channel-opening.md
  raiden-ts/docs-source/navigate-dapp.md
Due: sdk, sdk_integration

Documentation for the transfers screen
  raiden-ts/docs-source/transfers.md
  raiden-ts/package.json
  raiden-ts/typedoc.json
Due: sdk, sdk_integration

Deleting images from the docs-source folder as we have it on a repo issue
  raiden-ts/docs-source/images/after_minting_select_hub.png
  raiden-ts/docs-source/images/channels_screen.png
  raiden-ts/docs-source/images/connect-to-select-hub-screen.gif
  raiden-ts/docs-source/images/connect_screen.png
  raiden-ts/docs-source/images/disclaimer.png
  raiden-ts/docs-source/images/mint_udc_ttt_combined.png
  raiden-ts/docs-source/images/select-button-click.gif
  raiden-ts/docs-source/images/select_hub.png
  raiden-ts/docs-source/images/select_token.png
  raiden-ts/docs-source/images/transfer_screen_after_select_hub.png
Due: sdk, sdk_integration

User documentation for the Raiden dapp (#2447)
  raiden-ts/docs-source/account.md
  raiden-ts/docs-source/channels.md
  raiden-ts/docs-source/hub-selection-channel-opening.md
  raiden-ts/docs-source/navigate-dapp.md
  raiden-ts/docs-source/transfers.md
  raiden-ts/docs-source/using-dapp.md
  raiden-ts/typedoc.json
Due: sdk, sdk_integration

Disable confirm button on withdraw dialog if raiden eth zero
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
Due: dapp

changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

sdk: support trying next found PFS until succeding
  raiden-ts/src/raiden.ts
  raiden-ts/tests/integration/raiden.spec.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
