Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dapp: export version information into store module
  raiden-dapp/src/components/UpdateSnackbar.vue
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/store/version-information/getters.ts
  raiden-dapp/src/store/version-information/index.ts
  raiden-dapp/src/store/version-information/mutations.ts
  raiden-dapp/src/store/version-information/state.ts
  raiden-dapp/src/store/version-information/types.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/components/update-snackbar.spec.ts
  raiden-dapp/tests/unit/service-worker/assistant.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/store/version-information/getters.spec.ts
  raiden-dapp/tests/unit/store/version-information/mutations.spec.ts
Due: dapp

dapp: extend loading wrong version protection
  raiden-dapp/src/store/version-information/getters.ts
  raiden-dapp/src/store/version-information/index.ts
  raiden-dapp/src/store/version-information/mutations.ts
  raiden-dapp/src/store/version-information/state.ts
  raiden-dapp/src/store/version-information/types.ts
  raiden-dapp/tests/unit/store/version-information/mutations.spec.ts
  raiden-dapp/tests/unit/store/version-information/persistence.spec.ts
Due: dapp

dapp: extend changelog for update feature
  raiden-dapp/CHANGELOG.md
Due: dapp

dapp: improve store module typing
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/store/notifications/getters.ts
  raiden-dapp/src/store/notifications/index.ts
  raiden-dapp/src/store/notifications/types.ts
  raiden-dapp/src/store/user-deposit-contract/index.ts
  raiden-dapp/src/store/user-deposit-contract/types.ts
  raiden-dapp/src/store/user-settings/getters.ts
  raiden-dapp/src/store/user-settings/index.ts
  raiden-dapp/src/store/user-settings/types.ts
  raiden-dapp/src/store/version-information/getters.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

dapp: rename update snackbar component
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/VersionSnackbar.vue
  raiden-dapp/tests/unit/components/version-snackbar.spec.ts
Due: dapp

dapp: add strong message handling
  raiden-dapp/src/service-worker/assistant.ts
  raiden-dapp/src/service-worker/messages.ts
  raiden-dapp/src/service-worker/worker/clients.js
  raiden-dapp/src/service-worker/worker/index.js
  raiden-dapp/tests/unit/service-worker/assistant.spec.ts
  raiden-dapp/tests/unit/service-worker/messages.spec.ts
  raiden-dapp/tests/unit/service-worker/worker/clients.spec.ts
  raiden-dapp/tests/unit/service-worker/worker/index.spec.ts
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dapp: fix loading for the first time
  raiden-dapp/src/App.vue
  raiden-dapp/src/store/constants.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/store/version-information/getters.ts
  raiden-dapp/tests/unit/store/version-information/getters.spec.ts
Due: dapp

2.0.1 -> 2.1.0
  package.json
  raiden-cli/CHANGELOG.md
  raiden-cli/package.json
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

deps: Update dependency typechain to v7
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: upgrade @typechain/ethers-v5 to v9
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency typescript to v4.5.5
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency node-fetch to 2.6.7 [SECURITY]
  .github/actions/changelog-reminder/package-lock.json
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
