Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dApp: Channel open notifications adjustments (#2164)
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/components/notification-panel/NotificationDescriptionDisplay.vue
  raiden-dapp/src/store/notifications/getters.ts
Due: dapp

sdk: introduce deps.db pouch persistent database
  raiden-ts/src/config.ts
  raiden-ts/src/db/adapter.ts
  raiden-ts/src/db/epics.ts
  raiden-ts/src/db/migrations.ts
  raiden-ts/src/db/types.ts
  raiden-ts/src/db/utils.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/index.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/types.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

sdk: bump default module to ESNext to use async import
  raiden-ts/tsconfig.json
Due: sdk, sdk_integration

sdk: add changelog for database refactoring
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: add persister middleware
  raiden-ts/src/persister.ts
Due: sdk, sdk_integration

sdk: remove old migrations
  raiden-ts/src/migration/0.ts
  raiden-ts/src/migration/1.ts
  raiden-ts/src/migration/2.ts
  raiden-ts/src/migration/3.ts
  raiden-ts/src/migration/4.ts
  raiden-ts/src/migration/5.ts
  raiden-ts/src/migration/6.ts
  raiden-ts/src/migration/index.ts
  raiden-ts/tests/unit/states/-1_full.json
  raiden-ts/tests/unit/states/-1_min.json
  raiden-ts/tests/unit/states/0_full.json
  raiden-ts/tests/unit/states/0_min.json
  raiden-ts/tests/unit/states/1_full.json
  raiden-ts/tests/unit/states/1_min.json
  raiden-ts/tests/unit/states/2_full.json
  raiden-ts/tests/unit/states/2_min.json
  raiden-ts/tests/unit/states/3_full.json
  raiden-ts/tests/unit/states/3_min.json
  raiden-ts/tests/unit/states/4_full.json
  raiden-ts/tests/unit/states/4_min.json
  raiden-ts/tests/unit/states/5_full.json
  raiden-ts/tests/unit/states/5_min.json
  raiden-ts/tests/unit/states/6_full.json
  raiden-ts/tests/unit/states/6_min.json
Due: sdk, sdk_integration

sdk: add unique key to Channel state and adapt db
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/utils.ts
Due: sdk, sdk_integration

sdk: adapt transfers epics
  raiden-ts/src/transfers/epics/close.ts
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/index.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/mediate.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: add & fix tests for database
  raiden-ts/package.json
  raiden-ts/tests/e2e/mocks.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/global.d.ts
  raiden-ts/tests/integration/integration.spec.ts
  raiden-ts/tests/setup.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/mediate.spec.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/epics/receive.spec.ts
  raiden-ts/tests/unit/epics/send.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/epics/withdraw.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/state.spec.ts
  raiden-ts/tests/unit/states/0.json
  raiden-ts/tests/unit/states/legacy.json
Due: sdk, sdk_integration

sdk: remove refund message
  raiden-ts/src/messages/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/transfers/epics/refund.ts
Due: sdk, sdk_integration

sdk: add pouchdb dependencies
  raiden-ts/package.json
  raiden-ts/src/global.d.ts
Due: sdk, sdk_integration

sdk: adapt transfers state, reducer & utils
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

cli: fix & adapt cli to database refactor
  raiden-cli/raiden
  raiden-cli/src/index.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/payments.ts
  raiden-cli/webpack.config.js
Due: none

sdk: use json-bigint for re-adding lossless json parsing
  raiden-ts/package.json
  raiden-ts/src/utils/data.ts
Due: sdk, sdk_integration

dApp: adapt dapp
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 655e1e3567ddef69bb7396463b08518f26b26516 [skip ci]
  staging/css/chunk-16066ff0.d57f34d1.css
  staging/css/chunk-177bf8bf.7967d847.css
  staging/index.html
  staging/js/app.bb888ee8.js
  staging/js/app.eb3fb7af.js
  staging/js/chunk-16066ff0.272b7578.js
  staging/js/chunk-177bf8bf.63c86897.js
  staging/precache-manifest.f8801b85b4df3828cd8196b08b0482e2.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 7c7ab8ccf5b7720a2c31cc902616f1ab33ecdfa8 [skip ci]
  staging/index.html
  staging/js/app.2bd441ad.js
  staging/js/app.eb3fb7af.js
  staging/js/chunk-14022d9a.b3a821c4.js
  staging/js/chunk-14022d9a.d10d25c2.js
  staging/js/chunk-499d7469.6d9b46dd.js
  staging/js/chunk-7ee7822e.5a29fa50.js
  staging/js/chunk-9714f45e.15e0c0c0.js
  staging/js/chunk-d86182e6.e36106cf.js
  staging/js/chunk-vendors.1a048a34.js
  staging/js/chunk-vendors.66e7a5f0.js
  staging/precache-manifest.38dbce4cd59a1671626487f56d75f89f.js
  staging/service-worker.js
Due: none

dependencies: Update all non-major dependencies
  raiden-dapp/package.json
Due: dapp

Automated deployment to GitHub Pages: a56064c31c78990e7e06843c98c25e978f3179e4 [skip ci]
  staging/index.html
  staging/js/app.2238973b.js
  staging/js/app.2bd441ad.js
  staging/js/chunk-vendors.3f84b255.js
  staging/precache-manifest.69f4132b9f1a79c8d66d2c91cf1d4a2d.js
  staging/service-worker.js
Due: none

Refactoring state upload function
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
Due: dapp

Adjust failing tests
  raiden-dapp/tests/unit/components/account/backup-state/upload-state-dialog.spec.ts
Due: dapp

Unit tests for notification store mutations
  raiden-dapp/tests/unit/store/notifications/mutations.spec.ts
Due: dapp

Revert "Unit tests for notification store mutations"
  raiden-dapp/tests/unit/store/notifications/mutations.spec.ts
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
