Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

e2e: Update versions in e2e image
  e2e-environment/Dockerfile
Due: none

e2e: Update geth
  e2e-environment/Dockerfile
  e2e-environment/geth/deploy.sh
  e2e-environment/setup/setup_channels.sh
  e2e-environment/supervisord.conf
Due: none

e2e: Lower python nodes query interval
  e2e-environment/raiden/node1.toml
  e2e-environment/raiden/node2.toml
Due: none

e2e: Add RAIDEN_SYNAPSE_MODULES
  e2e-environment/Dockerfile
  e2e-environment/geth/deploy.sh
  e2e-environment/setup/setup_channels.sh
  e2e-environment/supervisord.conf
Due: none

e2e: Add PFS account to genesis
  e2e-environment/geth/genesis.py
Due: none

e2e: Register PFS account in SR
  e2e-environment/setup/setup_channels.sh
Due: none

e2e: Update synapse cofig
  e2e-environment/synapse/exec/render_config_template.py
  e2e-environment/synapse/synapse.template.yaml
Due: none

e2e: Set receiving cap
  raiden-ts/tests/e2e/e2e.spec.ts
Due: sdk, sdk_integration

e2e: Write SERVICE_REGISTRY into contracts file
  e2e-environment/geth/deploy_contracts.py
Due: none

e2e: Update README
  e2e-environment/README.md
Due: none

e2e: Update to updated image
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
  e2e-environment/deployment_information/version
  e2e-environment/shared-script.sh
Due: none

dapp: fix channel list on small screens
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/scss/variables.scss
Due: dapp

dapp: align channel list header and items
  raiden-dapp/src/views/ChannelsRoute.vue
Due: dapp

sdk: replace fp-ts's deprecated `either` with pipe+chain
  raiden-ts/src/actions.ts
Due: sdk, sdk_integration

dapp: fix: pass through routes instead of assuming properties
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/TransferStepsRoute.vue
Due: dapp

sdk: tests: refactor messages tests to use PC's JSON examples
  raiden-ts/src/messages/utils.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/messages/Delivered.json
  raiden-ts/tests/unit/messages/LockExpired.json
  raiden-ts/tests/unit/messages/LockedTransfer.json
  raiden-ts/tests/unit/messages/PFSCapacityUpdate.json
  raiden-ts/tests/unit/messages/PFSFeeUpdate.json
  raiden-ts/tests/unit/messages/Processed.json
  raiden-ts/tests/unit/messages/RequestMonitoring.json
  raiden-ts/tests/unit/messages/RevealSecret.json
  raiden-ts/tests/unit/messages/SecretRequest.json
  raiden-ts/tests/unit/messages/Unlock.json
  raiden-ts/tests/unit/messages/WithdrawConfirmation.json
  raiden-ts/tests/unit/messages/WithdrawExpired.json
  raiden-ts/tests/unit/messages/WithdrawRequest.json
  raiden-ts/tests/unit/state.spec.ts
Due: sdk, sdk_integration

next: sdk: send service messages through toDevice
  raiden-ts/src/transport/epics/messages.ts
Due: sdk, sdk_integration

next: sdk: fetch presence from PFS
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

e2e: Remove room ensurer
  e2e-environment/setup/room_ensurer.py
  e2e-environment/setup/setup_channels.sh
Due: none

next: sdk: add tests and changelog entry to service messages toDevice
  CONTRIBUTING.md
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

e2e: Update service contract deployment calls
  e2e-environment/geth/deploy_contracts.py
Due: none

next: sdk: remove global rooms and helpers
  raiden-ts/src/config.ts
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

next: sdk: don't join PFS & MS global rooms
  raiden-ts/src/config.ts
  raiden-ts/src/transport/epics/helpers.ts
Due: sdk, sdk_integration

next: sdk: also send global messages to config.additionalServices
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

e2e: Remove empty lines
  e2e-environment/geth/deploy.sh
Due: none

next: sdk: introduce optional address_metadata in messages
  raiden-ts/src/messages/types.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

next: sdk: use canonical json for metadata encoding
  raiden-ts/package.json
  raiden-ts/src/messages/utils.ts
  raiden-ts/tests/unit/messages/LockedTransfer.json
  yarn.lock
Due: sdk, sdk_integration

next: sdk: introduce Via partial & validateAddressMetadata util
  raiden-ts/src/messages/actions.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/types.ts
Due: sdk, sdk_integration
