Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: wallet, sdk

Completly remove
  raiden/src/raiden.ts
Due: sdk

Delete
  raiden/src/deployment/deployment_mainnet.json
Due: sdk

Change Wallet to dApp
  README.md
Due: none

wallet -> dapp
  raiden-wallet/README.md
Due: wallet

Renames code and components
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/public/404.html
  raiden-dapp/public/index.html
  raiden-dapp/public/manifest.json
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/AppCore.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/Loading.vue
  raiden-dapp/src/views/Home.vue
  raiden-dapp/sync-sdk.sh
  raiden-dapp/tests/unit/views/home.spec.ts
Due: none

Updates ci configuration
  .circleci/config.yml
Due: none

Updates codecov flags
  codecov.yml
Due: none

Updates no script message and package description
  raiden-dapp/package.json
  raiden-dapp/public/index.html
Due: none

Adds network information on header
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: none

Split epics into own module
  raiden/src/store/epics.ts
  raiden/src/store/epics/block.ts
  raiden/src/store/epics/channel.ts
  raiden/src/store/epics/index.ts
  raiden/src/store/epics/init.ts
  raiden/src/store/epics/monitor.ts
  raiden/src/store/epics/output.ts
  raiden/tests/unit/epics.spec.ts
Due: sdk

Removing entry in table of contents
  README.md
Due: none

Changes to the main readme
  README.md
Due: none

Update SDK Readme
  raiden/README.md
Due: sdk

Update dapp readme
  raiden-dapp/README.md
Due: none

Another update
  raiden-dapp/README.md
Due: none

Updating Readmes (#138)
  README.md
  raiden-dapp/README.md
  raiden/README.md
Due: sdk

Properly hides the full when no account is loaded
  raiden-dapp/src/components/AppHeader.vue
Due: none

Adds disclaimer, requires user action to connect
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/Loading.vue
  raiden-dapp/src/components/NoAccessScreen.vue
  raiden-dapp/src/components/UserDenied.vue
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/services/web3-provider.ts
  raiden-dapp/src/store.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/Home.vue
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/no-access-screen.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
Due: none

Fix cached network being returned by ethers Provider
  raiden/src/store/epics/init.ts
  raiden/src/utils.ts
  raiden/tests/unit/mocks.ts
Due: sdk

Fix events$ and add tests
  raiden/src/store/epics/index.ts
  raiden/src/store/epics/output.ts
  raiden/tests/e2e/raiden.spec.ts
Due: sdk

Fixes hanging by disabling autorefresh on metamask
  raiden-dapp/src/services/web3-provider.ts
Due: none

Make wrapper and content to fill height
  raiden-dapp/src/App.vue
Due: none

Adds handling of the shutdown event.
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: none

Adds handling of the sdk shutdown event
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: none

Fixes review comments
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: none

Adds token balance monitoring on new block
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: none

Adds configuration to load sourcemaps on development
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/vue.config.js
Due: none

Modifies the no access error screen
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/NoAccessMessage.vue
  raiden-dapp/src/components/NoAccessScreen.vue
  raiden-dapp/src/components/NoValidProvider.vue
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/Home.vue
  raiden-dapp/tests/unit/components/no-access-message.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
Due: none

Fixes connect not working after enabling MM
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/tests/unit/app.spec.ts
Due: none

Adds support for goerli
  raiden/src/deployment/deployment_goerli.json
  raiden/src/raiden.ts
Due: sdk

Adds a navigation guard on Deposit
  raiden-dapp/src/class-component-hooks.ts
  raiden-dapp/src/main.ts
  raiden-dapp/src/views/Deposit.vue
  raiden-dapp/tests/unit/views/deposit.spec.ts
Due: none

Update main readme
  README.md
Due: none

Update Readme removing dApp section and picture
  README.md
Due: none

Ropsten deployment block numbers updated
  raiden/src/deployment/deployment_ropsten.json
Due: sdk

Remove sync-sdk.sh
  .circleci/config.yml
  README.md
  raiden-dapp/sync-sdk.sh
Due: none

Use npm link, split esNext/commonJs SDK builds
  raiden-dapp/.eslintignore
  raiden-dapp/.prettierignore
  raiden-dapp/package-lock.json
  raiden/.gitignore
  raiden/package.json
  raiden/src/tsconfig.cjs.json
  raiden/src/tsconfig.json
  raiden/tsconfig.json
Due: sdk

Add @vue/cli as dev dependency
  .circleci/config.yml
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: none

Modifies CircleCI configuration
  .circleci/config.yml
  raiden-dapp/tsconfig.json
Due: none

Path conditions:
  wallet: any of: raiden-wallet/
  sdk: any of: raiden/
