Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

comment:
  after_n_builds: 2

Tests
  raiden-ts/tests/e2e/mocks.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

Handle messageSend errors
  raiden-ts/src/transport/epics.ts
Due: sdk

Replace transport publishReplay with latest$ and get with optchain
  raiden-ts/src/transport/epics.ts
Due: sdk

Fixes TransferProgressDialog.vue visibility issues
  raiden-dapp/src/components/BlurredOverlay.vue
  raiden-dapp/src/components/RaidenDialog.vue
  raiden-dapp/src/components/TransferProgressDialog.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Increase address display width
  raiden-dapp/src/components/AddressDisplay.vue
Due: dapp

Added transfer summary details in 3rd step
  raiden-dapp/src/components/TransferSummary.vue
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Stub v-dialog in the raiden-dialog.spec.ts
  raiden-dapp/tests/unit/components/raiden-dialog.spec.ts
Due: dapp

Display paid checkmark outside of summary
  raiden-dapp/src/components/TransferSummary.vue
Due: dapp

Show transfer progress dialog only after third step
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Added missing localization string
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Fixed unit tests
  raiden-dapp/src/components/TransferSummary.vue
  raiden-dapp/tests/unit/views/transfer-steps.spec.ts
Due: dapp

Added changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Match class name w/ component name
  raiden-dapp/src/components/TransferSummary.vue
Due: dapp

Added transfer summary (#1002)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AddressDisplay.vue
  raiden-dapp/src/components/TransferSummary.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/model/types.ts
  raiden-dapp/src/views/TransferSteps.vue
  raiden-dapp/tests/unit/views/transfer-steps.spec.ts
Due: dapp

Adding id property to button
  raiden-dapp/src/components/ChannelDepositDialog.vue
Due: dapp

Display skipped steps in transfer progress bar
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

0.2.2 -> v0.3.0
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

0.2.2 -> v0.3.0 (#1005)
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

Adds publish only workflow
  .circleci/config.yml
Due: none

Adding new modal to close and settle confirmation dialog
  raiden-dapp/src/components/ConfirmationDialog.vue
  raiden-dapp/src/components/RaidenDialog.vue
  raiden-dapp/tests/unit/components/channel-list.spec.ts
Due: dapp

Updates the version of the dApp and the change logs
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
Due: dapp, sdk

Adds context to publish step
  .circleci/config.yml
Due: none

Making nextTick a function call again
  raiden-dapp/tests/unit/components/channel-list.spec.ts
Due: dapp

Removes console.log
  raiden-dapp/tests/unit/components/channel-list.spec.ts
Due: dapp

Adding semantically correct TestData mocks
  raiden-dapp/tests/unit/components/channel-list.spec.ts
Due: dapp

Added explaining texts in case steps are skipped
  raiden-dapp/src/components/TransferSummary.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Added TransferSummary tests
  raiden-dapp/tests/unit/components/transfer-summary.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
Due: dapp
