Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: Fix tests for expired transfer & unified reducer
  raiden-ts/tests/unit/epics/receive.spec.ts
  raiden-ts/tests/unit/epics/send.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk, sdk_integration

sdk: Rewrite Withdraw handling
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transfers/reducer.ts
Due: sdk, sdk_integration

sdk: Fix tests and add migration
  raiden-ts/src/migration/4.ts
  raiden-ts/src/migration/index.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/send.spec.ts
  raiden-ts/tests/unit/epics/withdraw.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/state.spec.ts
  raiden-ts/tests/unit/states/4_full.json
  raiden-ts/tests/unit/states/4_min.json
Due: sdk, sdk_integration

sdk: Add changelog
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Implement scaffold for complete Raiden API support
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/app.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/connections.ts
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/routes/pendingTransfers.ts
  raiden-cli/src/routes/testing.ts
  raiden-cli/src/routes/tokens.ts
Due: none

Simplify and clean up setup procedure
  raiden-cli/src/index.ts
  raiden-cli/src/raiden.ts
  raiden-cli/src/types.ts
Due: none

Add smart parameter validation for all routers
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/routes/connections.ts
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/routes/pendingTransfers.ts
  raiden-cli/src/routes/testing.ts
  raiden-cli/src/routes/tokens.ts
  raiden-cli/src/utils/validation.ts
Due: none

Extend controller logic for channel routes
  raiden-cli/src/controllers/channels.ts
  raiden-cli/src/custom.d.ts
  raiden-cli/src/raiden.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/utils/formatting.ts
Due: none

Implement basic routes like version and status
  raiden-cli/src/app.ts
  raiden-cli/src/index.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/types.ts
Due: none

Clean up lodash imports to enable tree-shaking
  raiden-cli/src/controllers/channels.ts
  raiden-cli/src/raiden.ts
  raiden-cli/src/utils/validation.ts
Due: none

cli: remove/reduce user parameter validation
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/connections.ts
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/routes/pendingTransfers.ts
  raiden-cli/src/routes/testing.ts
  raiden-cli/src/routes/tokens.ts
  raiden-cli/src/utils/validation.ts
Due: none

cli: rename custom declaration file to global
  raiden-cli/src/global.d.ts
  raiden-cli/src/utils/validation.ts
Due: none

cli: rework implementation structure to be flat
  raiden-cli/src/app.ts
  raiden-cli/src/cli.ts
  raiden-cli/src/controllers/channels.ts
  raiden-cli/src/index.ts
  raiden-cli/src/raiden.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/connections.ts
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/routes/pendingTransfers.ts
  raiden-cli/src/routes/testing.ts
  raiden-cli/src/routes/tokens.ts
  raiden-cli/src/types.ts
  raiden-cli/src/utils/channels.ts
  raiden-cli/src/utils/formatting.ts
  raiden-cli/src/utils/logging.ts
Due: none

cli: improve logging for whole application
  raiden-cli/src/app.ts
  raiden-cli/src/index.ts
  raiden-cli/src/utils/logging.ts
Due: none

cli: fix shutdown procedure for raiden stop
  raiden-cli/src/index.ts
  raiden-cli/src/raiden.ts
Due: none

cli: remove lodash dependency for native features
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/utils/channels.ts
  raiden-cli/webpack.config.js
Due: none

cli: use dedicated logger instance per Cli
  raiden-cli/src/app.ts
  raiden-cli/src/cli.ts
  raiden-cli/src/index.ts
  raiden-cli/src/types.ts
  raiden-cli/src/utils/logging.ts
Due: none

cli: export default raiden config to json file
  raiden-cli/src/config.json
  raiden-cli/src/index.ts
Due: none

cli: add connection logger for server
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/app.ts
Due: none

cli: remove obsolete express-validator dependency
  raiden-cli/package-lock.json
  raiden-cli/package.json
Due: none

cli: add scoped CONTRBUTING file
  raiden-cli/CONTRIBUTING.md
Due: none

cli: clean up package-lock raiden-ts dependency
  raiden-cli/package-lock.json
Due: none

cli: fix logging max stack call error
  raiden-cli/src/utils/logging.ts
Due: none

cli: improve logging module names
  raiden-cli/package-lock.json
  raiden-cli/src/app.ts
  raiden-cli/src/cli.ts
  raiden-cli/src/index.ts
  raiden-cli/src/types.ts
  raiden-cli/src/utils/logging.ts
Due: none

cli: refactor/start full compatible Raiden API implementation
  raiden-cli/CONTRIBUTING.md
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/app.ts
  raiden-cli/src/cli.ts
  raiden-cli/src/config.json
  raiden-cli/src/global.d.ts
  raiden-cli/src/index.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/connections.ts
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/routes/pendingTransfers.ts
  raiden-cli/src/routes/testing.ts
  raiden-cli/src/routes/tokens.ts
  raiden-cli/src/types.ts
  raiden-cli/src/utils/channels.ts
  raiden-cli/src/utils/logging.ts
  raiden-cli/src/utils/validation.ts
  raiden-cli/webpack.config.js
Due: none

sdk: Fix receiving expired transfer, merge transfer reducers
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/refund.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/reducer.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 45f9684627161d3eb01a7f7a7299cf58335d631d [skip ci]
  staging/index.html
  staging/js/app.8fc996d1.js
  staging/js/app.b5f86710.js
  staging/js/chunk-vendors.e2cad8c9.js
  staging/precache-manifest.68f8051210edffbc2f49a11becd53b41.js
  staging/service-worker.js
Due: none

dApp: Adds withdrawal dialog to UDC screen (#1626)
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/unit/views/account/udc.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 4696ea677466267cd0085de07e90a155e68d8d18 [skip ci]
  staging/css/chunk-28bce315.36202238.css
  staging/css/chunk-4d730eb5.d84f9e81.css
  staging/css/chunk-531a2bb8.acc137f8.css
  staging/css/chunk-cabb44c2.e6f07d0b.css
  staging/index.html
  staging/js/app.2d094006.js
  staging/js/app.8fc996d1.js
  staging/js/chunk-28bce315.5396e9fd.js
  staging/js/chunk-4d730eb5.4cbd0046.js
  staging/js/chunk-531a2bb8.40f88b39.js
  staging/js/chunk-725ee92b.e467133f.js
  staging/js/chunk-cabb44c2.a5f330e3.js
  staging/js/chunk-fb35a2fc.8556ae3e.js
  staging/precache-manifest.3a3ab27af8ca5a049a8f0f5d91c9b79b.js
  staging/service-worker.js
Due: none

dependencies Update dependency @types/node to v14.0.13
  raiden-cli/package-lock.json
  raiden-cli/package.json
Due: none

dependencies Update python Docker tag to v3.8
  integration/Dockerfile
Due: none

dependencies Pin dependencies
  .github/actions/changelog-reminder/package.json
  raiden-cli/package.json
  raiden-dapp/.nvmrc
  raiden-dapp/package.json
  raiden-ts/.nvmrc
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

infra: Update renovate configuration
  .github/renovate.json
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
