Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Tests
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk

PR review
  raiden-ts/src/transport/epics.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk

Split filterMatrixVoipEvents & use ICE servers from config & matrix
  raiden-ts/src/config.ts
  raiden-ts/src/transport/epics.ts
Due: sdk

Add wrtc package & polyfills
  raiden-ts/package-lock.json
  raiden-ts/package.json
  raiden-ts/src/global.d.ts
  raiden-ts/src/polyfills.ts
Due: sdk

Watches isConnected instead
  raiden-dapp/src/App.vue
Due: dapp

Mediated transfer test
  raiden-ts/tests/integration/integration.spec.ts
Due: sdk

Changing name of watched function
  raiden-dapp/src/App.vue
Due: dapp

Refreshing dApp redirects to Home screen (#1364)
  raiden-dapp/src/App.vue
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
Due: dapp

Change log entry
  raiden-ts/CHANGELOG.md
Due: sdk

Redirect on shutdown fix
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/views/Home.vue
Due: dapp

Fix missing icons on FF on general screen
  raiden-dapp/src/components/GeneralMenu.vue
Due: dapp

PR feedback
  raiden-ts/tests/integration/integration.spec.ts
Due: sdk

Fix missing icons on FF on general screen (#1367)
  raiden-dapp/src/components/GeneralMenu.vue
Due: dapp

Automated deployment to GitHub Pages: f980d9e42d1304539ff0ff0a8133aa5a692355d7 [skip ci]
  staging/css/app.45ddce8d.css
  staging/css/app.a11e363e.css
  staging/css/chunk-1807f13b.c3b11f4f.css
  staging/css/chunk-2a7c1c36.2e0dc378.css
  staging/index.html
  staging/js/app.0da4bef8.js
  staging/js/app.b6ae0659.js
  staging/js/chunk-1807f13b.a0341ead.js
  staging/js/chunk-2a7c1c36.60b461a9.js
  staging/precache-manifest.6775f0936b237bb0ddb9a99fc49343f9.js
  staging/service-worker.js
Due: none

Adding missing colons
  raiden-dapp/CHANGELOG.md
Due: dapp

Redirect on shutdown fix (#1366)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/views/Home.vue
Due: dapp

Automated deployment to GitHub Pages: 96ae420695b7b8e346ecfb9404441d8b81c74603 [skip ci]
  staging/css/app.a11e363e.css
  staging/css/app.f302ed22.css
  staging/index.html
  staging/js/app.0da4bef8.js
  staging/js/app.8e291d51.js
  staging/precache-manifest.31a6ee2f06236264d78c304b980aa29c.js
  staging/service-worker.js
Due: none

Mediated transfer integration test (#1335)
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/integration.spec.ts
Due: sdk

Automated deployment to GitHub Pages: ee6df8736e2e2d35a6222da888bf7e29880324f6 [skip ci]
  staging/index.html
  staging/js/app.8e291d51.js
  staging/js/app.8ebb3148.js
  staging/js/chunk-1807f13b.a0341ead.js
  staging/js/chunk-1807f13b.bd054c8a.js
  staging/js/chunk-27f3174b.4b4cf162.js
  staging/js/chunk-27f3174b.95929e9c.js
  staging/js/chunk-49ba97a0.148428bd.js
  staging/js/chunk-49ba97a0.cc934ea0.js
  staging/js/chunk-4c34ba5c.2d2a0a4d.js
  staging/js/chunk-4c34ba5c.8262af52.js
  staging/js/chunk-501c040c.14041124.js
  staging/js/chunk-501c040c.5680c27b.js
  staging/js/chunk-552b1730.8e6ca10c.js
  staging/js/chunk-552b1730.a8860cbe.js
  staging/js/chunk-5e7189c2.f3476e97.js
  staging/js/chunk-5e7189c2.fce7d44c.js
  staging/js/chunk-b14359ce.14b0b025.js
  staging/js/chunk-b14359ce.62a77deb.js
  staging/js/chunk-d3b2fbc4.2e55ee34.js
  staging/js/chunk-d3b2fbc4.76ffc0aa.js
  staging/precache-manifest.7b6fa3937660fa3e4e80d1a794885f7e.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 2a472ee15c1c3030ed0dc5d716b75fd62e209982 [skip ci]
  staging/css/app.a11e363e.css
  staging/css/app.f302ed22.css
  staging/css/chunk-1807f13b.c3b11f4f.css
  staging/css/chunk-2a7c1c36.2e0dc378.css
  staging/index.html
  staging/js/app.8ebb3148.js
  staging/js/app.abb4a6aa.js
  staging/js/chunk-1807f13b.bd054c8a.js
  staging/js/chunk-27f3174b.4b4cf162.js
  staging/js/chunk-27f3174b.95929e9c.js
  staging/js/chunk-2a7c1c36.60b461a9.js
  staging/js/chunk-49ba97a0.148428bd.js
  staging/js/chunk-49ba97a0.cc934ea0.js
  staging/js/chunk-4c34ba5c.2d2a0a4d.js
  staging/js/chunk-4c34ba5c.8262af52.js
  staging/js/chunk-501c040c.14041124.js
  staging/js/chunk-501c040c.5680c27b.js
  staging/js/chunk-552b1730.8e6ca10c.js
  staging/js/chunk-552b1730.a8860cbe.js
  staging/js/chunk-5e7189c2.f3476e97.js
  staging/js/chunk-5e7189c2.fce7d44c.js
  staging/js/chunk-b14359ce.14b0b025.js
  staging/js/chunk-b14359ce.62a77deb.js
  staging/js/chunk-d3b2fbc4.2e55ee34.js
  staging/js/chunk-d3b2fbc4.76ffc0aa.js
  staging/precache-manifest.75ad7ff281e13c7ea94ce3b8c07ce856.js
  staging/service-worker.js
Due: none

Removes sign messages for off-chain actions
  raiden-dapp/src/locales/en.json
Due: dapp

Removes sign messages for off-chain actions (#1375)
  raiden-dapp/src/locales/en.json
Due: dapp

Automated deployment to GitHub Pages: 15ea7af17eccd62c820d82d0386fde95fe44d733 [skip ci]
  staging/css/app.a11e363e.css
  staging/css/app.f302ed22.css
  staging/css/chunk-1807f13b.c3b11f4f.css
  staging/css/chunk-2a7c1c36.2e0dc378.css
  staging/index.html
  staging/js/app.3b919910.js
  staging/js/app.abb4a6aa.js
  staging/js/chunk-1807f13b.a0341ead.js
  staging/js/chunk-2a7c1c36.60b461a9.js
  staging/precache-manifest.3731f948c8a785ec126d5eb351d6fe84.js
  staging/service-worker.js
Due: none

Make token dropdown a ghost button
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/tests/unit/views/transfer.spec.ts
Due: dapp

Better description for backup state
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/BackupState.vue
Due: dapp

Testing how state file looks in README
  README.md
Due: none

Proposal for state file
  README.md
Due: none

Adds a description of state
  README.md
Due: none

Remove unused DownArrow component
  raiden-dapp/src/components/icons/DownArrow.vue
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Adjustments in accordance to review feedback
  README.md
Due: none

Automated deployment to GitHub Pages: 901154e8fcd6c8198a5a185ff3caa95f89be4b77 [skip ci]
  staging/css/chunk-49ba97a0.c1c4c74f.css
  staging/css/chunk-7bc2c414.4ec49789.css
  staging/index.html
  staging/js/app.3b919910.js
  staging/js/app.729b68e7.js
  staging/js/chunk-49ba97a0.cc934ea0.js
  staging/js/chunk-7bc2c414.4816768e.js
  staging/precache-manifest.6252fbb1fb48dfaa4ac0fca362b73f70.js
  staging/service-worker.js
Due: none

State description (#1379)
  README.md
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/BackupState.vue
Due: dapp

Automated deployment to GitHub Pages: 33ad0aeaa0e90ca8913aa81855a3b8a03b30015d [skip ci]
  staging/css/chunk-43b69ccc.c60dbc20.css
  staging/css/chunk-501c040c.43563bf9.css
  staging/index.html
  staging/js/app.52b5b0a7.js
  staging/js/app.729b68e7.js
  staging/js/chunk-43b69ccc.1d6e5f29.js
  staging/js/chunk-501c040c.14041124.js
  staging/precache-manifest.a679b20a43c16e7ba4db979dd867b35f.js
  staging/service-worker.js
Due: none

0.5.2 -> v0.6.0
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Automated deployment to GitHub Pages: f1a42eab0eb319a123c421a254730852b8079317 [skip ci]
  staging/index.html
  staging/js/app.52b5b0a7.js
  staging/js/app.b258c294.js
  staging/js/chunk-1807f13b.a0341ead.js
  staging/js/chunk-1807f13b.cc4d7ff3.js
  staging/js/chunk-27f3174b.5fca6fb2.js
  staging/js/chunk-27f3174b.95929e9c.js
  staging/js/chunk-43b69ccc.1d6e5f29.js
  staging/js/chunk-43b69ccc.f8d9e6d4.js
  staging/js/chunk-488fc1f2.45a13c93.js
  staging/js/chunk-488fc1f2.6548e12e.js
  staging/js/chunk-4c34ba5c.8262af52.js
  staging/js/chunk-4c34ba5c.f3ae5db4.js
  staging/js/chunk-552b1730.a8860cbe.js
  staging/js/chunk-552b1730.de88027e.js
  staging/js/chunk-5e7189c2.17e35c26.js
  staging/js/chunk-5e7189c2.f3476e97.js
  staging/js/chunk-7bc2c414.4816768e.js
  staging/js/chunk-7bc2c414.6642ea59.js
  staging/js/chunk-b14359ce.14b0b025.js
  staging/js/chunk-b14359ce.efc1fe7c.js
  staging/js/chunk-d3b2fbc4.2e55ee34.js
  staging/js/chunk-d3b2fbc4.55975ca2.js
  staging/js/chunk-e17a21de.6fe8044e.js
  staging/js/chunk-e17a21de.7cd29f16.js
  staging/precache-manifest.bd9644f13f9baf2f2fc3cb320f6ee12e.js
  staging/service-worker.js
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
