Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: webrtc: reconnect channels when caps change
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

sdk: add changelog entry for caps update fix
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/path.spec.ts
Due: sdk, sdk_integration

sdk: reduce presence caching to pollingInterval=5s
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

deps: Update all non-major dependencies
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

cli: fix shebang on raiden script which depends on bash
  raiden-cli/raiden
Due: none

deps: Lock file maintenance
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/license-checker/yarn.lock
  raiden-dapp/Gemfile.lock
  yarn.lock
Due: dapp

sdk: refactor: groupChannel as function operator
  raiden-ts/src/channels/epics/monitor.ts
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/services/epics/monitor.ts
  raiden-ts/src/services/epics/pathfinding.ts
Due: sdk, sdk_integration

sdk: refactor: specialize Channel[Unique]Key types with template literal
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/types.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/state.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

sdk: settle: shift non-closing LCs +revealTimeout after settleable
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/transport/utils.ts
Due: sdk, sdk_integration

sdk: fix tests and add changelog for auto-settle delay
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/channels.spec.ts
Due: sdk, sdk_integration

sdk: refactor: split function to identify LCs (and PCs)
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/utils.ts
Due: sdk, sdk_integration

deps: Lock file maintenance
  yarn.lock
Due: none

Updating the private net guide to reflect light client changes after v1.0.0
  raiden-ts/docs-source/private-chain.md
Due: sdk, sdk_integration

deps: Update all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  .github/actions/license-checker/package.json
  .github/actions/license-checker/yarn.lock
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency @types/node to ^14.17.12
  package.json
  raiden-cli/package.json
  yarn.lock
Due: none

sdk: refactor: shutdown sequence is serialized
  raiden-ts/src/epics.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

sdk: ensure epics are properly ordered and complete correctly
  raiden-ts/src/services/epics/monitor.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transport/epics/index.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

sdk: fix test teardown and skip log suppressing with env=JEST_VERBOSE
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/receive.spec.ts
  raiden-ts/tests/integration/send.spec.ts
  raiden-ts/tests/setupAfter.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
