Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: wallet, sdk

Fix 3rd-party imported types
  raiden/@types/ganache-cli/index.d.ts
  raiden/@types/matrix-js-sdk/index.d.ts
  raiden/tests/tsconfig.json
  raiden/tsconfig.json
Due: sdk

Expose Provider.resolveName
  raiden/src/raiden.ts
Due: sdk

Update Readme
  README.md
Due: none

Adding a table of contents
  raiden/README.md
Due: sdk

Minor change
  raiden/README.md
Due: sdk

Make wallet wrapper occupy 100% height
  raiden-wallet/src/App.vue
Due: wallet

Adds initial hub selection functionality
  raiden-wallet/src/components/SelectHub.vue
  raiden-wallet/src/views/Connect.vue
Due: wallet

Fixes wallet css
  raiden-wallet/src/App.vue
Due: wallet

Starts work on AddressInput
  raiden-wallet/src/components/AddressInput.vue
  raiden-wallet/src/components/SelectToken.vue
  raiden-wallet/src/store.ts
  raiden-wallet/src/views/Connect.vue
  raiden-wallet/tests/unit/store.spec.ts
Due: wallet

Finalizes the AddressInput/Token Selection
  raiden-wallet/src/components/AddressInput.vue
  raiden-wallet/src/components/SelectToken.vue
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/src/types.d.ts
  raiden-wallet/src/utils/address-utils.ts
  raiden-wallet/src/utils/data-filters.ts
Due: wallet

Update vue.js and vuetify
  raiden-wallet/package-lock.json
  raiden-wallet/package.json
Due: wallet

Fixes line height on input screen description
  raiden-wallet/src/scss/input-screen.scss
Due: wallet

Simplifies AddressInput
  raiden-wallet/src/components/AddressInput.vue
  raiden-wallet/src/utils/data-filters.ts
  raiden-wallet/src/views/SelectHub.vue
Due: wallet

Adds navigation, changes select token Adds hub selection
  raiden-wallet/src/App.vue
  raiden-wallet/src/components/AddressInput.vue
  raiden-wallet/src/components/AmountInput.vue
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/components/SelectHub.vue
  raiden-wallet/src/components/SelectToken.vue
  raiden-wallet/src/components/Tokens.vue
  raiden-wallet/src/components/WalletHeader.vue
  raiden-wallet/src/main.scss
  raiden-wallet/src/mixins/navigation-mixin.ts
  raiden-wallet/src/route-names.ts
  raiden-wallet/src/router.ts
  raiden-wallet/src/scss/button.scss
  raiden-wallet/src/scss/input-screen.scss
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/src/store.ts
  raiden-wallet/src/utils/address-utils.ts
  raiden-wallet/src/views/Channels.vue
  raiden-wallet/src/views/Connect.vue
  raiden-wallet/src/views/Deposit.vue
  raiden-wallet/src/views/Home.vue
  raiden-wallet/src/views/SelectHub.vue
  raiden-wallet/src/views/SelectTarget.vue
  raiden-wallet/src/views/SelectToken.vue
  raiden-wallet/tests/unit/views/connect.spec.ts
  raiden-wallet/tests/unit/views/deposit.spec.ts
Due: wallet

Fixes tests and adds more tests
  raiden-wallet/src/components/AddressInput.vue
  raiden-wallet/tests/unit/components/address-input.spec.ts
  raiden-wallet/tests/unit/components/amount-input.spec.ts
  raiden-wallet/tests/unit/store.spec.ts
  raiden-wallet/tests/unit/utils/interaction-utils.ts
  raiden-wallet/tests/unit/views/deposit.spec.ts
Due: wallet

Fixes prepend/append of elements on AmountInput
  raiden-wallet/src/components/AmountInput.vue
Due: wallet

Adds basic token caching
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/src/store.ts
  raiden-wallet/src/types.d.ts
  raiden-wallet/src/views/Deposit.vue
  raiden-wallet/src/views/SelectHub.vue
Due: wallet

Fixes RaidenService test setup
  raiden-wallet/tests/unit/raiden-service.spec.ts
Due: wallet

Fixes Deposit.vue tests and covers created cases
  raiden-wallet/tests/unit/data/mock-data.ts
  raiden-wallet/tests/unit/views/deposit.spec.ts
Due: wallet

Adds tests for the NavigationMixin
  raiden-wallet/tests/unit/components/mixins/navigation-mixin.spec.ts
  raiden-wallet/tests/unit/data/mock-data.ts
Due: wallet

Creates a Channels view test
  raiden-wallet/tests/unit/views/channels.spec.ts
Due: wallet

Removes unused properties and adds tests for SelectToken
  raiden-wallet/src/views/SelectToken.vue
  raiden-wallet/tests/unit/views/select-token.spec.ts
Due: wallet

Adds tests covering SelectHub functionality
  raiden-wallet/src/views/SelectHub.vue
  raiden-wallet/tests/unit/views/select-hub.spec.ts
Due: wallet

Uses exposed ens resolve from the sdk
  raiden-wallet/src/services/raiden-service.ts
Due: wallet

Adds review changes
  raiden-wallet/src/components/AddressInput.vue
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/components/Tokens.vue
  raiden-wallet/src/components/WalletHeader.vue
  raiden-wallet/src/mixins/blockie-mixin.ts
  raiden-wallet/src/mixins/navigation-mixin.ts
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/src/store.ts
  raiden-wallet/src/views/Deposit.vue
  raiden-wallet/src/views/SelectHub.vue
  raiden-wallet/src/views/SelectTarget.vue
  raiden-wallet/src/views/SelectToken.vue
  raiden-wallet/tests/unit/views/deposit.spec.ts
  raiden-wallet/tests/unit/views/select-target.spec.ts
Due: wallet

Implements updated channel design
  raiden-wallet/src/components/ChannelLifeCycle.vue
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/filters.ts
  raiden-wallet/src/main.scss
  raiden-wallet/tests/unit/components/channel-lifecycle.spec.ts
  raiden-wallet/tests/unit/components/channel-list.spec.ts
  raiden-wallet/tests/unit/filters.spec.ts
  raiden-wallet/tests/unit/store.spec.ts
Due: wallet

Fixes review comment
  raiden-wallet/src/components/ChannelLifeCycle.vue
Due: wallet

Changes lodash imports to enable tree-shaking
  raiden-wallet/src/filters.ts
  raiden-wallet/src/store.ts
Due: wallet

Implements the token screen design
  raiden-wallet/src/components/Tokens.vue
  raiden-wallet/src/views/SelectToken.vue
  raiden-wallet/tests/unit/components/tokens.spec.ts
  raiden-wallet/tests/unit/views/select-token.spec.ts
Due: wallet

Updates token select layout to match token list
  raiden-wallet/src/views/SelectToken.vue
Due: wallet

Remove address
  README.md
Due: none

Removes automatic deployment configuration
  .circleci/config.yml
  raiden-wallet/deploy.sh
Due: wallet

Another removal of the address
  README.md
Due: none

Fixes tests removes unused functions
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/utils/utils.ts
  raiden-wallet/tests/unit/components/channel-list.spec.ts
  raiden-wallet/tests/unit/components/in-place-confirmation.spec.ts
Due: wallet

Updates close dialog using an in place confirmation
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/components/InPlaceConfirmation.vue
  raiden-wallet/src/utils/utils.ts
  raiden-wallet/tests/unit/components/channel-list.spec.ts
  raiden-wallet/tests/unit/components/in-place-confirmation.spec.ts
Due: wallet

Close overlay without meddling with DOM
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/components/InPlaceConfirmation.vue
Due: wallet

Enables vue/recommended ruleset on eslint
  raiden-wallet/.eslintrc.js
  raiden-wallet/src/App.vue
  raiden-wallet/src/components/AddressInput.vue
  raiden-wallet/src/components/AmountInput.vue
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/components/ProgressOverlay.vue
  raiden-wallet/src/components/Tokens.vue
  raiden-wallet/src/components/WalletHeader.vue
  raiden-wallet/src/components/dialogs/DepositDialog.vue
  raiden-wallet/src/main.ts
  raiden-wallet/src/views/Deposit.vue
  raiden-wallet/src/views/SelectHub.vue
  raiden-wallet/src/views/SelectToken.vue
Due: wallet

Implements the new settle confirmation layout
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/components/Confirmation.vue
  raiden-wallet/tests/unit/components/channel-list.spec.ts
Due: wallet

Properly displays zero balance
  raiden-wallet/src/filters.ts
  raiden-wallet/tests/unit/filters.spec.ts
Due: wallet

Disable mainnet on SDK
  raiden/src/raiden.ts
Due: sdk

Path conditions:
  wallet: any of: raiden-wallet/
  sdk: any of: raiden/
