Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

deps: Update dependency typechain to v8
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: Update dependency @typechain/ethers-v5 to v10
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

dapp: adapt update message to express the risk
  raiden-dapp/src/locales/en.json
Due: dapp

deps: Update all non-major dependencies and lockFile maintenance
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency typescript to v4.6.3
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

WIP
  raiden-dapp/.env.production
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/VersionSnackbar.vue
  raiden-dapp/src/service-worker/assistant.ts
Due: dapp

docs: remove python client Bespin reference
  raiden-ts/README.md
Due: sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update all non-major dependencies and lockFile maintenance
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: refactor: ensure unique message and paymentIds
  raiden-ts/src/db/utils.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: ensure monitor epic gets completed before latest$
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/epics.ts
Due: sdk, sdk_integration

deps: pin single loglevel resolve and add fake-timers devDep
  package.json
  yarn.lock
Due: none

cli: refactor: move options to own module, split Cli & App types
  raiden-cli/src/cli.ts
  raiden-cli/src/index.ts
  raiden-cli/src/options.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/types.ts
Due: none

sdk: ensure events scan works with blockNumber < confirmations
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: refactor: don't stale before initial sync and refactor blockTimeEpic
  raiden-ts/src/channels/epics/block.ts
Due: sdk, sdk_integration

sdk: add getBlockTimestamp and settleTimeout$ epics deps
  raiden-ts/src/helpers.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

cli: add some more information to address and user_deposit endpoints
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/userDeposit.ts
Due: none

sdk: ensure fromEthersEvent work with confirmationBlocks=0
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: refactor: read contractsInfo at runtime if needed
  raiden-ts/src/helpers.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

cli: fix parsing fee options addresses as numbers
  raiden-cli/src/options.ts
Due: none

sdk: ensure unlock fetches latest transferState from db if needed
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

fixup! sdk: refactor: adapt some deprecated functions
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

sdk,cli: address some codeclimate complaints
  raiden-cli/src/options.ts
  raiden-cli/src/routes/api.v1.ts
Due: none

sdk: add matrixServer to PFS info and use it in auto-matrixServer
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

sdk: refactor: promote and rename getPfsInfo$ to choosePfs$
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

deps: Update eslint
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency matrix-js-sdk to v16
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
