Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: wallet, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status: 
    project: 
      default: off
      wallet:
        flags: wallet
      sdk:
        flags: sdk
  
flags:
  wallet:
    paths: 
      - raiden-wallet/
  sdk:
    paths:
      - raiden/

Add CLOSE tests
  raiden/tests/e2e/raiden.spec.ts
  raiden/tests/unit/epics.spec.ts
  raiden/tests/unit/reducers.spec.ts
Due: sdk

Add close actions and reducer
  raiden/src/store/actions.ts
  raiden/src/store/reducers.ts
Due: sdk

Add channelCloseEpic, use utils and constants directly from ethers
  raiden/src/constants.ts
  raiden/src/raiden.ts
  raiden/src/store/actions.ts
  raiden/src/store/epics.ts
  raiden/src/store/reducers.ts
  raiden/src/store/types.ts
  raiden/tests/e2e/raiden.spec.ts
  raiden/tests/unit/actions.spec.ts
  raiden/tests/unit/epics.spec.ts
  raiden/tests/unit/reducers.spec.ts
  raiden/tests/unit/state.spec.ts
Due: sdk

Add Raiden.closeChannel public API
  raiden/src/raiden.ts
  raiden/tests/e2e/raiden.spec.ts
Due: sdk

Disable no-non-null-assertion lint rule, coverage improvements
  raiden/package.json
  raiden/src/raiden.ts
  raiden/src/store/epics.ts
  raiden/src/store/state.ts
  raiden/src/utils.ts
  raiden/tests/e2e/raiden.spec.ts
  raiden/tests/unit/mocks.ts
  raiden/tests/unit/utils.spec.ts
Due: sdk

Update jest and other packages, ignore src/index.ts for coverage
  raiden/package-lock.json
  raiden/package.json
  raiden/src/index.ts
Due: sdk

Changes components in template to kebab case
  raiden-wallet/src/views/Home.vue
Due: wallet

Fixes typo on contributing
  CONTRIBUTING.md
Due: none

Adds section about vue component referencing
  CONTRIBUTING.md
Due: none

Suggest npm run lint for both SDK and Wallet
  CONTRIBUTING.md
Due: none

Adds initial contributing guide
  CONTRIBUTING.md
  README.md
Due: none

Applies review changes to the README
  README.md
Due: none

Update README.md
  README.md
Due: none

Reworking TokenNetworks to a simpler token page
  raiden-wallet/src/components/TokenNetworks.vue
  raiden-wallet/src/components/Tokens.vue
  raiden-wallet/src/components/WalletCore.vue
  raiden-wallet/src/model/token.ts
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/src/store.ts
  raiden-wallet/tests/unit/components/tokens.spec.ts
  raiden-wallet/tests/unit/store.spec.ts
Due: wallet

Adds tests for token networks and plugins
  raiden-wallet/src/components/TokenNetworks.vue
  raiden-wallet/src/main.ts
  raiden-wallet/src/plugins/raiden.ts
  raiden-wallet/tests/unit/components/token-networks.spec.ts
  raiden-wallet/tests/unit/plugins.spec.ts
  raiden-wallet/tests/unit/raiden-service.spec.ts
Due: wallet

Adds initial token network list
  raiden-wallet/package-lock.json
  raiden-wallet/package.json
  raiden-wallet/src/components/ConfirmationDialog.vue
  raiden-wallet/src/components/TokenNetworks.vue
  raiden-wallet/src/components/WalletCore.vue
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/src/store.ts
  raiden-wallet/src/views/Home.vue
  raiden-wallet/tests/unit/components/confirmation-dialog.spec.ts
  raiden-wallet/tests/unit/components/token-networks.spec.ts
  raiden-wallet/tests/unit/data/mock-data.ts
  raiden-wallet/tests/unit/store.spec.ts
  raiden-wallet/tests/unit/utils/dialog.ts
  raiden-wallet/tests/unit/views/home.spec.ts
Due: wallet

Work on channel list and close integration
  raiden-wallet/package-lock.json
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/components/Tokens.vue
  raiden-wallet/src/components/dialogs/DepositDialog.vue
  raiden-wallet/src/filters.ts
  raiden-wallet/src/main.ts
  raiden-wallet/src/plugins/class-component.hooks.ts
  raiden-wallet/src/router.ts
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/src/store.ts
  raiden-wallet/src/views/Channels.vue
  raiden-wallet/tests/unit/filters.spec.ts
  raiden-wallet/tests/unit/store.spec.ts
Due: wallet

Adding tests and building leave functionality
  raiden-wallet/src/components/AmountInput.vue
  raiden-wallet/src/components/ChannelList.vue
  raiden-wallet/src/components/Deposit.vue
  raiden-wallet/src/components/ProgressOverlay.vue
  raiden-wallet/src/components/Tokens.vue
  raiden-wallet/src/components/dialogs/DepositDialog.vue
  raiden-wallet/src/model/types.ts
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/src/store.ts
  raiden-wallet/src/utils/balance-utils.ts
  raiden-wallet/src/views/Channels.vue
  raiden-wallet/src/views/Connect.vue
  raiden-wallet/src/views/SendTokens.vue
  raiden-wallet/tests/unit/components/channel-list.spec.ts
  raiden-wallet/tests/unit/components/dialogs/deposit-dialog.spec.ts
  raiden-wallet/tests/unit/components/tokens.spec.ts
  raiden-wallet/tests/unit/data/mock-data.ts
  raiden-wallet/tests/unit/raiden-service.spec.ts
  raiden-wallet/tests/unit/store.spec.ts
  raiden-wallet/tests/unit/utils/interaction-utils.ts
Due: wallet

Ignore coverage for some files
  raiden-wallet/src/main.ts
  raiden-wallet/src/plugins/vuetify.ts
  raiden-wallet/src/registerServiceWorker.ts
  raiden-wallet/src/router.ts
Due: wallet

Adds script for continous deployment
  .circleci/config.yml
  raiden-wallet/deploy.sh
Due: wallet

Adds public key and github to known hosts
  .circleci/config.yml
  raiden-wallet/deploy.sh
Due: wallet

Move the content of dist instead of the directory
  raiden-wallet/deploy.sh
Due: wallet

Redirect on 404
  raiden-wallet/public/404.html
  raiden-wallet/src/main.ts
Due: wallet

Make sure that CNAME is part of the files deployed
  raiden-wallet/deploy.sh
Due: wallet

Set target coverage and threshold
  codecov.yml
Due: none

Fixes redirect in 404
  raiden-wallet/public/404.html
Due: wallet

Change href to pathname on 404.html
  raiden-wallet/public/404.html
Due: wallet

Applies new background and header design
  raiden-wallet/src/App.vue
  raiden-wallet/src/components/WalletHeader.vue
Due: wallet

Add custom validation icon
  raiden-wallet/src/components/AmountInput.vue
  raiden-wallet/src/components/Deposit.vue
Due: wallet

Working on the open channel screen layout
  raiden-wallet/src/App.vue
  raiden-wallet/src/components/AmountInput.vue
  raiden-wallet/src/components/Deposit.vue
  raiden-wallet/src/main.scss
  raiden-wallet/tests/unit/components/amount-input.spec.ts
Due: wallet

Ignore branch coverage on AmountInput.vue
  raiden-wallet/src/components/AmountInput.vue
Due: wallet

Rename Send to SelectTarget and apply basic style changes
  raiden-wallet/src/components/Deposit.vue
  raiden-wallet/src/router.ts
  raiden-wallet/src/scss/input-screen.scss
  raiden-wallet/src/views/SelectTarget.vue
  raiden-wallet/tests/unit/views/select-target.spec.ts
Due: wallet

Hides steps and avoids deposit call if amount is zero
  raiden-wallet/src/components/Deposit.vue
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/tests/unit/components/deposit.spec.ts
  raiden-wallet/tests/unit/raiden-service.spec.ts
Due: wallet

Adds media queries to better adjust on mobile screens.
  raiden-wallet/src/App.vue
  raiden-wallet/src/components/AmountInput.vue
  raiden-wallet/src/components/Deposit.vue
  raiden-wallet/src/components/ProgressOverlay.vue
  raiden-wallet/src/components/WalletHeader.vue
  raiden-wallet/src/main.scss
  raiden-wallet/src/scss/input-screen.scss
Due: wallet

Inverts color for the logo on loading screen
  raiden-wallet/src/components/Loading.vue
Due: wallet

Add initial progress action progress implementation
  raiden-wallet/src/App.vue
  raiden-wallet/src/components/Deposit.vue
  raiden-wallet/src/components/ProgressOverlay.vue
  raiden-wallet/src/components/Tokens.vue
  raiden-wallet/src/main.scss
  raiden-wallet/src/model/types.ts
  raiden-wallet/src/services/raiden-service.ts
  raiden-wallet/tests/unit/components/deposit.spec.ts
  raiden-wallet/tests/unit/components/tokens.spec.ts
  raiden-wallet/tests/unit/raiden-service.spec.ts
Due: wallet
