Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

cli,dApp: Change optional operators
  raiden-cli/src/utils/channels.ts
  raiden-dapp/src/components/navigation/Channels.vue
Due: dapp

sdk: Add changelog for interface changes
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: Refactor raiden.spec.ts to new mocks
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/fixtures.ts
Due: sdk, sdk_integration

sdk: Fix initialState overrides and tokenMonitored reducer
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/state.ts
Due: sdk, sdk_integration

sdk: Add tests for msMonitorNewBPEpic
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

sdk: Add changelog for MS monitoring
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: Add msMonitorNewBPEpic and emit msBalanceProofSent event
  raiden-ts/src/actions.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 4ddff033967c578a65dbe2e998973d63d7c3b30c [skip ci]
  staging/index.html
  staging/js/app.65662cd1.js
  staging/js/app.666b304d.js
  staging/js/chunk-08dab35b.28eeb9f0.js
  staging/js/chunk-08dab35b.d10a951a.js
  staging/js/chunk-0a1aad5a.0610aef2.js
  staging/js/chunk-0a1aad5a.381d83ac.js
  staging/js/chunk-192741ba.568192aa.js
  staging/js/chunk-192741ba.d404f151.js
  staging/js/chunk-1c4c3756.1fc1d237.js
  staging/js/chunk-1c4c3756.4abb48bb.js
  staging/js/chunk-29ded97f.0330a08c.js
  staging/js/chunk-29ded97f.035b72a3.js
  staging/js/chunk-2fc925ad.c87ae4a9.js
  staging/js/chunk-2fc925ad.f4c8e700.js
  staging/js/chunk-4d730eb5.a67f3946.js
  staging/js/chunk-4d730eb5.fb1e78bb.js
  staging/js/chunk-4dbd0956.523f8f8e.js
  staging/js/chunk-4dbd0956.acd5818c.js
  staging/js/chunk-5bd868d6.4bd12db8.js
  staging/js/chunk-5bd868d6.f2e84e34.js
  staging/js/chunk-7916f8ca.a989cfc6.js
  staging/js/chunk-7916f8ca.b429b49a.js
  staging/js/chunk-7b0391a4.3a8e1a1b.js
  staging/js/chunk-7b0391a4.5de96e0c.js
  staging/js/chunk-e8fa3e66.043f0cc6.js
  staging/js/chunk-e8fa3e66.2d924943.js
  staging/js/chunk-f60d6c70.8790c373.js
  staging/js/chunk-f60d6c70.c02b90bc.js
  staging/precache-manifest.124f82c024fa5a73b0a026fe0f48ab39.js
  staging/service-worker.js
Due: none

dependencies: Update Node.js to v12.18.1
  raiden-dapp/.nvmrc
  raiden-ts/.nvmrc
Due: dapp, sdk, sdk_integration

dependencies: Update dependency @types/morgan to v1.9.1
  raiden-cli/package-lock.json
  raiden-cli/package.json
Due: none

dependencies: Update dependency eslint-plugin-jsdoc to v27.1.1
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency fp-ts to v2.6.6
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 4d31057793c57ecddb5aafa838f48ed268853431 [skip ci]
  staging/index.html
  staging/js/app.0cb8b746.js
  staging/js/app.65662cd1.js
  staging/js/chunk-08dab35b.28eeb9f0.js
  staging/js/chunk-08dab35b.d10a951a.js
  staging/js/chunk-0a1aad5a.0610aef2.js
  staging/js/chunk-0a1aad5a.381d83ac.js
  staging/js/chunk-192741ba.568192aa.js
  staging/js/chunk-192741ba.d404f151.js
  staging/js/chunk-1c4c3756.1fc1d237.js
  staging/js/chunk-1c4c3756.4abb48bb.js
  staging/js/chunk-29ded97f.0330a08c.js
  staging/js/chunk-29ded97f.035b72a3.js
  staging/js/chunk-2fc925ad.c87ae4a9.js
  staging/js/chunk-2fc925ad.f4c8e700.js
  staging/js/chunk-4d730eb5.a67f3946.js
  staging/js/chunk-4d730eb5.fb1e78bb.js
  staging/js/chunk-4dbd0956.523f8f8e.js
  staging/js/chunk-4dbd0956.acd5818c.js
  staging/js/chunk-5bd868d6.4bd12db8.js
  staging/js/chunk-5bd868d6.f2e84e34.js
  staging/js/chunk-7916f8ca.a989cfc6.js
  staging/js/chunk-7916f8ca.b429b49a.js
  staging/js/chunk-7b0391a4.3a8e1a1b.js
  staging/js/chunk-7b0391a4.5de96e0c.js
  staging/js/chunk-e8fa3e66.043f0cc6.js
  staging/js/chunk-e8fa3e66.2d924943.js
  staging/js/chunk-f60d6c70.8790c373.js
  staging/js/chunk-f60d6c70.c02b90bc.js
  staging/precache-manifest.900bcd751678b10365302adaf1180c68.js
  staging/service-worker.js
Due: none

dependencies: Update dependency eslint-plugin-prettier to v3.1.4
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 868e76ad72d01ef4338b742f0d3c77baa2878b40 [skip ci]
  staging/index.html
  staging/js/app.0cb8b746.js
  staging/js/app.d5a7eb36.js
  staging/js/chunk-08dab35b.8017ff20.js
  staging/js/chunk-0a1aad5a.8be1de35.js
  staging/js/chunk-0a9c6d1a.fcbca93b.js
  staging/js/chunk-12baf7f0.1f7ece93.js
  staging/js/chunk-192741ba.797628c2.js
  staging/js/chunk-1c4c3756.0dfcea9a.js
  staging/js/chunk-29ded97f.e6974fe1.js
  staging/js/chunk-2fc925ad.062b377a.js
  staging/js/chunk-42bc8b47.0689088a.js
  staging/js/chunk-4d730eb5.8a2183b7.js
  staging/js/chunk-4dbd0956.62f5cabf.js
  staging/js/chunk-5bd868d6.8fb9a341.js
  staging/js/chunk-7916f8ca.0d613793.js
  staging/js/chunk-7b0391a4.7c119946.js
  staging/js/chunk-e8fa3e66.69834495.js
  staging/js/chunk-f60d6c70.ce625c81.js
  staging/precache-manifest.0cebed0d990c9343e8a287ab97db4aa6.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: e747133071bd1ae34d490a406d45899995e67615 [skip ci]
  staging/index.html
  staging/js/app.76f95aee.js
  staging/js/app.d5a7eb36.js
  staging/js/chunk-08dab35b.3f43a1c7.js
  staging/js/chunk-08dab35b.8017ff20.js
  staging/js/chunk-0a1aad5a.8be1de35.js
  staging/js/chunk-0a1aad5a.d2378246.js
  staging/js/chunk-12baf7f0.1f7ece93.js
  staging/js/chunk-12baf7f0.8eb066fc.js
  staging/js/chunk-192741ba.797628c2.js
  staging/js/chunk-192741ba.f70adb27.js
  staging/js/chunk-1c4c3756.0dfcea9a.js
  staging/js/chunk-1c4c3756.f0658f0d.js
  staging/js/chunk-29ded97f.0f232d90.js
  staging/js/chunk-29ded97f.e6974fe1.js
  staging/js/chunk-42bc8b47.0689088a.js
  staging/js/chunk-42bc8b47.e95de7d0.js
  staging/js/chunk-4d730eb5.8a2183b7.js
  staging/js/chunk-4d730eb5.feffdd46.js
  staging/js/chunk-4dbd0956.0d18fa5b.js
  staging/js/chunk-4dbd0956.62f5cabf.js
  staging/js/chunk-5bd868d6.0445ef4d.js
  staging/js/chunk-5bd868d6.8fb9a341.js
  staging/js/chunk-7916f8ca.0d613793.js
  staging/js/chunk-7916f8ca.914e01f7.js
  staging/js/chunk-7b0391a4.7c119946.js
  staging/js/chunk-7b0391a4.a21f7869.js
  staging/js/chunk-e8fa3e66.4313027e.js
  staging/js/chunk-e8fa3e66.69834495.js
  staging/js/chunk-f60d6c70.3cadbf0f.js
  staging/js/chunk-f60d6c70.ce625c81.js
  staging/precache-manifest.f4444646031ba4dbb8290a70175bdfc8.js
  staging/service-worker.js
Due: none

dependencies: Update dependency inquirer to v7.2.0
  raiden-cli/package-lock.json
  raiden-cli/package.json
Due: none

dependencies: Update dependency io-ts to v2.2.6
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency matrix-js-sdk to v6.2.2
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

dependencies: Update dependency stylelint to v13.6.1
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency vue-property-decorator to v8.5.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Automated deployment to GitHub Pages: d5f714ff0b2c0d23094d177ba289cdf037f9218a [skip ci]
  staging/index.html
  staging/js/app.76f95aee.js
  staging/js/app.f54d89e2.js
  staging/js/chunk-08dab35b.2383d189.js
  staging/js/chunk-08dab35b.3f43a1c7.js
  staging/js/chunk-0a1aad5a.3b75fea5.js
  staging/js/chunk-0a1aad5a.d2378246.js
  staging/js/chunk-0a9c6d1a.b69c918f.js
  staging/js/chunk-12baf7f0.8eb066fc.js
  staging/js/chunk-12baf7f0.cfe14662.js
  staging/js/chunk-192741ba.28a9eec8.js
  staging/js/chunk-192741ba.f70adb27.js
  staging/js/chunk-1c4c3756.2fcfcb6b.js
  staging/js/chunk-1c4c3756.f0658f0d.js
  staging/js/chunk-29ded97f.0f232d90.js
  staging/js/chunk-29ded97f.ba7c4ab7.js
  staging/js/chunk-2fc925ad.c12aad8e.js
  staging/js/chunk-42bc8b47.9f92cc2b.js
  staging/js/chunk-42bc8b47.e95de7d0.js
  staging/js/chunk-4d730eb5.bb69431b.js
  staging/js/chunk-4d730eb5.feffdd46.js
  staging/js/chunk-4dbd0956.0d18fa5b.js
  staging/js/chunk-4dbd0956.92f59201.js
  staging/js/chunk-5bd868d6.0445ef4d.js
  staging/js/chunk-5bd868d6.e27844e1.js
  staging/js/chunk-7916f8ca.914e01f7.js
  staging/js/chunk-7916f8ca.e8e52f06.js
  staging/js/chunk-7b0391a4.467d7957.js
  staging/js/chunk-7b0391a4.a21f7869.js
  staging/js/chunk-e8fa3e66.4313027e.js
  staging/js/chunk-e8fa3e66.aff5292a.js
  staging/js/chunk-f60d6c70.3cadbf0f.js
  staging/js/chunk-f60d6c70.59b4d0b9.js
  staging/precache-manifest.b267246a1ec8eecb90d5f7c492ebb5c9.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 6865bfe70e57c9131365a8c03310bade6ea60f7b [skip ci]
  staging/index.html
  staging/js/app.7403189b.js
  staging/js/app.f54d89e2.js
  staging/js/chunk-08dab35b.6b98c154.js
  staging/js/chunk-0a1aad5a.d2912c93.js
  staging/js/chunk-0a9c6d1a.73b51ed6.js
  staging/js/chunk-12baf7f0.aa2e335f.js
  staging/js/chunk-192741ba.ca8ffb61.js
  staging/js/chunk-1c4c3756.f3d04732.js
  staging/js/chunk-29ded97f.f7c7fbdd.js
  staging/js/chunk-2fc925ad.095d3daa.js
  staging/js/chunk-42bc8b47.f4b88e92.js
  staging/js/chunk-4d730eb5.1fa7a3a9.js
  staging/js/chunk-4dbd0956.df132ef9.js
  staging/js/chunk-5bd868d6.fe21d3ef.js
  staging/js/chunk-7916f8ca.dcdb1f0e.js
  staging/js/chunk-7b0391a4.44ea7a3b.js
  staging/js/chunk-e8fa3e66.0948eb08.js
  staging/js/chunk-f60d6c70.5507bf37.js
  staging/precache-manifest.00f6afdd8d552d01a878219e0c9dd3d9.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 12512c4c380b65e2823e7c18cdfb6a32962f6b0a [skip ci]
  staging/index.html
  staging/js/app.7403189b.js
  staging/js/app.f54d89e2.js
  staging/js/chunk-08dab35b.2383d189.js
  staging/js/chunk-0a1aad5a.3b75fea5.js
  staging/js/chunk-0a9c6d1a.b69c918f.js
  staging/js/chunk-12baf7f0.cfe14662.js
  staging/js/chunk-192741ba.28a9eec8.js
  staging/js/chunk-1c4c3756.2fcfcb6b.js
  staging/js/chunk-29ded97f.ba7c4ab7.js
  staging/js/chunk-2fc925ad.c12aad8e.js
  staging/js/chunk-42bc8b47.9f92cc2b.js
  staging/js/chunk-4d730eb5.bb69431b.js
  staging/js/chunk-4dbd0956.92f59201.js
  staging/js/chunk-5bd868d6.e27844e1.js
  staging/js/chunk-7916f8ca.e8e52f06.js
  staging/js/chunk-7b0391a4.467d7957.js
  staging/js/chunk-e8fa3e66.aff5292a.js
  staging/js/chunk-f60d6c70.59b4d0b9.js
  staging/precache-manifest.b267246a1ec8eecb90d5f7c492ebb5c9.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: f9d56563a28afa2865991805c5abb31539f4ab1f [skip ci]
  staging/index.html
  staging/js/app.cdb82b39.js
  staging/js/app.f54d89e2.js
  staging/js/chunk-08dab35b.301ff0c9.js
  staging/js/chunk-0a1aad5a.8259be8b.js
  staging/js/chunk-0a9c6d1a.9f3e0e95.js
  staging/js/chunk-12baf7f0.2137ab81.js
  staging/js/chunk-192741ba.34d7584a.js
  staging/js/chunk-1c4c3756.1835ef0a.js
  staging/js/chunk-29ded97f.22298985.js
  staging/js/chunk-2fc925ad.1039c232.js
  staging/js/chunk-42bc8b47.3fe4b863.js
  staging/js/chunk-4d730eb5.0a947591.js
  staging/js/chunk-4dbd0956.b10fbb24.js
  staging/js/chunk-5bd868d6.fd817836.js
  staging/js/chunk-7916f8ca.512e9f4a.js
  staging/js/chunk-7b0391a4.335357d5.js
  staging/js/chunk-e8fa3e66.82aea022.js
  staging/js/chunk-f60d6c70.056c080b.js
  staging/js/chunk-vendors.bbeb0264.js
  staging/precache-manifest.553b8fe604b641de70f0bbf62df87577.js
  staging/service-worker.js
Due: none

Adds CLI to the CircleCI configuration
  .circleci/config.yml
  raiden-cli/src/global.d.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/utils/channels.ts
Due: none

Disable vue cli parallelism when running on CI
  raiden-dapp/vue.config.js
Due: dapp

dependencies: Update dependency eslint-plugin-jsdoc to v27.1.2
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency vuepress to v1.5.2
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk, sdk_integration

cli: adjust README to recent changes
  raiden-cli/README.md
Due: none

Adds CLI to the CircleCI configuration (#1733)
  .circleci/config.yml
  raiden-cli/src/global.d.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/utils/channels.ts
  raiden-dapp/vue.config.js
Due: dapp

dependencies: Update dependency vuetify to v2.3.1
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Automated deployment to GitHub Pages: e7e4b42466b99a6fcf97e48b84e1f4f827d09d8e [skip ci]
  staging/index.html
  staging/js/app.20a83729.js
  staging/js/app.cdb82b39.js
  staging/js/chunk-08dab35b.b93ccd1f.js
  staging/js/chunk-0a1aad5a.25a66ac0.js
  staging/js/chunk-0a9c6d1a.155304f7.js
  staging/js/chunk-12baf7f0.1cf7aa97.js
  staging/js/chunk-192741ba.310c6b05.js
  staging/js/chunk-1c4c3756.276b8cca.js
  staging/js/chunk-29ded97f.26eafd23.js
  staging/js/chunk-2fc925ad.ce13d270.js
  staging/js/chunk-42bc8b47.f877a1d4.js
  staging/js/chunk-4d730eb5.b3769107.js
  staging/js/chunk-4dbd0956.b769519a.js
  staging/js/chunk-5bd868d6.9a998ed2.js
  staging/js/chunk-7916f8ca.e4707191.js
  staging/js/chunk-7b0391a4.ebb05628.js
  staging/js/chunk-e8fa3e66.2e976aba.js
  staging/js/chunk-f60d6c70.14e5ab96.js
  staging/js/chunk-vendors.3102245e.js
  staging/precache-manifest.6221c9ba0a6d4808b9bfdbfed35a23d8.js
  staging/service-worker.js
Due: none

dependencies: Update dependency ethers to v5
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update dependency vuetify-loader to v1.5.0
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Serializes nested objects
  raiden-dapp/src/utils/logstore.ts
Due: dapp

dependencies: Update vue monorepo
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp
