Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

next: sdk: add tests for service messages toDevice
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

next: sdk: remove global rooms and helpers
  raiden-ts/src/config.ts
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/rooms.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

next: sdk: also send global messages to config.additionalServices
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

e2e: Add RAIDEN_SYNAPSE_MODULES
  e2e-environment/Dockerfile
  e2e-environment/geth/deploy.sh
  e2e-environment/setup/setup_channels.sh
  e2e-environment/supervisord.conf
Due: none

next: sdk: fetch presence from PFS
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

e2e: Update service contract deployment calls
  e2e-environment/geth/deploy_contracts.py
Due: none

e2e: Remove empty lines
  e2e-environment/geth/deploy.sh
Due: none

e2e: Write SERVICE_REGISTRY into contracts file
  e2e-environment/geth/deploy_contracts.py
Due: none

e2e: Remove room ensurer
  e2e-environment/setup/room_ensurer.py
  e2e-environment/setup/setup_channels.sh
Due: none

e2e: Lower python nodes query interval
  e2e-environment/raiden/node1.toml
  e2e-environment/raiden/node2.toml
Due: none

next: sdk: introduce optional address_metadata in messages
  raiden-ts/src/messages/types.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

e2e: Register PFS account in SR
  e2e-environment/setup/setup_channels.sh
Due: none

e2e: Add PFS account to genesis
  e2e-environment/geth/genesis.py
Due: none

e2e: Update synapse cofig
  e2e-environment/synapse/exec/render_config_template.py
  e2e-environment/synapse/synapse.template.yaml
Due: none

e2e: Update README
  e2e-environment/README.md
Due: none

e2e: Set receiving cap
  raiden-ts/tests/e2e/e2e.spec.ts
Due: sdk, sdk_integration

e2e: Update geth
  e2e-environment/Dockerfile
  e2e-environment/geth/deploy.sh
  e2e-environment/setup/setup_channels.sh
  e2e-environment/supervisord.conf
Due: none

e2e: Update versions in e2e image
  e2e-environment/Dockerfile
Due: none

e2e: Update to updated image
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
  e2e-environment/deployment_information/version
  e2e-environment/shared-script.sh
Due: none

next: sdk: introduce Via partial & validateAddressMetadata util
  raiden-ts/src/messages/actions.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/types.ts
Due: sdk, sdk_integration

e2e: Describe image update procedure in README
  e2e-environment/README.md
Due: none

next: sdk: clean paths coming from dApp
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

next: sdk: workaround PC's signature/serialization asymmetry
  raiden-ts/src/messages/types.ts
Due: sdk, sdk_integration

next: sdk: revert passing route unchanged, clean it
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/transfers/mediate/epics.ts
Due: sdk, sdk_integration

e2e: Update raiden & synapse
  e2e-environment/Dockerfile
Due: none

next: sdk: use canonical json for metadata encoding
  raiden-ts/package.json
  raiden-ts/src/messages/utils.ts
  raiden-ts/tests/unit/messages/LockedTransfer.json
  yarn.lock
Due: sdk, sdk_integration

e2e: Update to latest image
  .circleci/config.yml
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
  e2e-environment/deployment_information/version
  e2e-environment/shared-script.sh
Due: none

next: sdk: send our address_metadata for direct transfers
  raiden-ts/src/services/epics/helpers.ts
Due: sdk, sdk_integration

next: sdk: receive address_metadata and use it for transfer.request
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/mediate/epics.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

next: sdk: fix tests
  raiden-ts/tests/integration/fixtures.ts
  raiden-ts/tests/integration/mediate.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/patches.ts
  raiden-ts/tests/integration/path.spec.ts
  raiden-ts/tests/integration/receive.spec.ts
  raiden-ts/tests/integration/send.spec.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

next: sdk: optimization: send messages via userId
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/processed.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/utils.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

Revert "dapp: Use demo env on staging temporarily"
  raiden-dapp/.env.staging
Due: dapp

next: sdk: add changelog entries
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

deps: Lock file maintenance typescript
  .github/actions/changelog-reminder/package-lock.json
  package.json
  raiden-cli/package.json
  raiden-dapp/Gemfile.lock
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

next: sdk: send service messages through toDevice
  raiden-ts/src/transport/epics/messages.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
