Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

Fix `approveIfNeeded$`
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

Retry contract calls when network problems occur
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
Due: sdk, sdk_integration

Fix /services module
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

Move `networkErrorRetryPredicate` to utils/error
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/utils/error.ts
Due: sdk, sdk_integration

Fix `assertTx`
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

Don't use `retryAsync$` when followed by `retryTx`
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/unit/error.spec.ts
Due: sdk, sdk_integration

Add changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 447a642baadd42b9503288f707d6cf584971a1bd [skip ci]
  staging/js/app.js
Due: none

e2e: Update geth to 1.9.23
  e2e-environment/Dockerfile
Due: none

e2e: Simplify `pnpm` installation
  e2e-environment/Dockerfile
Due: none

e2e: Update synapse
  e2e-environment/Dockerfile
  e2e-environment/synapse/auth/admin_user_auth_provider.py
  e2e-environment/synapse/auth/eth_auth_provider.py
Due: none

e2e: Update services
  e2e-environment/Dockerfile
Due: none

dependencies: Update all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update all non-major dependencies
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Adding custom cypress attributes so that classes can keep changing
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/NoTokens.vue
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/components/dialogs/ChannelWithdrawDialog.vue
  raiden-dapp/src/components/dialogs/ConnectDialog.vue
  raiden-dapp/src/components/dialogs/MintDialog.vue
  raiden-dapp/src/components/dialogs/OpenChannelDialog.vue
  raiden-dapp/src/components/dialogs/UdcDepositDialog.vue
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/components/overlays/TokenOverlay.vue
  raiden-dapp/src/components/tokens/TokenList.vue
  raiden-dapp/src/components/tokens/TokenListItem.vue
  raiden-dapp/src/components/transfer/TransferHeaders.vue
  raiden-dapp/src/components/transfer/TransferInputs.vue
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/src/views/DisclaimerRoute.vue
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/NotificationPanel.vue
  raiden-dapp/src/views/OpenChannelRoute.vue
  raiden-dapp/src/views/SelectHubRoute.vue
  raiden-dapp/src/views/TransferStepsRoute.vue
  raiden-dapp/src/views/account/AccountRoot.vue
  raiden-dapp/src/views/account/BackupState.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/e2e/specs/accept-disclaimer.spec.ts
  raiden-dapp/tests/e2e/utils/blockchain-interaction.ts
  raiden-dapp/tests/e2e/utils/navigation.ts
  raiden-dapp/tests/e2e/utils/user-interaction.ts
Due: dapp

Adding changelog info
  raiden-dapp/CHANGELOG.md
Due: dapp

Correct linting errors
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/components/dialogs/ChannelWithdrawDialog.vue
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/components/transfer/TransferHeaders.vue
  raiden-dapp/src/views/DisclaimerRoute.vue
  raiden-dapp/src/views/NotificationPanel.vue
  raiden-dapp/src/views/SelectHubRoute.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/e2e/specs/accept-disclaimer.spec.ts
  raiden-dapp/tests/e2e/utils/blockchain-interaction.ts
  raiden-dapp/tests/e2e/utils/navigation.ts
  raiden-dapp/tests/e2e/utils/user-interaction.ts
Due: dapp

dependencies: Update dependency ethers to v5
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

sdk: upgrade typechain to ethers-v5 and add its projects dependencies
  raiden-ts/package.json
Due: sdk, sdk_integration

sdk: adapt imports to ethers v5
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/types.ts
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/db/types.ts
  raiden-ts/src/db/utils.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/mediate.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/types.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

sdk: adapt channels & utils tests
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

sdk: adapt default blockNumber getter returning -1 instead of undefined
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration
