Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: b9eb556dfebaac984def6bfcde5bac14c5959b57 [skip ci]
  staging/css/chunk-217a8cc3.1c4eb2b4.css
  staging/css/chunk-5aa157c6.796be383.css
  staging/index.html
  staging/js/app.0c1055ab.js
  staging/js/app.acccfe28.js
  staging/js/chunk-217a8cc3.b9e66ad7.js
  staging/js/chunk-5aa157c6.c4014840.js
  staging/precache-manifest.eff901b7402043d55cac28ad32b97c4c.js
  staging/service-worker.js
Due: none

Fix mainnet network name
  raiden-ts/CHANGELOG.md
  raiden-ts/src/utils/ethers.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

Transaction list fixes
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
Due: dapp

Fix lint error
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

Transaction list fixes (#1550)
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
Due: dapp

Automated deployment to GitHub Pages: 6258e1e2740d5e46d00823c449bc06a5949d985d [skip ci]
  staging/index.html
  staging/js/app.acccfe28.js
  staging/js/app.be57f671.js
  staging/precache-manifest.ea3a15d8e1e0c8330a9a1cc4ff1e33a4.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: b5dd88a3261be6636c62f0c4174ae74aec8048bf [skip ci]
  staging/css/chunk-08dab35b.78af775a.css
  staging/css/chunk-0d08a80c.76fab812.css
  staging/css/chunk-3db3614f.007fc6b7.css
  staging/css/chunk-508c3623.972f7492.css
  staging/index.html
  staging/js/app.be57f671.js
  staging/js/app.e89f6f4c.js
  staging/js/chunk-08dab35b.0c7275d2.js
  staging/js/chunk-0d08a80c.6ae59df7.js
  staging/js/chunk-3db3614f.9756e7a3.js
  staging/js/chunk-45939c11.327eed28.js
  staging/js/chunk-45939c11.af178217.js
  staging/js/chunk-4d730eb5.301eb592.js
  staging/js/chunk-4d730eb5.7ed45846.js
  staging/js/chunk-508c3623.e12a48ca.js
  staging/js/chunk-5aa157c6.c4014840.js
  staging/js/chunk-5aa157c6.dbcee5d0.js
  staging/js/chunk-67b172b3.109a0f8f.js
  staging/js/chunk-67b172b3.7b0ea57e.js
  staging/js/chunk-6a8b17ac.08326e0f.js
  staging/js/chunk-6a8b17ac.6946063c.js
  staging/js/chunk-7916f8ca.4d8c59db.js
  staging/js/chunk-7916f8ca.e12b621d.js
  staging/js/chunk-795f4e24.88914fee.js
  staging/js/chunk-795f4e24.c74327ea.js
  staging/js/chunk-9596d7b8.23b9c7c6.js
  staging/js/chunk-9596d7b8.d468f97d.js
  staging/js/chunk-d2121fc2.2a1218de.js
  staging/js/chunk-d2121fc2.a0088163.js
  staging/precache-manifest.23f91ea847c27aa5e94750db33f3bebc.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 47e07b3a2900a8021189e2f0679e69041e1e945e [skip ci]
  staging/index.html
  staging/js/app.cd72a072.js
  staging/js/app.e89f6f4c.js
  staging/js/chunk-08dab35b.0c7275d2.js
  staging/js/chunk-08dab35b.d9c63f95.js
  staging/js/chunk-45939c11.327eed28.js
  staging/js/chunk-45939c11.af178217.js
  staging/js/chunk-4d730eb5.301eb592.js
  staging/js/chunk-4d730eb5.7ed45846.js
  staging/js/chunk-508c3623.4d68108b.js
  staging/js/chunk-508c3623.e12a48ca.js
  staging/js/chunk-5aa157c6.c4014840.js
  staging/js/chunk-5aa157c6.dbcee5d0.js
  staging/js/chunk-67b172b3.109a0f8f.js
  staging/js/chunk-67b172b3.7b0ea57e.js
  staging/js/chunk-6a8b17ac.08326e0f.js
  staging/js/chunk-6a8b17ac.6946063c.js
  staging/js/chunk-7916f8ca.4d8c59db.js
  staging/js/chunk-7916f8ca.e12b621d.js
  staging/js/chunk-795f4e24.88914fee.js
  staging/js/chunk-795f4e24.c74327ea.js
  staging/js/chunk-9596d7b8.23b9c7c6.js
  staging/js/chunk-9596d7b8.d468f97d.js
  staging/js/chunk-d2121fc2.2a1218de.js
  staging/js/chunk-d2121fc2.a0088163.js
  staging/js/chunk-vendors.2aebea44.js
  staging/js/chunk-vendors.bf99f5f0.js
  staging/precache-manifest.507e04f82c7b6b551d54737250b70e2e.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 7254b41e741567fd3e7a5301b6815cf14ff77602 [skip ci]
  staging/index.html
  staging/js/chunk-vendors.4d281708.js
  staging/js/chunk-vendors.bf99f5f0.js
  staging/precache-manifest.cd9f000d637fa2c884439d553d1fc08c.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: b4dd33e9d2df59dacb6a23e1163265502f478d7e [skip ci]
  staging/index.html
  staging/js/app.471eeaeb.js
  staging/js/app.cd72a072.js
  staging/js/chunk-08dab35b.fb8eab2b.js
  staging/js/chunk-25fdc0d3.5d0066bf.js
  staging/js/chunk-42bc8b47.764c7dd1.js
  staging/js/chunk-45939c11.077e75a6.js
  staging/js/chunk-4d730eb5.d4021c78.js
  staging/js/chunk-508c3623.cee5affc.js
  staging/js/chunk-5aa157c6.07fa571a.js
  staging/js/chunk-67b172b3.cae4fa75.js
  staging/js/chunk-6a8b17ac.b0cdfe50.js
  staging/js/chunk-7916f8ca.0f7880af.js
  staging/js/chunk-795f4e24.8d994214.js
  staging/js/chunk-7c07f9a4.648afda6.js
  staging/js/chunk-9596d7b8.83d18b7e.js
  staging/js/chunk-d2121fc2.a5868fb9.js
  staging/precache-manifest.9959f1ebdfe265a23f826d7ca36c7dcd.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 77e720386a46f2a2b55f737e3b5d9a77dd6f396a [skip ci]
  staging/index.html
  staging/js/app.471eeaeb.js
  staging/js/app.d871d75f.js
  staging/js/chunk-08dab35b.9c63894a.js
  staging/js/chunk-25fdc0d3.513d00b6.js
  staging/js/chunk-42bc8b47.8bf502f7.js
  staging/js/chunk-45939c11.13bf220c.js
  staging/js/chunk-4d730eb5.c88ec895.js
  staging/js/chunk-508c3623.db1dc905.js
  staging/js/chunk-5aa157c6.9059cab5.js
  staging/js/chunk-67b172b3.2dfc7dfa.js
  staging/js/chunk-6a8b17ac.6c0fcef6.js
  staging/js/chunk-7916f8ca.89b4273c.js
  staging/js/chunk-795f4e24.edc1ff66.js
  staging/js/chunk-7c07f9a4.05bf1def.js
  staging/js/chunk-9596d7b8.7910e8b2.js
  staging/js/chunk-d2121fc2.eb9cbe66.js
  staging/precache-manifest.3686bf285790b0940105d282bbbd418d.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 638564a2b2f95bddbf41cf55096ccbed0e4e3a1c [skip ci]
  staging/index.html
  staging/js/app.292a6cf3.js
  staging/js/app.d871d75f.js
  staging/js/chunk-08dab35b.019dbc52.js
  staging/js/chunk-25fdc0d3.5aee6590.js
  staging/js/chunk-42bc8b47.fab9acff.js
  staging/js/chunk-45939c11.ff05fcab.js
  staging/js/chunk-4d730eb5.df8158ba.js
  staging/js/chunk-508c3623.763e6b6d.js
  staging/js/chunk-5aa157c6.20f6b575.js
  staging/js/chunk-67b172b3.42818b75.js
  staging/js/chunk-6a8b17ac.36267486.js
  staging/js/chunk-7916f8ca.24c107a1.js
  staging/js/chunk-795f4e24.71d89fa0.js
  staging/js/chunk-7c07f9a4.90467429.js
  staging/js/chunk-9596d7b8.2c7b7de5.js
  staging/js/chunk-d2121fc2.0745ce53.js
  staging/precache-manifest.18c2f4ce16426a9b800805eca4b9338f.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 6ba8b2ed6fa63ed6bc015e27e387abcbab73e400 [skip ci]
  staging/css/chunk-895be7da.7f5fbf66.css
  staging/css/chunk-895be7da.c5984820.css
  staging/index.html
  staging/js/app.292a6cf3.js
  staging/js/app.aaaf3bfd.js
  staging/js/chunk-08dab35b.fe920b2d.js
  staging/js/chunk-25fdc0d3.0996eefb.js
  staging/js/chunk-42bc8b47.3d6ddf55.js
  staging/js/chunk-45939c11.a8f15ae9.js
  staging/js/chunk-4d730eb5.8ee02ffe.js
  staging/js/chunk-508c3623.d2ee23b7.js
  staging/js/chunk-5aa157c6.4890062f.js
  staging/js/chunk-67b172b3.6fa8a712.js
  staging/js/chunk-6a8b17ac.0cc523a6.js
  staging/js/chunk-7916f8ca.6e3d3834.js
  staging/js/chunk-795f4e24.f8f181d9.js
  staging/js/chunk-7c07f9a4.0581f45a.js
  staging/js/chunk-9596d7b8.2b0918dd.js
  staging/js/chunk-9596d7b8.2c7b7de5.js
  staging/js/chunk-d2121fc2.4687a6d7.js
  staging/js/chunk-vendors.4d281708.js
  staging/js/chunk-vendors.bb0b968b.js
  staging/precache-manifest.ef4d4ceb95f143dc3bd0df91226690a9.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 06fc1369f1ff88b6d6004d8c0831d8a46714ec5a [skip ci]
  staging/index.html
  staging/js/app.a8654581.js
  staging/js/app.aaaf3bfd.js
  staging/js/chunk-08dab35b.0187e4f3.js
  staging/js/chunk-25fdc0d3.1bde6291.js
  staging/js/chunk-42bc8b47.a651cb6e.js
  staging/js/chunk-45939c11.68fec074.js
  staging/js/chunk-4d730eb5.964275db.js
  staging/js/chunk-508c3623.8cb17361.js
  staging/js/chunk-5aa157c6.b3177a12.js
  staging/js/chunk-67b172b3.4324fad0.js
  staging/js/chunk-6a8b17ac.6185d8b7.js
  staging/js/chunk-7916f8ca.73ec5ce6.js
  staging/js/chunk-795f4e24.f57f5346.js
  staging/js/chunk-7c07f9a4.b8ac1b3b.js
  staging/js/chunk-9596d7b8.8c9ec38d.js
  staging/js/chunk-d2121fc2.649504f0.js
  staging/js/chunk-vendors.563e9520.js
  staging/precache-manifest.d683bda16b296b7805f1a37d0f5e2d95.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 46caf9790e0b4b1c0c195ffd2e5707d18f0b1711 [skip ci]
  staging/index.html
  staging/js/app.141ba75f.js
  staging/js/app.a8654581.js
  staging/js/chunk-08dab35b.4d036f76.js
  staging/js/chunk-25fdc0d3.7dbecff7.js
  staging/js/chunk-42bc8b47.3922b982.js
  staging/js/chunk-45939c11.78195732.js
  staging/js/chunk-4d730eb5.0f5c40d8.js
  staging/js/chunk-508c3623.11bd96e2.js
  staging/js/chunk-5aa157c6.5d055330.js
  staging/js/chunk-67b172b3.da1b32de.js
  staging/js/chunk-6a8b17ac.057ba20e.js
  staging/js/chunk-7916f8ca.bf585e85.js
  staging/js/chunk-795f4e24.4785a183.js
  staging/js/chunk-7c07f9a4.8105597b.js
  staging/js/chunk-9596d7b8.a72e4afc.js
  staging/js/chunk-d2121fc2.06d92e42.js
  staging/js/chunk-vendors.bb0b968b.js
  staging/precache-manifest.f14111de460db61f080b063327448283.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 09e35bc8946605fab139f4c82ebe09ed317c7444 [skip ci]
  staging/index.html
  staging/js/app.141ba75f.js
  staging/js/app.a8654581.js
  staging/js/chunk-08dab35b.0187e4f3.js
  staging/js/chunk-25fdc0d3.1bde6291.js
  staging/js/chunk-42bc8b47.a651cb6e.js
  staging/js/chunk-45939c11.68fec074.js
  staging/js/chunk-4d730eb5.964275db.js
  staging/js/chunk-508c3623.8cb17361.js
  staging/js/chunk-5aa157c6.b3177a12.js
  staging/js/chunk-67b172b3.4324fad0.js
  staging/js/chunk-6a8b17ac.6185d8b7.js
  staging/js/chunk-7916f8ca.73ec5ce6.js
  staging/js/chunk-795f4e24.f57f5346.js
  staging/js/chunk-7c07f9a4.b8ac1b3b.js
  staging/js/chunk-9596d7b8.8c9ec38d.js
  staging/js/chunk-d2121fc2.649504f0.js
  staging/js/chunk-vendors.563e9520.js
  staging/precache-manifest.d683bda16b296b7805f1a37d0f5e2d95.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 5a91b0c833289f8536bb97abd7673b9f68d20933 [skip ci]
  staging/index.html
  staging/js/app.a8654581.js
  staging/js/app.fb7e30e7.js
  staging/js/chunk-08dab35b.30442879.js
  staging/js/chunk-25fdc0d3.596b0199.js
  staging/js/chunk-42bc8b47.88c67396.js
  staging/js/chunk-45939c11.55cac108.js
  staging/js/chunk-4d730eb5.ca2d4932.js
  staging/js/chunk-508c3623.3b86a434.js
  staging/js/chunk-5aa157c6.28ee6ca2.js
  staging/js/chunk-67b172b3.e4716d65.js
  staging/js/chunk-6a8b17ac.f10716b7.js
  staging/js/chunk-7916f8ca.b385f446.js
  staging/js/chunk-795f4e24.4f23e8d3.js
  staging/js/chunk-7c07f9a4.37d3de91.js
  staging/js/chunk-9596d7b8.b7c44955.js
  staging/js/chunk-d2121fc2.a5ca29a2.js
  staging/js/chunk-vendors.563e9520.js
  staging/js/chunk-vendors.933ef979.js
  staging/precache-manifest.e48a56361d28097fdd0a288cfd6bb1fb.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: c9b8819f0abc16aab3dd4970aa59d5b3fe97b708 [skip ci]
  staging/index.html
  staging/js/app.91588dcf.js
  staging/js/app.fb7e30e7.js
  staging/js/chunk-08dab35b.f5151303.js
  staging/js/chunk-25fdc0d3.b80666c3.js
  staging/js/chunk-42bc8b47.afc637b6.js
  staging/js/chunk-45939c11.1b8b04a1.js
  staging/js/chunk-4d730eb5.cbb3666d.js
  staging/js/chunk-508c3623.9dccc572.js
  staging/js/chunk-5aa157c6.c7c40b08.js
  staging/js/chunk-67b172b3.263b60aa.js
  staging/js/chunk-6a8b17ac.aaf7852f.js
  staging/js/chunk-7916f8ca.2a1f20a3.js
  staging/js/chunk-795f4e24.567ba860.js
  staging/js/chunk-7c07f9a4.7ee81151.js
  staging/js/chunk-9596d7b8.a8e0845c.js
  staging/js/chunk-d2121fc2.01638c85.js
  staging/js/chunk-vendors.38583f37.js
  staging/precache-manifest.c04bef97c7bde7553c47e0c11eadc996.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: 85199c6330fb1936514c5e18d90b6d3d952a5e9c [skip ci]
  staging/index.html
  staging/js/app.2de599cc.js
  staging/js/app.91588dcf.js
  staging/js/chunk-08dab35b.02a4b39b.js
  staging/js/chunk-25fdc0d3.17e8cb95.js
  staging/js/chunk-42bc8b47.de39932f.js
  staging/js/chunk-45939c11.7a6796db.js
  staging/js/chunk-4d730eb5.b38a80b7.js
  staging/js/chunk-508c3623.c15d1a40.js
  staging/js/chunk-5aa157c6.b3abd20a.js
  staging/js/chunk-67b172b3.774df4f4.js
  staging/js/chunk-6a8b17ac.6f8ee711.js
  staging/js/chunk-7916f8ca.3acb3aa8.js
  staging/js/chunk-795f4e24.5748a3fe.js
  staging/js/chunk-7c07f9a4.5f6c117e.js
  staging/js/chunk-9596d7b8.3a66d8f9.js
  staging/js/chunk-d2121fc2.4db9c971.js
  staging/precache-manifest.7a2d6624d9c820332deb096e33efc311.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: e864522e31166ba2b8f1a754731bb57f9d38f45a [skip ci]
  staging/index.html
  staging/js/app.2de599cc.js
  staging/js/app.5451a6fc.js
  staging/js/chunk-08dab35b.867b270f.js
  staging/js/chunk-25fdc0d3.96a86221.js
  staging/js/chunk-42bc8b47.8cccf314.js
  staging/js/chunk-45939c11.6493f36f.js
  staging/js/chunk-4d730eb5.109b64f6.js
  staging/js/chunk-508c3623.2646f9b2.js
  staging/js/chunk-5aa157c6.086d6537.js
  staging/js/chunk-67b172b3.ec0a2417.js
  staging/js/chunk-6a8b17ac.16d65767.js
  staging/js/chunk-7916f8ca.f342a581.js
  staging/js/chunk-795f4e24.024b002e.js
  staging/js/chunk-7c07f9a4.1f5b3d12.js
  staging/js/chunk-9596d7b8.56b36e1e.js
  staging/js/chunk-d2121fc2.eccf6596.js
  staging/precache-manifest.71778a8d03c6a260f7209071fa9fdc3f.js
  staging/service-worker.js
Due: none

Show Receiving Disabled dialog when receiving is disabled by SDK
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/dialogs/ReceivingDisabledDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
Due: dapp

Move caps back to config$, with dynamic defaults
  raiden-ts/CHANGELOG.md
  raiden-ts/src/epics.ts
  raiden-ts/src/index.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/init.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/mediate.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/receive.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

dApp tests and changelog
  raiden-dapp/CHANGELOG.md
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 4058afe35c4257db90058248da94ec2ae7c10ee3 [skip ci]
  staging/index.html
  staging/js/app.3a2c2e84.js
  staging/js/app.5451a6fc.js
  staging/js/chunk-08dab35b.867b270f.js
  staging/js/chunk-08dab35b.fb875e8b.js
  staging/js/chunk-25fdc0d3.15f6484a.js
  staging/js/chunk-25fdc0d3.96a86221.js
  staging/js/chunk-42bc8b47.598eacd3.js
  staging/js/chunk-42bc8b47.8cccf314.js
  staging/js/chunk-45939c11.6493f36f.js
  staging/js/chunk-45939c11.c8dd05ed.js
  staging/js/chunk-4d730eb5.109b64f6.js
  staging/js/chunk-4d730eb5.da847ff2.js
  staging/js/chunk-508c3623.2646f9b2.js
  staging/js/chunk-508c3623.6bfb2fa2.js
  staging/js/chunk-5aa157c6.086d6537.js
  staging/js/chunk-5aa157c6.6c04537f.js
  staging/js/chunk-67b172b3.4371bc12.js
  staging/js/chunk-67b172b3.ec0a2417.js
  staging/js/chunk-6a8b17ac.16d65767.js
  staging/js/chunk-6a8b17ac.411c8865.js
  staging/js/chunk-7916f8ca.785791dd.js
  staging/js/chunk-7916f8ca.f342a581.js
  staging/js/chunk-795f4e24.024b002e.js
  staging/js/chunk-795f4e24.ba65375d.js
  staging/js/chunk-7c07f9a4.1f5b3d12.js
  staging/js/chunk-7c07f9a4.4b4a42d1.js
  staging/js/chunk-9596d7b8.56b36e1e.js
  staging/js/chunk-9596d7b8.e1d0c9d1.js
  staging/js/chunk-d2121fc2.eccf6596.js
  staging/js/chunk-d2121fc2.fa9b36c9.js
  staging/precache-manifest.502359862d274231f28e8e8e3f5f7394.js
  staging/service-worker.js
Due: none

ETH transfer screen redesign
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/assets/eth_transfer_arrow.svg
  raiden-dapp/src/assets/logo_blue.svg
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

Colors logo with CSS filter
  raiden-dapp/src/assets/logo_blue.svg
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

Automated deployment to GitHub Pages: d5758d9a49aa52c58393b7d7509bd4d9e0bd70e5 [skip ci]
  staging/css/app.0bfc42c8.css
  staging/css/app.2af8aaeb.css
  staging/css/chunk-091f4f74.3e5a8903.css
  staging/css/chunk-22bc6fac.796be383.css
  staging/css/chunk-320b3e6a.53c90c86.css
  staging/css/chunk-vendors.5444f807.css
  staging/css/chunk-vendors.988a932b.css
  staging/index.html
  staging/js/app.3a2c2e84.js
  staging/js/app.5df8565f.js
  staging/js/chunk-091f4f74.4a6659fe.js
  staging/js/chunk-22bc6fac.f5338f31.js
  staging/js/chunk-25fdc0d3.15f6484a.js
  staging/js/chunk-25fdc0d3.ac25ec93.js
  staging/js/chunk-320b3e6a.aa97a0e0.js
  staging/js/chunk-508c3623.4261dd80.js
  staging/js/chunk-508c3623.6bfb2fa2.js
  staging/js/chunk-5aa157c6.6c04537f.js
  staging/js/chunk-67b172b3.4371bc12.js
  staging/js/chunk-6a8b17ac.411c8865.js
  staging/js/chunk-6a8b17ac.78b5d758.js
  staging/js/chunk-795f4e24.ba65375d.js
  staging/precache-manifest.9f1751ce3a420c3c5fe550d5df96e132.js
  staging/service-worker.js
Due: none

ETH transfer screen redesign (#1573)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/assets/eth_transfer_arrow.svg
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

Automated deployment to GitHub Pages: 6007d27cbf40a8e46d948e8a93d5ec5ea912e034 [skip ci]
  staging/css/chunk-1a96c085.796be383.css
  staging/css/chunk-3dc42544.3a58c56d.css
  staging/css/chunk-4fa672eb.f9c61aaa.css
  staging/css/chunk-579e1ea3.976b6bb8.css
  staging/css/chunk-d2121fc2.f4e6a22c.css
  staging/img/eth_transfer_arrow.cdc92be6.svg
  staging/index.html
  staging/js/app.5df8565f.js
  staging/js/app.81b175b3.js
  staging/js/chunk-1a96c085.6e0866d5.js
  staging/js/chunk-22bc6fac.f5338f31.js
  staging/js/chunk-3dc42544.f94f00dd.js
  staging/js/chunk-4fa672eb.82c6d4a4.js
  staging/js/chunk-579e1ea3.4b810430.js
  staging/js/chunk-7c07f9a4.4b4a42d1.js
  staging/js/chunk-895be7da.e57cd428.js
  staging/js/chunk-d2121fc2.fa9b36c9.js
  staging/precache-manifest.fd7be309723398b0ad5b86fdcf3c7330.js
  staging/service-worker.js
Due: none

Adds truncation for the token name in Transfer.vue
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

Updates CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 443256ec1bf319539c1683a60345f8412c8c79ba [skip ci]
  staging/css/chunk-508c3623.972f7492.css
  staging/css/chunk-5bd868d6.36154c83.css
  staging/index.html
  staging/js/app.004a72e3.js
  staging/js/app.81b175b3.js
  staging/js/chunk-508c3623.4261dd80.js
  staging/js/chunk-5bd868d6.00593fe6.js
  staging/precache-manifest.b09bcd9631eb4118c8af5d7a6ee4bc96.js
  staging/service-worker.js
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
