Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: send toDevice messages to deviceId='*'
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

devops: make it hard to overwrite e2e Docker image
  e2e-environment/build-e2e-environment.sh
  e2e-environment/shared-script.sh
Due: none

devops: bump python client version for e2e image
  .circleci/config.yml
  e2e-environment/Dockerfile
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
Due: none

devops: add actual check for e2e deployment info
  e2e-environment/deployment_information/version
  e2e-environment/run-e2e-tests.sh
  e2e-environment/shared-script.sh
Due: none

devops: make use of e2e docker image version tag
  e2e-environment/build-e2e-environment.sh
  e2e-environment/run-e2e-tests.sh
  e2e-environment/shared-script.sh
Due: none

devops: remove deployment info extraction for test
  e2e-environment/run-e2e-tests.sh
Due: none

sdk: remove old integration tests
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/provider.ts
  raiden-ts/tests/integration/raiden.spec.ts
Due: sdk, sdk_integration

sdk: remove Ganache for integration tests
  raiden-ts/package.json
  raiden-ts/tests/global.d.ts
  yarn.lock
Due: sdk, sdk_integration

sdk: adopt dev docs for integration/e2e test goals
  raiden-ts/docs-source/SDK-Development.md
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 0a7f39d0f18c0abec68c4dfc1f92d3274787935f [skip ci]
  staging/js/11.js
Due: none

sdk: move unit tests for epics into integration
  raiden-ts/tests/integration/epics/channels.spec.ts
  raiden-ts/tests/integration/epics/mediate.spec.ts
  raiden-ts/tests/integration/epics/monitor.spec.ts
  raiden-ts/tests/integration/epics/path.spec.ts
  raiden-ts/tests/integration/epics/raiden.spec.ts
  raiden-ts/tests/integration/epics/receive.spec.ts
  raiden-ts/tests/integration/epics/send.spec.ts
  raiden-ts/tests/integration/epics/transport.spec.ts
  raiden-ts/tests/integration/epics/udc.spec.ts
  raiden-ts/tests/integration/epics/withdraw.spec.ts
  raiden-ts/tests/integration/fixtures.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/patches.ts
  raiden-ts/tests/integration/raiden.spec.ts
Due: sdk, sdk_integration

sdk: refactor: split services epics
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/epics/index.ts
  raiden-ts/src/services/epics/monitor.ts
  raiden-ts/src/services/epics/pathfinding.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
Due: sdk, sdk_integration

sdk: refactor: make udcWithdrawn an async action
  raiden-ts/src/actions.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/tests/unit/epics/udc.spec.ts
Due: sdk, sdk_integration

sdk: simplify udcWithdrawPlanRequestEpic
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/services/epics/udc.ts
Due: sdk, sdk_integration

sdk: split shouldRetryError func and create catchAndLog rx op
  raiden-ts/src/utils/error.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

sdk: udcWithdraw can be interactive, introduce config.autoUdcWithdraw
  raiden-ts/src/config.ts
  raiden-ts/src/services/epics/udc.ts
Due: sdk, sdk_integration

sdk: adds Raiden.getUdcWithdrawPlan,udcWithdraw methods
  raiden-ts/src/errors.json
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: fix tests and add changelog entry for interactive UDC withdraw
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/epics/udc.spec.ts
Due: sdk, sdk_integration

dapp: adapt dapp to new async udcWithdraw events
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

sdk: simplify some helpers to improve codeclimate
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/epics/pathfinding.ts
  raiden-ts/src/services/epics/udc.ts
Due: sdk, sdk_integration

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: rename Udc to UDC and address PR comments
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/dialogs/udc-withdrawal-dialog.spec.ts
  raiden-ts/CHANGELOG.md
  raiden-ts/src/config.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/errors.json
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/tests/unit/epics/udc.spec.ts
Due: dapp, sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
