Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: ec39d9de704c44a7fbb510c30fc4121dae2202f1 [skip ci]
  staging/css/chunk-5c360ea4.90ab4677.css
  staging/index.html
  staging/js/app.19c81959.js
  staging/js/app.ace6a0ad.js
  staging/js/chunk-1e451fc8.97fe24c0.js
  staging/js/chunk-5c360ea4.15858260.js
  staging/precache-manifest.7357d8847d603e70beddbb063d1334da.js
  staging/service-worker.js
Due: none

RegEx more ethereum address specific
  raiden-dapp/src/components/notification-panel/NotificationDescriptionDisplay.vue
Due: dapp

Fixes failing NotificationCard tests
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
Due: dapp

Fixes failing tests for raiden-service
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Fixes failing tests for notifications area component
  raiden-dapp/tests/unit/components/notification-panel/notification-area.spec.ts
Due: dapp

Adjusting colors, locales and components related to notifications
  raiden-dapp/src/components/notification-panel/NotificationArea.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/src/views/NotificationPanel.vue
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Centers app header content
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/tests/unit/components/app-header.spec.ts
Due: dapp

Prevents layout from breaking on mobile
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
Due: dapp

Centers app header content (#2115)
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/tests/unit/components/app-header.spec.ts
Due: dapp

Automated deployment to GitHub Pages: b2761c52c5c41911bd53ec2c2684a620447e4398 [skip ci]
  staging/css/app.3cccffb3.css
  staging/css/app.ef630bb4.css
  staging/css/chunk-vendors.3c975b86.css
  staging/css/chunk-vendors.c57dbe63.css
  staging/index.html
  staging/js/app.052f48cb.js
  staging/js/app.19c81959.js
  staging/precache-manifest.98a99a50e842f06623566a68c124bc86.js
  staging/service-worker.js
Due: none

Removing icon from context and adding it as separate property
  raiden-dapp/src/components/notification-panel/NotificationArea.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/notifications/notification-context.ts
  raiden-dapp/src/store/notifications/types.d.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Prevents layout from breaking on mobile (#2116)
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
Due: dapp

dApp: Channel settlement notifications improvement (#2112)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/App.vue
  raiden-dapp/src/assets/notification_block.svg
  raiden-dapp/src/assets/notification_settle.svg
  raiden-dapp/src/assets/notification_trash.svg
  raiden-dapp/src/components/AddressDisplay.vue
  raiden-dapp/src/components/notification-panel/NotificationArea.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/components/notification-panel/NotificationDescriptionDisplay.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/notifications/types.d.ts
  raiden-dapp/src/views/NotificationPanel.vue
  raiden-dapp/tests/unit/components/notification-panel/notification-area.spec.ts
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Automated deployment to GitHub Pages: fa99ea21df5a5299fa5c8c5cd72d0d5c8ae6fe1a [skip ci]
  staging/css/chunk-13d9774e.4641a76f.css
  staging/css/chunk-4910697b.4c2a0c88.css
  staging/css/chunk-530b44d6.f61dd1b9.css
  staging/css/chunk-70becd5b.5e0579de.css
  staging/css/chunk-73c3dbec.96585f16.css
  staging/css/chunk-76f7b2d2.528f600e.css
  staging/index.html
  staging/js/app.052f48cb.js
  staging/js/app.935f94f1.js
  staging/js/chunk-13d9774e.b609d169.js
  staging/js/chunk-4910697b.a2f20a64.js
  staging/js/chunk-530b44d6.b9963b2a.js
  staging/js/chunk-70becd5b.5adee647.js
  staging/js/chunk-73c3dbec.f7aeb9c8.js
  staging/js/chunk-76f7b2d2.fe37889b.js
  staging/precache-manifest.c2e6c03dd9f524e52edf3fe35949ca8f.js
  staging/service-worker.js
Due: none

improve disclaimer view on mobile
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/views/DisclaimerRoute.vue
Due: dapp

Automated deployment to GitHub Pages: 5e2f430fc40b4cb69f2d51a50a2bc931a4c9d574 [skip ci]
  staging/css/app.e976a3e0.css
  staging/css/app.f3d55fe6.css
  staging/index.html
  staging/js/app.c2ccb990.js
  staging/js/app.e8b94a71.js
  staging/precache-manifest.92e5ba4677e2aa282d2b234191a4ca1a.js
  staging/service-worker.js
Due: none

Removed delay time on tooltips
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AddressDisplay.vue
Due: dapp

Removed delay time on tooltips (#2119)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AddressDisplay.vue
Due: dapp

Automated deployment to GitHub Pages: d1db7aef6dfdbabe2efd7ea2cca906561883bf93 [skip ci]
  staging/css/app.d83ac78f.css
  staging/css/app.e976a3e0.css
  staging/index.html
  staging/js/app.b135ad70.js
  staging/js/app.c2ccb990.js
  staging/precache-manifest.29c63070901fc164775f65e6bfeb345f.js
  staging/service-worker.js
Due: none

dependencies: Update dependency material-design-icons-iconfont to v6
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency sass-loader to v10
  raiden-dapp/package.json
Due: dapp

dependencies: Update dependency symbol-observable to v2
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dependencies: Update typescript-eslint monorepo to v4
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

deps: fix jsdoc eslint error, introduce build_sdk separate ci step
  .circleci/config.yml
  pnpm-lock.yaml
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Predicate to test if transfer should be mediated
  raiden-ts/src/transfers/epics/mediate.ts
Due: sdk, sdk_integration

sdk: fix conditionals and interface for shouldMediate function
  raiden-ts/src/transfers/epics/mediate.ts
Due: sdk, sdk_integration

dependencies: Update dependency typescript to v4
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
