Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

comment:
  after_n_builds: 2

Fix dApp tests
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

0.4.0 -> v0.4.1
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

0.4.0 -> v0.4.1 (#1129)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Fixed alignment of error messages for address/amount input
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/ErrorMessage.vue
Due: dapp

Fixed alignment of error messages for address/amount input (#1134)
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/ErrorMessage.vue
Due: dapp

Add logs to public methods, wait 1 block after mint
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/types.ts
Due: sdk

Introduce callAndWaitMined helper, address PR comments
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
Due: sdk

Reset input only if validation passes
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

v0.4.1 -> v0.4.2
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

v0.4.1 -> v0.4.2 (#1141)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

dependencies: bump fp-ts from 2.5.1 to 2.5.3 in /raiden-ts (#1143)
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

dependencies: bump typedoc from 0.16.10 to 0.16.11 in /raiden-ts (#1142)
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

dependencies: bump @typescript-eslint/parser in /raiden-ts (#1144)
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

dependencies: bump eslint-plugin-jsdoc in /raiden-ts (#1145)
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

dependencies: bump typescript from 3.8.2 to 3.8.3 in /raiden-ts (#1147)
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

dependencies: bump @typescript-eslint/eslint-plugin in /raiden-ts (#1148)
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

dependencies: bump @typescript-eslint/eslint-plugin in /raiden-dapp (#1158)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump @vue/cli-plugin-vuex in /raiden-dapp (#1156)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump sass from 1.26.1 to 1.26.2 in /raiden-dapp (#1155)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump @vue/cli-plugin-eslint in /raiden-dapp (#1154)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump eslint-plugin-jsdoc in /raiden-dapp (#1153)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump @types/webpack from 4.41.6 to 4.41.7 in /raiden-dapp (#1152)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump @vue/cli-plugin-babel in /raiden-dapp (#1157)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump typescript from 3.8.2 to 3.8.3 in /raiden-dapp (#1151)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump @vue/cli-plugin-pwa in /raiden-dapp (#1150)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

dependencies: bump @vue/cli from 4.2.2 to 4.2.3 in /raiden-dapp (#1149)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
Due: dapp

Upgrade to matrix-js-sdk@5.1.0 and adapt to error conditions
  raiden-dapp/tsconfig.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
  raiden-ts/src/global.d.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/tests/e2e/mocks.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tsconfig.json
  raiden-ts/typings/matrix-js-sdk/index.d.ts
Due: dapp, sdk

Add matrixCleanMissingRoomsEpic test
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk

Get rid of raiden-ts/typings, update package-lock.ts's
  raiden-dapp/package-lock.json
  raiden-dapp/tsconfig.json
  raiden-ts/package-lock.json
  raiden-ts/src/global.d.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/global.d.ts
  raiden-ts/tsconfig.json
  raiden-ts/typings/abort-controller/index.d.ts
Due: dapp, sdk

Some improvements to bundle size
  raiden-dapp/vue.config.js
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/refund.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/types.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/src/utils/ethers.ts
  raiden-ts/src/utils/types.ts
Due: dapp, sdk

Adds dApp update to prepare-release.sh
  prepare-release.sh
Due: none
