Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: add tests for mediated transfers with flat fee model
  raiden-ts/tests/integration/raiden.spec.ts
  raiden-ts/tests/unit/epics/mediate.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

sdk: add Latest.mediationFeeCalculator and Config.mediationFees
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

sdk,cli: add changelog entries for flat fees
  raiden-cli/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: move mediate epic to src/transfers/mediate
  raiden-ts/src/transfers/epics/index.ts
  raiden-ts/src/transfers/epics/mediate.ts
  raiden-ts/src/transfers/mediate/epics.ts
Due: sdk, sdk_integration

sdk: add totalCapacity as part of ChannelAmounts interface
  raiden-ts/src/channels/state.ts
  raiden-ts/src/channels/utils.ts
Due: sdk, sdk_integration

cli: expose --flat-fee option to set fixed mediation fees
  raiden-cli/src/index.ts
Due: none

sdk: send PFSFeeUpdate whenever fee_schedule changes
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

sdk: add FeeModel types and utils
  raiden-ts/src/global.d.ts
  raiden-ts/src/transfers/mediate/types.ts
Due: sdk, sdk_integration

dapp: fix Capacitor initialization for Android
  raiden-dapp/package.json
Due: dapp

dApp: improve redactions regexes in dApp's logstore
  raiden-dapp/src/utils/logstore.ts
Due: dapp

sdk: fix unlocking even if receiving is disabled
  raiden-ts/CHANGELOG.md
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/tests/unit/epics/send.spec.ts
Due: sdk, sdk_integration

dApp: fixes NoTokens component not being displayed
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/views/TransferRoute.vue
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
Due: dapp

fixup: lint fixes
  raiden-dapp/src/main.ts
Due: dapp

dApp: adjusting dialog title and changelog entry
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/locales/en.json
Due: dapp

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dApp: adding missing openChannels getter
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

sdk,dapp: fix lint issues and matrix logger monkeypatch revert
  raiden-dapp/src/utils/logstore.ts
  raiden-dapp/src/views/TransferStepsRoute.vue
  raiden-ts/src/logger.ts
  raiden-ts/src/polyfills.ts
Due: dapp, sdk, sdk_integration

dApp: fixing back arrow on account screen
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/HeaderContent.vue
  raiden-dapp/tests/unit/components/header-content.spec.ts
Due: dapp

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

cli: fix logging additional info and disable 'colors'
  raiden-cli/src/utils/logging.ts
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

sdk: replace messageGlobalSend with messageServiceSend actions
  raiden-ts/src/helpers.ts
  raiden-ts/src/messages/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: sdk, sdk_integration

cli: redact logs and remove colors when outputting to --logFile
  raiden-cli/src/utils/logging.ts
  raiden-dapp/src/utils/logstore.ts
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
