Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

lint: add add eslint-plugin-lodash
  .eslintrc.json
  package.json
  yarn.lock
Due: none

sdk: apply lodash lint changes
  raiden-ts/tests/integration/provider.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

dapp: add self-closing tags lint rule
  raiden-dapp/.eslintrc.json
  raiden-dapp/package.json
Due: dapp

dapp: apply self-closing tags lint changes
  raiden-dapp/src/components/Divider.vue
  raiden-dapp/src/components/HeaderContent.vue
  raiden-dapp/src/components/ListHeader.vue
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/components/account/Withdrawal.vue
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/components/channels/ChannelDialogs.vue
  raiden-dapp/src/components/dialogs/ChannelDepositDialog.vue
  raiden-dapp/src/components/dialogs/ChannelWithdrawDialog.vue
  raiden-dapp/src/components/dialogs/ConfirmationDialog.vue
  raiden-dapp/src/components/dialogs/MintDialog.vue
  raiden-dapp/src/components/dialogs/OpenChannelDialog.vue
  raiden-dapp/src/components/dialogs/PfsFeesDialog.vue
  raiden-dapp/src/components/dialogs/RaidenDialog.vue
  raiden-dapp/src/components/dialogs/TransferProgressDialog.vue
  raiden-dapp/src/components/dialogs/UdcDepositDialog.vue
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/components/icons/Checkmark.vue
  raiden-dapp/src/components/overlays/BlurredOverlay.vue
  raiden-dapp/src/views/ChannelsRoute.vue
  raiden-dapp/src/views/TransferStepsRoute.vue
  raiden-dapp/src/views/account/BackupState.vue
  raiden-dapp/src/views/account/WithdrawalRoute.vue
Due: dapp

workspace: add simple-import-sort eslint plugin
  .eslintrc.json
  package.json
  raiden-ts/package.json
  raiden-ts/tests/.eslintrc
  raiden-ts/tests/.eslintrc.json
  raiden-ts/tests/tsconfig.json
  yarn.lock
Due: sdk, sdk_integration

dApp: adjusting account screen on mobile
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/views/account/AccountRoot.vue
Due: dapp

dApp: adjusting assets imports
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

Revert "dApp: adjusting assets imports"
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

dApp: adjusting assets imports Revert "dApp: adjusting assets imports"
  raiden-dapp/src/components/AddressDisplay.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/HeaderIdenticon.vue
  raiden-dapp/src/components/account/backup-state/DownloadStateDialog.vue
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
  raiden-dapp/src/components/dialogs/NoChannelsDialog.vue
  raiden-dapp/src/components/dialogs/UdcDepositDialog.vue
  raiden-dapp/src/components/transaction-history/Transaction.vue
  raiden-dapp/src/components/transaction-history/TransactionList.vue
  raiden-dapp/src/components/transfer/TransferHeaders.vue
  raiden-dapp/src/components/transfer/TransferInputs.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/TransferRoute.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
  raiden-dapp/tests/unit/components/dialogs/udc-deposit-dialog.spec.ts
Due: dapp

dapp: fix action buttons for channels on mobile
  raiden-dapp/src/components/channels/ChannelList.vue
Due: dapp

dapp: extend CHANGELOG for channel button fix
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 1588b91c812bc523305e0aefeb75b62d920aa822 [skip ci]
  staging/js/13.js
Due: none

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dapp: fix layout issues due to mobile keyboard
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/src/views/account/RaidenAccount.vue
Due: dapp

dapp: reduce account menu size to fit screen
  raiden-dapp/src/components/account/AccountContent.vue
Due: dapp

dapp: adjust with of account menu on mobile
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/views/account/AccountRoot.vue
Due: dapp

dapp: push version info to bottom of screen
  raiden-dapp/src/views/AccountRoute.vue
Due: dapp

dapp: extend CHANGELOG for visual issues on mobile
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: ff3078b31251918197214fd7274c1a25f7f09fab [skip ci]
  staging/js/18.js
  staging/js/21.js
  staging/js/22.js
Due: none
