Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

comment:
  after_n_builds: 2

Initial commit
  raiden-dapp/src/assets/eth.svg
  raiden-dapp/src/components/GeneralMenu.vue
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/RaidenAccount.vue
Due: dapp

Pass symbol as props
  raiden-dapp/src/components/AmountDisplay.vue
Due: dapp

Adds AmountDisplay for Transfer view
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Added locales
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/RaidenAccount.vue
Due: dapp

Make Raiden derivable
  raiden-ts/package.json
  raiden-ts/src/polyfills.ts
  raiden-ts/src/raiden.ts
Due: sdk

Grabs amount information from token
  raiden-dapp/src/components/AmountDisplay.vue
  raiden-dapp/src/components/TransferSummary.vue
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Added raiden account tests
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/RaidenAccount.vue
  raiden-dapp/tests/unit/components/general-menu.spec.ts
  raiden-dapp/tests/unit/views/raiden-account.spec.ts
Due: dapp

Change log & test
  raiden-dapp/CHANGELOG.md
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
Due: dapp

Adding AmountDisplay component in request route step
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

AmoundDisplay component for route selection
  raiden-dapp/src/components/FindRoutes.vue
Due: dapp

Fix undefined config
  raiden-ts/src/raiden.ts
Due: sdk

Automated deployment to GitHub Pages: 1ec792e534c7f1b4be6f976c2243e5130eac336a [skip ci]
  staging/index.html
  staging/js/app.7eaaf16b.js
  staging/js/app.d9abab27.js
  staging/precache-manifest.e4ed61a84fa4a45c897299ace740089d.js
  staging/service-worker.js
Due: none

AmountDisplay component for token overlay
  raiden-dapp/src/components/TokenOverlay.vue
Due: dapp

AmountDisplay component for select token
  raiden-dapp/src/views/SelectToken.vue
Due: dapp

Fixes all failing tests
  raiden-dapp/tests/unit/components/token-overlay.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps.spec.ts
  raiden-dapp/tests/unit/views/transfer.spec.ts
Due: dapp

Adding tests for AmountDisplay
  raiden-dapp/tests/unit/components/amount-display.spec.ts
Due: dapp

Create a Pull Request template
  pull_request_template.md
Due: none

Small changes to the PR template [skip ci]
  pull_request_template.md
Due: none

Create a Pull Request template (#1423)
  pull_request_template.md
Due: none

Removing undeclared v-on
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Right aligning price table
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/PathfindingServices.vue
Due: dapp

Changes codecov configuration to only notify after CI success
  codecov.yml
Due: none

Summary screen amounts expands to display exact amounts (#1398)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/AmountDisplay.vue
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/src/components/TransferSummary.vue
  raiden-dapp/src/views/SelectToken.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/src/views/TransferSteps.vue
  raiden-dapp/tests/unit/components/amount-display.spec.ts
  raiden-dapp/tests/unit/components/token-overlay.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps.spec.ts
  raiden-dapp/tests/unit/views/transfer.spec.ts
Due: dapp

Automated deployment to GitHub Pages: f96de13c332cbd16be947e6d2699213f255e9c91 [skip ci]
  staging/css/chunk-01c59474.3537ea89.css
  staging/css/chunk-27f3174b.4454c863.css
  staging/css/chunk-3f07f119.fe0d5e55.css
  staging/css/chunk-40d445f4.f515e703.css
  staging/css/chunk-d3b2fbc4.8da4d130.css
  staging/css/chunk-d4cee06c.8cf87970.css
  staging/index.html
  staging/js/app.cfbe4b47.js
  staging/js/app.d9abab27.js
  staging/js/chunk-01c59474.4daede7f.js
  staging/js/chunk-27f3174b.eafd4e1a.js
  staging/js/chunk-3f07f119.3b68796d.js
  staging/js/chunk-40d445f4.aaa1f3bb.js
  staging/js/chunk-d3b2fbc4.55624cb6.js
  staging/js/chunk-d4cee06c.3addf62f.js
  staging/precache-manifest.dc23e079bc8b0c98523684da9bd63e2a.js
  staging/service-worker.js
Due: none

Initial version of standalone cli app
  raiden-cli/.gitignore
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/index.ts
  raiden-cli/tsconfig.json
  raiden-cli/webpack.config.js
Due: none

Add readme
  raiden-cli/README.md
Due: none

Changes codecov configuration to only notify after CI success (#1430)
  codecov.yml
Due: none

Transfer eth between main and sub key account (#1417)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/assets/eth.svg
  raiden-dapp/src/components/GeneralMenu.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/views/RaidenAccount.vue
  raiden-dapp/tests/unit/components/general-menu.spec.ts
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
  raiden-dapp/tests/unit/views/raiden-account.spec.ts
Due: dapp

Cancels overlay when new token is selectes
  raiden-dapp/src/components/TokenOverlay.vue
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Moving cancel() out of if statement
  raiden-dapp/src/components/TokenOverlay.vue
Due: dapp

Extending tests for TokenOverlay
  raiden-dapp/tests/unit/components/token-overlay.spec.ts
Due: dapp

Fixes sourcemap generation for vue files
  raiden-dapp/vue.config.js
Due: dapp

Adds tests for new classes
  raiden-dapp/src/views/TransferStepsRoute.vue
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/views/channels-route.spec.ts
  raiden-dapp/tests/unit/views/lazy-route.spec.ts
  raiden-dapp/tests/unit/views/open-channel-route.spec.ts
  raiden-dapp/tests/unit/views/select-hub-route.spec.ts
  raiden-dapp/tests/unit/views/select-token-route.spec.ts
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
  raiden-dapp/tests/unit/views/transfer-steps-route.spec.ts
Due: dapp
