Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: ensure events scan works with blockNumber < confirmations
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

dapp: remove all occurrences of settle timeout
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/components/channels/channel-list.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/utils/data-generator.ts
Due: dapp

sdk: tests: integration: adapt to timestamp tests and fake-timers
  raiden-ts/tests/integration/channels.spec.ts
  raiden-ts/tests/integration/fixtures.ts
  raiden-ts/tests/integration/mediate.spec.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/integration/monitor.spec.ts
  raiden-ts/tests/integration/path.spec.ts
  raiden-ts/tests/integration/raiden.spec.ts
  raiden-ts/tests/integration/receive.spec.ts
  raiden-ts/tests/integration/send.spec.ts
  raiden-ts/tests/integration/transport.spec.ts
  raiden-ts/tests/integration/udc.spec.ts
  raiden-ts/tests/integration/withdraw.spec.ts
  raiden-ts/tests/unit/helpers.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
  raiden-ts/tests/unit/states/0.json
Due: sdk, sdk_integration

sdk: ensure fromEthersEvent work with confirmationBlocks=0
  raiden-ts/src/config.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: unit: fix unit tests
  raiden-ts/tests/unit/feemodels.spec.ts
  raiden-ts/tests/unit/raiden.spec.ts
  raiden-ts/tests/unit/reducers.spec.ts
  raiden-ts/tests/unit/states/0.json
Due: sdk, sdk_integration

dapp: adapt to new UDC withdraw plans
  raiden-dapp/src/components/PlannedUdcWithdrawalInformation.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/user-deposit-contract/types.ts
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/unit/components/planned-udc-withdrawal-information.spec.ts
  raiden-dapp/tests/unit/store/user-deposit-contract/mutations.spec.ts
Due: dapp

sdk: bump contracts to v1.0.0rc4 and remove incompatible deployments
  raiden-ts/src/helpers.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: add matrixServer to PFS info and use it in auto-matrixServer
  raiden-ts/src/services/types.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

sdk: refactor: don't stale before initial sync and refactor blockTimeEpic
  raiden-ts/src/channels/epics/block.ts
Due: sdk, sdk_integration

sdk: ensure (transfer|withdraw)Expire & secretRegister are time-based
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transfers/reducer.ts
Due: sdk, sdk_integration

sdk: ensure unlock fetches latest transferState from db if needed
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

sdk: refactor: promote and rename getPfsInfo$ to choosePfs$
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

cli: refactor: move options to own module, split Cli & App types
  raiden-cli/src/cli.ts
  raiden-cli/src/index.ts
  raiden-cli/src/options.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/types.ts
Due: none

sdk,cli: addressed comments
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/userDeposit.ts
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/epics/udc.ts
Due: sdk, sdk_integration

cli: add some more information to address and user_deposit endpoints
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/userDeposit.ts
Due: none

sdk: use half settleTimeout as upperbound for transfer expiration
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

sdk: tests: fix PFS and add transport tests
  raiden-ts/tests/integration/path.spec.ts
  raiden-ts/tests/integration/send.spec.ts
  raiden-ts/tests/integration/transport.spec.ts
Due: sdk, sdk_integration

dapp: fix tests after matrix from PFS changes
  raiden-dapp/tests/unit/components/transfer/pathfinding-services.spec.ts
Due: dapp

sdk,cli: address some codeclimate complaints
  raiden-cli/src/options.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

arbitrum: add changelog entries
  raiden-cli/CHANGELOG.md
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

sdk: read arbitrum-rinkeby deployment from json
  package.json
  raiden-ts/scripts/versions.js
  raiden-ts/src/helpers.ts
  raiden-ts/src/utils/ethers.ts
  yarn.lock
Due: sdk, sdk_integration

sdk: replace settleTimeout with timestamps
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics/monitor.ts
  raiden-ts/src/channels/epics/open.ts
  raiden-ts/src/channels/epics/settle.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics/udc.ts
  raiden-ts/src/transfers/epics/coopsettle.ts
  raiden-ts/src/transfers/epics/expire.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transport/utils.ts
Due: sdk, sdk_integration

sdk: refactor: adapt some deprecated functions
  raiden-ts/src/db/utils.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

deps: pin single loglevel resolve and add fake-timers devDep
  package.json
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

update e2e environment for new timestamp contracts
  .circleci/config.yml
  e2e-environment/Dockerfile
  e2e-environment/deployment_information/deployment_private_net.json
  e2e-environment/deployment_information/deployment_services_private_net.json
  e2e-environment/deployment_information/smartcontracts.sh
  e2e-environment/deployment_information/version
  e2e-environment/geth/deploy_contracts.py
  e2e-environment/setup/setup_channels.sh
  e2e-environment/shared-script.sh
  e2e-environment/supervisord.conf
  e2e-environment/synapse/synapse.template.yaml
  raiden-ts/tests/e2e/e2e.spec.ts
Due: sdk, sdk_integration

sdk: add getBlockTimestamp and settleTimeout$ epics deps
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics/block.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

sdk: store contracts info in state
  raiden-ts/src/db/types.ts
  raiden-ts/src/db/utils.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

sdk: adapt transfers and withdraw to timestamp expiration
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics/coopsettle.ts
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
