Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Publish hosted instance & documentation on tag only
  .circleci/config.yml
Due: none

0.3.0 -> v0.4.0
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Order circleci publish workflow
  .circleci/config.yml
Due: none

Fix circleci workflow by building dapp before publishing
  .circleci/config.yml
Due: none

Fix circleci deploy docs
  .circleci/config.yml
Due: none

As npm publish can't be reverted, make it depend on everything else
  .circleci/config.yml
Due: none

pfsCapacityUpdateEpic groupBy channel & react also on channelMonitor
  raiden-ts/src/path/epics.ts
  raiden-ts/src/utils/types.ts
Due: sdk

Fix tests, convert them to action$/state$/latest$ pattern
  raiden-ts/tests/unit/epics/path.spec.ts
Due: sdk

Fixed token list when more than one token is displayed
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/TokenOverlay.vue
Due: dapp

Fixed missing error message when connecting to main net
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Fixed missing error message when connecting to main net (#1124)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Various mobile viewport fixes
  raiden-dapp/src/components/ChannelList.vue
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Fixed token list when more than one token is displayed (#1123)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/TokenOverlay.vue
Due: dapp

Fixed channel action buttons
  raiden-dapp/src/components/ChannelList.vue
  raiden-dapp/src/components/PathfindingServices.vue
Due: dapp

Added change log entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Various mobile viewport fixes (#1125)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/ChannelList.vue
  raiden-dapp/src/components/FindRoutes.vue
  raiden-dapp/src/components/PathfindingServices.vue
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Add changelog
  raiden-ts/CHANGELOG.md
Due: sdk

Fix dApp errors when showing a PFS error
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Wait for confirmation on mint & depositToUDC public Raiden methods
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Add changelogs
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk

Send PFSCapacityUpdate on every ownCapacity change
  raiden-ts/src/channels/utils.ts
  raiden-ts/src/path/epics.ts
Due: sdk

Update Changelog
  raiden-ts/CHANGELOG.md
Due: sdk

Dont distinct channel, only debounce, always send latest PFSCapacityUpdate
  raiden-ts/src/path/epics.ts
  raiden-ts/src/raiden.ts
Due: sdk

Enable parallel deposit with channelOpen
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/CHANGELOG.md
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/e2e/provider.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: dapp, sdk

Fix dApp tests
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
