Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

comment:
  after_n_builds: 2

Added docs about upgrading testenv001
  UPGRADE-TESTENV.md
Due: none

Added docs about upgrading testenv001 (#1390)
  UPGRADE-TESTENV.md
Due: none

Make the raiden account balance show in general screen
  raiden-dapp/src/components/GeneralMenu.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

Update CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Adds a tests for the connect method when a subkey is provided
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Mediate transfers
  raiden-ts/src/transfers/epics/index.ts
  raiden-ts/src/transfers/epics/mediate.ts
Due: sdk

Send PFSFeeUpdate
  raiden-ts/src/messages/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/utils/data.ts
Due: sdk

Tests
  raiden-ts/tests/unit/epics/mediate.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Add changelog entry
  raiden-ts/CHANGELOG.md
Due: sdk

Automated deployment to GitHub Pages: 9a0f984717ea486d0370c4a97cbb2c7bb1c96a40 [skip ci]
  staging/css/chunk-1807f13b.c3b11f4f.css
  staging/css/chunk-7e432e88.f27e0b35.css
  staging/index.html
  staging/js/app.a5c57c2e.js
  staging/js/app.b258c294.js
  staging/js/chunk-1807f13b.cc4d7ff3.js
  staging/js/chunk-7e432e88.7cc83e6e.js
  staging/precache-manifest.fff8da97977ec5d68bc77ba432ffb471.js
  staging/service-worker.js
Due: none

PR review
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Automated deployment to GitHub Pages: 39dd196b3443d41f2f5a7016f3d66b7bc5cd4287 [skip ci]
  staging/index.html
  staging/js/app.a5c57c2e.js
  staging/js/app.d561dcb7.js
  staging/js/chunk-552b1730.de88027e.js
  staging/js/chunk-7bc2c414.6642ea59.js
  staging/js/chunk-e17a21de.6fe8044e.js
  staging/precache-manifest.d7d8ac5d2fcfb15a76afbeaf0d55dac0.js
  staging/service-worker.js
Due: none

Better error handling if no route can be found by PFS
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/locales/en.json
  raiden-ts/src/path/epics.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/unit/epics/path.spec.ts
Due: dapp, sdk

Provide functionality to transfer all tokens & ETH on-chain
  raiden-ts/CHANGELOG.md
  raiden-ts/src/raiden.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Automated deployment to GitHub Pages: bba74a2f9c91b76b77c28197b045f080e86f30c4 [skip ci]
  staging/index.html
  staging/js/app.03861b77.js
  staging/js/app.d561dcb7.js
  staging/precache-manifest.6dc4a51496596b1593ad1748948568c4.js
  staging/service-worker.js
Due: none

Update dependencies
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Changed wording
  raiden-dapp/src/locales/en.json
Due: dapp

Better error handling if no route can be found by PFS (#1391)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/locales/en.json
  raiden-ts/src/path/epics.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/unit/epics/path.spec.ts
Due: dapp, sdk

Automated deployment to GitHub Pages: ebe39b0df280960fd787778080a3bfe1c7f2c9ad [skip ci]
  staging/index.html
  staging/js/app.03861b77.js
  staging/js/app.9a98185f.js
  staging/js/chunk-27f3174b.5fca6fb2.js
  staging/js/chunk-27f3174b.ee389d70.js
  staging/js/chunk-43b69ccc.4388f3b6.js
  staging/js/chunk-43b69ccc.f8d9e6d4.js
  staging/js/chunk-4c34ba5c.7bd1d3fb.js
  staging/js/chunk-4c34ba5c.f3ae5db4.js
  staging/js/chunk-552b1730.228473e9.js
  staging/js/chunk-552b1730.de88027e.js
  staging/js/chunk-5e7189c2.17e35c26.js
  staging/js/chunk-5e7189c2.ea72f686.js
  staging/js/chunk-7bc2c414.6642ea59.js
  staging/js/chunk-7bc2c414.936525a6.js
  staging/js/chunk-b14359ce.ce7d665d.js
  staging/js/chunk-b14359ce.efc1fe7c.js
  staging/js/chunk-d3b2fbc4.3e2c9458.js
  staging/js/chunk-d3b2fbc4.55975ca2.js
  staging/precache-manifest.9e29a3c680f54e334e30bad83861e7ee.js
  staging/service-worker.js
Due: none

Changes amount input watcher to immediate & skips a test
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/tests/unit/components/amount-input.spec.ts
Due: dapp

Update dependencies (#1394)
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/tests/unit/components/amount-input.spec.ts
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: dapp, sdk

Adjusting headers
  README.md
Due: none

Amounts expands to display exact amounts
  raiden-dapp/src/components/TransferSummary.vue
Due: dapp

Updating changelog
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: d1d39ed6e5cd21666ac69932791a524483b44429 [skip ci]
  staging/index.html
  staging/js/app.5d83b180.js
  staging/js/app.bf5c1ca6.js
  staging/js/chunk-01c59474.4daede7f.js
  staging/js/chunk-01c59474.db6392af.js
  staging/js/chunk-27f3174b.e1c8ca00.js
  staging/js/chunk-27f3174b.eafd4e1a.js
  staging/js/chunk-43b69ccc.2ac7abbe.js
  staging/js/chunk-43b69ccc.2d71b0ce.js
  staging/js/chunk-488fc1f2.a504e787.js
  staging/js/chunk-488fc1f2.cd050554.js
  staging/js/chunk-4c34ba5c.3bb5f24c.js
  staging/js/chunk-4c34ba5c.b4e78718.js
  staging/js/chunk-5e7189c2.cd3cf7ca.js
  staging/js/chunk-5e7189c2.ed030ae0.js
  staging/js/chunk-7e432e88.8fb582f7.js
  staging/js/chunk-7e432e88.c63f06b7.js
  staging/js/chunk-9f0b2ea4.09f8e088.js
  staging/js/chunk-9f0b2ea4.ed3c6a91.js
  staging/js/chunk-d3b2fbc4.55624cb6.js
  staging/js/chunk-d3b2fbc4.de300362.js
  staging/js/chunk-e17a21de.11a07280.js
  staging/js/chunk-e17a21de.c1e3d514.js
  staging/js/chunk-f9e320d2.2724199d.js
  staging/js/chunk-f9e320d2.cde076a5.js
  staging/precache-manifest.71f539cc9bc0a9d1cadfb5b9382ecb29.js
  staging/service-worker.js
Due: none

Extracts displaying exact amount to separate component
  raiden-dapp/src/components/AmountDisplay.vue
  raiden-dapp/src/components/TransferSummary.vue
Due: dapp

Changing the order and title depth
  README.md
Due: none

Make Raiden derivable
  raiden-ts/package.json
  raiden-ts/src/polyfills.ts
  raiden-ts/src/raiden.ts
Due: sdk

Removed minting and full node section
  README.md
Due: none

Adjusting README headers (#1396)
  README.md
Due: none
