Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: support trying next found PFS until succeding
  raiden-ts/src/raiden.ts
  raiden-ts/tests/integration/raiden.spec.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 72764f03aac0be6c15f0f41a889b06a193752f62 [skip ci]
  staging/js/app.js
Due: none

Disable confirm button on withdraw dialog if raiden eth zero (#2460)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
Due: dapp

Automated deployment to GitHub Pages: 51d0fad908b2d78209112d3613ece3a3c03e5ffc [skip ci]
  staging/js/16.js
Due: none

sdk: assert suggestPartners array isn't empty to retry next PFS
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 72290fd97556e444126c807681e0acb773e2e8f1 [skip ci]
  staging/js/app.js
Due: none

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: Update dependency @typechain/ethers-v5 to v5
  raiden-ts/package.json
  yarn.lock
Due: sdk, sdk_integration

deps: Update dependency copy-webpack-plugin to v7
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency eslint-config-prettier to v7
  package.json
  yarn.lock
Due: none

deps: Update dependency fontsource-roboto to v4
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: Update dependency source-map-loader to v2
  raiden-dapp/package.json
  yarn.lock
Due: dapp

deps: adapt mocked events
  raiden-ts/tests/unit/epics/udc.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

dapp: fix persistence of disclaimer acceptance
  raiden-dapp/src/store/index.ts
Due: dapp

dapp: extend changelog for disclaimer persistence
  raiden-dapp/CHANGELOG.md
Due: dapp

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: d7799865f6eecf9db60208190468162f4ddfce1e [skip ci]
  staging/js/app.js
Due: none

cli: integrate readme to the global documentation
  raiden-ts/typedoc.json
Due: sdk, sdk_integration

dapp: adopt design of channel open route
  raiden-dapp/src/views/OpenChannelRoute.vue
Due: dapp

dapp: extend changelog for channel open design
  raiden-dapp/CHANGELOG.md
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
