Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Upgrade CLI dependencies
  raiden-cli/package-lock.json
  raiden-cli/package.json
  raiden-cli/src/index.ts
Due: none

Upgrade dApp dependencies and fix linting issues
  raiden-dapp/.eslintrc.js
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/filters.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/e2e/.eslintrc.js
  raiden-dapp/tests/unit/balance-utils.spec.ts
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
  raiden-dapp/tests/unit/components/mint-dialog.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer-steps.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
  raiden-dapp/tests/unit/identicon-cache.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/views/account/raiden-account.spec.ts
Due: dapp

Introduce makeRaiden[s] and ensuring fixture
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/patches.ts
Due: sdk, sdk_integration

Implement new fixtures in utils and channels tests
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

Mock elliptic to improve tests performance
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/patches.ts
Due: sdk, sdk_integration

Ensure wallet creation is retried and cached
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

Fix some legacy tests
  raiden-ts/package.json
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/patches.ts
Due: sdk, sdk_integration

Adds notification icon to header
  raiden-dapp/src/components/AppHeader.vue
Due: dapp

NotificationPanel view initial commit
  raiden-dapp/src/views/NotificationPanel.vue
Due: dapp

NotificationCard component initial commit
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
Due: dapp

Adds modal and separate routing for notifications
  raiden-dapp/src/App.vue
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
Due: dapp

Notification icon and card bg color
  raiden-dapp/src/assets/notifications.svg
  raiden-dapp/src/scss/colors.scss
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Addresses review feedback
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/views/NotificationPanel.vue
Due: dapp

Notification panel foundation (#1617)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/App.vue
  raiden-dapp/src/assets/notifications.svg
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/mixins/navigation-mixin.ts
  raiden-dapp/src/router/index.ts
  raiden-dapp/src/router/route-names.ts
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/src/views/NotificationPanel.vue
  raiden-dapp/tests/unit/components/mixins/navigation-mixin.spec.ts
Due: dapp

Automated deployment to GitHub Pages: a1250893fc05f86fb25d33ac78a1e0eff39fbfdb [skip ci]
  staging/css/app.e04ffe6b.css
  staging/css/app.e5504601.css
  staging/css/chunk-0a9c6d1a.284343a3.css
  staging/css/chunk-25fdc0d3.8d1d0b4a.css
  staging/css/chunk-f60d6c70.220ca184.css
  staging/css/chunk-fb35a2fc.1d5a726d.css
  staging/img/notifications.9b9982fe.svg
  staging/index.html
  staging/js/app.63414071.js
  staging/js/app.6448d7ba.js
  staging/js/chunk-091f4f74.ba6163f4.js
  staging/js/chunk-091f4f74.c1f106b2.js
  staging/js/chunk-0a9c6d1a.9777ec30.js
  staging/js/chunk-15f0b7af.5c81f71d.js
  staging/js/chunk-25fdc0d3.23f2f0da.js
  staging/js/chunk-320b3e6a.164a2a99.js
  staging/js/chunk-320b3e6a.50b3b776.js
  staging/js/chunk-3dc42544.516c11b7.js
  staging/js/chunk-3dc42544.657846fc.js
  staging/js/chunk-45939c11.13ee4dd4.js
  staging/js/chunk-45939c11.8a573a3f.js
  staging/js/chunk-5bd868d6.3325a3ea.js
  staging/js/chunk-5bd868d6.b92d1443.js
  staging/js/chunk-6a8b17ac.4aced45f.js
  staging/js/chunk-6a8b17ac.63d42172.js
  staging/js/chunk-725ee92b.511c374a.js
  staging/js/chunk-725ee92b.9e194190.js
  staging/js/chunk-778a1868.58d7823f.js
  staging/js/chunk-778a1868.b98f0f07.js
  staging/js/chunk-9427fdc4.85a83af2.js
  staging/js/chunk-9427fdc4.bcc09528.js
  staging/js/chunk-9596d7b8.b6157bf8.js
  staging/js/chunk-9596d7b8.dee063c3.js
  staging/js/chunk-f60d6c70.30dfb442.js
  staging/js/chunk-fb35a2fc.8556ae3e.js
  staging/js/chunk-vendors.db512555.js
  staging/precache-manifest.52e4eb845bad14c4acdbbcbe40629602.js
  staging/service-worker.js
Due: none

Disables minting on mainnet
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/dialogs/MintDialog.vue
  raiden-dapp/src/components/dialogs/UdcDepositDialog.vue
  raiden-dapp/src/components/navigation/SelectHub.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/unit/components/channels/channel-lifecycle.spec.ts
  raiden-dapp/tests/unit/components/channels/channel-list.spec.ts
  raiden-dapp/tests/unit/components/channels/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/channel-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/connect-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/mint-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/raiden-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/transfer-progress-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/udc-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/components/no-access-message.spec.ts
  raiden-dapp/tests/unit/components/overlays/qr-code-overlay.spec.ts
  raiden-dapp/tests/unit/components/overlays/token-overlay.spec.ts
  raiden-dapp/tests/unit/components/token-information.spec.ts
  raiden-dapp/tests/unit/components/transaction-history/transaction.spec.ts
  raiden-dapp/tests/unit/components/transaction-history/transactions-list.spec.ts
  raiden-dapp/tests/unit/components/transfer/find-routes.spec.ts
  raiden-dapp/tests/unit/components/transfer/pathfinding-services.spec.ts
  raiden-dapp/tests/unit/components/transfer/transfer-summary.spec.ts
  raiden-dapp/tests/unit/views/select-hub-route.spec.ts
Due: dapp

Update CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Exposes getNetworkName from sdk and uses it in dApp
  raiden-dapp/src/store/index.ts
  raiden-dapp/tests/unit/store.spec.ts
  raiden-ts/src/index.ts
Due: dapp, sdk, sdk_integration

Fixes typing that causes integration test to fail
  raiden-ts/tests/integration/integration.spec.ts
Due: sdk, sdk_integration

Adds caching for Cypress and ~/.npm
  .circleci/config.yml
Due: none

Renames actions to follow path format
  raiden-cli/src/index.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/messages/actions.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transport/actions.ts
  raiden-ts/tests/integration/integration.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
Due: dapp, sdk, sdk_integration

Updates CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

Adds title to channels list
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/locales/en.json
Due: dapp

Updates CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: b57eb8b26cff2732ad3fe13ec54de8ebeaaf6b95 [skip ci]
  staging/index.html
  staging/js/app.2fa34e48.js
  staging/js/app.e2ec3f22.js
  staging/js/chunk-08dab35b.09998a59.js
  staging/js/chunk-08dab35b.c90588ce.js
  staging/js/chunk-08e9ead2.2f8ba260.js
  staging/js/chunk-08e9ead2.68bd913d.js
  staging/js/chunk-091f4f74.ba6163f4.js
  staging/js/chunk-091f4f74.c23353bb.js
  staging/js/chunk-320b3e6a.164a2a99.js
  staging/js/chunk-320b3e6a.7ad1f041.js
  staging/js/chunk-5bd868d6.bf6f2bd5.js
  staging/js/chunk-5bd868d6.d48b805f.js
  staging/js/chunk-66c53ac6.94920c30.js
  staging/js/chunk-66c53ac6.9f5d18c0.js
  staging/js/chunk-6a8b17ac.18cd788b.js
  staging/js/chunk-6a8b17ac.83a8b129.js
  staging/js/chunk-725ee92b.4e6a5d74.js
  staging/js/chunk-725ee92b.511c374a.js
  staging/js/chunk-778a1868.b98f0f07.js
  staging/js/chunk-778a1868.e70c1172.js
  staging/js/chunk-7916f8ca.29193c55.js
  staging/js/chunk-7916f8ca.6f10dc37.js
  staging/js/chunk-89906324.be928f8c.js
  staging/js/chunk-89906324.d61df6fe.js
  staging/js/chunk-cabb44c2.0bfc3c9d.js
  staging/js/chunk-cabb44c2.0f8d1de9.js
  staging/js/chunk-f60d6c70.30dfb442.js
  staging/js/chunk-f60d6c70.cb81f835.js
  staging/js/chunk-f675d0fe.90d01f3b.js
  staging/js/chunk-f675d0fe.bf01b8ae.js
  staging/precache-manifest.38ff88ea4412d371dd4c31d6901ad667.js
  staging/service-worker.js
Due: none

Fixes path format for new block
  raiden-cli/src/index.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-ts/src/channels/actions.ts
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 42a3f937b063ca965f4c335744188a3924ca95aa [skip ci]
  staging/css/chunk-6a8b17ac.2e6a0e49.css
  staging/css/chunk-e8fa3e66.aeb39eb6.css
  staging/index.html
  staging/js/app.b8bd25ea.js
  staging/js/app.e2ec3f22.js
  staging/js/chunk-6a8b17ac.83a8b129.js
  staging/js/chunk-e8fa3e66.e8ce0be3.js
  staging/precache-manifest.d2f05de7762e767d82afd7fdb35f3050.js
  staging/service-worker.js
Due: none

Starting to add withdrawal dialog to UDC screen
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/account/UDC.vue
Due: dapp

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
