Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

Increase log details
  e2e-environment/raiden/node1.toml
  e2e-environment/raiden/node2.toml
  e2e-environment/setup/pfs-entrypoint.sh
Due: none

Add mediation cypress test
  raiden-dapp/tests/e2e/specs/mediated-transfer.spec.ts
  raiden-dapp/tests/e2e/utils/user-interaction.ts
Due: dapp

Fix PFS port
  e2e-environment/Dockerfile
  e2e-environment/README.md
  e2e-environment/raiden/node1.toml
  e2e-environment/raiden/node2.toml
  e2e-environment/run-e2e-tests.sh
  e2e-environment/setup/pfs-entrypoint.sh
  e2e-environment/setup/setup_channels.sh
  raiden-dapp/.env.e2e
  raiden-ts/tests/e2e/e2e.spec.ts
Due: dapp, sdk, sdk_integration

Update reveal timeout
  e2e-environment/raiden/node1.toml
  e2e-environment/raiden/node2.toml
  e2e-environment/setup/prepare_channel.py
  raiden-dapp/.env.e2e
  raiden-dapp/src/services/raiden-service.ts
  raiden-ts/tests/e2e/e2e.spec.ts
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 4b504a621de62f6c4934900dd4531eeab45b9285 [skip ci]
  staging/js/app.js
Due: none

deps: Update dependency symbol-observable to v3
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

deps: remove symbol-observable dep, not needed anymore
  raiden-dapp/package.json
  raiden-ts/package.json
  raiden-ts/src/polyfills.ts
  yarn.lock
Due: dapp, sdk, sdk_integration

dApp: fix issue when VUE_APP_REVEAL_TIMEOUT env var not defined
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

sdk: add logs when skipping secret request on receive disabled
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

sdk: ensure we don't handle reveals to us if receive is disabled
  raiden-ts/src/transfers/epics/secret.ts
Due: sdk, sdk_integration

sdk: add ignore reveal tests and changelog
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/unit/epics/receive.spec.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 80f6254a8d5cd521d114454a8943057382f348a7 [skip ci]
  staging/js/app.js
Due: none

sdk: fix overflows and add expiration checks
  raiden-ts/CHANGELOG.md
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/tests/unit/epics/send.spec.ts
Due: sdk, sdk_integration

dApp: Account menu re-design
  raiden-dapp/src/assets/account-menu/account_bug.svg
  raiden-dapp/src/assets/account-menu/account_eth.svg
  raiden-dapp/src/assets/account-menu/account_state.svg
  raiden-dapp/src/assets/account-menu/account_udc.svg
  raiden-dapp/src/assets/account-menu/account_withdrawal.svg
  raiden-dapp/src/assets/account-menu/gear.svg
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/tests/e2e/utils/navigation.ts
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

sdk: address review comments (fixup later)
  raiden-ts/src/transfers/epics/locked.ts
Due: sdk, sdk_integration

Fixes lint errors
  raiden-dapp/src/components/account/AccountContent.vue
  raiden-dapp/tests/unit/components/account/account-content.spec.ts
Due: dapp

Automated deployment to GitHub Pages: a8df2219cb0f0fe7ae1ade5c0383e4f7932d63c2 [skip ci]
  staging/js/app.js
Due: none

Fixes error with css selecotor
  raiden-dapp/src/components/account/AccountContent.vue
Due: dapp

Fixing css selector errors
  raiden-dapp/src/components/account/AccountContent.vue
Due: dapp

cli: Return 409 for failed transfers
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/utils/validation.ts
Due: none

cli: Add changelog entry
  raiden-cli/CHANGELOG.md
Due: none

Handle Matrix 500 erros in `matrixMessageSend[Global]Epic`
  raiden-ts/src/transport/epics/helpers.ts
  raiden-ts/src/transport/epics/messages.ts
Due: sdk, sdk_integration

cypress e2e close and settle tests
  raiden-dapp/src/components/ActionButton.vue
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/components/dialogs/RaidenDialog.vue
  raiden-dapp/tests/e2e/specs/scenario.spec.ts
  raiden-dapp/tests/e2e/utils/blockchain-interaction.ts
Due: dapp

Adding settletimeout in raiden service
  raiden-dapp/.env.e2e
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/tests/e2e/utils/blockchain-interaction.ts
Due: dapp

Automated deployment to GitHub Pages: 13ad984846a34345c0be773626cd529fd55271bd [skip ci]
  staging/js/app.js
Due: none

dApp: Prolonged duration for snackbar
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

Adding a changelog entry for cypress close settle tests
  raiden-dapp/CHANGELOG.md
Due: dapp

dApp: Adjusting notification title
  raiden-dapp/src/locales/en.json
Due: dapp
