Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

Adds udc withdrawal unit tests
  raiden-ts/tests/unit/epics/udc.spec.ts
Due: sdk, sdk_integration

Addresses PR feedback
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
Due: sdk, sdk_integration

Replaces empty payload type with undefined
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/tests/unit/epics/udc.spec.ts
Due: sdk, sdk_integration

Properly dispatch action in planUdcWithdraw
  raiden-ts/src/raiden.ts
Due: sdk, sdk_integration

Adds e2e tests for udc withdrawal
  raiden-ts/src/errors.json
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk, sdk_integration

Improve confirmable actions case and add restart test
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/udc.spec.ts
Due: sdk, sdk_integration

Automated deployment to GitHub Pages: 9f49b1083a92e768dd62198675de9415ab2b9162 [skip ci]
  staging/css/chunk-e1577516.55540e73.css
  staging/css/chunk-f675d0fe.775e569b.css
  staging/index.html
  staging/js/app.10de512a.js
  staging/js/app.b4331fd9.js
  staging/js/chunk-e1577516.0c2537ed.js
  staging/js/chunk-f675d0fe.be92a3c1.js
  staging/js/chunk-vendors.cbb5f3b1.js
  staging/precache-manifest.22885977b8605114031c799a0a73f70b.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: b980c0c0f66b93470651f055bf05d4ad217f69c7 [skip ci]
  staging/index.html
  staging/js/app.0b1f2947.js
  staging/js/app.10de512a.js
  staging/js/chunk-08dab35b.28eeb9f0.js
  staging/js/chunk-08dab35b.d10a951a.js
  staging/js/chunk-08e9ead2.1ad1feb9.js
  staging/js/chunk-08e9ead2.e6519656.js
  staging/js/chunk-091f4f74.28e4d647.js
  staging/js/chunk-091f4f74.7223b88e.js
  staging/js/chunk-0a9c6d1a.00949c72.js
  staging/js/chunk-0a9c6d1a.5ad334ed.js
  staging/js/chunk-28bce315.5639e762.js
  staging/js/chunk-28bce315.f219cb0d.js
  staging/js/chunk-320b3e6a.0ea21dba.js
  staging/js/chunk-320b3e6a.c800a688.js
  staging/js/chunk-4d730eb5.bb3b6424.js
  staging/js/chunk-4d730eb5.fb1e78bb.js
  staging/js/chunk-5bd868d6.4bd12db8.js
  staging/js/chunk-5bd868d6.798e39c2.js
  staging/js/chunk-66c53ac6.66cfa38b.js
  staging/js/chunk-66c53ac6.ac538869.js
  staging/js/chunk-7916f8ca.b429b49a.js
  staging/js/chunk-7916f8ca.e46b219d.js
  staging/js/chunk-89906324.059de0ed.js
  staging/js/chunk-89906324.26947b9a.js
  staging/js/chunk-e1577516.0c2537ed.js
  staging/js/chunk-e1577516.90053588.js
  staging/js/chunk-e8fa3e66.043f0cc6.js
  staging/js/chunk-e8fa3e66.250e5f5d.js
  staging/js/chunk-f60d6c70.8790c373.js
  staging/js/chunk-f60d6c70.c02b90bc.js
  staging/precache-manifest.154ed4c8fb9d5fc1632d2fa8861c7856.js
  staging/service-worker.js
Due: none

sdk: improve parameter validation on open channel
  raiden-ts/src/errors.json
  raiden-ts/src/raiden.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

sdk: extend changelog for improved error handling
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

cli: implement endpoint to create new channel
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/utils/validation.ts
Due: none

cli: reduce code complexity on channels router
  raiden-cli/src/routes/channels.ts
Due: none

cli: catch error with insufficient ETH balance
  raiden-cli/src/routes/channels.ts
Due: none

cli: fix missing channel formatting on open event
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/utils/channels.ts
Due: none

dApp: Nicer looking info icon on empty withdrawal screen (#1706)
  raiden-dapp/src/assets/info.svg
  raiden-dapp/src/components/account/Withdrawal.vue
Due: dapp

Automated deployment to GitHub Pages: 406e946fabc6981b66ebe7705ef06b9c6d4a4e3f [skip ci]
  staging/css/chunk-091f4f74.3e5a8903.css
  staging/css/chunk-12baf7f0.53c90c86.css
  staging/css/chunk-192741ba.d669c000.css
  staging/css/chunk-2fc925ad.8cbb0a83.css
  staging/img/info.c9b975f7.svg
  staging/index.html
  staging/js/app.0b1f2947.js
  staging/js/app.495aaac2.js
  staging/js/chunk-091f4f74.7223b88e.js
  staging/js/chunk-0a9c6d1a.00949c72.js
  staging/js/chunk-0a9c6d1a.5ad334ed.js
  staging/js/chunk-12baf7f0.7ea8d7ed.js
  staging/js/chunk-192741ba.568192aa.js
  staging/js/chunk-28bce315.516591ac.js
  staging/js/chunk-28bce315.f219cb0d.js
  staging/js/chunk-2fc925ad.b6365305.js
  staging/js/chunk-320b3e6a.c800a688.js
  staging/js/chunk-42bc8b47.758f1aaa.js
  staging/js/chunk-42bc8b47.caae34f9.js
  staging/js/chunk-66c53ac6.6553447c.js
  staging/js/chunk-66c53ac6.ac538869.js
  staging/js/chunk-778a1868.23eba13d.js
  staging/js/chunk-89906324.059de0ed.js
  staging/js/chunk-89906324.d3823c0a.js
  staging/js/chunk-e1577516.038e2f46.js
  staging/js/chunk-e1577516.90053588.js
  staging/js/chunk-f60d6c70.8790c373.js
  staging/js/chunk-f60d6c70.c02b90bc.js
  staging/precache-manifest.7ca70fa510e298d3d1b4e1219ee9a06c.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: b7546c6768071a35be20dc61b88eec5bad54f2bd [skip ci]
  staging/index.html
  staging/js/app.495aaac2.js
  staging/js/app.72652cab.js
  staging/js/chunk-08dab35b.28eeb9f0.js
  staging/js/chunk-08dab35b.d10a951a.js
  staging/js/chunk-08e9ead2.1ad1feb9.js
  staging/js/chunk-08e9ead2.e6519656.js
  staging/js/chunk-12baf7f0.7ea8d7ed.js
  staging/js/chunk-12baf7f0.a88bd640.js
  staging/js/chunk-192741ba.568192aa.js
  staging/js/chunk-192741ba.d404f151.js
  staging/js/chunk-28bce315.516591ac.js
  staging/js/chunk-28bce315.5639e762.js
  staging/js/chunk-2fc925ad.b6365305.js
  staging/js/chunk-2fc925ad.f4c8e700.js
  staging/js/chunk-42bc8b47.758f1aaa.js
  staging/js/chunk-42bc8b47.caae34f9.js
  staging/js/chunk-4d730eb5.bb3b6424.js
  staging/js/chunk-4d730eb5.fb1e78bb.js
  staging/js/chunk-5bd868d6.4bd12db8.js
  staging/js/chunk-5bd868d6.798e39c2.js
  staging/js/chunk-66c53ac6.6553447c.js
  staging/js/chunk-66c53ac6.66cfa38b.js
  staging/js/chunk-7916f8ca.b429b49a.js
  staging/js/chunk-7916f8ca.e46b219d.js
  staging/js/chunk-89906324.26947b9a.js
  staging/js/chunk-89906324.d3823c0a.js
  staging/js/chunk-e1577516.038e2f46.js
  staging/js/chunk-e1577516.0c2537ed.js
  staging/js/chunk-e8fa3e66.043f0cc6.js
  staging/js/chunk-e8fa3e66.250e5f5d.js
  staging/precache-manifest.80dd30b03096027765c3938623a9f98e.js
  staging/service-worker.js
Due: none

dapp: Updates changelog
  raiden-dapp/CHANGELOG.md
Due: dapp

dapp: Integrates the udc withdrawal
  raiden-dapp/src/components/dialogs/UdcDepositDialog.vue
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
  raiden-dapp/src/components/navigation/SelectHub.vue
  raiden-dapp/src/components/navigation/TransferSteps.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/account/UDC.vue
  raiden-dapp/tests/unit/components/dialogs/udc-deposit-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/udc-withdrawal-dialog.spec.ts
  raiden-dapp/tests/unit/components/navigation/select-hub.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer-steps.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/views/account/udc.spec.ts
Due: dapp

Updates light client to the alderaan demoenv
  UPGRADE-TESTENV.md
  docs/sdk-docs/connecting/README.md
  raiden-cli/src/config.json
  raiden-dapp/.env.development
  raiden-dapp/.env.ghpages
  raiden-ts/scripts/versions.js
Due: dapp, sdk, sdk_integration

Updates the changelogs
  raiden-dapp/CHANGELOG.md
  raiden-ts/CHANGELOG.md
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 5e8fb978b407ef2f316a81439c9463608a23312e [skip ci]
  staging/index.html
  staging/js/app.72652cab.js
  staging/js/app.8a90ac47.js
  staging/js/chunk-vendors.9540b11b.js
  staging/precache-manifest.3ae57ead9e0dffc04384696893dc73f6.js
  staging/service-worker.js
Due: none

sdk: Fix initialState overrides and tokenMonitored reducer
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/state.ts
Due: sdk, sdk_integration

sdk: Add msMonitorNewBPEpic and emit msBalanceProofSent event
  raiden-ts/src/actions.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/actions.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

sdk: Add tests for msMonitorNewBPEpic
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

sdk: Refactor raiden.spec.ts to new mocks
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/fixtures.ts
Due: sdk, sdk_integration

sdk: Add changelog for MS monitoring
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: Introduce LocksrootZero and use it for createBalanceHash
  raiden-ts/src/channels/types.ts
  raiden-ts/src/constants.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/messages.spec.ts
  raiden-ts/tests/unit/state.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

sdk: Add changelog for LocksrootZero fix
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: Make failure default payload t.any instead of ErrorCode
  raiden-ts/src/utils/actions.ts
Due: sdk, sdk_integration

cli: adjust README to recent changes
  raiden-cli/README.md
Due: none

dapp: Fixes displaying of metamasks errors on ErrorMessage.vue
  raiden-dapp/src/components/ErrorMessage.vue
  raiden-dapp/src/components/dialogs/UdcWithdrawalDialog.vue
Due: dapp

Automated deployment to GitHub Pages: a0a260834b6d775d95a937f04a61b8e42d25dac6 [skip ci]
  staging/css/chunk-08e9ead2.4bd7fe88.css
  staging/css/chunk-0a1aad5a.e02dd5fa.css
  staging/css/chunk-1c4c3756.0cd0c0e2.css
  staging/css/chunk-28bce315.36202238.css
  staging/css/chunk-29ded97f.6144f939.css
  staging/css/chunk-4dbd0956.57dadbf8.css
  staging/css/chunk-66c53ac6.2e5dc00b.css
  staging/css/chunk-7b0391a4.7e485eae.css
  staging/css/chunk-89906324.1b9430cb.css
  staging/css/chunk-e1577516.55540e73.css
  staging/css/chunk-fb35a2fc.1d5a726d.css
  staging/index.html
  staging/js/app.26b66854.js
  staging/js/app.8a90ac47.js
  staging/js/chunk-08e9ead2.1ad1feb9.js
  staging/js/chunk-0a1aad5a.381d83ac.js
  staging/js/chunk-1c4c3756.4abb48bb.js
  staging/js/chunk-28bce315.5639e762.js
  staging/js/chunk-29ded97f.035b72a3.js
  staging/js/chunk-4dbd0956.523f8f8e.js
  staging/js/chunk-531a2bb8.7822ec93.js
  staging/js/chunk-66c53ac6.66cfa38b.js
  staging/js/chunk-7b0391a4.5de96e0c.js
  staging/js/chunk-89906324.26947b9a.js
  staging/js/chunk-e1577516.0c2537ed.js
  staging/js/chunk-fb35a2fc.cc6f01b6.js
  staging/precache-manifest.2a1babd94327f5c637b77427b6947b40.js
  staging/service-worker.js
Due: none

Automated deployment to GitHub Pages: cc2d9caeffe6dbf6e33c63c2d3d47cc21ce1bbdf [skip ci]
  staging/index.html
  staging/js/app.26b66854.js
  staging/js/app.666b304d.js
  staging/precache-manifest.6cb0eb463512a7dc8d1f64ac1ab00320.js
  staging/service-worker.js
Due: none

sdk: Properly handle estimateGas errors on channelOpen
  raiden-ts/src/channels/epics.ts
Due: sdk, sdk_integration

sdk: Add changelog for deposit on openChannel error fix
  raiden-ts/CHANGELOG.md
Due: sdk, sdk_integration

sdk: Expose secret on public interface RaidenTransfer
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk, sdk_integration

sdk: Make public RaidenChannel id, settleTimeout & openBlock required
  raiden-ts/src/channels/state.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
