Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Transfer will fail if recipient is not target
  raiden-ts/src/transfers/epics.ts
  raiden-ts/tests/unit/epics.spec.ts
Due: sdk

Fixed display issue when capacity has more than 12 digits
  raiden-dapp/src/views/Payment.vue
Due: dapp

Create bug reporting template
  .github/ISSUE_TEMPLATE/bug.md
Due: none

Delete story points from issue template
  .github/ISSUE_TEMPLATE/other-issues.md
Due: none

Simplified payment screen (#306)
  raiden-dapp/src/assets/down_arrow.svg
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/scss/colors.scss
  raiden-dapp/src/views/Payment.vue
Due: dapp

Handle matrix errors on each getUserPresence
  raiden-ts/src/transport/epics.ts
Due: sdk

Added better payment feedback handling
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

Add withdraw request handling
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transfers/reducer.ts
Due: sdk

Monitor withdraw events, persist in state
  raiden-ts/src/channels/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/channels/state.ts
  raiden-ts/src/raiden.ts
Due: sdk

Withdraw tests
  raiden-ts/tests/unit/actions.spec.ts
  raiden-ts/tests/unit/epics.spec.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Added additional infos
  .github/ISSUE_TEMPLATE/bug.md
Due: none

Minor updates
  .github/ISSUE_TEMPLATE/bug.md
Due: none

Create bug reporting template [skip ci] (#307)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/other-issues.md
Due: none

PR review
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/tests/unit/reducers.spec.ts
Due: sdk

Added missing unit test for resolve ens to increase coverage
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Fixed channel stepper view
  raiden-dapp/src/components/Stepper.vue
Due: dapp

Fixed address input's cut off error messages & alignment
  raiden-dapp/src/components/AddressInput.vue
Due: dapp

Details on how to try the Raiden Demo dApp
  README.md
Due: none

Small clarifications based on feedback
  README.md
Due: none

Updated link title
  README.md
Due: none

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
