Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

Disable service worker when doing a build for raiden-package target
  raiden-dapp/src/registerServiceWorker.ts
Due: dapp

Fix small lint issue
  raiden-dapp/src/registerServiceWorker.ts
Due: dapp

Get rid of EnumType, enum codecs and SignedMessageCodecs
  raiden-ts/src/channels/state.ts
  raiden-ts/src/messages/types.ts
  raiden-ts/src/messages/utils.ts
  raiden-ts/src/utils/types.ts
  raiden-ts/tests/unit/messages.spec.ts
Due: sdk

Small updates to the Try out Raiden guide
  README.md
Due: none

Fixing formatting issue in raiden-ts readme
  raiden-ts/README.md
Due: sdk

Small updates to the Try out Raiden guide (#341)
  README.md
Due: none

Prevent users from paying/depositing when there's no open channel
  raiden-dapp/src/components/Tokens.vue
Due: dapp

Fixing formatting issue in raiden-ts readme (#344)
  raiden-ts/README.md
Due: sdk

Refactored epic unit tests
  raiden-ts/tests/unit/epics.spec.ts
  raiden-ts/tests/unit/epics/channels.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/epics/transport.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/patches.ts
Due: sdk

Added link to the SDK documentation
  README.md
Due: none

Adding links to the hosted SDK documentation
  raiden-ts/README.md
Due: sdk

Added link to the SDK documentation [skip ci] (#347)
  README.md
  raiden-ts/README.md
Due: sdk

Preventing user from paying hub if channel is not in open state
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/Payment.vue
  raiden-dapp/tests/unit/components/address-input.spec.ts
  raiden-dapp/tests/unit/views/payment.spec.ts
Due: dapp

Fixed block address input unit test
  raiden-dapp/tests/unit/components/address-input.spec.ts
Due: dapp

Preventing user from paying hub if channel is not in open state (#349)
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/Payment.vue
  raiden-dapp/tests/unit/components/address-input.spec.ts
  raiden-dapp/tests/unit/views/payment.spec.ts
Due: dapp

Use free PFS
  raiden-ts/package-lock.json
  raiden-ts/package.json
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/config.ts
  raiden-ts/src/epics.ts
  raiden-ts/src/messages/types.ts
  raiden-ts/src/path/actions.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/path/types.ts
  raiden-ts/src/path/utils.ts
  raiden-ts/src/polyfills.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transfers/actions.ts
  raiden-ts/src/transfers/epics.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/utils/matrix.ts
  raiden-ts/src/utils/rxjs.ts
  raiden-ts/tsconfig.json
  raiden-ts/typings/abort-controller/index.d.ts
Due: sdk

PFS tests
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/epics/raiden.spec.ts
  raiden-ts/tests/unit/epics/transfers.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk

Update dependencies
  raiden-ts/package-lock.json
  raiden-ts/package.json
Due: sdk

Add config's for httpTimeout and redux-logger level
  raiden-ts/src/config.ts
  raiden-ts/src/path/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/src/utils/matrix.ts
Due: sdk

Add metadata to exposed RaidenSentTransfer
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
Due: sdk

Address some PR comments
  raiden-ts/tests/e2e/raiden.spec.ts
  raiden-ts/tests/unit/epics/path.spec.ts
  raiden-ts/tests/unit/fixtures.ts
Due: sdk

Impelment Raiden.findRoutes
  raiden-ts/src/raiden.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
