Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

dApp: Adding WalletConnect dialog
  raiden-dapp/src/components/dialogs/RaidenDialog.vue
  raiden-dapp/src/components/dialogs/WalletConnectDialog.vue
  raiden-dapp/src/locales/en.json
Due: dapp

dApp: Adding tests for WalletConnect component
  raiden-dapp/tests/unit/components/dialogs/wallet-connect-dialog.spec.ts
Due: dapp

dapp: add infura id to wallet connect options
  raiden-dapp/src/services/ethereum-connection/wallet-connect.ts
  raiden-dapp/tests/unit/services/ethereum-connection/wallet-connect.spec.ts
Due: dapp

dapp: add availability field to connections
  raiden-dapp/src/services/ethereum-connection/direct-rpc-provider.ts
  raiden-dapp/src/services/ethereum-connection/injected-provider.ts
  raiden-dapp/src/services/ethereum-connection/types.ts
  raiden-dapp/src/services/ethereum-connection/wallet-connect.ts
  raiden-dapp/tests/unit/services/ethereum-connection/direct-rpc-provider.spec.ts
  raiden-dapp/tests/unit/services/ethereum-connection/injected-provider.spec.ts
  raiden-dapp/tests/unit/services/ethereum-connection/wallet-connect.spec.ts
Due: dapp

dapp: export user settings to own store module
  raiden-dapp/src/components/account/backup-state/UploadStateDialog.vue
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/store/user-settings/index.ts
  raiden-dapp/src/store/user-settings/mutations.ts
  raiden-dapp/src/store/user-settings/state.ts
  raiden-dapp/src/store/user-settings/types.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/account/Settings.vue
  raiden-dapp/tests/unit/store.spec.ts
  raiden-dapp/tests/unit/store/user-settings/mutations.spec.ts
  raiden-dapp/tests/unit/views/account/settings.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
Due: dapp

dapp: fix wrong snake case formatting
  raiden-dapp/src/services/ethereum-connection/direct-rpc-provider.ts
  raiden-dapp/src/services/ethereum-connection/injected-provider.ts
  raiden-dapp/src/services/ethereum-connection/wallet-connect.ts
Due: dapp

dapp: add connection options to vuex user settings
  raiden-dapp/src/services/ethereum-connection/types.ts
  raiden-dapp/src/store/user-settings/getters.ts
  raiden-dapp/src/store/user-settings/mutations.ts
  raiden-dapp/src/store/user-settings/state.ts
  raiden-dapp/src/store/user-settings/types.ts
  raiden-dapp/tests/unit/store/user-settings/getters.spec.ts
  raiden-dapp/tests/unit/store/user-settings/mutations.spec.ts
Due: dapp

dapp: adopt naming scheme for connection process
  raiden-dapp/src/services/ethereum-connection/wallet-connect.ts
  raiden-dapp/src/services/ethereum-provider/__mocks__/direct-rpc-provider.ts
  raiden-dapp/src/services/ethereum-provider/direct-rpc-provider.ts
  raiden-dapp/src/services/ethereum-provider/index.ts
  raiden-dapp/src/services/ethereum-provider/injected-provider.ts
  raiden-dapp/src/services/ethereum-provider/types.ts
  raiden-dapp/src/services/ethereum-provider/wallet-connect-provider.ts
  raiden-dapp/src/store/user-settings/getters.ts
  raiden-dapp/src/store/user-settings/mutations.ts
  raiden-dapp/src/store/user-settings/state.ts
  raiden-dapp/src/store/user-settings/types.ts
  raiden-dapp/src/views/Home.vue
  raiden-dapp/tests/unit/services/ethereum-connection/direct-rpc-provider.spec.ts
  raiden-dapp/tests/unit/services/ethereum-provider/direct-rpc-provider.spec.ts
  raiden-dapp/tests/unit/services/ethereum-provider/injected-provider.spec.ts
  raiden-dapp/tests/unit/services/ethereum-provider/wallet-connect-provider.spec.ts
  raiden-dapp/tests/unit/store/user-settings/getters.spec.ts
  raiden-dapp/tests/unit/store/user-settings/mutations.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
Due: dapp

Add tests for settleChannel, withdrawChannel public methods of the raiden class
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

Update readme
  README.md
Due: none

Add update-submodules to raiden-ts workspace
  README.md
  raiden-ts/package.json
Due: sdk, sdk_integration

sdk: Add test for `transfer`
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: tests: add Raiden.create tests
  raiden-ts/package.json
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: tests: add userDepositTokenAddress & getTokenInfo tests
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: tests: make start also test synced promise
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: tests: add getTokenList test
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: tests: add mint tests
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

dapp: improve action buttons loading state
  raiden-dapp/src/components/ActionButton.vue
Due: dapp

dapp: introduce connection manager component
  raiden-dapp/src/components/ConnectionManager.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/__mocks__/config-provider.ts
  raiden-dapp/src/services/__mocks__/raiden-service.ts
  raiden-dapp/src/services/ethereum-provider/__mocks__/direct-rpc-provider.ts
  raiden-dapp/src/views/Home.vue
  raiden-dapp/src/views/OpenChannelRoute.vue
  raiden-dapp/tests/unit/components/connection-manager.spec.ts
  raiden-dapp/tests/unit/utils/mocks.ts
  raiden-dapp/tests/unit/views/home.spec.ts
Due: dapp

dapp: adopt connection related translation
  raiden-dapp/src/components/dialogs/ConnectionPendingDialog.vue
  raiden-dapp/src/components/dialogs/WalletConnectProviderDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/tests/unit/components/dialogs/wallet-connect-provider-dialog.spec.ts
Due: dapp
