Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

dapp: fix notification card for undefined icon
  raiden-dapp/src/assets/notifications/notification_fallback.svg
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
Due: dapp

dapp: refactor notification card unit tests
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
Due: dapp

dapp: extend changelog for notification card fix
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: fdd4c4e4eeb083da8800ea14ede3cd72033a2a0e [skip ci]
  staging/js/app.js
Due: none

Automated deployment to GitHub Pages: e9e4ec4d860c88bd486bdc61d76a76868bf30b65 [skip ci]
  staging/img/notification_fallback.03d0b2a7.svg
  staging/js/14.js
Due: none

sdk: add suggestedPartners method
  raiden-ts/CHANGELOG.md
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/types.ts
Due: sdk, sdk_integration

sdk: rename and extend AsBigNumberish to Decodable and implement
  raiden-ts/src/db/types.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/types.ts
  raiden-ts/src/utils/types.ts
Due: sdk, sdk_integration

sdk: add suggestPartners tests
  raiden-ts/tests/integration/raiden.spec.ts
Due: sdk, sdk_integration

dapp: fix transfer history list to show 3rd entry
  raiden-dapp/src/components/transaction-history/TransactionList.vue
Due: dapp

dapp: extend changelog for transfer history fix
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: eaf8b7bc30dedd6aaf94938fd55eb2b321049751 [skip ci]
  staging/js/10.js
Due: none

dApp: Extending tests
  raiden-dapp/tests/unit/components/app-header.spec.ts
  raiden-dapp/tests/unit/views/account-route.spec.ts
Due: dapp

Simplifying logic for displaying info overlay
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/HeaderContent.vue
  raiden-dapp/src/components/overlays/InfoOverlay.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/router/routes.ts
  raiden-dapp/src/views/AccountRoute.vue
  raiden-dapp/tests/unit/components/header-content.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 81b06eb9927a47dc903171ceb2ef679e16f64e91 [skip ci]
  staging/img/info.1557b307.svg
  staging/img/placeholder.78494d5f.svg
  staging/index.html
  staging/js/0.js
  staging/js/1.js
  staging/js/10.js
  staging/js/11.js
  staging/js/12.js
  staging/js/13.js
  staging/js/14.js
  staging/js/15.js
  staging/js/16.js
  staging/js/17.js
  staging/js/18.js
  staging/js/19.js
  staging/js/2.js
  staging/js/20.js
  staging/js/21.js
  staging/js/22.js
  staging/js/23.js
  staging/js/24.js
  staging/js/25.js
  staging/js/26.js
  staging/js/27.js
  staging/js/3.js
  staging/js/4.js
  staging/js/5.js
  staging/js/6.js
  staging/js/7.js
  staging/js/8.js
  staging/js/9.js
  staging/js/app.js
Due: none

deploy: Run staging and local develop on development env
  raiden-dapp/.env.development
  raiden-dapp/.env.staging
Due: dapp

dapp: fix update event of service worker
  raiden-dapp/src/registerServiceWorker.ts
Due: dapp

dapp: add initial pre-caching to service worker
  raiden-dapp/src/sw.js
Due: dapp

dApp: sort transactions latest first
  raiden-dapp/src/components/transaction-history/TransactionList.vue
Due: dapp

dApp: Extending test transactions with multiple dates
  raiden-dapp/tests/unit/components/transaction-history/transaction-list.spec.ts
  raiden-dapp/tests/unit/components/transaction-history/transaction.spec.ts
  raiden-dapp/tests/unit/utils/data-generator.ts
Due: dapp

dApp: changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

Automated deployment to GitHub Pages: 2d87ebe861c8720fa73aae5fffcb5f8f500cbb6e [skip ci]
  staging/js/11.js
Due: none

dApp: Illustrations for info overlays
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/assets/info-overlay/backup_state_info.svg
  raiden-dapp/src/assets/info-overlay/channels_info.svg
  raiden-dapp/src/assets/info-overlay/open_channel_info.svg
  raiden-dapp/src/assets/info-overlay/placeholder.svg
  raiden-dapp/src/assets/info-overlay/select_hub_info.svg
  raiden-dapp/src/assets/info-overlay/transfer_eth_info.svg
  raiden-dapp/src/assets/info-overlay/transfer_info.svg
  raiden-dapp/src/assets/info-overlay/transfer_steps_info.svg
  raiden-dapp/src/assets/info-overlay/udc_info.svg
  raiden-dapp/src/assets/info-overlay/withdraw_tokens_info.svg
  raiden-dapp/src/components/overlays/InfoOverlay.vue
Due: dapp

dApp: fixes broken tests
  raiden-dapp/tests/unit/components/overlays/info-overlay.spec.ts
Due: dapp

dApp: Illustrations for info overlays (#2427)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/assets/info-overlay/backup_state_info.svg
  raiden-dapp/src/assets/info-overlay/channels_info.svg
  raiden-dapp/src/assets/info-overlay/open_channel_info.svg
  raiden-dapp/src/assets/info-overlay/placeholder.svg
  raiden-dapp/src/assets/info-overlay/select_hub_info.svg
  raiden-dapp/src/assets/info-overlay/transfer_eth_info.svg
  raiden-dapp/src/assets/info-overlay/transfer_info.svg
  raiden-dapp/src/assets/info-overlay/transfer_steps_info.svg
  raiden-dapp/src/assets/info-overlay/udc_info.svg
  raiden-dapp/src/assets/info-overlay/withdraw_tokens_info.svg
  raiden-dapp/src/components/overlays/InfoOverlay.vue
  raiden-dapp/tests/unit/components/overlays/info-overlay.spec.ts
Due: dapp

Automated deployment to GitHub Pages: 5997aad4b92f1fad35f92efa34630156b82adb65 [skip ci]
  staging/img/backup_state_info.0f9ae539.svg
  staging/img/channels_info.76c17597.svg
  staging/img/open_channel_info.7e9ea0d5.svg
  staging/img/placeholder.78494d5f.svg
  staging/img/select_hub_info.32d32b20.svg
  staging/img/transfer_eth_info.87f6409a.svg
  staging/img/transfer_info.1d9dd924.svg
  staging/img/transfer_steps_info.1dbe6e75.svg
  staging/img/udc_info.92f96cdc.svg
  staging/img/withdraw_tokens_info.95878cfb.svg
  staging/js/app.js
Due: none

dApp: adjusting token info component to new design
  raiden-dapp/src/components/Divider.vue
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/views/OpenChannelRoute.vue
Due: dapp

sdk: use intervalFromConfig on all txs retryWhile
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/epics/withdraw.ts
Due: sdk, sdk_integration

sdk: add 'missing response' to networkErrors
  raiden-ts/src/utils/error.ts
Due: sdk, sdk_integration

sdk: make start async and introduce synced notifier
  raiden-ts/src/actions.ts
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/types.ts
  raiden-ts/tests/unit/mocks.ts
Due: sdk, sdk_integration

sdk: add support to Iterable in retryWhile
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

sdk: implement intervalFromConfig and use it for intervals
  raiden-ts/src/config.ts
  raiden-ts/src/transfers/epics/retry.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transport/epics/init.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/transport/epics/rooms.ts
Due: sdk, sdk_integration

sdk: introduce getLogsByChunk$
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/helpers.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/transport/epics/webrtc.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

sdk: remove deprecated resultSelector param from fromEthersEvent
  raiden-ts/src/channels/epics.ts
  raiden-ts/src/services/epics.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/utils/ethers.ts
Due: sdk, sdk_integration

cli: set syncing status and register routes only after synced
  raiden-cli/src/routes/api.v1.ts
Due: none
