Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dApp: Better code organization for notification
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

dApp: Backup state reminder mutation and state
  raiden-dapp/src/types.d.ts
Due: dapp

dApp: Tests for backup state notify dates
  raiden-dapp/src/views/TransferRoute.vue
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
Due: dapp

dApp: Organize notification icons in sub dir
  raiden-dapp/src/assets/notifications/notification_block.svg
  raiden-dapp/src/assets/notifications/notification_channels.svg
  raiden-dapp/src/assets/notifications/notification_receive.svg
  raiden-dapp/src/assets/notifications/notification_settle.svg
  raiden-dapp/src/assets/notifications/notification_state_backup.svg
  raiden-dapp/src/assets/notifications/notification_trash.svg
  raiden-dapp/src/assets/notifications/notifications.svg
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/components/notification-panel/NotificationSnackbar.vue
Due: dapp

dApp: Move notification data to function
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

dApp: Prepare state backup notifications with link
  raiden-dapp/src/assets/notification_state_backup.svg
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/store/notifications/types.d.ts
Due: dapp

dApp: Replaces switch statement with router.push
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/store/notifications/types.d.ts
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

dApp: Updated variable names
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/TransferRoute.vue
Due: dapp

dApp: Backup state reminder mutation and state
  raiden-dapp/src/store/index.ts
Due: dapp

Trying to pass CI by updating spy function in test
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
Due: dapp

Tests for notification links
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
Due: dapp

Fixes build issues
  raiden-dapp/src/types.d.ts
  raiden-dapp/tsconfig.json
Due: dapp

Changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

dApp: State backup notification (#2298)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/assets/notifications/notification_block.svg
  raiden-dapp/src/assets/notifications/notification_channels.svg
  raiden-dapp/src/assets/notifications/notification_receive.svg
  raiden-dapp/src/assets/notifications/notification_settle.svg
  raiden-dapp/src/assets/notifications/notification_state_backup.svg
  raiden-dapp/src/assets/notifications/notification_trash.svg
  raiden-dapp/src/assets/notifications/notifications.svg
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/components/notification-panel/NotificationSnackbar.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/store/notifications/types.d.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/src/views/TransferRoute.vue
  raiden-dapp/tests/unit/components/notification-panel/notification-card.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/views/transfer-route.spec.ts
  raiden-dapp/tsconfig.json
Due: dapp

Automated deployment to GitHub Pages: 8eb37078b139528a3f54b71ee58f8b140dd57790 [skip ci]
  staging/img/notification_state_backup.d9881512.svg
  staging/js/10.js
  staging/js/12.js
  staging/js/13.js
  staging/js/14.js
  staging/js/15.js
  staging/js/app.js
Due: none

ci: merge checkout and install job to optimize
  .circleci/config.yml
Due: none

ci: use pipeline parameters instead of anchors
  .circleci/config.yml
Due: none

ci: make use of run working directory property
  .circleci/config.yml
Due: none

ci: export duplicated license check as command
  .circleci/config.yml
Due: none

ci: switch job definition order
  .circleci/config.yml
Due: none

ci: use explicit workspace directories
  .circleci/config.yml
Due: none

ci: introduce command for test uploads
  .circleci/config.yml
Due: none

ci: define report directory for executors
  .circleci/config.yml
Due: none

ci: make use of workflow 'when' property
  .circleci/config.yml
Due: none

ci: fix report/artifact upload for sdk tests
  .circleci/config.yml
  .gitignore
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

deps: Update python Docker tag to v3.9
  e2e-environment/Dockerfile
Due: none

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 5a729c9e3b1ce6fd1ff1ad71771a66811951d0b5 [skip ci]
  staging/js/0.js
  staging/js/1.js
  staging/js/10.js
  staging/js/11.js
  staging/js/13.js
  staging/js/14.js
  staging/js/15.js
  staging/js/16.js
  staging/js/17.js
  staging/js/18.js
  staging/js/19.js
  staging/js/2.js
  staging/js/20.js
  staging/js/22.js
  staging/js/23.js
  staging/js/24.js
  staging/js/25.js
  staging/js/3.js
  staging/js/5.js
  staging/js/7.js
  staging/js/8.js
  staging/js/9.js
  staging/js/app.js
Due: none

Docs: Updating root README
  README.md
Due: none

ci: restore improved yarn package caching
  .circleci/config.yml
Due: none

ci: use next-gen CircleCI image as base executor
  .circleci/config.yml
Due: none

Docs: Updating dApp README
  raiden-dapp/README.md
Due: dapp

infra: unify eslint & prettier configs
  .eslintrc.json
  .prettierrc.json
  package.json
  raiden-cli/package.json
  raiden-dapp/.eslintrc.js
  raiden-dapp/.eslintrc.json
  raiden-dapp/.nvmrc
  raiden-dapp/.prettierignore
  raiden-dapp/.prettierrc
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

sdk: fix linting issues
  raiden-ts/src/state.ts
  raiden-ts/src/utils/data.ts
  raiden-ts/src/utils/error.ts
  raiden-ts/tests/global.d.ts
  raiden-ts/tests/integration/raiden.spec.ts
  raiden-ts/tests/unit/epics/monitor.spec.ts
  raiden-ts/tests/unit/epics/withdraw.spec.ts
  raiden-ts/tests/unit/fixtures.ts
  raiden-ts/tests/unit/mocks.ts
  raiden-ts/tests/unit/patches.ts
  raiden-ts/tests/unit/state.spec.ts
Due: sdk, sdk_integration

dapp: sort package scripts by name and workflow
  raiden-dapp/package.json
Due: dapp

cli: fix linting issues
  raiden-cli/src/app.ts
  raiden-cli/src/cli.ts
  raiden-cli/src/global.d.ts
  raiden-cli/src/index.ts
  raiden-cli/src/routes/api.v1.ts
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/connections.ts
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/routes/pendingTransfers.ts
  raiden-cli/src/routes/testing.ts
  raiden-cli/src/routes/tokens.ts
  raiden-cli/src/utils/logging.ts
  raiden-cli/src/utils/validation.ts
Due: none

sdk: export ESLint ignore rules to own file
  raiden-ts/.eslintignore
  raiden-ts/package.json
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
