Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk

codecov.yml:

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/

comment:
  after_n_builds: 2

Fixed continue btn on PFS selection step
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Change log
  raiden-dapp/CHANGELOG.md
Due: dapp

Update Readme
  README.md
Due: none

Fixed alignment issue
  raiden-dapp/src/scss/fonts.scss
  raiden-dapp/src/views/Transfer.vue
Due: dapp

Small scss refactoring
  raiden-dapp/src/components/AddressDisplay.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/ChannelLifeCycle.vue
  raiden-dapp/src/components/ListHeader.vue
  raiden-dapp/src/components/RaidenDialog.vue
  raiden-dapp/src/components/Stepper.vue
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/src/views/OpenChannel.vue
  raiden-dapp/src/views/SelectToken.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Removes ETH Balance from dApp header
  raiden-dapp/src/components/AppHeader.vue
Due: dapp

Corrections to the Readme
  README.md
Due: none

Minor correction
  README.md
Due: none

Fix/transfer alignment (#1109)
  raiden-dapp/src/components/AddressDisplay.vue
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/AmountInput.vue
  raiden-dapp/src/components/AppHeader.vue
  raiden-dapp/src/components/ChannelLifeCycle.vue
  raiden-dapp/src/components/ListHeader.vue
  raiden-dapp/src/components/RaidenDialog.vue
  raiden-dapp/src/components/Stepper.vue
  raiden-dapp/src/components/TokenInformation.vue
  raiden-dapp/src/components/TokenOverlay.vue
  raiden-dapp/src/scss/fonts.scss
  raiden-dapp/src/views/OpenChannel.vue
  raiden-dapp/src/views/SelectToken.vue
  raiden-dapp/src/views/Transfer.vue
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Fixed continue btn on PFS selection step (#1106)
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/views/TransferSteps.vue
Due: dapp

Rename SentTransfer -> Transfer, to be more generic
  raiden-ts/src/helpers.ts
  raiden-ts/src/index.ts
  raiden-ts/src/migration/1.ts
  raiden-ts/src/raiden.ts
  raiden-ts/src/state.ts
  raiden-ts/src/transfers/epics/secret.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/transfers/state.ts
  raiden-ts/src/transfers/utils.ts
  raiden-ts/tests/e2e/raiden.spec.ts
Due: sdk

Adapt dApp to SentTransfer renaming
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
Due: dapp

Use own Reducer type instead of importing from redux
  raiden-ts/src/channels/reducer.ts
  raiden-ts/src/transfers/reducer.ts
  raiden-ts/src/utils/actions.ts
  raiden-ts/src/utils/redux.ts
Due: sdk

Update README
  docs/sdk-docs/direct-transfer/README.md
Due: none

Disable loglevel setLevel persistence
  raiden-ts/src/raiden.ts
  raiden-ts/src/transport/epics.ts
  raiden-ts/typings/matrix-js-sdk/index.d.ts
Due: sdk

setupLogStore & download logs
  raiden-dapp/package-lock.json
  raiden-dapp/package.json
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/main.ts
  raiden-dapp/src/utils/logstore.ts
  raiden-dapp/vue.config.js
Due: dapp

Register raiden.stop on beforeunload
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

Add changelog entry
  raiden-dapp/CHANGELOG.md
Due: dapp

PR review
  raiden-dapp/src/components/SplashScreen.vue
  raiden-dapp/src/utils/logstore.ts
Due: dapp

Display raiden versions in footer
  raiden-dapp/src/App.vue
  raiden-dapp/src/locales/en.json
  raiden-ts/.gitignore
  raiden-ts/package.json
  raiden-ts/scripts/versions.js
  raiden-ts/src/raiden.ts
Due: dapp, sdk

Satisfy codecov
  raiden-ts/tests/unit/helpers.spec.ts
Due: sdk

Display raiden versions in footer (#1114)
  raiden-dapp/src/App.vue
  raiden-dapp/src/locales/en.json
  raiden-ts/.gitignore
  raiden-ts/package.json
  raiden-ts/scripts/versions.js
  raiden-ts/src/raiden.ts
  raiden-ts/tests/unit/helpers.spec.ts
Due: dapp, sdk
