Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

dapp: add reset connection button
  raiden-dapp/CHANGELOG.md
  raiden-dapp/src/components/dialogs/ConnectionPendingDialog.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/views/Home.vue
Due: dapp

dapp: extend disconnect to reset provider
  raiden-dapp/src/components/account/AccountContent.vue
Due: dapp

sdk: Add test for `directRoute` and `findRoutes`
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

deps: fix sdk build and cli 400 response
  raiden-cli/src/routes/channels.ts
  raiden-cli/src/routes/userDeposit.ts
  raiden-ts/src/transport/epics/init.ts
Due: sdk, sdk_integration

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  .github/actions/changelog-reminder/package.json
  package.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

sdk: Adding openChannel unit test for the raiden class
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: fix Raiden.openChannel unit test
  raiden-ts/src/epics.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

dApp: Adjusting ChannelList UI for mobile
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/locales/en.json
Due: dapp

sdk: add dispatchRequestAndGetResponse custom rx operator
  raiden-ts/src/utils/error.ts
  raiden-ts/src/utils/rx.ts
Due: sdk, sdk_integration

sdk: replace latest.presences with latest.whitelisted
  raiden-ts/src/epics.ts
  raiden-ts/src/reducer.ts
  raiden-ts/src/transport/epics/presence.ts
  raiden-ts/src/transport/utils.ts
  raiden-ts/src/types.ts
Due: sdk, sdk_integration

sdk: refactor: improve workflow for searchAddressPresence$ utility
  raiden-ts/src/transport/epics/presence.ts
Due: sdk, sdk_integration

sdk: make pfsRequestEpic use the dispatchRequestAndGetResponse pattern
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/epics/pathfinding.ts
  raiden-ts/src/services/utils.ts
Due: sdk, sdk_integration

sdk: remove presences usage from epics
  raiden-ts/src/errors.json
  raiden-ts/src/transfers/epics/locked.ts
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

sdk: refactor: move PathError to utils as ServiceError
  raiden-ts/src/services/epics/helpers.ts
  raiden-ts/src/services/utils.ts
  raiden-ts/src/utils/error.ts
Due: sdk, sdk_integration

sdk: request presence upon sending a message
  raiden-ts/src/messages/actions.ts
  raiden-ts/src/transport/epics/messages.ts
Due: sdk, sdk_integration

sdk: implement new webRTC signaling protocol
  raiden-ts/src/transport/epics/webrtc.ts
Due: sdk, sdk_integration

sdk: extract reusable getNoDeliveryPeers operator
  raiden-ts/src/transfers/epics/withdraw.ts
  raiden-ts/src/transport/epics/messages.ts
  raiden-ts/src/transport/utils.ts
Due: sdk, sdk_integration

sdk: add changelog and fix tests for transport changes
  raiden-ts/CHANGELOG.md
  raiden-ts/tests/integration/epics/transport.spec.ts
  raiden-ts/tests/unit/utils.spec.ts
Due: sdk, sdk_integration

sdk: Add test for `suggestPartners`
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

sdk: Add test for `transferOnchainTokens`
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
