Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

sdk: chore: adjust db type for TS 4.8
  raiden-ts/src/db/utils.ts
Due: sdk, sdk_integration

deps: bump CI cache and yarn.lock
  .circleci/config.yml
  yarn.lock
Due: none

Pin circleci node version
  .circleci/config.yml
Due: none

Fix: typos
  raiden-ts/docs-source/SDK-Development.md
Due: sdk, sdk_integration

Fix: typo
  raiden-ts/docs-source/account.md
Due: sdk, sdk_integration

chore: fix typos
  raiden-dapp/src/views/TransferRoute.vue
  raiden-ts/docs-source/channels.md
Due: dapp, sdk, sdk_integration

Path conditions:
  dapp: any of: raiden-dapp/
  sdk: any of: raiden-ts/
  sdk_integration: any of: raiden-ts/
