Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

sdk: Update raiden-contracts to 0.37.5
  raiden-ts/CHANGELOG.md
  raiden-ts/scripts/versions.js
Due: sdk, sdk_integration

cli: Remove unnecessary code
  raiden-cli/src/index.ts
Due: none

dapp: Use UDC address from env when given
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

sdk: Use new contracts on goerli by default
  raiden-ts/src/helpers.ts
Due: sdk, sdk_integration

dapp: Set VUE_APP_UDC_ADDRESS for stable hosted dapp
  raiden-dapp/.env.production
Due: dapp

sdk: replace raidenRootEpic with combineRaidenEpics
  raiden-ts/src/epics.ts
  raiden-ts/src/raiden.ts
  raiden-ts/tests/integration/mocks.ts
  raiden-ts/tests/unit/raiden.spec.ts
Due: sdk, sdk_integration

dapp: init Fastlane for android beta release
  raiden-dapp/.gitignore
  raiden-dapp/Gemfile
  raiden-dapp/Gemfile.lock
  raiden-dapp/fastlane/Appfile
  raiden-dapp/fastlane/Fastfile
  raiden-dapp/fastlane/Pluginfile
  raiden-dapp/keyfiles/.gitkeep
Due: dapp

dapp: add first version of Fastlane documentation
  raiden-dapp/fastlane/.env.secrets.template
  raiden-dapp/fastlane/README.md
Due: dapp

dapp: add fastlane versioning for Android
  raiden-dapp/Gemfile.lock
  raiden-dapp/fastlane/.env.versions
  raiden-dapp/fastlane/Fastfile
  raiden-dapp/fastlane/Pluginfile
Due: dapp

dapp: prevent fastlane from overwriting README
  raiden-dapp/fastlane/Fastfile
Due: dapp

dapp: hide secrets in the fastlane pipe
  raiden-dapp/fastlane/Fastfile
Due: dapp

dapp: adopt fastlane to make internal test drafts
  raiden-dapp/fastlane/Fastfile
  raiden-dapp/fastlane/README.md
Due: dapp

dapp: extend fastlane docs for installation steps
  raiden-dapp/fastlane/README.md
Due: dapp

dapp: add docs for required secret documents
  raiden-dapp/fastlane/README.md
Due: dapp

dapp: add fastlane docs for trouble shooting
  raiden-dapp/fastlane/README.md
Due: dapp

mobile: setup sqlite plugin correctly depending on platform
  raiden-dapp/package.json
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

fixup: Improve typing
  raiden-dapp/src/services/raiden-service.ts
Due: dapp

dApp: Fixing broken info overlays on mobile
  raiden-dapp/src/components/overlays/InfoOverlay.vue
  raiden-dapp/src/scss/dimensions.scss
  raiden-dapp/tests/unit/components/overlays/info-overlay.spec.ts
Due: dapp

sdk: passthrough PouchDB options object
  raiden-ts/src/helpers.ts
Due: sdk, sdk_integration

deps: Lock file maintenance all non-major dependencies
  .github/actions/changelog-reminder/package-lock.json
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
  yarn.lock
Due: dapp, sdk, sdk_integration

dapp: Add cordova-sqlite backend for mobile
  raiden-dapp/.env.capacitor
  raiden-dapp/package.json
  raiden-dapp/src/services/raiden-service.ts
  yarn.lock
Due: dapp

dapp: add WalletConnect as last resort provider
  raiden-dapp/package.json
  raiden-dapp/src/services/web3-provider.ts
  yarn.lock
Due: dapp

dapp: extend reset handler for wallet events
  raiden-dapp/src/services/web3-provider.ts
Due: dapp

dapp: add rtc endpoint for WalletConnect to config
  raiden-dapp/public/config.json.example
  raiden-dapp/src/services/config-provider.ts
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/services/web3-provider.ts
Due: dapp
