Repository raiden-network/light-client: changes, and which Codecov flags are due for each by the changed paths.
All: dapp, sdk, sdk_integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  range: 80..100
  round: down
  precision: 2

  status:
    patch:
      default:
        target: 85%
        threshold: 1.00%
    project:
      default: off
      dapp:
        flags: dapp
        target: 85%
        threshold: 1.00%
      sdk:
        flags: sdk
        target: 85%
        threshold: 1.00%

flags:
  dapp:
    paths:
      - raiden-dapp/
  sdk:
    paths:
      - raiden-ts/
  sdk_integration:
    carryforward: true
    paths:
      - raiden-ts/

dependencies: Update all non-major dependencies
  raiden-cli/package.json
  raiden-dapp/package.json
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

dApp: refactor channels list, introduce withdraw dialog
  raiden-dapp/src/assets/deposit.svg
  raiden-dapp/src/components/channels/ChannelActions.vue
  raiden-dapp/src/components/channels/ChannelDialogs.vue
  raiden-dapp/src/components/channels/ChannelLifeCycle.vue
  raiden-dapp/src/components/channels/ChannelList.vue
  raiden-dapp/src/components/dialogs/ChannelWithdrawDialog.vue
  raiden-dapp/src/components/navigation/Channels.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/src/types.d.ts
  raiden-dapp/tests/unit/components/channels/channel-lifecycle.spec.ts
Due: dapp

dApp: add tests for refactored channels list and withdraw dialog
  raiden-dapp/tests/unit/components/channels/channel-list.spec.ts
  raiden-dapp/tests/unit/components/channels/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/dialogs/channel-withdraw-dialog.spec.ts
  raiden-dapp/tests/unit/components/navigation/channels.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

dApp: add changelog entry for withdraw functionality
  raiden-dapp/CHANGELOG.md
Due: dapp

dependencies: Update dependency yargs to v15.4.1
  raiden-cli/package.json
Due: none

Automated deployment to GitHub Pages: 3b5b8acc44a1d5680c857c6b01d40d8619929fd6 [skip ci]
  staging/css/chunk-0f0b16ac.e65b95d7.css
  staging/css/chunk-3fce2bbf.f0caf6ea.css
  staging/css/chunk-6568b6aa.82ceee0d.css
  staging/css/chunk-68cd463d.05692934.css
  staging/css/chunk-6ac1648f.f599ddef.css
  staging/css/chunk-6c8d7cd8.f6fa631c.css
  staging/css/chunk-70d268f2.fba3a953.css
  staging/css/chunk-ae1455a4.32f65b6d.css
  staging/img/deposit.d1f000b7.svg
  staging/index.html
  staging/js/app.83a1757e.js
  staging/js/app.89866e88.js
  staging/js/chunk-0f0b16ac.7b463040.js
  staging/js/chunk-1b5e5f51.5bfa8063.js
  staging/js/chunk-3fce2bbf.9cffef6e.js
  staging/js/chunk-4266299e.f2a30682.js
  staging/js/chunk-6568b6aa.2beb9bc7.js
  staging/js/chunk-68cd463d.d6f3995d.js
  staging/js/chunk-6ac1648f.e7f8bba6.js
  staging/js/chunk-6c8d7cd8.40b27cc3.js
  staging/js/chunk-70d268f2.a00c20fb.js
  staging/js/chunk-7c23a4f2.3c4dc32e.js
  staging/js/chunk-ae1455a4.6d25ff5e.js
  staging/precache-manifest.d276db75a6e8e3d53b206df5e924417f.js
  staging/service-worker.js
Due: none

dApp: small fixes to new transfers
  raiden-dapp/src/components/AddressInput.vue
  raiden-dapp/src/components/navigation/Transfer.vue
Due: dapp

0.9.0 -> v0.10.0
  package.json
  pnpm-lock.yaml
  raiden-dapp/CHANGELOG.md
  raiden-dapp/package.json
  raiden-ts/CHANGELOG.md
  raiden-ts/package.json
Due: dapp, sdk, sdk_integration

Automated deployment to GitHub Pages: 5b0e89951b3aa193cddee43997ce12756337fb87 [skip ci]
  staging/css/chunk-14405745.9b598273.css
  staging/css/chunk-2600a239.c60d19bc.css
  staging/css/chunk-2db77ad4.120a3baf.css
  staging/css/chunk-849004c8.590e4ef2.css
  staging/index.html
  staging/js/app.89866e88.js
  staging/js/app.8ad891da.js
  staging/js/chunk-14405745.fc3dd8b2.js
  staging/js/chunk-2600a239.5916c0f0.js
  staging/js/chunk-2db77ad4.7f24c01c.js
  staging/js/chunk-849004c8.d976ce46.js
  staging/precache-manifest.5c345c98469368de46ac4532d860322c.js
  staging/service-worker.js
Due: none

infra: add '--no-git-checks' to pnpm publish command
  .circleci/config.yml
Due: none

cli: make GET /payments params optional
  raiden-cli/src/routes/payments.ts
  raiden-cli/src/utils/validation.ts
Due: none

dapp: replaces warning with notifications
  raiden-dapp/src/App.vue
  raiden-dapp/src/components/dialogs/ReceivingDisabledDialog.vue
  raiden-dapp/src/store/notifications/actions.ts
  raiden-dapp/src/store/notifications/state.ts
  raiden-dapp/src/store/notifications/types.d.ts
Due: dapp

dapp: Introduces notification snackbar
  raiden-dapp/src/App.vue
  raiden-dapp/src/assets/error.svg
  raiden-dapp/src/components/notification-panel/NotificationArea.vue
  raiden-dapp/src/components/notification-panel/NotificationCard.vue
  raiden-dapp/src/locales/en.json
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/notifications/actions.ts
  raiden-dapp/src/store/notifications/getters.ts
  raiden-dapp/src/store/notifications/mutations.ts
  raiden-dapp/src/store/notifications/notification-context.ts
  raiden-dapp/src/store/notifications/notification-importance.ts
  raiden-dapp/src/store/notifications/state.ts
  raiden-dapp/src/store/notifications/types.d.ts
  raiden-dapp/src/views/NotificationPanel.vue
  raiden-dapp/tests/unit/data/mock-data.ts
Due: dapp

dapp: Adds missing tests and addresses feedback
  pnpm-lock.yaml
  raiden-dapp/src/App.vue
  raiden-dapp/src/services/raiden-service.ts
  raiden-dapp/src/store/index.ts
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/notification-panel/notification-area.spec.ts
  raiden-dapp/tests/unit/data/mock-data.ts
  raiden-dapp/tests/unit/store.spec.ts
Due: dapp

dapp: Adds notification area test boilerplate
  raiden-dapp/tests/unit/components/notification-panel/notification-area.spec.ts
Due: dapp

dapp: Fixes errors in tests
  raiden-dapp/jest.config.js
  raiden-dapp/jest.setup-after.ts
  raiden-dapp/package.json
  raiden-dapp/src/components/OfflineSnackbar.vue
  raiden-dapp/src/components/UpdateSnackbar.vue
  raiden-dapp/tests/unit/app.spec.ts
  raiden-dapp/tests/unit/components/account/withdrawal.spec.ts
  raiden-dapp/tests/unit/components/channels/channels-dialog.spec.ts
  raiden-dapp/tests/unit/components/navigation/open-channel.spec.ts
  raiden-dapp/tests/unit/components/navigation/transfer.spec.ts
  raiden-dapp/tests/unit/components/offline-snackbar.spec.ts
  raiden-dapp/tests/unit/components/transfer/find-routes.spec.ts
  raiden-dapp/tests/unit/components/transfer/pathfinding-services.spec.ts
  raiden-dapp/tests/unit/raiden-service.spec.ts
  raiden-dapp/tests/unit/views/account/withdrawal-route.spec.ts
  raiden-dapp/tests/unit/views/home.spec.ts
  raiden-dapp/tests/unit/views/notification-panel.spec.ts
Due: dapp

dapp: Updates CHANGELOG.md
  raiden-dapp/CHANGELOG.md
Due: dapp

cli: implement /tokens endpoints
  raiden-cli/src/routes/tokens.ts
Due: none

cli: return empty partners list
  raiden-cli/src/routes/tokens.ts
Due: none
